workflows/Agente de creacion de citas.json
{"updatedAt":"2026-05-02T04:58:54.998Z","createdAt":"2026-04-30T17:34:50.986Z","id":"KTZ3oVUXZAf700UJ","name":"Agente de creacion de citas","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"},{"name":"sessionId"},{"name":"contexto"}]}},"id":"28c59bec-3e71-49d6-81cf-7b4e47243e1f","name":"Entrada desde Cerebro","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-224,-128]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst sessionId = input.sessionId || 'unknown';\nconst chatInput = input.mensaje || input.chatInput || '';\nreturn [{ json: { chatInput, sessionId } }];"},"id":"30a316b8-43f4-4017-842c-a9a8a86d4c36","name":"Normalizar Entrada","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-128]},{"parameters":{"promptType":"define","text":"=Hoy es: {{ $now.setZone('America/Costa_Rica').toFormat('yyyy-MM-dd') }} ({{ $now.setZone('America/Costa_Rica').toFormat('cccc') }})\n\n{{ $('Normalizar Entrada').first().json.chatInput }} ","options":{"systemMessage":"Sos el asistente de agendamiento de Facture.CR. Tu único trabajo: recopilar datos, verificar disponibilidad y confirmar citas.\n\nFecha de hoy: {{ $now }}\n\n# TIPOS DE CITA\n1. CAPACITACION - Clientes existentes. 1.5 horas. RESTRICCION: Solo 1 por franja.\n2. DEMO DE VENTAS - Prospectos. 1 hora. RESTRICCION: Solo 1 por franja.\n3. LLAMADA EXPLICATIVA - Prospectos. 1 hora. SIN restriccion por franja.\n4. LLAMADA CON GERENCIA - SOLO clientes con problemas graves. NO agendas directamente. Deciles: 'Registro tu solicitud. Gerencia (L-V 8:00-22:00) te contactara pronto.'\n\n# HORARIOS VALIDOS (solo L-V)\nManana: 8:00-11:00 | Tarde: 14:00-17:00. NUNCA fines de semana ni feriados.\n\n# FLUJO OBLIGATORIO\n\n## PASO 1 - Siempre en el primer mensaje:\nPedir: nombre completo, telefono, correo, tipo de cita, dia y hora preferida.\n\n## PASO 2 - Con todos los datos:\nUsar la tool 'verificarDisponibilidad' con fecha_inicio y fecha_fin en formato ISO con zona -06:00.\n- Si disponible: confirmar con el cliente mostrando resumen.\n- Si NO disponible: informar al cliente y pedir alternativa. Volver al paso 2.\n\n## PASO 3 - Cliente confirma (si, ok, dale, perfecto):\nUsar la tool 'crearCita' con todos los datos.\nLuego responder: 'Tu cita quedo confirmada para [fecha legible]. Un asesor te contactara con el enlace de la videollamada.'\n\n# REGLAS\n- NUNCA inventar disponibilidad. Siempre verificar con la tool.\n- NUNCA saltar el PASO 1.\n- Duracion: capacitacion = 90 min, demo y llamada = 60 min.\n- Fechas siempre con timezone -06:00 (Costa Rica).\n\n# FORMATO DE SALIDA — WHATSAPP\nEscribí como si fuera un mensaje de WhatsApp real. Seguí estas reglas:\n- Sin markdown, sin asteriscos, sin guiones como viñetas, sin corchetes.\n- Para resaltar algo usá MAYÚSCULAS, no negritas.\n- Listas con números simples: 1. 2. 3.\n- Mensajes cortos y directos. Un párrafo por idea.\n- Usá emojis con moderación solo para separar secciones o dar claridad. Ejemplo: 📅 para fecha, 🕐 para hora, ✅ para confirmación.\n- Tono amigable y natural, como si fuera una persona real escribiendo por WhatsApp.","maxIterations":15,"enableStreaming":false}},"id":"01f8b154-913f-4a13-9a1f-ce7046d469ea","name":"Agente AGE","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[304,-128]},{"parameters":{"options":{"temperature":0.4,"topK":20,"topP":0.8}},"id":"9bbc657d-e152-4057-a985-368ac1e8b8c8","name":"Gemini AGE","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[208,160],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Normalizar Entrada').first().json.sessionId + '_age' }}","contextWindowLength":20},"id":"1db108e9-b1d0-456a-a71e-b957a6fcda1b","name":"Redis Memoria AGE","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[400,160],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"out-01","name":"output","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"a5f4049f-45e9-4202-b36d-b1d001e67f73","name":"Respuesta al Cerebro","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-128]},{"parameters":{"name":"verificarDisponibilidad","description":"Verifica si un horario esta disponible en Google Calendar. Retorna {disponible: true/false}.","workflowId":{"__rl":true,"value":"ZEd7p9xIc8SRimTd","mode":"list","cachedResultUrl":"/workflow/ZEd7p9xIc8SRimTd","cachedResultName":"Disponibilidad de citas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fecha_inicio":"={{ $fromAI('fecha_inicio', 'Fecha y hora de inicio en formato ISO con timezone -06:00, ej: 2025-05-05T09:00:00-06:00') }}","fecha_fin":"={{ $fromAI('fecha_fin', 'Fecha y hora de fin en formato ISO con timezone -06:00, ej: 2025-05-05T10:30:00-06:00') }}"},"matchingColumns":[],"schema":[{"id":"fecha_inicio","displayName":"fecha_inicio","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha_fin","displayName":"fecha_fin","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"7769541d-6321-4818-bb2c-a1bf6667b59f","name":"Tool: Verificar Disponibilidad","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[544,160],"rewireOutputLogTo":"ai_tool"},{"parameters":{"name":"crearCita","description":"Crea el evento en Google Calendar y envia email de confirmacion al cliente.","workflowId":{"__rl":true,"value":"S5GsyxeBViSQwKy1","mode":"list","cachedResultUrl":"/workflow/S5GsyxeBViSQwKy1","cachedResultName":"SUB - Crear Cita y Notificar"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nombre":"={{ $fromAI('nombre', 'Nombre completo del cliente') }}","telefono":"={{ $fromAI('telefono', 'Numero de telefono del cliente') }}","correo":"={{ $fromAI('correo', 'Correo electronico del cliente') }}","motivo":"={{ $fromAI('motivo', 'Tipo de cita: CAPACITACION, DEMO DE VENTAS o LLAMADA EXPLICATIVA') }}","fecha_inicio":"={{ $fromAI('fecha_inicio', 'Fecha y hora de inicio en formato ISO con timezone -06:00') }}","fecha_fin":"={{ $fromAI('fecha_fin', 'Fecha y hora de fin en formato ISO con timezone -06:00') }}"},"matchingColumns":[],"schema":[{"id":"nombre","displayName":"nombre","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"correo","displayName":"correo","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"motivo","displayName":"motivo","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha_inicio","displayName":"fecha_inicio","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha_fin","displayName":"fecha_fin","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"425f0b04-1f4d-4327-ae7e-e727987f794b","name":"Tool: Crear Cita","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[752,160],"rewireOutputLogTo":"ai_tool"},{"parameters":{"content":"# Agente AGE — Agendamiento de Citas de Facture.CR\n\n### Agente conversacional con Gemini y memoria en Redis que gestiona el agendamiento de citas (capacitaciones, demos de ventas y llamadas explicativas) en horario L-V. Recopila los datos del cliente, verifica disponibilidad en Google Calendar mediante un subworkflow y, tras confirmación del usuario, crea el evento y envía la notificación por correo a través de otro subworkflow.","height":656,"width":1360,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-304,-288],"typeVersion":1,"id":"7321b618-27d4-40ab-a4b3-87db1d66804d","name":"Sticky Note"}],"connections":{"Entrada desde Cerebro":{"main":[[{"node":"Normalizar Entrada","type":"main","index":0}]]},"Normalizar Entrada":{"main":[[{"node":"Agente AGE","type":"main","index":0}]]},"Agente AGE":{"main":[[{"node":"Respuesta al Cerebro","type":"main","index":0}]]},"Gemini AGE":{"ai_languageModel":[[{"node":"Agente AGE","type":"ai_languageModel","index":0}]]},"Redis Memoria AGE":{"ai_memory":[[{"node":"Agente AGE","type":"ai_memory","index":0}]]},"Tool: Verificar Disponibilidad":{"ai_tool":[[{"node":"Agente AGE","type":"ai_tool","index":0}]]},"Tool: Crear Cita":{"ai_tool":[[{"node":"Agente AGE","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"7f29e9b5-52d1-4242-9548-909e5b3a5a4e","activeVersionId":"7f29e9b5-52d1-4242-9548-909e5b3a5a4e","triggerCount":0,"shared":[{"updatedAt":"2026-04-30T17:34:50.989Z","createdAt":"2026-04-30T17:34:50.989Z","role":"workflow:owner","workflowId":"KTZ3oVUXZAf700UJ","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":{"updatedAt":"2026-05-02T04:59:21.000Z","createdAt":"2026-05-02T04:58:54.999Z","versionId":"7f29e9b5-52d1-4242-9548-909e5b3a5a4e","workflowId":"KTZ3oVUXZAf700UJ","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"},{"name":"sessionId"},{"name":"contexto"}]}},"id":"28c59bec-3e71-49d6-81cf-7b4e47243e1f","name":"Entrada desde Cerebro","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-224,-128]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst sessionId = input.sessionId || 'unknown';\nconst chatInput = input.mensaje || input.chatInput || '';\nreturn [{ json: { chatInput, sessionId } }];"},"id":"30a316b8-43f4-4017-842c-a9a8a86d4c36","name":"Normalizar Entrada","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-128]},{"parameters":{"promptType":"define","text":"=Hoy es: {{ $now.setZone('America/Costa_Rica').toFormat('yyyy-MM-dd') }} ({{ $now.setZone('America/Costa_Rica').toFormat('cccc') }})\n\n{{ $('Normalizar Entrada').first().json.chatInput }} ","options":{"systemMessage":"Sos el asistente de agendamiento de Facture.CR. Tu único trabajo: recopilar datos, verificar disponibilidad y confirmar citas.\n\nFecha de hoy: {{ $now }}\n\n# TIPOS DE CITA\n1. CAPACITACION - Clientes existentes. 1.5 horas. RESTRICCION: Solo 1 por franja.\n2. DEMO DE VENTAS - Prospectos. 1 hora. RESTRICCION: Solo 1 por franja.\n3. LLAMADA EXPLICATIVA - Prospectos. 1 hora. SIN restriccion por franja.\n4. LLAMADA CON GERENCIA - SOLO clientes con problemas graves. NO agendas directamente. Deciles: 'Registro tu solicitud. Gerencia (L-V 8:00-22:00) te contactara pronto.'\n\n# HORARIOS VALIDOS (solo L-V)\nManana: 8:00-11:00 | Tarde: 14:00-17:00. NUNCA fines de semana ni feriados.\n\n# FLUJO OBLIGATORIO\n\n## PASO 1 - Siempre en el primer mensaje:\nPedir: nombre completo, telefono, correo, tipo de cita, dia y hora preferida.\n\n## PASO 2 - Con todos los datos:\nUsar la tool 'verificarDisponibilidad' con fecha_inicio y fecha_fin en formato ISO con zona -06:00.\n- Si disponible: confirmar con el cliente mostrando resumen.\n- Si NO disponible: informar al cliente y pedir alternativa. Volver al paso 2.\n\n## PASO 3 - Cliente confirma (si, ok, dale, perfecto):\nUsar la tool 'crearCita' con todos los datos.\nLuego responder: 'Tu cita quedo confirmada para [fecha legible]. Un asesor te contactara con el enlace de la videollamada.'\n\n# REGLAS\n- NUNCA inventar disponibilidad. Siempre verificar con la tool.\n- NUNCA saltar el PASO 1.\n- Duracion: capacitacion = 90 min, demo y llamada = 60 min.\n- Fechas siempre con timezone -06:00 (Costa Rica).\n\n# FORMATO DE SALIDA — WHATSAPP\nEscribí como si fuera un mensaje de WhatsApp real. Seguí estas reglas:\n- Sin markdown, sin asteriscos, sin guiones como viñetas, sin corchetes.\n- Para resaltar algo usá MAYÚSCULAS, no negritas.\n- Listas con números simples: 1. 2. 3.\n- Mensajes cortos y directos. Un párrafo por idea.\n- Usá emojis con moderación solo para separar secciones o dar claridad. Ejemplo: 📅 para fecha, 🕐 para hora, ✅ para confirmación.\n- Tono amigable y natural, como si fuera una persona real escribiendo por WhatsApp.","maxIterations":15,"enableStreaming":false}},"id":"01f8b154-913f-4a13-9a1f-ce7046d469ea","name":"Agente AGE","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[304,-128]},{"parameters":{"options":{"temperature":0.4,"topK":20,"topP":0.8}},"id":"9bbc657d-e152-4057-a985-368ac1e8b8c8","name":"Gemini AGE","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[208,160],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Normalizar Entrada').first().json.sessionId + '_age' }}","contextWindowLength":20},"id":"1db108e9-b1d0-456a-a71e-b957a6fcda1b","name":"Redis Memoria AGE","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[400,160],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"out-01","name":"output","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"a5f4049f-45e9-4202-b36d-b1d001e67f73","name":"Respuesta al Cerebro","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-128]},{"parameters":{"name":"verificarDisponibilidad","description":"Verifica si un horario esta disponible en Google Calendar. Retorna {disponible: true/false}.","workflowId":{"__rl":true,"value":"ZEd7p9xIc8SRimTd","mode":"list","cachedResultUrl":"/workflow/ZEd7p9xIc8SRimTd","cachedResultName":"Disponibilidad de citas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fecha_inicio":"={{ $fromAI('fecha_inicio', 'Fecha y hora de inicio en formato ISO con timezone -06:00, ej: 2025-05-05T09:00:00-06:00') }}","fecha_fin":"={{ $fromAI('fecha_fin', 'Fecha y hora de fin en formato ISO con timezone -06:00, ej: 2025-05-05T10:30:00-06:00') }}"},"matchingColumns":[],"schema":[{"id":"fecha_inicio","displayName":"fecha_inicio","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha_fin","displayName":"fecha_fin","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"7769541d-6321-4818-bb2c-a1bf6667b59f","name":"Tool: Verificar Disponibilidad","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[544,160],"rewireOutputLogTo":"ai_tool"},{"parameters":{"name":"crearCita","description":"Crea el evento en Google Calendar y envia email de confirmacion al cliente.","workflowId":{"__rl":true,"value":"S5GsyxeBViSQwKy1","mode":"list","cachedResultUrl":"/workflow/S5GsyxeBViSQwKy1","cachedResultName":"SUB - Crear Cita y Notificar"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nombre":"={{ $fromAI('nombre', 'Nombre completo del cliente') }}","telefono":"={{ $fromAI('telefono', 'Numero de telefono del cliente') }}","correo":"={{ $fromAI('correo', 'Correo electronico del cliente') }}","motivo":"={{ $fromAI('motivo', 'Tipo de cita: CAPACITACION, DEMO DE VENTAS o LLAMADA EXPLICATIVA') }}","fecha_inicio":"={{ $fromAI('fecha_inicio', 'Fecha y hora de inicio en formato ISO con timezone -06:00') }}","fecha_fin":"={{ $fromAI('fecha_fin', 'Fecha y hora de fin en formato ISO con timezone -06:00') }}"},"matchingColumns":[],"schema":[{"id":"nombre","displayName":"nombre","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"correo","displayName":"correo","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"motivo","displayName":"motivo","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha_inicio","displayName":"fecha_inicio","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha_fin","displayName":"fecha_fin","required":true,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"425f0b04-1f4d-4327-ae7e-e727987f794b","name":"Tool: Crear Cita","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[752,160],"rewireOutputLogTo":"ai_tool"},{"parameters":{"content":"# Agente AGE — Agendamiento de Citas de Facture.CR\n\n### Agente conversacional con Gemini y memoria en Redis que gestiona el agendamiento de citas (capacitaciones, demos de ventas y llamadas explicativas) en horario L-V. Recopila los datos del cliente, verifica disponibilidad en Google Calendar mediante un subworkflow y, tras confirmación del usuario, crea el evento y envía la notificación por correo a través de otro subworkflow.","height":656,"width":1360,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-304,-288],"typeVersion":1,"id":"7321b618-27d4-40ab-a4b3-87db1d66804d","name":"Sticky Note"}],"connections":{"Entrada desde Cerebro":{"main":[[{"node":"Normalizar Entrada","type":"main","index":0}]]},"Normalizar Entrada":{"main":[[{"node":"Agente AGE","type":"main","index":0}]]},"Agente AGE":{"main":[[{"node":"Respuesta al Cerebro","type":"main","index":0}]]},"Gemini AGE":{"ai_languageModel":[[{"node":"Agente AGE","type":"ai_languageModel","index":0}]]},"Redis Memoria AGE":{"ai_memory":[[{"node":"Agente AGE","type":"ai_memory","index":0}]]},"Tool: Verificar Disponibilidad":{"ai_tool":[[{"node":"Agente AGE","type":"ai_tool","index":0}]]},"Tool: Crear Cita":{"ai_tool":[[{"node":"Agente AGE","type":"ai_tool","index":0}]]}},"authors":"Diego diereyescarv@gmail.com","name":"Version 7f29e9b5","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}