workflows/Bot Facture.CR - Multi-Agente.json
{"updatedAt":"2026-04-15T23:42:39.000Z","createdAt":"2026-04-15T23:41:42.680Z","id":"I1AcRlkI8i7gsisc","name":"Bot Facture.CR - Multi-Agente","active":false,"isArchived":true,"nodes":[{"id":"44cd643c-38eb-4558-95fb-42df67a92499","name":"Sticky Note 7fcaf5f2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[210,250],"parameters":{"content":"## Bot Facture.CR - Multi-Agente\n\nFlujo: Chat Trigger -> Orquestador -> Router -> 6 Agentes especializados\n\nPENDIENTE: Conectar Vector Store Retriever al Agente Soporte y Agente Ventas.","color":6,"width":600,"height":200}},{"id":"7d83bf79-c28a-4dec-8f77-9984933eabae","name":"Sticky Note 6aca0a5f","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1050,250],"parameters":{"content":"## Agente Soporte\nConectar Vector Store Retriever aqui.\nRegla anti-invencion activa.","color":2,"width":300,"height":200}},{"id":"17a6be2b-dae2-4b0b-a9e1-dc64f0c192c1","name":"Sticky Note e11f0c21","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1590,250],"parameters":{"content":"## Agente Ventas\nFlujo 2 pasos: datos -> recomendacion.\nConectar retriever (secciones 4, 5, 6).","color":5,"width":300,"height":200}},{"id":"3e62e879-f6b1-42df-8820-c3c9e01b23bc","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[260,300],"parameters":{"public":true,"mode":"webhook","options":{"loadPreviousSession":"memory","responseMode":"lastNode"}},"webhookId":"36cf378f-14ac-4f17-bd2b-216c9517ff59"},{"id":"03bf4103-90b9-4bb3-9853-52ac092cd4ed","name":"Memoria Compartida","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[260,520],"parameters":{"sessionIdType":"fromInput","contextWindowLength":10}},{"id":"dd689e58-9554-4e8f-b5ec-4ac775334c2e","name":"Orquestador Facture.CR","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[560,300],"parameters":{"promptType":"auto","hasOutputParser":true,"options":{"systemMessage":"Eres el clasificador de intenciones del asistente de Facture.CR. Tu unica tarea es analizar el mensaje del usuario y clasificar su intencion en UNA categoria:\n- soporte: problemas tecnicos, errores, no funciona, no carga, como usar el sistema\n- ventas: comprar, contratar, planes, precios, demo, cuenta demo, nueva empresa\n- pagos: pagar, renovar, SINPE, comprobante, cuentas bancarias, suscripcion suspendida\n- hardware: impresoras, computadoras, perifericos, equipo fisico, reparacion, Kervin, facture seguro\n- marketing: redes sociales, Facebook, Instagram, TikTok, campanas publicitarias\n- escalamiento: pide hablar con humano, frustracion severa, o no encaja en ninguna categoria\n\nResponde SOLO con el JSON estructurado.","maxIterations":3,"enableStreaming":false}}},{"id":"db27d418-c984-4c08-9776-b0c92ecf0eb1","name":"Modelo Orquestador","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[560,520],"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0}},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"93f96f09-8ab4-44ab-a409-6c9a4e80e25d","name":"Parser Clasificacion","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[760,520],"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\"intent\": \"soporte\", \"confidence\": 0.95}"}},{"id":"993a7c3a-23ca-4015-b42e-0c8091779601","name":"Router de Intenciones","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[860,300],"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.output.intent }}","rightValue":"soporte","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Soporte"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.output.intent }}","rightValue":"ventas","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ventas"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.output.intent }}","rightValue":"pagos","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pagos"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.output.intent }}","rightValue":"hardware","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Hardware"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.output.intent }}","rightValue":"marketing","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Marketing"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Escalamiento","allMatchingOutputs":false}}},{"id":"802ecbea-72de-4073-a00e-2cc0208657e4","name":"Agente Soporte","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1100,300],"parameters":{"promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}","options":{"systemMessage":"Eres el agente de soporte tecnico de Facture.CR.\n\nREGLAS CRITICAS:\n1. Responde SOLO con informacion de la base de conocimientos.\n2. Si no encuentras la respuesta exacta, NO inventes. Di: \"En este momento no cuento con la informacion especifica para tu consulta. Un agente de soporte se pondra en contacto contigo (L-V 8:00-22:00).\"\n3. Consultas sobre impuestos, exoneraciones o tributos: deriva a soporte humano.\n4. No solicites ni aceptes datos sensibles (contrasenas, PIN, llaves).\n5. No ofrezcas recursos no documentados.\n\nFORMATO: sin asteriscos, sin comillas, sin emoticonos. Respuestas breves y profesionales.\nSi el cliente escribe en otro idioma, responde en ese idioma.\n\nHORARIOS OFICIALES:\nSoporte humano virtual: L-V 8:00-22:00 | Bot: 24/7 | Hardware presencial: L-V 8:30-17:00, S 10:00-15:00\nVentas virtual: L-V 9:00-18:00, S 12:00-16:00, Feriados 8:00-17:00\n\nNOTA: Conectar un Vector Store Retriever a este agente para acceso a la base de conocimientos.","maxIterations":5,"enableStreaming":false}}},{"id":"a873573f-1cf3-461f-a593-b23532495bb9","name":"Modelo Soporte","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1100,520],"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.3}},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"991445fc-3cbf-4db8-9fd3-ee56cd9b216d","name":"Memoria Soporte","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1100,640],"parameters":{"sessionIdType":"fromInput","contextWindowLength":10}},{"id":"0f401fc7-0667-402b-8c69-d5b99c916a34","name":"Agente Ventas","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1640,300],"parameters":{"promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}","options":{"systemMessage":"Eres el agente de ventas de Facture.CR.\n\nPASO 1 - RECOPILACION (si no tienes los 3 datos):\nObtener: 1) Nombre del cliente, 2) Tipo de negocio, 3) Cantidad de documentos al mes.\nSi insiste en ver planes sin dar datos responde: \"Con gusto te asesoro. Me podes indicar tu nombre, tipo de negocio y cuantas ventas haces al mes aproximadamente?\"\n\nPASO 2 - RECOMENDACION (cuando tienes los 3 datos):\nConsulta la base de conocimientos (secciones 4, 5 y 6). Usa este formato:\nHola [nombre], basandome en tu negocio de [tipo] y [X] documentos al mes, el plan ideal es:\nPLAN RECOMENDADO: ...\nPARA QUIEN ES IDEAL: ...\nDOCUMENTOS INCLUIDOS: ...\nFUNCIONALIDADES CLAVE: ...\nPRECIO MENSUAL CON IVA: ...\nPRECIO ANUAL CON IVA: ...\nINSCRIPCION UNICA: ...\nTe parece bien o queres revisar otra opcion?\n\nVIDEOS DEMO:\nRestaurante/soda/bar: https://www.youtube.com/watch?v=gySEn4MCE4o\nOtros negocios: https://www.youtube.com/watch?v=pMxiy2Y2IwA\n\nCUENTAS DEMO:\nPlus/Ilimitado: plan100@gmail.com en https://facture.cr/app/login/\nElite: elitefacturecr@gmail.com en https://facture.cr/app/login/\n\nSi el cliente confirma que quiere iniciar responde: \"Perfecto [nombre], con gusto te acompano. En un momento te explico como iniciamos.\"\n\nREGLAS: sin asteriscos, comillas ni emoticonos. No inventes precios.\nNOTA: Conectar retriever para secciones 4, 5 y 6 de la base de conocimientos.","maxIterations":8,"enableStreaming":false}}},{"id":"2c092d8f-fa4a-4b19-bae4-db183b5ffa8a","name":"Modelo Ventas","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1640,520],"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.4}},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"a2ff2861-2f23-47b1-9c11-4e842412b9a1","name":"Memoria Ventas","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1640,640],"parameters":{"sessionIdType":"fromInput","contextWindowLength":15}},{"id":"285c9fc7-0d1c-4dd4-ac2c-4cd8c700fbe4","name":"Agente Pagos","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[2180,300],"parameters":{"promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}","options":{"systemMessage":"Eres el agente de pagos de Facture.CR.\n\nCUANDO EL CLIENTE NECESITA PAGAR:\nRealiza tu pago con Sinpe Movil o cuentas bancarias en:\nhttps://facture.cr/modules/Information.html#pagos\nSinpe Movil: Deivis Sibaja Ugalde - 8610 0352\nAdjunta el comprobante en este mismo chat para su aplicacion.\n\nREGISTRAR PAGO EN PLATAFORMA:\n1. Panel de Inicio, icono mano con tarjeta (esquina superior derecha).\n2. Periodos adicionales a pagar: ingresa la cantidad.\n3. Selecciona metodo: Tarjeta, Transferencia o Sinpe Movil.\n4. Clic en Realizar Pago.\n\nSUSCRIPCION SUSPENDIDA:\n1. Alerta de suspension al ingresar. Clic en Registrar Pago.\n2. Ingresa periodos y selecciona metodo.\n3. Clic en Realizar Pago.\n\nAL RECIBIR COMPROBANTE: \"Muchas gracias! En breve, durante nuestro horario de atencion, uno de nuestros agentes corroborara la informacion y aplicara el pago realizado.\"\n\nREGLAS: sin asteriscos ni comillas. Solo temas de pagos.","maxIterations":3,"enableStreaming":false}}},{"id":"75be3bec-b9b2-47be-a9c6-6d785376e11e","name":"Modelo Pagos","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2180,520],"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.1}},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"99ff2206-513e-4902-ae9a-15abbc72def0","name":"Memoria Pagos","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2180,640],"parameters":{"sessionIdType":"fromInput","contextWindowLength":5}},{"id":"1c265dd3-a20a-4697-a701-ff87eba80f4c","name":"Agente Hardware","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[2720,300],"parameters":{"promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}","options":{"systemMessage":"Eres el agente del departamento Hardware de Facture.CR.\n\nPRIMER CONTACTO - enviar siempre:\nHola, muy buen dia! Te escribe Hardware de Facture.CR. Para brindarte mejor seguimiento, seras atendido por nuestro departamento. En breve recibiras un mensaje desde el 8449-9537.\nTienda en linea: https://facture.cr/tienda/Facture.cr_Technology\n\nSI PREGUNTA POR UBICACION:\nEstamos en Esparza, Puntarenas. Enviamos a todo el pais. Tambien instalamos a domicilio.\nUbicacion: Esparza, entrada Tres Marias 80m norte.\nGPS: https://maps.app.goo.gl/DiXHJYYtu6YNWGsS7\nHorario presencial: L-V 8:30-17:00, S 10:00-15:00\n\nOTRAS CONSULTAS:\nCon mucho gusto te ayudaremos. En breve nos comunicamos.\nCatalogo: https://facture.cr/tienda/Facture.cr_Technology\n\nREGLAS: tono calido y profesional. No repetir enlaces ya enviados.","maxIterations":3,"enableStreaming":false}}},{"id":"905e4c72-22db-4186-83d4-b33e8a4131de","name":"Modelo Hardware","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2720,520],"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.3}},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"1d623421-2339-4e38-b159-b1b659510c35","name":"Memoria Hardware","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2720,640],"parameters":{"sessionIdType":"fromInput","contextWindowLength":5}},{"id":"92b04c6b-e5d2-4d6b-b1b1-2c8ce969613a","name":"Agente Marketing","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3260,300],"parameters":{"promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}","options":{"systemMessage":"Eres el agente de marketing de Facture.CR. Envia estos dos mensajes exactos:\n\nMENSAJE 1:\nHola! Gracias por escribir. Manejamos tu Facebook e Instagram de forma profesional: disenamos todo, editamos videos, programamos y publicamos. Vos te enfocas en tu negocio, nosotros en tus redes. Para recomendarte el mejor plan: A que se dedica tu negocio? Tienen redes actualmente? Planes desde 21.800 colones al mes.\n\nMENSAJE 2:\nMuchas gracias. En breve, durante nuestro horario de atencion, uno de nuestros profesionales te estara contactando.\n\nREGLAS: sin comillas ni asteriscos. Envia ambos mensajes juntos. No respondas mas preguntas.","maxIterations":2,"enableStreaming":false}}},{"id":"17323b37-9344-4a77-8bf2-79b691965ced","name":"Modelo Marketing","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3260,520],"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.2}},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"a3d04c42-e2d1-4dbd-b239-2f5ce8d4cdbc","name":"Memoria Marketing","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3260,640],"parameters":{"sessionIdType":"fromInput","contextWindowLength":5}},{"id":"0868ef37-8f78-45f4-b598-bd11bd5febc7","name":"Agente Escalamiento","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3800,300],"parameters":{"promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}","options":{"systemMessage":"Eres el agente de escalamiento de Facture.CR. Deriva al cliente a atencion humana.\n\nRESPONDE:\nCon gusto te ayudo. En breve, durante nuestro horario de atencion (L-V 8:00-22:00), uno de nuestros agentes se pondra en contacto contigo.\n\nSi explicitamente pidio hablar con un humano: Entendido, ya quedo registrada tu solicitud de atencion personalizada.\n\nREGLAS: sin asteriscos ni comillas. Respuesta breve. No intentes resolver la consulta.","maxIterations":2,"enableStreaming":false}}},{"id":"c412ee9c-db47-4b6a-912d-0c0f7bf226ac","name":"Modelo Escalamiento","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3800,520],"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.1}},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"24483381-1c50-443e-9389-0f5cb6ff510a","name":"Memoria Escalamiento","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3800,640],"parameters":{"sessionIdType":"fromInput","contextWindowLength":5}}],"connections":{"Chat Trigger":{"main":[[{"node":"Orquestador Facture.CR","type":"main","index":0}]]},"Memoria Compartida":{"ai_memory":[[{"node":"Chat Trigger","type":"ai_memory","index":0}]]},"Orquestador Facture.CR":{"main":[[{"node":"Router de Intenciones","type":"main","index":0}]]},"Modelo Orquestador":{"ai_languageModel":[[{"node":"Orquestador Facture.CR","type":"ai_languageModel","index":0}]]},"Parser Clasificacion":{"ai_outputParser":[[{"node":"Orquestador Facture.CR","type":"ai_outputParser","index":0}]]},"Router de Intenciones":{"main":[[{"node":"Agente Soporte","type":"main","index":0}],[{"node":"Agente Ventas","type":"main","index":0}],[{"node":"Agente Pagos","type":"main","index":0}],[{"node":"Agente Hardware","type":"main","index":0}],[{"node":"Agente Marketing","type":"main","index":0}],[{"node":"Agente Escalamiento","type":"main","index":0}]]},"Modelo Soporte":{"ai_languageModel":[[{"node":"Agente Soporte","type":"ai_languageModel","index":0}]]},"Memoria Soporte":{"ai_memory":[[{"node":"Agente Soporte","type":"ai_memory","index":0}]]},"Modelo Ventas":{"ai_languageModel":[[{"node":"Agente Ventas","type":"ai_languageModel","index":0}]]},"Memoria Ventas":{"ai_memory":[[{"node":"Agente Ventas","type":"ai_memory","index":0}]]},"Modelo Pagos":{"ai_languageModel":[[{"node":"Agente Pagos","type":"ai_languageModel","index":0}]]},"Memoria Pagos":{"ai_memory":[[{"node":"Agente Pagos","type":"ai_memory","index":0}]]},"Modelo Hardware":{"ai_languageModel":[[{"node":"Agente Hardware","type":"ai_languageModel","index":0}]]},"Memoria Hardware":{"ai_memory":[[{"node":"Agente Hardware","type":"ai_memory","index":0}]]},"Modelo Marketing":{"ai_languageModel":[[{"node":"Agente Marketing","type":"ai_languageModel","index":0}]]},"Memoria Marketing":{"ai_memory":[[{"node":"Agente Marketing","type":"ai_memory","index":0}]]},"Modelo Escalamiento":{"ai_languageModel":[[{"node":"Agente Escalamiento","type":"ai_languageModel","index":0}]]},"Memoria Escalamiento":{"ai_memory":[[{"node":"Agente Escalamiento","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":null,"versionId":"9cff964b-ca20-4d2a-913e-fffb02b71b6c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-15T23:41:42.682Z","createdAt":"2026-04-15T23:41:42.682Z","role":"workflow:owner","workflowId":"I1AcRlkI8i7gsisc","projectId":"FaMCJYU55CoU0bn8"}],"activeVersion":null,"tags":[]}