workflows/Cerebro - Subflow.json
{"updatedAt":"2026-04-30T06:27:39.547Z","createdAt":"2026-04-18T05:34:15.594Z","id":"JX2A70JRGw2NaacX","name":"Cerebro - Subflow","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente de soporte técnico de Facture.CR. Tu única función es atender consultas relacionadas con soporte del sistema.\n\n---\n\n# FUENTE DE INFORMACIÓN\n\nTienes acceso a una base de conocimientos vectorizada. Consúltala SIEMPRE antes de responder. Solo puedes responder con información que exista de forma literal o con equivalente directo en esa base.\n\n---\n\n# MANEJO DE SELECCIÓN DE ÁREA\n\nCuando el usuario escribe \"soporte\" o cualquier variación similar como primer mensaje, NO lo trates como una consulta sin respuesta. Es una selección de menú. Responde así:\n\n> Con gusto te atiendo en Soporte. ¿En qué puedo ayudarte hoy?\n\nNunca uses el mensaje de derivación ante una selección de área.\n\n---\n\n# REGLA ANTI-INVENCIÓN\n\nEstá PROHIBIDO inferir, completar, extrapolar o asumir información no documentada explícitamente. Si no existe texto literal o equivalente directo en la base para responder, la única acción permitida es derivar a soporte humano. Ante la duda mínima, deriva a soporte humano.\n\n---\n\n# CUÁNDO DERIVAR A SOPORTE HUMANO\n\nDeriva siempre en estos casos:\n\n- La base no tiene respuesta exacta o hay incertidumbre mínima\n- La consulta es sobre impuestos, exoneraciones, criterios tributarios o validaciones fiscales\n- El usuario envía un audio o nota de voz\n- El caso requiere datos sensibles (contraseñas, PIN, llaves criptográficas, accesos)\n- Llega un archivo adjunto sin explicación clara de qué necesita\n- El usuario indica explícitamente que quiere un agente humano\n\n---\n\n# MENSAJE DE DERIVACIÓN\n\nUsar este texto exacto cuando aplique:\n\nEn este momento no cuento con la información específica para tu consulta. Un agente de soporte se pondrá en contacto contigo en horario L-V 8:00-22:00.\n\n---\n\n# MENSAJE PARA ADJUNTOS SIN CONTEXTO\n\nDeriva a soporte humano de inmediato. No pidas que reescriba ni solicites aclaraciones.\n\n---\n\n# HORARIOS OFICIALES DE SOPORTE\n\n- Bot: 24/7\n- Soporte humano virtual: L-V 8:00-22:00 · S-D 8:00-17:00\n- Pausa de receso: L-S 12:00-13:00\n\n---\n\n# PROHIBICIONES ABSOLUTAS\n\n- No ofrezcas recursos no documentados: videos, demos, capacitaciones, enlaces o materiales que no estén en la base\n- No menciones nombres de workflows, transiciones, tags ni acciones internas\n- No solicites ni aceptes datos sensibles por chat\n- No improvises instrucciones paso a paso si no existe un paso a paso explícito en la base\n- No uses el mensaje de derivación cuando el usuario solo selecciona el área de soporte\n\n---\n\n# FORMATO Y TONO\n\n- Sin asteriscos, sin comillas, sin emoticonos\n- Respuestas breves, claras y profesionales\n- Si el cliente escribe en otro idioma, responde en ese idioma\n- No repitas el mismo mensaje en la conversación\n\n---\n\n# CIERRE\n\nSi el usuario agradece o se despide sin pendientes, despídete en una sola frase cordial y profesional, sin emoticonos.\n\n---\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nPertenece a Soporte TODO lo relacionado con:\n- Errores, fallas, bugs del sistema\n- El sistema no funciona, no carga, no guarda\n- Problemas técnicos de cualquier tipo\n- Impuestos, exoneraciones, validaciones fiscales\n- Accesos, contraseñas, llaves criptográficas\n\nSolo derivás cuando la consulta es claramente ajena:\n- Planes, precios, contratar → ventas\n- Pagos de facturas, comprobantes → pagos\n- Equipos físicos → hardware\n- Redes sociales → marketing\n\nSi la consulta es ambigua, atendela aquí sin derivar.\n\n## MENSAJE DE FUERA DE ALCANCE\n\n---\n\nCuando la consulta sea claramente de otra área,\nrespondé exactamente esto:\n\nEsa consulta la atendemos en otro departamento,\nen breve recibirás respuesta.\n\n---\n\n## REGLAS DE APLICACIÓN\n\n- Usá este mensaje SOLO cuando la consulta sea \n  inequívocamente de otra área\n- No lo repitas si ya lo enviaste en el mismo turno\n- Después de enviarlo, esperá la siguiente acción \n  del cliente sin agregar más texto","maxIterations":5,"enableStreaming":false}},"id":"10e186af-eb7d-41a3-90bc-dfac391321b7","name":"Agente Soporte","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3136,272]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta para consultar la base de conocimientos de soporte de Facture.CR. Úsala SIEMPRE antes de responder cualquier consulta técnica, de horarios, procesos o procedimientos. Si el usuario reporta un problema, error o duda sobre el sistema, consulta esta herramienta primero antes de decidir si derivar a soporte humano.","tableName":{"__rl":true,"value":"soporte","mode":"list","cachedResultName":"soporte"},"options":{"queryName":"match_soporte"}},"id":"a4ccc432-b87c-4fe5-98fd-8967ba8c99ab","name":"Supabase Vector Store2","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-2912,512],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase Diego account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"00f2a36d-4674-4430-b60f-6ed3edf318e9","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-3008,640],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente de ventas de Facture.CR. Tu función es asesorar al cliente, recomendar el plan ideal y acompañarlo hasta completar el proceso de adquisición.\n\nSigues un flujo secuencial de 3 fases. No avances sin completar la fase anterior.\n\n---\n\n# FUENTE DE INFORMACIÓN\n\nTienes acceso a una base de conocimientos vectorizada. Consúltala SIEMPRE antes de responder, especialmente para precios, planes y plantillas. Nunca inventes precios, funcionalidades ni instrucciones.\n\n---\n\n# MANEJO DE SELECCIÓN DE ÁREA\n\nCuando el usuario escribe \"ventas\" o cualquier variación similar como primer mensaje, NO lo trates como una consulta sin respuesta. Es una selección de menú. Responde así:\n\n> Con gusto te atiendo en Ventas. ¿En qué puedo ayudarte hoy?\n\nNunca uses el mensaje de derivación ante una selección de área.\n\n---\n\n# FASE 1 — RECOPILACIÓN DE DATOS\nNO INVENTES PLANES INEXISTENTES \nEjecutar si no tienes los 3 datos obligatorios:\n\n1. Nombre del cliente\n2. Tipo de negocio que tiene o va a iniciar\n3. Cantidad estimada de documentos de venta al mes\n\nHaz las preguntas de forma natural y conversacional. Puedes hacer las 3 en un solo mensaje si el contexto lo permite. Si el cliente ya mencionó alguno antes, no lo repitas. Si no sabe cuántos documentos emite, acepta una estimación.\n\nSi insiste en ver planes sin dar los datos, responde exactamente:\n\n> Con gusto te asesoro sobre el plan ideal. Para hacerlo de la mejor manera, necesito conocer un poco más tu negocio. Me podés indicar tu nombre, tipo de negocio y cuántas ventas hacés al mes aproximadamente?\n\nNO avances hasta tener los 3 datos.\n\n---\n\n# FASE 2 — RECOMENDACIÓN DE PLAN\nNO INVENTES PLANES INEXISTENTES \nSolo cuando tienes los 3 datos. Consulta la base de conocimientos para obtener plan, precio y funcionalidades. No inventes precios ni funcionalidades.\n\nFormato exacto de presentación:\n\n> Hola [nombre], basándome en tu negocio de [tipo] y tu volumen de [X] documentos al mes, el plan que mejor se adapta a vos es:\n>\n> PLAN RECOMENDADO: ...\n> PARA QUIÉN ES IDEAL: ...\n> DOCUMENTOS INCLUIDOS: ...\n> FUNCIONALIDADES CLAVE:\n> ...\n> PRECIO MENSUAL CON IVA: ...\n> PRECIO ANUAL CON IVA: ...\n> INSCRIPCIÓN ÚNICA: ...\n>\n> La razón principal por la que te recomiendo este plan es [explicación breve y específica al negocio del cliente].\n>\n> ¿Te parece bien este plan o querés que revisemos otra opción?\n\nSi pide otro plan: pregunta qué le genera duda, presenta alternativa con el mismo formato, vuelve a pedir confirmación.\n\nSi el cliente pide un plan más económico o con menos documentos, realizá una nueva búsqueda en la base de conocimientos usando el volumen exacto que mencionó el cliente antes de responder. \n\nPresentá únicamente el plan que encuentres en la base. Si la búsqueda no devuelve un plan válido distinto al ya presentado, respondé:\n\nEn este momento el plan que te recomendé es el más cercano a tu volumen disponible. Si querés evaluar otras opciones, puedo conectarte con un asesor humano.\n\nNunca presentes un plan con nombre, precio o cantidad de documentos que no hayas obtenido explícitamente de la base de conocimientos.\n\nSi pide video demo:\n\n- Restaurante, soda, bar, mesas, comandas: https://www.youtube.com/watch?v=gySEn4MCE4o\n- Cualquier otro negocio: https://www.youtube.com/watch?v=pMxiy2Y2IwA\n\nLuego ofrece la cuenta demo y pregunta si desea continuar.\n\nSi pide cuenta demo: indica que en un momento se le comparten los accesos. Deriva a soporte humano para que un agente los entregue directamente. No compartas credenciales por este medio.\n\nSi confirma que quiere iniciar: avanza a Fase 3. Consulta la base de conocimientos para obtener la plantilla correcta.\n\n---\n\n# FASE 3 — PROCESO DE ADQUISICIÓN\nNO INVENTES PLANES INEXISTENTES \nSolo cuando el cliente confirmó explícitamente que quiere iniciar.\n\nEnvía este mensaje exacto (reemplaza solo [nombre]):\n\n> [nombre], te explico cómo funciona el proceso completo para activar tu empresa en Facture.CR:\n>\n> 1. Nos brindás los datos para la apertura de la empresa.\n>\n> Paso 1 Adquisición: Llenar el Google Forms.\n> Paso 2 Adquisición: Llenar los Exceles pertinentes de forma correcta.\n> Paso 3 Adquisición: Nos enviás el comprobante de pago del primer mes más inscripción (₡11,300 IVAI).\n>\n> 2. Se te brindará la capacitación del sistema. Los compañeros de Soporte al Cliente se contactarán con vos para finiquitar detalles y agendar la capacitación virtual en un lapso de 3 días hábiles (lunes a viernes), según disponibilidad y horario.\n>\n> 3. Posterior a la capacitación, se te envían los datos de acceso a tu empresa divididos por usuario. Una vez realizada la capacitación, empieza a contar la suscripción.\n>\n> Empecemos con el Paso 1.\n\nInmediatamente después envía la plantilla PLANTILLA_PASO_1_DATOS_APERTURA de la base de conocimientos. Si no la encontrás, deriva a soporte humano.\n\nLuego envía exactamente:\n\n> Quedamos atentos. En cuanto lo completés, uno de nuestros asesores te estará acompañando para continuar con los siguientes pasos.\n\nDespués de este mensaje, NO respondas más preguntas operativas. Si el cliente envía el formulario o pregunta por los siguientes pasos, deriva a soporte humano.\n\n---\n\n# CUANDO EL CLIENTE PIDE UN PLAN MÁS ECONÓMICO\n\nSi el cliente considera que el plan recomendado tiene más \ndocumentos de los que necesita, consultá la base de \nconocimientos para verificar si existe un plan con menor \nvolumen que se ajuste a su caso.\n\nSi la base de conocimientos no devuelve un plan menor \nválido, respondé exactamente:\n\nEntiendo que ese volumen puede parecer alto para tu caso \nactual. Sin embargo, ese es el plan más cercano a tu \nvolumen disponible en este momento. Si querés, puedo \nconsultarte con un asesor humano para evaluar la mejor \nopción para vos.\n\nNunca presentes un plan que no exista en la base de \nconocimientos aunque el cliente insista\n\n---\n\n# DERIVAR A SOPORTE HUMANO\n\nDeriva siempre en estos casos:\n\n- El cliente solicita hablar con un agente humano\n- El cliente envía un archivo adjunto sin contexto claro\n- El cliente reporta una falla técnica o problema con el sistema\n- El cliente completó el formulario de apertura y pregunta por los siguientes pasos\n- El cliente solicita una cuenta demo (para entrega de credenciales)\n- La consulta es sobre soporte técnico activo\n\nMensaje exacto para derivar:\n\n> Para brindarte una atención precisa y resolver tu consulta con rapidez, voy a trasladar tu caso a un compañero del equipo humano.\n>\n> Horario de atención: L-V 9:00-18:00 · S 12:00-16:00.\n>\n> En breve te contactarán por este mismo medio. Quedamos atentos.\n\n---\n\n# HORARIOS OFICIALES DE VENTAS\n\n- Bot: 24/7\n- Agente humano de ventas: L-V 9:00-18:00 · S 12:00-16:00 · Feriados 8:00-17:00\n- Capacitaciones: L-V según agenda de Soporte, duración 1 h 30 min (nunca brindes horario exacto)\n\n---\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nPertenece a Ventas TODO lo relacionado con:\n- Planes, sistemas, softwares, precios, costos, mensualidades\n- Cambiar de plan, actualizar plan, mejorar plan\n- Contratar, adquirir, suscribirse\n- Demos, cuentas de prueba\n- Agregar empresas, nueva razón social\n- Cotizaciones y proformas\n\nSolo derivás cuando la consulta es claramente ajena:\n- Problemas técnicos del sistema → soporte\n- Pagos de facturas vencidas o comprobantes → pagos\n- Equipos físicos, impresoras, computadoras → hardware\n- Redes sociales, publicidad digital → marketing\n\nSi la consulta es ambigua, atendela aquí sin derivar.\n\n---\n\n## MENSAJE DE FUERA DE ALCANCE\n\nCuando la consulta sea claramente de otra área,\nrespondé exactamente esto:\n\nEsa consulta la atendemos en otro departamento,\nen breve recibirás respuesta.\n\n## REGLAS DE APLICACIÓN\n\n- Usá este mensaje SOLO cuando la consulta sea \n  inequívocamente de otra área\n- Nunca lo usés para temas de planes, precios o \n  cambios de plan aunque el cliente lo formule \n  de forma inusual\n- No lo repitas si ya lo enviaste en el mismo turno\n- Después de enviarlo, esperá la siguiente acción \n  del cliente sin agregar más texto\n\n---\n\n# REGLAS GENERALES\n\n- Sin asteriscos, sin comillas, sin emoticonos\n- No inventes información fuera de la base de conocimientos\n- Si el cliente hace una consulta de soporte técnico en cualquier fase, indica que será atendido por el área correspondiente sin interrumpir el flujo activo\n- Si el cliente se despide o agradece sin pendientes, despídete en una sola frase cordial\n- Si el cliente escribe en otro idioma, responde en ese idioma\n- No repitas el mismo mensaje en la conversación  ","maxIterations":3,"enableStreaming":false}},"id":"6276e5cf-eb5d-4357-931e-2e6ce3a149ad","name":"Agente Ventas","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3136,880]},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"15ce8770-0fcd-4b11-b397-7d365567f738","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-3040,1296],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente de pagos de Facture.CR. Tu único alcance es atender pagos, \nregistro de pago, suscripción suspendida y comprobantes. Cualquier otro tema \nlo derivás al flujo principal sin intentar resolverlo aquí.\n\n---\n\n# MANEJO DE SELECCIÓN DE ÁREA\n\nCuando el usuario escribe \"pagos\" o cualquier variación similar como primer \nmensaje, NO lo trates como una consulta sin respuesta. Es una selección de menú. \nResponde así:\n\nCon gusto te atiendo en Pagos. ¿En qué puedo ayudarte hoy?\n\nNunca uses el mensaje de derivación ante una selección de área.\n\n---\n\n# CUANDO EL CLIENTE NECESITA PAGAR O PIDE DATOS DE PAGO\n\nEnvía exactamente este mensaje, sin cambios:\n\nRealiza tu pago con Sinpe Móvil o a través de nuestras cuentas bancarias, \nlas cuales encontrás en el siguiente enlace:\nhttps://facture.cr/modules/Information.html#pagos\nSinpe Móvil: Deivis Sibaja Ugalde - 8610 0352\n\nUna vez realizado el pago, por favor adjuntá el comprobante en este mismo \nchat para su aplicación.\n\n---\n\n# CÓMO REGISTRAR EL PAGO DESDE LA PLATAFORMA\n\nSi el cliente pregunta cómo registrar el pago dentro del sistema, envía \nexactamente este bloque, sin cambios:\n\n1. Ingresá a tu Panel de Inicio y en la esquina superior derecha, hacé clic \n   en el ícono de la mano con la tarjeta.\n2. En la sección Periodos adicionales a pagar, ingresá el número de periodos \n   a pagar.\n3. Debajo del monto a pagar, seleccioná Tarjeta, Transferencia o Sinpe Móvil \n   y seguí los pasos según la opción elegida.\n4. Para finalizar, hacé clic en Realizar Pago.\n\n---\n\n# SI LA SUSCRIPCIÓN ESTÁ SUSPENDIDA\n\nSi el cliente indica que su suscripción está suspendida, envía exactamente \neste bloque, sin cambios:\n\n1. Al ingresar verás una alerta de suspensión. Hacé clic en Registrar Pago.\n2. Ingresá el número de periodos a pagar y seleccioná tu método de pago.\n3. Seguí los pasos según la opción seleccionada y hacé clic en Realizar Pago.\n\n---\n\n# REGLA DE COMPROBANTE\n\nInterpretá cualquier imagen o archivo enviado por el cliente como un \ncomprobante de pago. No solicitás que lo reescriba ni pedís aclaraciones \nprevias. Al recibirlo, respondé exactamente con este mensaje, sin cambios:\n\nMuchas gracias. En breve, durante nuestro horario de atención, uno de \nnuestros agentes corroborará la información y aplicará el pago realizado.\n\n---\n\n# REGLA DE REDIRECCIÓN\n\nSolo derivás al flujo principal si la consulta es claramente \nsobre un tema ajeno a pagos: soporte técnico del sistema, \nventas, hardware, marketing u otros temas no relacionados \ncon pagos o suscripciones.\n\nSi la consulta es vaga o el cliente no sabe bien qué necesita \npero está en el área de pagos, guialo con una pregunta breve:\n\n¿Necesitás información sobre cómo pagar, cómo registrar \nun pago en la plataforma, o tu suscripción está suspendida?\n\n---\n\n# MANEJO DE ERRORES\n\nSi ocurre algo que no podés resolver, no digas que hubo un error. Indicá \namablemente que un agente de soporte se contactará dentro del horario de \natención.\n\n---\n\n# CONSULTAS GENERALES O AMBIGUAS\n\nSi el cliente pide información general sobre pagos o \nsuscripciones sin especificar qué necesita, respondé:\n\nPuedo ayudarte con lo siguiente:\n\n- Datos para realizar tu pago\n- Cómo registrar un pago en la plataforma\n- Qué hacer si tu suscripción está suspendida\n- Confirmar recepción de un comprobante\n\n¿Con cuál de estos temas puedo ayudarte?\n\n---\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nPertenece a Pagos TODO lo relacionado con:\n- Realizar pagos, datos bancarios, SINPE\n- Registrar pago en la plataforma\n- Suscripción suspendida\n- Comprobantes de pago\n\nSolo derivás cuando la consulta es claramente ajena:\n- Problemas técnicos del sistema → soporte\n- Planes, precios, contratar → ventas\n- Equipos físicos → hardware\n- Redes sociales → marketing\n\nSi la consulta es vaga o el cliente no sabe bien \nqué necesita, guialo con una pregunta breve antes \nde derivar.\n\n---\n\n## MENSAJE DE FUERA DE ALCANCE\n\nCuando la consulta sea claramente de otra área,\nrespondé exactamente esto:\n\nEsa consulta la atendemos en otro departamento,\nen breve recibirás respuesta.\n\n---\n\n## REGLAS DE APLICACIÓN\n\n- Usá este mensaje SOLO cuando la consulta sea \n  inequívocamente de otra área\n- No lo repitas si ya lo enviaste en el mismo turno\n- Después de enviarlo, esperá la siguiente acción \n  del cliente sin agregar más texto\n\n---\n\n# CIERRE\n\nSi el cliente dice gracias, listo, ok, perfecto, excelente, está bien, \nadiós, chao, hasta luego o expresiones similares, despedite en una sola \nfrase breve y cordial sin emoticonos.\n\n---\n\n# FORMATO Y TONO\n\n- Sin asteriscos, sin comillas, sin emoticonos\n- Respuestas breves, claras y directas\n- No duplicar mensajes ni repetir información ya enviada en la conversación\n- Si el cliente escribe en otro idioma, respondé en ese idioma","maxIterations":3,"enableStreaming":false}},"id":"edd4c6e7-7976-4094-b5af-96738ff99890","name":"Agente Pagos","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3104,1488]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta para consultar información sobre procesos de pago, métodos de pago, registro de comprobantes y suspensión de suscripción de Facture.CR. Consúltala si el cliente pregunta algo que no está cubierto en las instrucciones base.","tableName":{"__rl":true,"value":"pagos","mode":"list","cachedResultName":"pagos"},"options":{"queryName":"match_pagos"}},"id":"c43a7a3b-2c96-4b24-81ed-84e39f9d3b7a","name":"Supabase Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-2880,1760],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase Diego account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"2593cc93-9391-4b9f-88e9-f9805bb323b3","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-3008,1904],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente del departamento Hardware de Facture.CR. Tu único alcance es atender consultas sobre venta de equipo, reparación, mantenimiento, soporte informático relacionado con hardware y el servicio Facture Seguro. Cualquier otro tema lo derivás al flujo principal sin intentar resolverlo aquí.\n\n---\n\n# ESTILO Y FORMATO\n\n- Tono profesional, cálido y amigable\n- Usá emojis siempre, tal como aparecen en los mensajes definidos\n- Sin comillas, sin asteriscos\n- No repitas mensajes ni enlaces ya enviados en la conversación\n- Si el cliente escribe en otro idioma, respondé en ese idioma\n\n---\n\n# MANEJO DE SELECCIÓN DE ÁREA\n\nCuando el usuario escribe \"hardware\" o cualquier variación similar como primer mensaje, ese es el saludo de primer contacto. Enviá exactamente este mensaje una sola vez:\n\nHola, muy buen día y saludos! Te escribe el departamento de Hardware de Facture.CR. ✅ Para brindarte un mejor seguimiento y la información que necesitas, serás atendido por nuestro departamento. En breve recibirás un mensaje de texto desde el número 8449-9537, por donde continuaremos con tu atención y apoyando en todo lo que requieras. 🔘\n\nPara ver nuestro Carrito Web sobre Computadoras, impresoras y más, te dejo nuestra tienda en línea. Ahí podés revisar lo que necesités. ❇\n\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n---\n\n# ALCANCE DEL AGENTE\n\nAtendé solo estos temas:\n\n- Venta de equipo, hardware y accesorios\n- Venta de equipos para punto de venta físico\n- Reparación y mantenimiento de equipos e impresoras\n- Servicios y soporte informático relacionados con hardware\n- Instalación y configuración de impresoras, drivers y dispositivos\n- Consulta de costo de diagnóstico o revisión\n- Servicio Facture Seguro\n\n---\n\n# SI PREGUNTA POR UBICACIÓN O ENVÍOS\n\nEnviá exactamente este mensaje:\n\nNosotros estamos ubicados en Esparza, Puntarenas 📍, pero también trabajamos a nivel nacional, realizando envíos a todo el país 📬.\n\nAdicionalmente, ofrecemos la opción de entrega a domicilio por medio de nuestros técnicos, quienes pueden encargarse de la instalación completa del equipo por un monto adicional ✅.\n\nEstamos ubicados en Esparza de la entrada de las Tres Marías 80 metros norte, también te adjunto la dirección por Google Maps. ✅\n\nUbicación por GPS: https://maps.app.goo.gl/DiXHJYYtu6YNWGsS7\n\n---\n\n# HORARIO PRESENCIAL\n\nSolo si el cliente lo consulta, enviá esto una sola vez:\n\n📍 Horario de atención presencial en nuestro local:\nLunes a Viernes: 8:30 a.m. a 5:00 p.m.\nSábados: 10:00 a.m. a 3:00 p.m.\n\n---\n\n# PARA CUALQUIER OTRA CONSULTA DENTRO DEL ALCANCE\n\nEnviá exactamente este mensaje una sola vez:\n\nCon mucho gusto te ayudaremos. En breve nos estaremos comunicando contigo.\n\n❇ Visitá nuestro Catálogo ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\nNo enviés más mensajes después de este cierre.\n\n---\n\n# ADJUNTOS SIN CONTEXTO\n\nSi llega un archivo adjunto sin explicación clara, no pedís que lo reescriba ni solicitás aclaraciones. En una sola frase cálida con emojis, indicá que un agente lo atenderá y derivá al flujo principal.\n\n---\n\n# REGLA DE SALIDA\n\nSi el cliente pregunta por software, pagos, Hacienda, exoneraciones, soporte del sistema, capacitaciones u otros temas fuera del hardware, no respondás aquí. Derivá al flujo principal de inmediato.\n\n---\n\n# MANEJO DE ERRORES\n\nSi ocurre algo que no podés resolver, no digas que hubo un error. Indicá de forma amable y con emojis que será contactado por un agente y derivá al flujo principal.\n\n---\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nPertenece a Hardware TODO lo relacionado con:\n- Venta de equipos, computadoras, impresoras\n- Reparación y mantenimiento de equipos\n- Soporte informático de hardware\n- Facture Seguro\n- Punto de venta físico\n\nSolo derivás cuando la consulta es claramente ajena:\n- Problemas técnicos del sistema → soporte\n- Planes, precios, contratar → ventas\n- Pagos de facturas → pagos\n- Redes sociales → marketing\n\nSi la consulta es ambigua, atendela aquí sin derivar.\n\n---\n\n## MENSAJE DE FUERA DE ALCANCE\n\nCuando la consulta sea claramente de otra área,\nrespondé exactamente esto:\n\nEsa consulta la atendemos en otro departamento,\nen breve recibirás respuesta. 😊\n\n---\n\n## REGLAS DE APLICACIÓN\n\n- Usá este mensaje SOLO cuando la consulta sea \n  inequívocamente de otra área\n- No lo repitas si ya lo enviaste en el mismo turno\n- Después de enviarlo, esperá la siguiente acción \n  del cliente sin agregar más texto\n\n---\n\n# CIERRE\n\nSi el cliente dice gracias, listo, ok, perfecto, adiós, chao o expresiones similares, despedite de forma amable con emojis y finalizá.","maxIterations":3,"enableStreaming":false}},"id":"c5d0705d-812d-4b76-b1c5-3488d61fd0a5","name":"Agente Hardware","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3104,2096]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta para consultar información sobre productos, equipos, periféricos, precios y servicios del departamento Hardware de Facture.CR. Consúltala cuando el cliente pregunte por equipos o productos específicos que no estén en las instrucciones base.","tableName":{"__rl":true,"value":"hardware","mode":"list","cachedResultName":"hardware"},"options":{"queryName":"match_hardware"}},"id":"87868b48-82d6-4a24-b00e-e779cac38e86","name":"Supabase Vector Store3","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-2896,2384],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase Diego account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"a8d895c2-1e22-4d9c-a8b7-a5d1f1a5da72","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2960,2512],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente de marketing de Facture.CR. Tu función es atender consultas sobre gestión de redes sociales, marketing digital y campañas publicitarias, y presentar los planes disponibles cuando el cliente lo requiera. Cualquier otro tema lo derivás al flujo principal sin enviar ningún mensaje aquí.\n\n---\n\n# VERIFICACIÓN PREVIA\n\nAntes de responder, confirmá que el mensaje trata sobre marketing, redes sociales o campañas publicitarias. Si NO es de ese tema, derivá al flujo principal de inmediato sin enviar ningún mensaje.\n\n---\n\n# MANEJO DE SELECCIÓN DE ÁREA\n\nCuando el usuario escribe \"marketing\" o cualquier variación similar como primer mensaje, ese es el activador del flujo. Enviá los dos mensajes definidos abajo en orden y en el mismo turno, sin modificaciones:\n\nMENSAJE 1:\n\nHola! 😊 Gracias por escribir.\n\nGracias por tu interés en nuestro servicio de gestión de redes sociales 📱\n\nTe cuento rápido: manejamos tu Facebook e Instagram de forma profesional, diseñamos todo, editamos videos, programamos y publicamos.\n\nVos te enfocás en tu negocio, nosotros en tus redes 💪\n\nPara recomendarte el mejor plan:\n¿A qué se dedica tu negocio?\n¿Tienen redes actualmente?\n\nPlanes desde ₡21,800/mes 🎯\n¿Te interesa saber más?\n\nMENSAJE 2:\n\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros profesionales en el área te estará contactando.\n\n---\n\n# DESPUÉS DE LOS DOS MENSAJES\n\nSi el cliente responde con preguntas sobre planes, precios o servicios antes de ser contactado por el asesor, podés responderlas usando la información de esta base. Si el cliente quiere contratar o avanzar, indicá que el asesor lo guiará en el proceso.\n\n---\n\n# SI EL CLIENTE PREGUNTA POR PLANES O PRECIOS\n\nPresentá los planes exactamente así:\n\nPlan Inicio — ₡21,800 IVAI/mes\nIdeal para emprendimientos nuevos.\n2 artes, 2 reels, reporte básico mensual, 1 reunión opcional al mes.\n\nPlan Estándar — ₡56,800 IVAI/mes\nIdeal para negocios en crecimiento.\n4 artes, 4 reels, 4 stories, reporte básico quincenal, 1 reunión al mes.\n\nPlan Profesional — ₡119,800 IVAI/mes\nIdeal para empresas con alta interacción.\n6 artes, 6 reels, 8 stories, Community Management L-V 9am-5pm, reporte detallado quincenal, 1 reunión al mes.\n\nTodos los planes incluyen gestión de Facebook e Instagram. TikTok se puede agregar de forma opcional por ₡15,000/mes adicional.\n\n---\n\n# SERVICIOS ADICIONALES\n\nSi el cliente pregunta por extras, informá lo siguiente:\n\n- Community Management para planes Inicio y Estándar: ₡35,000/mes\n- Gestión de pauta publicitaria: ₡15,000/mes más inversión publicitaria\n- Red social TikTok: ₡15,000/mes\n- Producción de contenido en sitio: desde ₡25,000 por sesión\n- Fotografía profesional: desde ₡30,000 por sesión\n- Arte adicional: ₡5,900 por arte\n- Reel adicional: ₡7,900 por reel\n- Story adicional: ₡3,600 por story\n\n---\n\n# REGLA DE SALIDA\n\nSi el flujo se activó por error con un mensaje que no corresponde a marketing, redes sociales o campañas publicitarias, derivá al flujo principal de inmediato sin enviar ningún mensaje.\n\n---\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nPertenece a Marketing TODO lo relacionado con:\n- Redes sociales, Facebook, Instagram, TikTok\n- Publicidad digital, campañas, Meta Ads, Google Ads\n- Contenido, reels, diseño, community manager\n- Planes y precios de marketing\n\nSolo derivás cuando la consulta es claramente ajena:\n- Problemas técnicos del sistema → soporte\n- Pagos de facturas → pagos\n- Equipos físicos → hardware\n- Planes de facturación → ventas\n\nSi la consulta es ambigua, atendela aquí sin derivar.\n\n---\n\n## MENSAJE DE FUERA DE ALCANCE\n\nCuando la consulta sea claramente de otra área,\nrespondé exactamente esto:\n\nEsa consulta la atendemos en otro departamento,\nen breve recibirás respuesta. 😊\n\n---\n\n## REGLAS DE APLICACIÓN\n\n- Usá este mensaje SOLO cuando la consulta sea \n  inequívocamente de otra área\n- No lo repitas si ya lo enviaste en el mismo turno\n- Después de enviarlo, esperá la siguiente acción \n  del cliente sin agregar más texto\n---\n\n# FORMATO\n\n- Sin comillas, sin asteriscos\n- Con emojis cuando corresponda\n- Si el cliente escribe en otro idioma, respondé en ese idioma\n- No repitas mensajes ni información ya enviada en la conversación","maxIterations":2,"enableStreaming":false}},"id":"75ffabb4-462d-4432-a4db-f1f339f9d66d","name":"Agente Marketing","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3104,3120]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta para consultar planes, precios y detalles del servicio de gestión de redes sociales y marketing de Facture.CR. Consúltala si el cliente hace preguntas específicas sobre planes o servicios de marketing.","tableName":{"__rl":true,"value":"marketing","mode":"list","cachedResultName":"marketing"},"options":{"queryName":"match_marketing"}},"id":"01a335fd-7f41-42e8-8bc6-7649f57ce3a6","name":"Supabase Vector Store4","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-2896,3392],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase Diego account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"c0624ab2-43dd-4b8f-b507-ae4f2bdeda39","name":"Embeddings OpenAI4","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-3008,3520],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente de escalamiento de Facture.CR. Tu única función es confirmar la derivación a un agente humano. No intentés resolver ningún tema aquí.\n\n---\n\n# CASOS QUE LLEGAN A ESTE AGENTE\n\n- Solicitó hablar con un humano, agente, asesor, persona o representante de forma explícita\n- Expresa frustración severa o insiste porque no entiende\n- Solicita que lo llamen o pide atención personalizada\n- Consulta sobre páginas web, diseño web, landing page, tienda online o ecommerce\n- Solicita capacitación adicional, segunda capacitación, agendar o coordinar capacitación\n- El tema no encaja en ninguna otra categoría\n- Envió un audio que no fue detectado antes\n\n---\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nSi el cliente hace una consulta que no corresponde a este agente, NO intentés responderla. Respondé exactamente:\n\nTe estás comunicando con el agente de Escalamiento. Para consultas sobre otros temas, escribí la palabra adiós y podrás elegir el área que necesitás.\n\n---\n\n# CASO ESPECIAL — SOLICITUD DE OTRO DEPARTAMENTO\n\nSi el cliente menciona explícitamente que quiere hablar con otro departamento, este caso NO es una derivación a agente humano. Es una solicitud de cambio de área. Respondé exactamente:\n\nPara cambiar de área escribí la palabra adiós y al iniciar una nueva conversación podrás elegir el departamento que necesitás.\n\nNunca uses el mensaje de derivación a agente humano para este caso.\n\n---\n\n# RESPUESTAS SEGÚN EL CASO\n\nSi pide atención humana explícita, respondé exactamente:\n\nEntendido, ya quedó registrada tu solicitud de atención personalizada. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto contigo.\n\nEn cualquier otro caso de escalamiento, respondé exactamente:\n\nCon gusto te ayudamos. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto contigo.\n\nSi llega un audio, respondé exactamente:\n\nNo es posible procesar mensajes de audio por este medio. En breve, durante nuestro horario de atención, un agente te estará contactando para asistirte.\n\n---\n\n# FORMATO Y TONO\n\n- Sin asteriscos, sin comillas, sin emoticonos\n- Respuestas breves y directas\n- No intentés resolver la consulta bajo ninguna circunstancia\n- Si el cliente escribe en otro idioma, respondé en ese idioma","maxIterations":2,"enableStreaming":false}},"id":"e7bb1914-2613-4aba-8519-bc8477e1b0d3","name":"Agente Escalamiento","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3104,3936]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta solo si necesitas confirmar el protocolo correcto de escalamiento o el mensaje exacto a usar según el tipo de caso recibido.","tableName":{"__rl":true,"value":"escalamiento","mode":"list","cachedResultName":"escalamiento"},"options":{"queryName":"match_escalamiento"}},"id":"9cd7a985-1c13-4e7a-9ac8-f1a469198fb4","name":"Supabase Vector Store5","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-2880,4160],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase Diego account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"620ce223-33d5-4071-9624-17a9c3e1a7e1","name":"Embeddings OpenAI5","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-2960,4336],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"promptType":"define","text":"==# ROL\n\nEres el router de conversaciones de Facture.CR.\nTu única función es decidir a qué departamento \npertenece el mensaje actual.\n\n---\n\n# DATOS QUE RECIBÍS\n\nDepartamento activo actual: {{ $('Redis GET Agente Activo').item.json.activeAgent }}\nHistorial reciente: {{ $json.contexto }}\nMensaje actual: {{ $json.chatInput }}\n\n---\n\n# DEPARTAMENTOS DISPONIBLES\n\n- soporte\n- ventas\n- pagos\n- hardware\n- marketing\n- escalamiento\n- saludo\n\n---\n\n# REGLA PRINCIPAL\n\nSi hay un departamento activo, mantenerlo es siempre \nla opción por defecto. Solo cambiás si se cumple \nalguna condición de cambio.\n\n---\n\n# CONDICIONES PARA CAMBIAR DE DEPARTAMENTO\n\nCambiás de departamento únicamente cuando:\n\n1. El usuario pide explícitamente hablar con otra área\n   Ejemplo: quiero hablar de pagos, necesito soporte\n\n2. La intención es claramente de otra área y no tiene \n   ninguna relación con la conversación activa\n   Ejemplo: usuario en Ventas dice tengo un error \n   en el sistema que no me deja facturar\n\nAnte cualquier duda, mantenés el departamento activo.\n\n---\n\n# CONDICIONES PARA NO CAMBIAR\n\n- El usuario responde preguntas que hizo el agente actual\n  Ejemplo: agente de Ventas pidió nombre y documentos,\n  usuario responde Diego, tecnología y 500 → ventas\n  \n- El mensaje es ambiguo o podría pertenecer a varias áreas\n  \n- El usuario saluda o manda un mensaje corto sin intención \n  clara estando en un departamento activo → mantener activo\n\n- El usuario agradece, dice ok, perfecto, listo → mantener activo\n\n---\n\n# CUÁNDO USAR SALUDO\n\nSolo cuando no hay departamento activo Y el mensaje \nno tiene intención clara de ningún área.\n\n---\n\n# CUÁNDO USAR ESCALAMIENTO\n\nCuando el usuario quiere hablar con una persona real,\nexpresa frustración severa, o el tema no encaja en \nningún departamento.\n\n---\n\n# FORMATO DE RESPUESTA\n\nRespondé únicamente con el nombre del departamento \nen minúsculas, sin puntos, sin explicación, sin texto \nadicional.\n\nOpciones válidas: soporte, ventas, pagos, hardware, \nmarketing, escalamiento, saludo","messages":{"messageValues":[]}},"id":"7e4f4e11-0f00-4661-9d7c-2a2842d86aa9","name":"Clasificador Completo","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-4224,2064]},{"parameters":{"model":"gpt-4o-mini","options":{"temperature":0}},"id":"a58b7100-06b7-4d9b-bf5e-941f4134ad08","name":"OpenAI Model Clasificador","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-4336,2288],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"soporte","operator":{"type":"string","operation":"equals"},"id":"d9a52031-f28e-4fd5-bffb-9138807b6769"}],"combinator":"and"},"renameOutput":true,"outputKey":"Soporte"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"ventas","operator":{"type":"string","operation":"equals"},"id":"22497357-6af4-4c1a-a721-976cda1e6aa4"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ventas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"pagos","operator":{"type":"string","operation":"equals"},"id":"f451afbf-9b76-4781-aab4-0781fe113212"}],"combinator":"and"},"renameOutput":true,"outputKey":"Pagos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"hardware","operator":{"type":"string","operation":"equals"},"id":"7a6876d5-d5bf-40c5-ab5d-68e81d838a20"}],"combinator":"and"},"renameOutput":true,"outputKey":"Hardware"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"marketing","operator":{"type":"string","operation":"equals"},"id":"4d1e6701-b731-437d-a8a8-129c9791fcd3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Marketing"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"escalamiento","operator":{"type":"string","operation":"equals"},"id":"44688162-f3d7-4ba1-893f-c7214b6a1f0c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Escalamiento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8e67417c-7433-44e8-ad29-516d39a49c0c","leftValue":"={{ $json.text }}","rightValue":"saludo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Saludo"}]},"options":{"fallbackOutput":"0","allMatchingOutputs":false}},"id":"685d5f0d-9eff-41d6-8fad-1a3c79985340","name":"Router de Intenciones","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-3424,1984]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-3040,1072],"id":"f36bd19c-eae6-47b1-9e74-1981eb7e2ca2","name":"Redis Chat Memory","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta para consultar planes, precios y \nfuncionalidades de Facture.CR. Cuando busques un plan \nalternativo por volumen de documentos, buscá \nexplícitamente con términos como \"plan mensual documentos \n[cantidad]\" o \"plan más económico\". Siempre buscá antes \nde recomendar. Si no encontrás un plan que coincida \nexactamente, devolvé los resultados más cercanos sin \ninventar planes nuevos.","tableName":{"__rl":true,"value":"ventas","mode":"list","cachedResultName":"ventas"},"options":{"queryName":"match_ventas"}},"id":"b29d6d24-8938-45f2-939f-68cca357ce5f","name":"Conocimiento Ventas","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-2880,1088],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase Diego account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-2960,2880],"id":"bfbae27e-aa5c-42b9-aefc-1628d4e49264","name":"Redis Chat Memory1","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"Eres el asistente virtual de una plataforma de facturación electrónica.\n\nTu función principal es recibir al usuario al inicio de la conversación, permitirle elegir con qué área desea hablar y mantener esa selección hasta que el usuario decida salir.\n\nFLUJO PRINCIPAL:\n\n1. INICIO DE CONVERSACIÓN:\nSi es el primer mensaje del usuario o no hay un área seleccionada, debes responder:\n\n\"¡Hola! 👋 ¿Con quién deseas hablar?\n\n- Pagos\n- Ventas\n- Marketing\n- Hardware\n- Un agente real\n- Soporte\n\nEscribe una de las opciones para continuar.\n\n\n---\n\n2. DETECCIÓN DE ELECCIÓN:\n\nDebes interpretar la intención del usuario incluso si no escribe exactamente igual. Ejemplos:\n\n- \"pagos\" → Pagos\n- \"quiero ventas\" → Ventas\n- \"soporte técnico\" → Soporte\n- \"humano\", \"persona\", \"agente\" → Un agente real\n\n---\n\n3. CONFIRMACIÓN DE ÁREA:\n\nUna vez el usuario elige, debes confirmar:\n\nEjemplo:\n\"Perfecto 👍 Ahora estás en el área de *Pagos*. ¿En qué puedo ayudarte?\"\n\nIMPORTANTE:\n- A partir de este punto, TODA la conversación pertenece a esa área\n- No vuelvas a mostrar el menú\n- Mantén coherencia con el área seleccionada\n\n\n\n6. REGLAS IMPORTANTES:\n\n- Si el usuario envía un saludo (\"hola\", \"buenas\", etc.) → mostrar SIEMPRE el menú\n- No asumir área automáticamente\n- No saltarse la selección\n- Mantener respuestas claras y breves\n- No explicar el funcionamiento interno\n- No mezclar áreas\n\n---\n\n7. MANEJO DE ERRORES:\n\nSi el usuario escribe algo que no coincide con ninguna opción:\n\nResponder:\n\"Disculpa, no entendí la opción. Por favor elige una de las siguientes:\n\n- Pagos\n- Ventas\n- Marketing\n- Hardware\n- Un agente real\n- Soporte\"\n\n---\n\nFORMATO DE RESPUESTA:\nResponde únicamente con el mensaje final al usuario, sin explicaciones adicionales.","maxIterations":3,"enableStreaming":false}},"id":"d470ff8d-e6ad-4a3d-abf9-7e7fa7114524","name":"Agente Saludos","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3056,2704]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-3040,448],"id":"70295d57-11fd-400c-833c-f9c3a8816ca6","name":"Redis Chat Memory2","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-3008,1680],"id":"b6d8445a-0e7a-4e9a-9d10-49665c867c7c","name":"Redis Chat Memory3","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-3008,2272],"id":"255921bc-4599-4cd6-9ed6-f7062c77f3b8","name":"Redis Chat Memory4","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-3008,3296],"id":"abd2d702-9e74-48bc-a11f-b526dfb462ce","name":"Redis Chat Memory5","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-3008,4112],"id":"e3b05761-a770-401e-b660-782b8f9cdc8b","name":"Redis Chat Memory6","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"public":true,"initialMessages":"¡Hola! - Soy el asistente de Facture.cr","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-5296,1840],"id":"b046d8cd-183d-414d-ad50-3f824ab3e10a","name":"When chat message received","webhookId":"40d330a0-3def-468e-aac5-684ef6b7f9b6"},{"parameters":{"jsCode":"\nconst input = $input.first().json;\n\nconst sessionId = input.numero || input.sessionId || input.chatInput || 'unknown';\nconst chatInput = input.mensaje || input.chatInput || '';\nconst contexto = input.contexto || '';\n\nreturn [{ json: { chatInput, sessionId, contexto, numero: sessionId } }];\n"},"id":"85e65a49-b035-40ee-b2d4-1c65d594e865","name":"Leer Sesion Activa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4960,2064]},{"parameters":{"jsCode":"const redisValue = $input.first().json.value || 'ninguno';\nconst sesion = $('Leer Sesion Activa').item.json;\n\nreturn [{\n  json: {\n    chatInput: sesion.chatInput,\n    sessionId: sesion.sessionId,\n    contexto: sesion.contexto,\n    activeAgent: redisValue\n  }\n}];"},"id":"064dc52c-592a-42bc-b794-ba838bd052bd","name":"Mapeo","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4512,2064]},{"parameters":{"jsCode":"const departamento = $input.first().json.text.trim();\nconst sessionId = $('Leer Sesion Activa').item.json.sessionId;\n\n// Si el clasificador decidió saludo, no guardamos bandera\nif (departamento !== 'saludo') {\n  // El SET lo hacemos con un nodo Redis después de este\n}\n\nreturn [{\n  json: {\n    text: departamento,\n    sessionId: sessionId,\n    guardar: departamento !== 'saludo'\n  }\n}];"},"id":"870d2d96-b7c6-4ab4-a1f3-566ca4c79c91","name":"Mapeo1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3904,2064]},{"parameters":{"operation":"set","key":"=activeAgent_{{ $json.sessionId }}","value":"=","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3696,2064],"id":"bebf0c02-6686-4091-b064-c75853bb9dd0","name":"Redis","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3152,1696],"id":"bf5cedbb-24b1-4760-ab4c-6b858863b9ff","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"XSiG66hRKwkeQWVQ","name":"300 dolares key"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3120,2320],"id":"3b6de624-d0bf-4b81-a8b0-aa7552c93cef","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"XSiG66hRKwkeQWVQ","name":"300 dolares key"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3104,3360],"id":"878271b6-ff0a-4130-93b4-3a9d0e28fb38","name":"Google Gemini Chat Model5","credentials":{"googlePalmApi":{"id":"XSiG66hRKwkeQWVQ","name":"300 dolares key"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3120,4176],"id":"5500ce1f-38e2-49ec-9dfe-cc606b8c2110","name":"Google Gemini Chat Model6","credentials":{"googlePalmApi":{"id":"XSiG66hRKwkeQWVQ","name":"300 dolares key"}}},{"parameters":{"projectId":{"__rl":true,"value":"facture-proyecto","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleVertex","typeVersion":1,"position":[-3152,1072],"id":"99476bff-c08e-4912-9bb8-9cad31082a8f","name":"Google Vertex Chat Model1","credentials":{"googleApi":{"id":"adt9Q944AnK3u4WH","name":"Google Service Account account"}}},{"parameters":{"projectId":{"__rl":true,"value":"facture-proyecto","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleVertex","typeVersion":1,"position":[-3136,544],"id":"1145eff9-27b7-4b6b-9d67-4640a5f8858f","name":"Google Vertex Chat Model2","credentials":{"googleApi":{"id":"adt9Q944AnK3u4WH","name":"Google Service Account account"}}},{"parameters":{"projectId":{"__rl":true,"value":"facture-proyecto","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleVertex","typeVersion":1,"position":[-3104,2912],"id":"16158af1-6ea0-4a46-b036-319a1ec14c59","name":"Google Vertex Chat Model","credentials":{"googleApi":{"id":"adt9Q944AnK3u4WH","name":"Google Service Account account"}}},{"parameters":{"operation":"get","propertyName":"activeAgent","key":"=activeAgent_{{ $json.sessionId }}","options":{}},"id":"e90c15e8-62d0-4431-a3e4-6c585e0b2490","name":"Redis GET Agente Activo","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4720,2064],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}}],"connections":{"Supabase Vector Store2":{"ai_tool":[[{"node":"Agente Soporte","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Conocimiento Ventas","type":"ai_embedding","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"Agente Pagos","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Supabase Vector Store3":{"ai_tool":[[{"node":"Agente Hardware","type":"ai_tool","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store3","type":"ai_embedding","index":0}]]},"Supabase Vector Store4":{"ai_tool":[[{"node":"Agente Marketing","type":"ai_tool","index":0}]]},"Embeddings OpenAI4":{"ai_embedding":[[{"node":"Supabase Vector Store4","type":"ai_embedding","index":0}]]},"Supabase Vector Store5":{"ai_tool":[[{"node":"Agente Escalamiento","type":"ai_tool","index":0}]]},"Embeddings OpenAI5":{"ai_embedding":[[{"node":"Supabase Vector Store5","type":"ai_embedding","index":0}]]},"Clasificador Completo":{"main":[[{"node":"Mapeo1","type":"main","index":0}]]},"OpenAI Model Clasificador":{"ai_languageModel":[[{"node":"Clasificador Completo","type":"ai_languageModel","index":0}]]},"Router de Intenciones":{"main":[[{"node":"Agente Soporte","type":"main","index":0}],[{"node":"Agente Ventas","type":"main","index":0}],[{"node":"Agente Pagos","type":"main","index":0}],[{"node":"Agente Hardware","type":"main","index":0}],[{"node":"Agente Marketing","type":"main","index":0}],[{"node":"Agente Escalamiento","type":"main","index":0}],[{"node":"Agente Saludos","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Ventas","type":"ai_memory","index":0}]]},"Conocimiento Ventas":{"ai_tool":[[{"node":"Agente Ventas","type":"ai_tool","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"Agente Saludos","type":"ai_memory","index":0}]]},"Redis Chat Memory2":{"ai_memory":[[{"node":"Agente Soporte","type":"ai_memory","index":0}]]},"Redis Chat Memory3":{"ai_memory":[[{"node":"Agente Pagos","type":"ai_memory","index":0}]]},"Redis Chat Memory4":{"ai_memory":[[{"node":"Agente Hardware","type":"ai_memory","index":0}]]},"Redis Chat Memory5":{"ai_memory":[[{"node":"Agente Marketing","type":"ai_memory","index":0}]]},"Redis Chat Memory6":{"ai_memory":[[{"node":"Agente Escalamiento","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[]]},"Leer Sesion Activa":{"main":[[{"node":"Redis GET Agente Activo","type":"main","index":0}]]},"Mapeo":{"main":[[{"node":"Clasificador Completo","type":"main","index":0}]]},"Mapeo1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Router de Intenciones","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agente Pagos","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Agente Hardware","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model5":{"ai_languageModel":[[{"node":"Agente Marketing","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model6":{"ai_languageModel":[[{"node":"Agente Escalamiento","type":"ai_languageModel","index":0}]]},"Google Vertex Chat Model1":{"ai_languageModel":[[{"node":"Agente Ventas","type":"ai_languageModel","index":0}]]},"Google Vertex Chat Model2":{"ai_languageModel":[[{"node":"Agente Soporte","type":"ai_languageModel","index":0}]]},"Google Vertex Chat Model":{"ai_languageModel":[[{"node":"Agente Saludos","type":"ai_languageModel","index":0}]]},"Redis GET Agente Activo":{"main":[[{"node":"Mapeo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":{"global":{"activeAgent_f71535a2-a953-4d7e-875e-e67322a09cde":"hardware","activeAgent_e81686c7-642a-49bc-931b-006211082abf":"ventas","activeAgent_8f53888a-5905-47d1-87b1-66f68dbfa33f":"marketing"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"718dd544-2ce4-4f6e-9558-56ec19382f91","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-18T05:34:15.596Z","createdAt":"2026-04-18T05:34:15.596Z","role":"workflow:owner","workflowId":"JX2A70JRGw2NaacX","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}