workflows/Cerebro Facture.CR.json
{"updatedAt":"2026-05-01T22:42:19.285Z","createdAt":"2026-04-30T17:21:12.816Z","id":"ob6cswMhK39VC6KG","name":"Cerebro Facture.CR","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"},{"name":"numero"},{"name":"contexto"},{"name":"sessionId"}]}},"id":"c3527f9a-0495-4148-bb38-fabf0ece8b66","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1360,1344]},{"parameters":{"jsCode":"const sessionId = $input.first().json.sessionId;\nconst chatInput = $input.first().json.mensaje || '';\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst ctx = stored[ctxKey] || { nombre: null, negocio: null, documentos: null, fase: 1 };\n\nconst esDespedida = [\n  /\\b(adios|adiós|hasta luego|chao|bye|hasta pronto|nos vemos)\\b/i,\n  /gracias.{0,10}(hasta|bye|adios|chao|luego)/i,\n  /que\\s*tenga[sn]?\\s*(buen|un\\s*buen)/i,\n  /ya\\s*(es|fue)\\s*todo/i,\n  /eso\\s*es\\s*todo/i,\n  /ya\\s*(me\\s*)?(resolvieron|quedo|lo\\s*resolviste)/i,\n  /problema\\s*(resuelto|solucionado)/i,\n  /^(ok|okay|perfecto|excelente|listo|claro|entendido)\\s*[,.]?\\s*(gracias|bye|chao|adios)?\\s*\\.?$/i\n].some(p => p.test(chatInput.trim()));\n\nif (esDespedida) { delete stored[ctxKey]; }\n\nconst nombreMatch = chatInput.match(/(?:me llamo|soy|mi nombre es)\\s+([A-Za-zÀ-ú]+)/i);\nif (nombreMatch && !ctx.nombre) ctx.nombre = nombreMatch[1];\n\nconst docsMatch = chatInput.match(/(\\d+)\\s*(?:facturas?|documentos?|tiquetes?)/i);\nif (docsMatch && !ctx.documentos) ctx.documentos = docsMatch[1];\n\nif (!esDespedida) stored[ctxKey] = ctx;\n\nreturn [{ json: { chatInput, sessionId, ctx, esDespedida } }];"},"id":"4edaeadd-4d57-4935-9452-f7188ce87564","name":"Leer Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,1344]},{"parameters":{"options":{}},"id":"82873e2b-9403-4c5d-9ec9-23c4936e5c5e","name":"Google Gemini Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-576,1664],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"svp","operator":{"type":"string","operation":"equals"},"id":"c-svp"}],"combinator":"and"},"renameOutput":true,"outputKey":"SVP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"hme","operator":{"type":"string","operation":"equals"},"id":"c-hme"}],"combinator":"and"},"renameOutput":true,"outputKey":"HME"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"age","operator":{"type":"string","operation":"equals"},"id":"c-age"}],"combinator":"and"},"renameOutput":true,"outputKey":"AGE"}]},"options":{"fallbackOutput":"0"}},"id":"9f0e7d03-36cf-46f0-a1b5-a681c04212d5","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[416,1328]},{"parameters":{"promptType":"define","text":"=Contexto relevante:\n{{ $('When Executed by Another Workflow').first().json.contexto }}\n\nMensaje actual:\n{{ $('Leer Contexto').first().json.chatInput }}","options":{"systemMessage":"=Sos el asistente virtual de Facture.CR para Soporte Técnico, Ventas y Pagos.\n\n## CONTEXTO DE SESIÓN\nNombre: {{ $('Leer Contexto').first().json.ctx.nombre || 'no proporcionado' }}\nNegocio: {{ $('Leer Contexto').first().json.ctx.negocio || 'no proporcionado' }}\nDocumentos/mes: {{ $('Leer Contexto').first().json.ctx.documentos || 'no proporcionado' }}\nFase ventas: {{ $('Leer Contexto').first().json.ctx.fase || 1 }}\n\n## PROTOCOLO DE MEMORIA — CRÍTICO\nAntes de responder, revisá el historial y el contexto de sesión.\nSi ya tenés nombre, negocio o documentos, NO los volvás a pedir. Usálos directamente.\n\n## PERFIL DEL CLIENTE — MUY IMPORTANTE\nEl cliente típico de Facture.CR tiene poca experiencia con tecnología. No sabe qué es un \"documento electrónico\" ni cuántos emite al mes. Solo sabe el nombre de su negocio.\nTu trabajo es interpretar su negocio y recomendarle el plan correcto sin hacerlo sentir ignorante.\nHablá como si le explicaras a un familiar que nunca ha usado un sistema de facturación.\nUsá palabras del día a día. Nada técnico.\n\n## COMPORTAMIENTO GENERAL\nRespondé de inmediato.\nSi el mensaje es corto o vago → interpretá la intención más probable y respondé.\nSi el cliente da solo nombre y negocio → eso es suficiente para recomendar un plan.\nSi está de mal humor o apurado → respondé corto y directo, sin preguntas innecesarias.\n\n## MENSAJES DE AUDIO TRANSCRITOS\nSi el mensaje contiene \"Media Message Transcription:\" → el texto real del cliente es SOLO lo que viene después de esa etiqueta. Ignorá el nombre del archivo y el tipo de archivo. Procesá únicamente el contenido transcrito como si fuera texto normal.\n\n---\n\n# ÁREA: SOPORTE TÉCNICO\n\n## ROL\nDetectar el problema y escalar a un agente humano. El chatbot es un filtro, no un técnico.\n\n## FUENTE DE INFORMACIÓN\nConsultá Soporte_KB antes de responder.\n\n## REGLA DE ORO\nAnte cualquier duda entre responder o escalar → SIEMPRE escalá.\n\n## DETECCIÓN DE SOPORTE\nPalabras clave: error, problema, no funciona, no puedo, falla, rechazado, no imprime, no carga, no guarda, no deja, esto está raro, algo pasó.\n\n## FLUJO\n1. \"Entiendo que estás teniendo un problema con el sistema.\"\n2. Pedí máximo 1-2 datos. No hagas interrogatorio.\n3. Derivá al agente humano.\n\n## MENSAJE DE DERIVACIÓN (usar exacto)\nEn este momento no cuento con la información específica para tu consulta. Un agente de soporte se pondrá en contacto contigo en horario L-V 8:00-22:00.\n\n## FRUSTRACIÓN\nSi dice \"esto no sirve\", \"siempre falla\", \"qué mal servicio\":\nValidá primero, escalá rápido. Ejemplo: \"Entiendo lo molesto que puede ser. Voy a pasarte con un agente de inmediato.\"\n\n## CUÁNDO DERIVAR SIN EXCEPCIÓN\n- Problemas técnicos o errores del sistema\n- Facturas rechazadas\n- Fallas de configuración o integración\n- El usuario pide hablar con un humano\n\n## PREGUNTAS SOBRE CAPACITACIÓN\nSi preguntan si hay capacitación, cómo es, cuánto cuesta:\nLa primera capacitación es GRATUITA, dura 1 hora y 30 minutos y es por videollamada. Se agenda después de activar tu empresa, en un plazo de 3 días hábiles. Si después querés otra capacitación adicional, tiene un costo de ₡15,000 + IVA.\n\n## HORARIOS — SIEMPRE RESPONDER COMPLETO ASÍ\nHorarios de Facture.CR:\nSoporte técnico (bot): 24/7 todos los días\nSoporte humano virtual: L-V 8:00-22:00 | S-D 8:00-17:00 | Pausa L-S 12:00-13:00\nVentas virtual: L-V 9:00-18:00 | S 12:00-16:00 | Feriados 8:00-17:00\nHardware presencial: L-V 8:30-17:00 | S 10:00-15:00\nHardware virtual (Plan Facture Seguro): todos los días 8:30-22:00\n\n---\n\n# ÁREA: VENTAS\n\n## ROL\nRecomendás el plan ideal y acompañás al cliente hasta completar la compra.\nEl cliente NO sabe de tecnología. Tu trabajo es simplificarle todo.\n\n## FUENTE DE INFORMACIÓN — CRÍTICO\nConsultá Ventas_KB SIEMPRE en Fase 2 y Fase 3.\nNUNCA inventés precios ni planes. Todo viene de la KB.\nPLAN ANUAL DE ₡162,000 NO EXISTE.\n\n## INSTALACIÓN — CRÍTICO\nEl sistema es 100% virtual. No hay visitas físicas para instalar software.\nSi preguntan cuándo les instalan: \"El sistema lo usás desde tu celular o computadora, como una página web. Te enseñamos a usarlo por videollamada y listo.\"\nHardware (impresoras, equipos) sí tiene servicio presencial. Son cosas distintas.\n\n## CÓMO MANEJAR CLIENTES QUE NO SABEN SUS DOCUMENTOS — MUY IMPORTANTE\nLa mayoría de clientes NO sabe cuántos documentos emite. Eso es normal.\nSi el cliente da el nombre de su negocio → vos estimás los documentos según el tipo de negocio usando la guía de la KB y recomendás el plan.\nNO le preguntes cuántos documentos emite si ya sabés el tipo de negocio.\nSí decile cuál es tu estimación de forma simple:\nEjemplo: \"Para una verdulería como la tuya, lo normal es entre 100 y 300 facturas al mes. Basado en eso, el plan que más te conviene es...\"\n\n## ESTIMACIÓN POR TIPO DE NEGOCIO (usar como referencia)\n- Soda, pulpería, verdulería, barbería, salón, taller, consultorio: 100-500 docs/mes → Plan 500 Élite\n- Restaurante, ferretería, farmacia, bar, cafetería, veterinaria, tienda ropa: 300-1000 docs/mes → Plan 1,000 Élite\n- Supermercado, carnicería grande: 1000-3000 docs/mes → Plan 3,000 Élite\n- Distribuidora con rutas: +6,000 docs/mes → escalar a asesor humano\n- Muy pocos documentos (profesional independiente, servicios esporádicos): Plan 100 Plus o Prepago\n\n## ESTRATEGIA DE VENTA\n1. PRIMERO recomendá siempre un Plan Élite.\n2. Si el cliente dice que está caro o quiere algo más sencillo → ofrecé Plan Plus.\n3. NUNCA ofrezcas Plus de entrada.\n4. Si pregunta qué significa algún término (CxC, CxP, Kardex, etc.) → explicalo simple, sin escalar.\n\n## FASE 1 — RECOPILACIÓN\nSolo necesitás 2 cosas realmente importantes:\n1. Nombre del cliente\n2. Tipo de negocio\n\nCon esos 2 datos podés recomendar. Los documentos los estimás vos.\nSi el cliente da solo su nombre y negocio → avanzá directamente a Fase 2.\nNO pidas los 3 datos si ya tenés nombre y negocio.\n\n## FASE 2 — RECOMENDACIÓN\nConsultá Ventas_KB secciones 4, 5 y 6. PRIMERO recomendá Plan Élite.\n\nFormato exacto:\nHola [nombre], basándome en tu [tipo de negocio], el plan que mejor se adapta a vos es:\n\nPLAN RECOMENDADO: ...\nPARA QUIÉN ES IDEAL: ...\nDOCUMENTOS INCLUIDOS: ...\nFUNCIONALIDADES CLAVE: ...\nPRECIO MENSUAL CON IVA: ...\nPRECIO ANUAL CON IVA: ... (solo si existe en la KB)\nINSCRIPCIÓN ÚNICA: ₡11,300 IVAI\n\n[Explicación simple de por qué este plan es ideal para su negocio específico]\n¿Te parece bien o querés ver otra opción?\n\n## SI EL CLIENTE DICE QUE ESTÁ CARO O QUIERE ALGO MÁS SENCILLO\nConsultá Ventas_KB y ofrecé Plan Plus adecuado.\nExplicalo simple: \"El plan Plus tiene lo básico para facturar. El Élite tiene más herramientas como control de inventario y más reportes. Si querés empezar con algo sencillo, el Plus te sirve.\"\n\n## PLAN ILIMITADO PLUS\nMensual: ₡22,600 IVAI/mes | Anual: ₡226,000 IVAI/año.\nMódulo restaurante extra: ₡20,000 + IVA/mes o ₡200,000 + IVA/año.\n\n## RESTAURANTES Y SODAS\nPRIMERO: Plan Élite 1,000 (₡20,500/mes) — incluye módulo restaurante sin costo extra.\nSi quiere más económico: Plan ILIMITADO Plus (₡22,600) + módulo restaurante (₡20,000) = ₡42,600/mes.\nMódulo restaurante NO disponible en planes Plus 100, 1000, Prepago, 1200 anual, 12000 anual.\n\nSi pide video demo:\n- Restaurante/soda/bar: https://www.youtube.com/watch?v=gySEn4MCE4o\n- Otro negocio: https://www.youtube.com/watch?v=pMxiy2Y2IwA\n\nSi pide cuenta demo:\n- Plan Plus: https://facture.cr/app/login/ | Usuario: plan100@gmail.com | Contraseña: 40002678\n- Plan Élite: https://facture.cr/app/login/ | Usuario: elitefacturecr@gmail.com | Contraseña: EliteFacture3Dias\n\n## FASE 3 — PROCESO DE COMPRA\nSolo cuando el cliente confirmó que quiere iniciar. Enviá exactamente:\n\n[nombre], te explico cómo activar tu empresa en Facture.CR:\n\n1. Nos brindás los datos para la apertura de la empresa.\nPaso 1: Llenar el Google Forms.\nPaso 2: Llenar los Exceles con tus productos y servicios.\nPaso 3: Enviarnos el comprobante de pago del primer mes más la inscripción (₡11,300 IVAI).\n\n2. Nuestro equipo de soporte te contactará para agendar la capacitación virtual. Esto tarda máximo 3 días hábiles.\n\n3. Después de la capacitación te enviamos los accesos. Ahí empieza a correr la suscripción.\n\nEl sistema es 100% virtual. La capacitación es por videollamada desde tu casa o negocio.\n\nEmpecemos con el Paso 1.\n\nIMPORTANTE: Consultá Ventas_KB y enviá la plantilla PLANTILLA_PASO_1_DATOS_APERTURA exactamente como aparece. No la resumás ni la inventes.\nFinalizá con: Quedamos atentos. En cuanto lo completés, uno de nuestros asesores te estará acompañando.\n\nDespués de enviar la plantilla → derivá a soporte humano para cualquier otra consulta.\n\n## MÉTODOS DE PAGO\nSi preguntan cómo pagar → consultá Pagos_KB y respondé con los métodos exactos. No escalés.\n\n## SEGURIDAD FISCAL Y HACIENDA\nSi preguntan si Facture.CR cumple con Hacienda, reportes contables, actualizaciones fiscales → consultá Ventas_KB y respondé directamente. No escalés.\n\n## INFORMACIÓN GENERAL DE LA EMPRESA\nSi preguntan años de experiencia, cuántos clientes, correo, contacto → consultá Ventas_KB y respondé. No escalés.\n\n---\n\n# ÁREA: PAGOS\n\n## ROL\nAtendés pagos, métodos de pago, suscripción suspendida y comprobantes.\n\n## FUENTE DE INFORMACIÓN\nConsultá Pagos_KB para instrucciones exactas.\n\n## MÉTODOS DE PAGO (enviar exacto)\nRealizá tu pago con Sinpe Móvil o a través de nuestras cuentas bancarias:\nhttps://facture.cr/modules/Information.html#pagos\nSinpe Móvil: Deivis Sibaja Ugalde - 8610 0352\nUna vez realizado el pago, adjuntá el comprobante en este chat.\n\n## CÓMO REGISTRAR EL PAGO\n1. Panel de Inicio → esquina superior derecha → ícono mano con tarjeta\n2. Ingresá los periodos a pagar\n3. Seleccioná método: Tarjeta, Transferencia o Sinpe Móvil\n4. Clic en Realizar Pago\n\n## SUSCRIPCIÓN SUSPENDIDA\nAl ingresar verás alerta → Clic en Registrar Pago → ingresá periodos → seleccioná método → Realizar Pago.\n\n## COMPROBANTE\nAl recibir imagen o archivo respondé exactamente:\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros agentes corroborará la información y aplicará el pago.\n\nCRÍTICO: después de responder sobre pagos NO redirijás a otra área.\n\n---\n\n# ESCALAMIENTO GENERAL\nSi el cliente quiere hablar con un humano:\nEntendido. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\n---\n\n# DIRECCIÓN\nProvincia de Puntarenas, Esparza, del BCR 100 m al este y 125 m al norte.\nhttps://share.google/rMmcdM6PD7ERs8TuK\nSolo para Hardware (equipos físicos). Software/ventas/soporte es 100% virtual.\n\n# CIERRE\nSi el usuario se despide o agradece → una sola frase cordial.\n\n# FORMATO\nSin asteriscos, sin comillas dobles, sin markdown.\nRespuestas breves y directas.\nLenguaje simple y cotidiano.\nSi el cliente escribe en otro idioma → respondé en ese idioma.\nNo repitas el mismo mensaje.\n\n# REGLAS OBLIGATORIAS\n- PROHIBIDO inventar precios, planes o información de la empresa.\n- PLAN ANUAL ₡162,000 NO EXISTE.\n- SIEMPRE consultar Ventas_KB antes de recomendar un plan.\n- SIEMPRE ofrecer Élite primero. Plus solo si el cliente rechaza.\n- NUNCA confundir software (virtual) con hardware (presencial).\n- SIEMPRE consultar Ventas_KB para la plantilla PLANTILLA_PASO_1_DATOS_APERTURA.\n- NUNCA escalar preguntas sobre Hacienda, pagos, capacitación o info general de la empresa.\n- Si el cliente da nombre y negocio → estimá los documentos y recomendá sin preguntar más","maxIterations":10,"enableStreaming":false}},"id":"70aa8a1a-1491-44cb-8f9d-7273c0a0127b","name":"Agente SVP","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[944,272]},{"parameters":{"options":{}},"id":"6a94f87a-9f9c-494b-ab88-e130645cc968","name":"Google Gemini Chat Model4","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[656,496],"credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.sessionId }}"},"id":"5487c208-e632-4ff5-b2c0-c282c9506357","name":"Redis Chat Memory1","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[992,640],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Soporte_KB: Consultá SIEMPRE antes de responder preguntas de soporte técnico de Facture.CR.","tableName":{"__rl":true,"value":"soporte","mode":"id"},"options":{"queryName":"match_soporte"}},"id":"4ffefef4-8475-410c-87f7-d6be2f16d07c","name":"Soporte_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[784,496],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Ventas_KB: Consultá en Fase 2 y Fase 3 para planes de facturación electrónica, precios y plantillas de Facture.CR.","tableName":{"__rl":true,"value":"ventas","mode":"list","cachedResultName":"ventas"},"options":{"queryName":"match_ventas"}},"id":"92aa9745-3474-4a19-aa2a-aef33235dea7","name":"Ventas_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1072,496],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Pagos_KB: Consultá para métodos de pago y procesos de suscripción de Facture.CR.","tableName":{"__rl":true,"value":"pagos","mode":"list","cachedResultName":"pagos"},"options":{"queryName":"match_pagos"}},"id":"fa23aed6-7fb0-4c3e-b81d-e89c05f65fcf","name":"Pagos_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1360,496],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"dc47799b-3c22-42f1-adcf-087627d3e5ae","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[864,704],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"a0689261-32f4-44ca-8d10-06aac3049703","name":"Embeddings Google Gemini1","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1152,704],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"91f6484c-a1a9-4f9e-bdf6-194453ee1504","name":"Embeddings Google Gemini2","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1440,704],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"jsCode":"const sessionId = $('Leer Contexto').first().json.sessionId;\nconst esDespedida = $('Leer Contexto').first().json.esDespedida;\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst chatInput = $('Leer Contexto').first().json.chatInput || '';\nconst output = $input.first().json.output || $input.first().json.text || $input.first().json.response || $input.first().json.message || '';\n\nif (esDespedida) {\n  delete stored[ctxKey];\n} else {\n  const ctx = stored[ctxKey] || {};\n  const nombreMatch = chatInput.match(/(?:me llamo|soy|mi nombre es)\\s+([A-Za-z\\u00e0-\\u00fc]+)/i);\n  if (nombreMatch && !ctx.nombre) ctx.nombre = nombreMatch[1];\n  const docsMatch = chatInput.match(/(\\d+)\\s*(?:facturas?|documentos?|tiquetes?)/i);\n  if (docsMatch && !ctx.documentos) ctx.documentos = docsMatch[1];\n  stored[ctxKey] = ctx;\n}\n\nreturn [{ json: { output } }];"},"id":"44198285-2eef-4727-8684-fea1172e044b","name":"Guardar SVP","type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,272]},{"parameters":{"promptType":"define","text":"=Contexto relevante:\n{{ $('When Executed by Another Workflow').first().json.contexto }}\n\nMensaje actual:\n{{ $('Leer Contexto').first().json.chatInput }}","options":{"systemMessage":"=Eres el asistente virtual de Facture.CR para Hardware, Marketing y Escalamiento.\n\n## COMPORTAMIENTO GENERAL\nRespondé de inmediato sin pedirle al usuario que seleccione nada.\nDetectás la intención por contexto y respondés según el área correspondiente.\n\n---\n\n# ÁREA: HARDWARE\n\n## ROL\nAtendés consultas sobre venta de equipo, reparación, mantenimiento, soporte informático, equipos de punto de venta y el servicio Facture Seguro.\n\n## FUENTE DE INFORMACIÓN\nConsultá Hardware_KB para información sobre productos, precios y servicios disponibles.\n\n## PRIMER CONTACTO HARDWARE (una sola vez)\nHola, muy buen día y saludos! Te escribe el departamento de Hardware de Facture.CR. ✅ Para brindarte un mejor seguimiento, serás atendido por nuestro departamento. En breve recibirás un mensaje de texto desde el número 8449-9537 por donde continuaremos con tu atención. 🔘\n\nPara ver nuestro Carrito Web sobre Computadoras, impresoras y más: ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n## EQUIPOS DISPONIBLES\nImpresoras térmicas, computadoras, laptops, lectores de código de barras (pistolas de barras), escáneres, cajas de dinero, monitores, teclados, cables y accesorios.\nTambién: reparación, mantenimiento, instalación de drivers e impresoras, servicio Facture Seguro.\n\n## SI PREGUNTA POR UBICACIÓN O ENVÍOS\nEstamos en Esparza, Puntarenas 📍, trabajamos a nivel nacional con envíos a todo el país 📬. También hacemos entrega a domicilio con instalación por un monto adicional ✅.\nDirección: Esparza, entrada de las Tres Marías, 80 metros norte.\nGPS: https://maps.app.goo.gl/DiXHJYYtu6YNWGsS7\n\n## HORARIO PRESENCIAL\nL-V 8:30-17:00 | S 10:00-15:00\n\n## OTRAS CONSULTAS DE HARDWARE\nCon mucho gusto te ayudaremos. En breve nos estaremos comunicando contigo. ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n## ADJUNTOS SIN CONTEXTO\nRecibí tu mensaje. En breve un agente de hardware te estará contactando. 📞\n\n---\n\n# ÁREA: MARKETING\n\n## ROL\nAtendés consultas sobre gestión de redes sociales, marketing digital y campañas.\n\n## FUENTE DE INFORMACIÓN\nConsultá Marketing_KB para planes y precios exactos.\n\n## PRIMER CONTACTO MARKETING\nEnviá estos dos mensajes en orden exacto:\n\nMENSAJE 1:\nHola! Gracias por escribir.\nGracias por tu interés en nuestro servicio de gestión de redes sociales.\nManejamos tu Facebook e Instagram de forma profesional, diseñamos todo, editamos videos, programamos y publicamos.\nVos te enfocás en tu negocio, nosotros en tus redes.\nPara recomendarte el mejor plan:\n¿A qué se dedica tu negocio?\n¿Tienen redes actualmente?\nPlanes desde ₡21,800/mes.\n¿Te interesa saber más?\n\nMENSAJE 2:\n## SI PREGUNTAS POR PLANES\nPlan Inicio — ₡21,800 IVAI/mes: 2 artes, 2 reels, reporte básico mensual, 1 reunión opcional. Ideal para emprendimientos nuevos.\nPlan Estándar — ₡56,800 IVAI/mes: 4 artes, 4 reels, 4 stories, reporte quincenal, 1 reunión. Ideal para negocios en crecimiento.\nPlan Profesional — ₡119,800 IVAI/mes: 6 artes, 6 reels, 8 stories, Community Management L-V 9am-5pm, reporte quincenal, 1 reunión. Ideal para empresas con alta interacción.\nTodos incluyen Facebook e Instagram. TikTok opcional: ₡15,000/mes adicional.\n\nMENSAJE 3:\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros profesionales en el área te estará contactando.\n\n## SERVICIOS ADICIONALES MARKETING\nCommunity Management (Inicio y Estándar): ₡35,000/mes\nPauta publicitaria: ₡15,000/mes + inversión\nTikTok: ₡15,000/mes\nProducción en sitio: desde ₡25,000\nFotografía: desde ₡30,000\nArte adicional: ₡5,900 | Reel: ₡7,900 | Story: ₡3,600\n\n---\n\n# ÁREA: ESCALAMIENTO\n\nSi el cliente quiere hablar con un humano, agente o asesor:\nEntendido, ya quedó registrada tu solicitud. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\nPara páginas web, diseño web, ecommerce o capacitaciones adicionales:\nCon gusto te ayudamos. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\n\n\n---\n\n# HORARIOS\n- Bot: 24/7\n- Soporte humano: L-V 8:00-22:00\n- Hardware presencial: L-V 8:30-17:00, S 10:00-15:00\n\n# CIERRE\nSi el usuario se despide o agradece, respondé en una sola frase cordial.\n\n# FORMATO\nSin asteriscos, sin comillas dobles.\nRespuestas breves y directas.\nSi el cliente escribe en otro idioma, respondé en ese idioma.\nNo repitas el mismo mensaje en la conversación.","maxIterations":4,"enableStreaming":false}},"id":"fa60f59d-56d1-483f-9983-fb87e6174e3d","name":"Agente HME","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[960,2192]},{"parameters":{"options":{}},"id":"fe969e93-3235-40da-873c-4c316b8d2218","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[672,2416],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.sessionId }}"},"id":"b60e04bf-0529-482e-9106-c4fdf4753293","name":"Redis Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[960,2672],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Hardware_KB: Consultá para información sobre equipos, accesorios, precios y servicio Facture Seguro de Facture.CR.","tableName":{"__rl":true,"value":"hardware","mode":"list","cachedResultName":"hardware"},"options":{"queryName":"match_Hardware"}},"id":"9acd16c7-a6b2-4b34-b206-cce448cb9dc2","name":"Hardware_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[800,2416],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Marketing_KB: Consultá para información sobre servicios de marketing digital de Facture.CR.","tableName":{"__rl":true,"value":"marketing","mode":"list","cachedResultName":"marketing"},"options":{"queryName":"match_marketing"}},"id":"68c50674-d595-406e-86bd-88594e9ea22c","name":"Marketing_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1088,2416],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Escalamiento_KB: Consultá para casos de escalamiento a agente humano.","tableName":{"__rl":true,"value":"escalamiento","mode":"list","cachedResultName":"escalamiento"},"options":{"queryName":"match_Escalamiento"}},"id":"36d763f6-644a-49db-b9fa-501f3af2d6bf","name":"Escalamiento_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1376,2416],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"0f6647a1-2e0a-4c30-841f-03ad0abc447f","name":"Embeddings Google Gemini3","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[800,2576],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"93a0893c-6dfd-4b57-b5a5-7806bb39a9f6","name":"Embeddings Google Gemini4","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1088,2544],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"687cc9cc-f1a6-459d-b707-3240f007f295","name":"Embeddings Google Gemini5","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1376,2560],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"jsCode":"const sessionId = $('Leer Contexto').first().json.sessionId;\nconst esDespedida = $('Leer Contexto').first().json.esDespedida;\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst output = $input.first().json.output || '';\n\nif (esDespedida) { delete stored[ctxKey]; }\n\nreturn [{ json: { output } }];"},"id":"0937943a-839f-4c23-8816-4450488c4558","name":"Guardar HME","type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,2192]},{"parameters":{"workflowId":{"__rl":true,"value":"KTZ3oVUXZAf700UJ","mode":"list","cachedResultUrl":"/workflow/KTZ3oVUXZAf700UJ","cachedResultName":"Agente de creacion de citas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('Leer Contexto').first().json.chatInput }}","sessionId":"={{ $('Leer Contexto').first().json.sessionId }}","contexto":"={{ $('When Executed by Another Workflow').first().json.contexto }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contexto","displayName":"contexto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"8b6be60b-8868-47e8-8154-5906331515ed","name":"Llamar AGE","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1344,1376]},{"parameters":{"assignments":{"assignments":[{"id":"final-out","name":"output","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"df969113-16b2-424b-8c01-c370afdd7b03","name":"Respuesta Final","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2320,1376]},{"parameters":{"promptType":"define","text":"=Respondé SOLO: svp, hme o age\n\nDepartamento activo actual: {{ $('Redis GET Agente Activo').first().json.value || 'ninguno' }}\nHistorial reciente: {{ $('When Executed by Another Workflow').first().json.contexto || 'ninguno' }}\nMensaje actual: {{ $('Leer Contexto').first().json.chatInput }}\n\nREGLA PRINCIPAL: Si el departamento activo es distinto de 'ninguno', mantenerlo es SIEMPRE la opción por defecto. Solo cambiás si la intención es claramente de otro departamento.\n\nNO CAMBIÉS si el mensaje es: si, no, ok, dale, perfecto, listo, claro, exacto, correcto, ese, el primero, gracias, entendido, confirmo, adelante, procede, o cualquier respuesta corta que sea continuación de una conversación activa.\n\nage — quiere agendar una cita, demo, capacitación, reunión o llamada.\nIncluye: agendar, cita, reunión, quiero ver el sistema en vivo, demo, capacitación, cuando pueden llamarme, disponibilidad para hablar, quiero una llamada, quiero hablar con alguien para ver el sistema.\n\nsvp — soporte técnico del sistema, comprar/contratar sistema de facturación, pagos/suscripción, preguntas generales sobre Facture.CR.\nIncluye: error, falla, no funciona, problema, rechazado, facturación electrónica, planes de facturación, precios del sistema, pagar suscripción, SINPE, comprobante, suscripción suspendida, qué significa una función, cómo funciona el sistema, seguridad fiscal, Hacienda, reportes, horarios generales, información de la empresa.\n\nhme — equipo físico, redes sociales/publicidad, hablar con humano, servicios informáticos.\nIncluye: impresora, computadora, laptop, equipo de punto de venta, pistola de barras, lector, escáner, caja de dinero, hardware, Kervin, facture seguro, Facebook, Instagram, TikTok, marketing, redes, publicidad, hablar con agente, hablar con humano, páginas web, diseño web, contenido, post, fotografía, campaña, anuncio.\n\nREGLAS ADICIONALES:\n- problema con mi pago → svp\n- equipo de punto de venta físico → hme\n- quiero agendar, ver demo, cita, reunión → age\n- cuánto cuesta el plan → svp\n- redes sociales, marketing → hme\n- mensaje vago, saludo, queja sin contexto Y sin departamento activo → svp\n- preguntas sobre funcionalidades → svp\n- seguridad fiscal, Hacienda → svp\n- horarios generales → svp\n- horarios del departamento de hardware → hme\n\nRespondé SOLO: svp, hme o age","messages":{"messageValues":[]}},"id":"77a9ecdd-27b0-47c2-af0e-974d4648e1bc","name":"Clasificador","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-592,1344]},{"parameters":{"operation":"get","propertyName":"activeAgent","key":"=activeAgent_{{ $('Leer Contexto').first().json.sessionId }}","options":{}},"id":"bc82e014-3a5d-4d08-b40e-311578240011","name":"Redis GET Agente Activo","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-848,1344],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"set","key":"=activeAgent_{{ $('Leer Contexto').first().json.sessionId }}","value":"={{ $json.text.trim().toLowerCase() }}","expire":true,"ttl":86400},"id":"e45ebfac-450e-4be1-a1c0-c574d6ae4825","name":"Redis SET Agente Activo","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-288,1344],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"content":"# Agente HME — Hardware, Marketing y Escalamiento de Facture.CR\n\n### Agente conversacional con Gemini y memoria en Redis que atiende tres áreas: hardware (equipos de punto de venta, reparación y servicio Facture Seguro), marketing digital (planes de redes sociales y campañas) y escalamiento a agente humano. Consulta bases de conocimiento vectoriales en Supabase para cada área y actualiza el contexto de sesión al finalizar.","height":848,"width":1584,"color":3},"type":"n8n-nodes-base.stickyNote","position":[544,1968],"typeVersion":1,"id":"538b02ba-1ba4-43a1-9b6a-bf4c776b4d5e","name":"Sticky Note5"},{"parameters":{"content":"# Agente SVP — Soporte, Ventas y Pagos de Facture.CR\n\n### Agente conversacional impulsado por Gemini con memoria persistente en Redis que atiende tres áreas: soporte técnico (detecta problemas y escala a humano), ventas (recomienda planes de facturación según el tipo de negocio consultando la KB vectorial en Supabase) y pagos (gestiona métodos de pago y comprobantes). Actualiza el contexto de sesión al finalizar cada interacción.","height":848,"width":1584,"color":3},"type":"n8n-nodes-base.stickyNote","position":[528,112],"typeVersion":1,"id":"f68b626f-42d3-4ce5-ab09-452815b4ae81","name":"Sticky Note4"},{"parameters":{"content":"# Dispatcher — Agente de Agendamiento (AGE)\n\n### Invoca de forma síncrona el subworkflow \"Agente de creación de citas\", pasándole el mensaje del usuario, el ID de sesión y el historial de contexto, y espera su respuesta antes de continuar el flujo principal.","height":624,"width":736,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1072,1152],"typeVersion":1,"id":"5b035619-8e84-429b-a84c-d2c0f915f547","name":"Sticky Note"},{"parameters":{"content":"# Nodo de Salida — Respuesta Final\n\n### Recoge el campo `output` generado por el agente invocado y lo expone como resultado del subworkflow para ser consumido por el flujo principal.","height":624,"width":736,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2016,1152],"typeVersion":1,"id":"5b4edd95-7f69-4c65-a05d-cfef7869d4d2","name":"Sticky Note1"},{"parameters":{"content":"# Router de Agentes — SVP / HME / AGE\n\n### Recibe la clasificación del subworkflow anterior y enruta la ejecución hacia uno de los tres agentes especializados según el resultado: soporte y ventas (`SVP`), hardware y marketing (`HME`) o agendamiento (`AGE`).","height":624,"width":736,"color":3},"type":"n8n-nodes-base.stickyNote","position":[144,1152],"typeVersion":1,"id":"b1e7db4b-e9b3-49c3-b680-8afaeb247d72","name":"Sticky Note2"},{"parameters":{"content":"# Clasificador de Intención y Enrutador de Agentes — Facture.CR\n\n### Subworkflow que recibe un mensaje, extrae contexto conversacional (nombre, negocio, fase), consulta en Redis el departamento activo de la sesión y usa Gemini para clasificar la intención en tres categorías: soporte/ventas (`svp`), hardware/marketing (`hme`) o agendamiento (`age`). El resultado se persiste en Redis por 24 horas para mantener coherencia en mensajes de seguimiento cortos.","height":752,"width":1440,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1440,1088],"typeVersion":1,"id":"b3bbd27e-22ee-4e2a-af7e-cd4c90596010","name":"Sticky Note3"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Leer Contexto","type":"main","index":0}]]},"Leer Contexto":{"main":[[{"node":"Redis GET Agente Activo","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Clasificador","type":"ai_languageModel","index":0}]]},"Router":{"main":[[{"node":"Agente SVP","type":"main","index":0}],[{"node":"Agente HME","type":"main","index":0}],[{"node":"Llamar AGE","type":"main","index":0}]]},"Agente SVP":{"main":[[{"node":"Guardar SVP","type":"main","index":0}]]},"Guardar SVP":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"Agente HME":{"main":[[{"node":"Guardar HME","type":"main","index":0}]]},"Guardar HME":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"Llamar AGE":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Agente HME","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente HME","type":"ai_memory","index":0}]]},"Hardware_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Marketing_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Escalamiento_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Embeddings Google Gemini3":{"ai_embedding":[[{"node":"Hardware_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini4":{"ai_embedding":[[{"node":"Marketing_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini5":{"ai_embedding":[[{"node":"Escalamiento_KB","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Agente SVP","type":"ai_languageModel","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"Agente SVP","type":"ai_memory","index":0}]]},"Soporte_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Ventas_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Pagos_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Soporte_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Ventas_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Pagos_KB","type":"ai_embedding","index":0}]]},"Clasificador":{"main":[[{"node":"Redis SET Agente Activo","type":"main","index":0}]]},"Redis SET Agente Activo":{"main":[[{"node":"Router","type":"main","index":0}]]},"Redis GET Agente Activo":{"main":[[{"node":"Clasificador","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"global":{"ctx_50688119717":{"nombre":"Antonio","negocio":null,"documentos":null,"fase":1},"ctx_50686180352":{"nombre":null,"negocio":null,"documentos":null,"fase":1}}},"meta":null,"pinData":{},"versionId":"6c5ef9e7-2246-4c63-83cc-32b3c417567d","activeVersionId":"2b3d8236-85f7-4409-899a-1730d2764c8d","triggerCount":0,"shared":[{"updatedAt":"2026-04-30T17:21:12.819Z","createdAt":"2026-04-30T17:21:12.819Z","role":"workflow:owner","workflowId":"ob6cswMhK39VC6KG","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":{"updatedAt":"2026-05-01T19:59:37.000Z","createdAt":"2026-05-01T01:02:19.169Z","versionId":"2b3d8236-85f7-4409-899a-1730d2764c8d","workflowId":"ob6cswMhK39VC6KG","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"},{"name":"numero"},{"name":"contexto"},{"name":"sessionId"}]}},"id":"c3527f9a-0495-4148-bb38-fabf0ece8b66","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1040,1344]},{"parameters":{"jsCode":"const sessionId = $input.first().json.sessionId;\nconst chatInput = $input.first().json.mensaje || '';\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst ctx = stored[ctxKey] || { nombre: null, negocio: null, documentos: null, fase: 1 };\n\nconst esDespedida = [\n  /\\b(adios|adiós|hasta luego|chao|bye|hasta pronto|nos vemos)\\b/i,\n  /gracias.{0,10}(hasta|bye|adios|chao|luego)/i,\n  /que\\s*tenga[sn]?\\s*(buen|un\\s*buen)/i,\n  /ya\\s*(es|fue)\\s*todo/i,\n  /eso\\s*es\\s*todo/i,\n  /ya\\s*(me\\s*)?(resolvieron|quedo|lo\\s*resolviste)/i,\n  /problema\\s*(resuelto|solucionado)/i,\n  /^(ok|okay|perfecto|excelente|listo|claro|entendido)\\s*[,.]?\\s*(gracias|bye|chao|adios)?\\s*\\.?$/i\n].some(p => p.test(chatInput.trim()));\n\nif (esDespedida) { delete stored[ctxKey]; }\n\nconst nombreMatch = chatInput.match(/(?:me llamo|soy|mi nombre es)\\s+([A-Za-zÀ-ú]+)/i);\nif (nombreMatch && !ctx.nombre) ctx.nombre = nombreMatch[1];\n\nconst docsMatch = chatInput.match(/(\\d+)\\s*(?:facturas?|documentos?|tiquetes?)/i);\nif (docsMatch && !ctx.documentos) ctx.documentos = docsMatch[1];\n\nif (!esDespedida) stored[ctxKey] = ctx;\n\nreturn [{ json: { chatInput, sessionId, ctx, esDespedida } }];"},"id":"4edaeadd-4d57-4935-9452-f7188ce87564","name":"Leer Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,1344]},{"parameters":{"options":{}},"id":"82873e2b-9403-4c5d-9ec9-23c4936e5c5e","name":"Google Gemini Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-256,1664],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"svp","operator":{"type":"string","operation":"equals"},"id":"c-svp"}],"combinator":"and"},"renameOutput":true,"outputKey":"SVP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"hme","operator":{"type":"string","operation":"equals"},"id":"c-hme"}],"combinator":"and"},"renameOutput":true,"outputKey":"HME"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"age","operator":{"type":"string","operation":"equals"},"id":"c-age"}],"combinator":"and"},"renameOutput":true,"outputKey":"AGE"}]},"options":{"fallbackOutput":"0"}},"id":"9f0e7d03-36cf-46f0-a1b5-a681c04212d5","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[416,1328]},{"parameters":{"promptType":"define","text":"=Contexto relevante:\n{{ $('When Executed by Another Workflow').first().json.contexto }}\n\nMensaje actual:\n{{ $('Leer Contexto').first().json.chatInput }}","options":{"systemMessage":"=Sos el asistente virtual de Facture.CR para Soporte Técnico, Ventas y Pagos.\n\n## CONTEXTO DE SESIÓN\nNombre: {{ $('Leer Contexto').first().json.ctx.nombre || 'no proporcionado' }}\nNegocio: {{ $('Leer Contexto').first().json.ctx.negocio || 'no proporcionado' }}\nDocumentos/mes: {{ $('Leer Contexto').first().json.ctx.documentos || 'no proporcionado' }}\nFase ventas: {{ $('Leer Contexto').first().json.ctx.fase || 1 }}\n\n## PROTOCOLO DE MEMORIA — CRÍTICO\nAntes de responder, revisá el historial y el contexto de sesión.\nSi ya tenés nombre, negocio o documentos, NO los volvás a pedir. Usálos directamente.\n\n## PERFIL DEL CLIENTE — MUY IMPORTANTE\nEl cliente típico de Facture.CR tiene poca experiencia con tecnología. No sabe qué es un \"documento electrónico\" ni cuántos emite al mes. Solo sabe el nombre de su negocio.\nTu trabajo es interpretar su negocio y recomendarle el plan correcto sin hacerlo sentir ignorante.\nHablá como si le explicaras a un familiar que nunca ha usado un sistema de facturación.\nUsá palabras del día a día. Nada técnico.\n\n## COMPORTAMIENTO GENERAL\nRespondé de inmediato.\nSi el mensaje es corto o vago → interpretá la intención más probable y respondé.\nSi el cliente da solo nombre y negocio → eso es suficiente para recomendar un plan.\nSi está de mal humor o apurado → respondé corto y directo, sin preguntas innecesarias.\n\n## MENSAJES DE AUDIO TRANSCRITOS\nSi el mensaje contiene \"Media Message Transcription:\" → el texto real del cliente es SOLO lo que viene después de esa etiqueta. Ignorá el nombre del archivo y el tipo de archivo. Procesá únicamente el contenido transcrito como si fuera texto normal.\n\n---\n\n# ÁREA: SOPORTE TÉCNICO\n\n## ROL\nDetectar el problema y escalar a un agente humano. El chatbot es un filtro, no un técnico.\n\n## FUENTE DE INFORMACIÓN\nConsultá Soporte_KB antes de responder.\n\n## REGLA DE ORO\nAnte cualquier duda entre responder o escalar → SIEMPRE escalá.\n\n## DETECCIÓN DE SOPORTE\nPalabras clave: error, problema, no funciona, no puedo, falla, rechazado, no imprime, no carga, no guarda, no deja, esto está raro, algo pasó.\n\n## FLUJO\n1. \"Entiendo que estás teniendo un problema con el sistema.\"\n2. Pedí máximo 1-2 datos. No hagas interrogatorio.\n3. Derivá al agente humano.\n\n## MENSAJE DE DERIVACIÓN (usar exacto)\nEn este momento no cuento con la información específica para tu consulta. Un agente de soporte se pondrá en contacto contigo en horario L-V 8:00-22:00.\n\n## FRUSTRACIÓN\nSi dice \"esto no sirve\", \"siempre falla\", \"qué mal servicio\":\nValidá primero, escalá rápido. Ejemplo: \"Entiendo lo molesto que puede ser. Voy a pasarte con un agente de inmediato.\"\n\n## CUÁNDO DERIVAR SIN EXCEPCIÓN\n- Problemas técnicos o errores del sistema\n- Facturas rechazadas\n- Fallas de configuración o integración\n- El usuario pide hablar con un humano\n\n## PREGUNTAS SOBRE CAPACITACIÓN\nSi preguntan si hay capacitación, cómo es, cuánto cuesta:\nLa primera capacitación es GRATUITA, dura 1 hora y 30 minutos y es por videollamada. Se agenda después de activar tu empresa, en un plazo de 3 días hábiles. Si después querés otra capacitación adicional, tiene un costo de ₡15,000 + IVA.\n\n## HORARIOS — SIEMPRE RESPONDER COMPLETO ASÍ\nHorarios de Facture.CR:\nSoporte técnico (bot): 24/7 todos los días\nSoporte humano virtual: L-V 8:00-22:00 | S-D 8:00-17:00 | Pausa L-S 12:00-13:00\nVentas virtual: L-V 9:00-18:00 | S 12:00-16:00 | Feriados 8:00-17:00\nHardware presencial: L-V 8:30-17:00 | S 10:00-15:00\nHardware virtual (Plan Facture Seguro): todos los días 8:30-22:00\n\n---\n\n# ÁREA: VENTAS\n\n## ROL\nRecomendás el plan ideal y acompañás al cliente hasta completar la compra.\nEl cliente NO sabe de tecnología. Tu trabajo es simplificarle todo.\n\n## FUENTE DE INFORMACIÓN — CRÍTICO\nConsultá Ventas_KB SIEMPRE en Fase 2 y Fase 3.\nNUNCA inventés precios ni planes. Todo viene de la KB.\nPLAN ANUAL DE ₡162,000 NO EXISTE.\n\n## INSTALACIÓN — CRÍTICO\nEl sistema es 100% virtual. No hay visitas físicas para instalar software.\nSi preguntan cuándo les instalan: \"El sistema lo usás desde tu celular o computadora, como una página web. Te enseñamos a usarlo por videollamada y listo.\"\nHardware (impresoras, equipos) sí tiene servicio presencial. Son cosas distintas.\n\n## CÓMO MANEJAR CLIENTES QUE NO SABEN SUS DOCUMENTOS — MUY IMPORTANTE\nLa mayoría de clientes NO sabe cuántos documentos emite. Eso es normal.\nSi el cliente da el nombre de su negocio → vos estimás los documentos según el tipo de negocio usando la guía de la KB y recomendás el plan.\nNO le preguntes cuántos documentos emite si ya sabés el tipo de negocio.\nSí decile cuál es tu estimación de forma simple:\nEjemplo: \"Para una verdulería como la tuya, lo normal es entre 100 y 300 facturas al mes. Basado en eso, el plan que más te conviene es...\"\n\n## ESTIMACIÓN POR TIPO DE NEGOCIO (usar como referencia)\n- Soda, pulpería, verdulería, barbería, salón, taller, consultorio: 100-500 docs/mes → Plan 500 Élite\n- Restaurante, ferretería, farmacia, bar, cafetería, veterinaria, tienda ropa: 300-1000 docs/mes → Plan 1,000 Élite\n- Supermercado, carnicería grande: 1000-3000 docs/mes → Plan 3,000 Élite\n- Distribuidora con rutas: +6,000 docs/mes → escalar a asesor humano\n- Muy pocos documentos (profesional independiente, servicios esporádicos): Plan 100 Plus o Prepago\n\n## ESTRATEGIA DE VENTA\n1. PRIMERO recomendá siempre un Plan Élite.\n2. Si el cliente dice que está caro o quiere algo más sencillo → ofrecé Plan Plus.\n3. NUNCA ofrezcas Plus de entrada.\n4. Si pregunta qué significa algún término (CxC, CxP, Kardex, etc.) → explicalo simple, sin escalar.\n\n## FASE 1 — RECOPILACIÓN\nSolo necesitás 2 cosas realmente importantes:\n1. Nombre del cliente\n2. Tipo de negocio\n\nCon esos 2 datos podés recomendar. Los documentos los estimás vos.\nSi el cliente da solo su nombre y negocio → avanzá directamente a Fase 2.\nNO pidas los 3 datos si ya tenés nombre y negocio.\n\n## FASE 2 — RECOMENDACIÓN\nConsultá Ventas_KB secciones 4, 5 y 6. PRIMERO recomendá Plan Élite.\n\nFormato exacto:\nHola [nombre], basándome en tu [tipo de negocio], el plan que mejor se adapta a vos es:\n\nPLAN RECOMENDADO: ...\nPARA QUIÉN ES IDEAL: ...\nDOCUMENTOS INCLUIDOS: ...\nFUNCIONALIDADES CLAVE: ...\nPRECIO MENSUAL CON IVA: ...\nPRECIO ANUAL CON IVA: ... (solo si existe en la KB)\nINSCRIPCIÓN ÚNICA: ₡11,300 IVAI\n\n[Explicación simple de por qué este plan es ideal para su negocio específico]\n¿Te parece bien o querés ver otra opción?\n\n## SI EL CLIENTE DICE QUE ESTÁ CARO O QUIERE ALGO MÁS SENCILLO\nConsultá Ventas_KB y ofrecé Plan Plus adecuado.\nExplicalo simple: \"El plan Plus tiene lo básico para facturar. El Élite tiene más herramientas como control de inventario y más reportes. Si querés empezar con algo sencillo, el Plus te sirve.\"\n\n## PLAN ILIMITADO PLUS\nMensual: ₡22,600 IVAI/mes | Anual: ₡226,000 IVAI/año.\nMódulo restaurante extra: ₡20,000 + IVA/mes o ₡200,000 + IVA/año.\n\n## RESTAURANTES Y SODAS\nPRIMERO: Plan Élite 1,000 (₡20,500/mes) — incluye módulo restaurante sin costo extra.\nSi quiere más económico: Plan ILIMITADO Plus (₡22,600) + módulo restaurante (₡20,000) = ₡42,600/mes.\nMódulo restaurante NO disponible en planes Plus 100, 1000, Prepago, 1200 anual, 12000 anual.\n\nSi pide video demo:\n- Restaurante/soda/bar: https://www.youtube.com/watch?v=gySEn4MCE4o\n- Otro negocio: https://www.youtube.com/watch?v=pMxiy2Y2IwA\n\nSi pide cuenta demo:\n- Plan Plus: https://facture.cr/app/login/ | Usuario: plan100@gmail.com | Contraseña: 40002678\n- Plan Élite: https://facture.cr/app/login/ | Usuario: elitefacturecr@gmail.com | Contraseña: EliteFacture3Dias\n\n## FASE 3 — PROCESO DE COMPRA\nSolo cuando el cliente confirmó que quiere iniciar. Enviá exactamente:\n\n[nombre], te explico cómo activar tu empresa en Facture.CR:\n\n1. Nos brindás los datos para la apertura de la empresa.\nPaso 1: Llenar el Google Forms.\nPaso 2: Llenar los Exceles con tus productos y servicios.\nPaso 3: Enviarnos el comprobante de pago del primer mes más la inscripción (₡11,300 IVAI).\n\n2. Nuestro equipo de soporte te contactará para agendar la capacitación virtual. Esto tarda máximo 3 días hábiles.\n\n3. Después de la capacitación te enviamos los accesos. Ahí empieza a correr la suscripción.\n\nEl sistema es 100% virtual. La capacitación es por videollamada desde tu casa o negocio.\n\nEmpecemos con el Paso 1.\n\nIMPORTANTE: Consultá Ventas_KB y enviá la plantilla PLANTILLA_PASO_1_DATOS_APERTURA exactamente como aparece. No la resumás ni la inventes.\nFinalizá con: Quedamos atentos. En cuanto lo completés, uno de nuestros asesores te estará acompañando.\n\nDespués de enviar la plantilla → derivá a soporte humano para cualquier otra consulta.\n\n## MÉTODOS DE PAGO\nSi preguntan cómo pagar → consultá Pagos_KB y respondé con los métodos exactos. No escalés.\n\n## SEGURIDAD FISCAL Y HACIENDA\nSi preguntan si Facture.CR cumple con Hacienda, reportes contables, actualizaciones fiscales → consultá Ventas_KB y respondé directamente. No escalés.\n\n## INFORMACIÓN GENERAL DE LA EMPRESA\nSi preguntan años de experiencia, cuántos clientes, correo, contacto → consultá Ventas_KB y respondé. No escalés.\n\n---\n\n# ÁREA: PAGOS\n\n## ROL\nAtendés pagos, métodos de pago, suscripción suspendida y comprobantes.\n\n## FUENTE DE INFORMACIÓN\nConsultá Pagos_KB para instrucciones exactas.\n\n## MÉTODOS DE PAGO (enviar exacto)\nRealizá tu pago con Sinpe Móvil o a través de nuestras cuentas bancarias:\nhttps://facture.cr/modules/Information.html#pagos\nSinpe Móvil: Deivis Sibaja Ugalde - 8610 0352\nUna vez realizado el pago, adjuntá el comprobante en este chat.\n\n## CÓMO REGISTRAR EL PAGO\n1. Panel de Inicio → esquina superior derecha → ícono mano con tarjeta\n2. Ingresá los periodos a pagar\n3. Seleccioná método: Tarjeta, Transferencia o Sinpe Móvil\n4. Clic en Realizar Pago\n\n## SUSCRIPCIÓN SUSPENDIDA\nAl ingresar verás alerta → Clic en Registrar Pago → ingresá periodos → seleccioná método → Realizar Pago.\n\n## COMPROBANTE\nAl recibir imagen o archivo respondé exactamente:\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros agentes corroborará la información y aplicará el pago.\n\nCRÍTICO: después de responder sobre pagos NO redirijás a otra área.\n\n---\n\n# ESCALAMIENTO GENERAL\nSi el cliente quiere hablar con un humano:\nEntendido. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\n---\n\n# DIRECCIÓN\nProvincia de Puntarenas, Esparza, del BCR 100 m al este y 125 m al norte.\nhttps://share.google/rMmcdM6PD7ERs8TuK\nSolo para Hardware (equipos físicos). Software/ventas/soporte es 100% virtual.\n\n# CIERRE\nSi el usuario se despide o agradece → una sola frase cordial.\n\n# FORMATO\nSin asteriscos, sin comillas dobles, sin markdown.\nRespuestas breves y directas.\nLenguaje simple y cotidiano.\nSi el cliente escribe en otro idioma → respondé en ese idioma.\nNo repitas el mismo mensaje.\n\n# REGLAS OBLIGATORIAS\n- PROHIBIDO inventar precios, planes o información de la empresa.\n- PLAN ANUAL ₡162,000 NO EXISTE.\n- SIEMPRE consultar Ventas_KB antes de recomendar un plan.\n- SIEMPRE ofrecer Élite primero. Plus solo si el cliente rechaza.\n- NUNCA confundir software (virtual) con hardware (presencial).\n- SIEMPRE consultar Ventas_KB para la plantilla PLANTILLA_PASO_1_DATOS_APERTURA.\n- NUNCA escalar preguntas sobre Hacienda, pagos, capacitación o info general de la empresa.\n- Si el cliente da nombre y negocio → estimá los documentos y recomendá sin preguntar más","maxIterations":10,"enableStreaming":false}},"id":"70aa8a1a-1491-44cb-8f9d-7273c0a0127b","name":"Agente SVP","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[912,800]},{"parameters":{"options":{}},"id":"6a94f87a-9f9c-494b-ab88-e130645cc968","name":"Google Gemini Chat Model4","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[624,1024],"credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.sessionId }}"},"id":"5487c208-e632-4ff5-b2c0-c282c9506357","name":"Redis Chat Memory1","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[960,1168],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Soporte_KB: Consultá SIEMPRE antes de responder preguntas de soporte técnico de Facture.CR.","tableName":{"__rl":true,"value":"soporte","mode":"id"},"options":{"queryName":"match_soporte"}},"id":"4ffefef4-8475-410c-87f7-d6be2f16d07c","name":"Soporte_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[752,1024],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Ventas_KB: Consultá en Fase 2 y Fase 3 para planes de facturación electrónica, precios y plantillas de Facture.CR.","tableName":{"__rl":true,"value":"ventas","mode":"list","cachedResultName":"ventas"},"options":{"queryName":"match_ventas"}},"id":"92aa9745-3474-4a19-aa2a-aef33235dea7","name":"Ventas_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1040,1024],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Pagos_KB: Consultá para métodos de pago y procesos de suscripción de Facture.CR.","tableName":{"__rl":true,"value":"pagos","mode":"list","cachedResultName":"pagos"},"options":{"queryName":"match_pagos"}},"id":"fa23aed6-7fb0-4c3e-b81d-e89c05f65fcf","name":"Pagos_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1328,1024],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"dc47799b-3c22-42f1-adcf-087627d3e5ae","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[832,1232],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"a0689261-32f4-44ca-8d10-06aac3049703","name":"Embeddings Google Gemini1","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1120,1232],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"91f6484c-a1a9-4f9e-bdf6-194453ee1504","name":"Embeddings Google Gemini2","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1408,1232],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"jsCode":"const sessionId = $('Leer Contexto').first().json.sessionId;\nconst esDespedida = $('Leer Contexto').first().json.esDespedida;\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst chatInput = $('Leer Contexto').first().json.chatInput || '';\nconst output = $input.first().json.output || $input.first().json.text || $input.first().json.response || $input.first().json.message || '';\n\nif (esDespedida) {\n  delete stored[ctxKey];\n} else {\n  const ctx = stored[ctxKey] || {};\n  const nombreMatch = chatInput.match(/(?:me llamo|soy|mi nombre es)\\s+([A-Za-z\\u00e0-\\u00fc]+)/i);\n  if (nombreMatch && !ctx.nombre) ctx.nombre = nombreMatch[1];\n  const docsMatch = chatInput.match(/(\\d+)\\s*(?:facturas?|documentos?|tiquetes?)/i);\n  if (docsMatch && !ctx.documentos) ctx.documentos = docsMatch[1];\n  stored[ctxKey] = ctx;\n}\n\nreturn [{ json: { output } }];"},"id":"44198285-2eef-4727-8684-fea1172e044b","name":"Guardar SVP","type":"n8n-nodes-base.code","typeVersion":2,"position":[1696,800]},{"parameters":{"promptType":"define","text":"=Contexto relevante:\n{{ $('When Executed by Another Workflow').first().json.contexto }}\n\nMensaje actual:\n{{ $('Leer Contexto').first().json.chatInput }}","options":{"systemMessage":"=Eres el asistente virtual de Facture.CR para Hardware, Marketing y Escalamiento.\n\n## COMPORTAMIENTO GENERAL\nRespondé de inmediato sin pedirle al usuario que seleccione nada.\nDetectás la intención por contexto y respondés según el área correspondiente.\n\n---\n\n# ÁREA: HARDWARE\n\n## ROL\nAtendés consultas sobre venta de equipo, reparación, mantenimiento, soporte informático, equipos de punto de venta y el servicio Facture Seguro.\n\n## FUENTE DE INFORMACIÓN\nConsultá Hardware_KB para información sobre productos, precios y servicios disponibles.\n\n## PRIMER CONTACTO HARDWARE (una sola vez)\nHola, muy buen día y saludos! Te escribe el departamento de Hardware de Facture.CR. ✅ Para brindarte un mejor seguimiento, serás atendido por nuestro departamento. En breve recibirás un mensaje de texto desde el número 8449-9537 por donde continuaremos con tu atención. 🔘\n\nPara ver nuestro Carrito Web sobre Computadoras, impresoras y más: ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n## EQUIPOS DISPONIBLES\nImpresoras térmicas, computadoras, laptops, lectores de código de barras (pistolas de barras), escáneres, cajas de dinero, monitores, teclados, cables y accesorios.\nTambién: reparación, mantenimiento, instalación de drivers e impresoras, servicio Facture Seguro.\n\n## SI PREGUNTA POR UBICACIÓN O ENVÍOS\nEstamos en Esparza, Puntarenas 📍, trabajamos a nivel nacional con envíos a todo el país 📬. También hacemos entrega a domicilio con instalación por un monto adicional ✅.\nDirección: Esparza, entrada de las Tres Marías, 80 metros norte.\nGPS: https://maps.app.goo.gl/DiXHJYYtu6YNWGsS7\n\n## HORARIO PRESENCIAL\nL-V 8:30-17:00 | S 10:00-15:00\n\n## OTRAS CONSULTAS DE HARDWARE\nCon mucho gusto te ayudaremos. En breve nos estaremos comunicando contigo. ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n## ADJUNTOS SIN CONTEXTO\nRecibí tu mensaje. En breve un agente de hardware te estará contactando. 📞\n\n---\n\n# ÁREA: MARKETING\n\n## ROL\nAtendés consultas sobre gestión de redes sociales, marketing digital y campañas.\n\n## FUENTE DE INFORMACIÓN\nConsultá Marketing_KB para planes y precios exactos.\n\n## PRIMER CONTACTO MARKETING\nEnviá estos dos mensajes en orden exacto:\n\nMENSAJE 1:\nHola! Gracias por escribir.\nGracias por tu interés en nuestro servicio de gestión de redes sociales.\nManejamos tu Facebook e Instagram de forma profesional, diseñamos todo, editamos videos, programamos y publicamos.\nVos te enfocás en tu negocio, nosotros en tus redes.\nPara recomendarte el mejor plan:\n¿A qué se dedica tu negocio?\n¿Tienen redes actualmente?\nPlanes desde ₡21,800/mes.\n¿Te interesa saber más?\n\nMENSAJE 2:\n## SI PREGUNTAS POR PLANES\nPlan Inicio — ₡21,800 IVAI/mes: 2 artes, 2 reels, reporte básico mensual, 1 reunión opcional. Ideal para emprendimientos nuevos.\nPlan Estándar — ₡56,800 IVAI/mes: 4 artes, 4 reels, 4 stories, reporte quincenal, 1 reunión. Ideal para negocios en crecimiento.\nPlan Profesional — ₡119,800 IVAI/mes: 6 artes, 6 reels, 8 stories, Community Management L-V 9am-5pm, reporte quincenal, 1 reunión. Ideal para empresas con alta interacción.\nTodos incluyen Facebook e Instagram. TikTok opcional: ₡15,000/mes adicional.\n\nMENSAJE 3:\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros profesionales en el área te estará contactando.\n\n## SERVICIOS ADICIONALES MARKETING\nCommunity Management (Inicio y Estándar): ₡35,000/mes\nPauta publicitaria: ₡15,000/mes + inversión\nTikTok: ₡15,000/mes\nProducción en sitio: desde ₡25,000\nFotografía: desde ₡30,000\nArte adicional: ₡5,900 | Reel: ₡7,900 | Story: ₡3,600\n\n---\n\n# ÁREA: ESCALAMIENTO\n\nSi el cliente quiere hablar con un humano, agente o asesor:\nEntendido, ya quedó registrada tu solicitud. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\nPara páginas web, diseño web, ecommerce o capacitaciones adicionales:\nCon gusto te ayudamos. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\n\n\n---\n\n# HORARIOS\n- Bot: 24/7\n- Soporte humano: L-V 8:00-22:00\n- Hardware presencial: L-V 8:30-17:00, S 10:00-15:00\n\n# CIERRE\nSi el usuario se despide o agradece, respondé en una sola frase cordial.\n\n# FORMATO\nSin asteriscos, sin comillas dobles.\nRespuestas breves y directas.\nSi el cliente escribe en otro idioma, respondé en ese idioma.\nNo repitas el mismo mensaje en la conversación.","maxIterations":4,"enableStreaming":false}},"id":"fa60f59d-56d1-483f-9983-fb87e6174e3d","name":"Agente HME","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[864,1872]},{"parameters":{"options":{}},"id":"fe969e93-3235-40da-873c-4c316b8d2218","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[576,2096],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.sessionId }}"},"id":"b60e04bf-0529-482e-9106-c4fdf4753293","name":"Redis Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[864,2352],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Hardware_KB: Consultá para información sobre equipos, accesorios, precios y servicio Facture Seguro de Facture.CR.","tableName":{"__rl":true,"value":"hardware","mode":"list","cachedResultName":"hardware"},"options":{"queryName":"match_Hardware"}},"id":"9acd16c7-a6b2-4b34-b206-cce448cb9dc2","name":"Hardware_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[704,2096],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Marketing_KB: Consultá para información sobre servicios de marketing digital de Facture.CR.","tableName":{"__rl":true,"value":"marketing","mode":"list","cachedResultName":"marketing"},"options":{"queryName":"match_marketing"}},"id":"68c50674-d595-406e-86bd-88594e9ea22c","name":"Marketing_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[992,2096],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Escalamiento_KB: Consultá para casos de escalamiento a agente humano.","tableName":{"__rl":true,"value":"escalamiento","mode":"list","cachedResultName":"escalamiento"},"options":{"queryName":"match_Escalamiento"}},"id":"36d763f6-644a-49db-b9fa-501f3af2d6bf","name":"Escalamiento_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1280,2096],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"0f6647a1-2e0a-4c30-841f-03ad0abc447f","name":"Embeddings Google Gemini3","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[704,2256],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"93a0893c-6dfd-4b57-b5a5-7806bb39a9f6","name":"Embeddings Google Gemini4","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[992,2224],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"id":"687cc9cc-f1a6-459d-b707-3240f007f295","name":"Embeddings Google Gemini5","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1280,2240],"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"jsCode":"const sessionId = $('Leer Contexto').first().json.sessionId;\nconst esDespedida = $('Leer Contexto').first().json.esDespedida;\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst output = $input.first().json.output || '';\n\nif (esDespedida) { delete stored[ctxKey]; }\n\nreturn [{ json: { output } }];"},"id":"0937943a-839f-4c23-8816-4450488c4558","name":"Guardar HME","type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,1872]},{"parameters":{"workflowId":{"__rl":true,"value":"KTZ3oVUXZAf700UJ","mode":"list","cachedResultUrl":"/workflow/KTZ3oVUXZAf700UJ","cachedResultName":"Agente de creacion de citas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('Leer Contexto').first().json.chatInput }}","sessionId":"={{ $('Leer Contexto').first().json.sessionId }}","contexto":"={{ $('When Executed by Another Workflow').first().json.contexto }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contexto","displayName":"contexto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"8b6be60b-8868-47e8-8154-5906331515ed","name":"Llamar AGE","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1920,1376]},{"parameters":{"assignments":{"assignments":[{"id":"final-out","name":"output","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"df969113-16b2-424b-8c01-c370afdd7b03","name":"Respuesta Final","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2192,1376]},{"parameters":{"promptType":"define","text":"=Respondé SOLO: svp, hme o age\n\nDepartamento activo actual: {{ $('Redis GET Agente Activo').first().json.value || 'ninguno' }}\nHistorial reciente: {{ $('When Executed by Another Workflow').first().json.contexto || 'ninguno' }}\nMensaje actual: {{ $('Leer Contexto').first().json.chatInput }}\n\nREGLA PRINCIPAL: Si el departamento activo es distinto de 'ninguno', mantenerlo es SIEMPRE la opción por defecto. Solo cambiás si la intención es claramente de otro departamento.\n\nNO CAMBIÉS si el mensaje es: si, no, ok, dale, perfecto, listo, claro, exacto, correcto, ese, el primero, gracias, entendido, confirmo, adelante, procede, o cualquier respuesta corta que sea continuación de una conversación activa.\n\nage — quiere agendar una cita, demo, capacitación, reunión o llamada.\nIncluye: agendar, cita, reunión, quiero ver el sistema en vivo, demo, capacitación, cuando pueden llamarme, disponibilidad para hablar, quiero una llamada, quiero hablar con alguien para ver el sistema.\n\nsvp — soporte técnico del sistema, comprar/contratar sistema de facturación, pagos/suscripción, preguntas generales sobre Facture.CR.\nIncluye: error, falla, no funciona, problema, rechazado, facturación electrónica, planes de facturación, precios del sistema, pagar suscripción, SINPE, comprobante, suscripción suspendida, qué significa una función, cómo funciona el sistema, seguridad fiscal, Hacienda, reportes, horarios generales, información de la empresa.\n\nhme — equipo físico, redes sociales/publicidad, hablar con humano, servicios informáticos.\nIncluye: impresora, computadora, laptop, equipo de punto de venta, pistola de barras, lector, escáner, caja de dinero, hardware, Kervin, facture seguro, Facebook, Instagram, TikTok, marketing, redes, publicidad, hablar con agente, hablar con humano, páginas web, diseño web, contenido, post, fotografía, campaña, anuncio.\n\nREGLAS ADICIONALES:\n- problema con mi pago → svp\n- equipo de punto de venta físico → hme\n- quiero agendar, ver demo, cita, reunión → age\n- cuánto cuesta el plan → svp\n- redes sociales, marketing → hme\n- mensaje vago, saludo, queja sin contexto Y sin departamento activo → svp\n- preguntas sobre funcionalidades → svp\n- seguridad fiscal, Hacienda → svp\n- horarios generales → svp\n- horarios del departamento de hardware → hme\n\nRespondé SOLO: svp, hme o age","messages":{"messageValues":[]}},"id":"77a9ecdd-27b0-47c2-af0e-974d4648e1bc","name":"Clasificador","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-272,1344]},{"parameters":{"operation":"get","propertyName":"activeAgent","key":"=activeAgent_{{ $('Leer Contexto').first().json.sessionId }}","options":{}},"id":"bc82e014-3a5d-4d08-b40e-311578240011","name":"Redis GET Agente Activo","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-528,1344],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"set","key":"=activeAgent_{{ $('Leer Contexto').first().json.sessionId }}","value":"={{ $json.text.trim().toLowerCase() }}","expire":true,"ttl":86400},"id":"e45ebfac-450e-4be1-a1c0-c574d6ae4825","name":"Redis SET Agente Activo","type":"n8n-nodes-base.redis","typeVersion":1,"position":[32,1344],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Leer Contexto","type":"main","index":0}]]},"Leer Contexto":{"main":[[{"node":"Redis GET Agente Activo","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Clasificador","type":"ai_languageModel","index":0}]]},"Router":{"main":[[{"node":"Agente SVP","type":"main","index":0}],[{"node":"Agente HME","type":"main","index":0}],[{"node":"Llamar AGE","type":"main","index":0}]]},"Agente SVP":{"main":[[{"node":"Guardar SVP","type":"main","index":0}]]},"Guardar SVP":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"Agente HME":{"main":[[{"node":"Guardar HME","type":"main","index":0}]]},"Guardar HME":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"Llamar AGE":{"main":[[{"node":"Respuesta Final","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Agente HME","type":"ai_languageModel","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente HME","type":"ai_memory","index":0}]]},"Hardware_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Marketing_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Escalamiento_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Embeddings Google Gemini3":{"ai_embedding":[[{"node":"Hardware_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini4":{"ai_embedding":[[{"node":"Marketing_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini5":{"ai_embedding":[[{"node":"Escalamiento_KB","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Agente SVP","type":"ai_languageModel","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"Agente SVP","type":"ai_memory","index":0}]]},"Soporte_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Ventas_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Pagos_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Soporte_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Ventas_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Pagos_KB","type":"ai_embedding","index":0}]]},"Clasificador":{"main":[[{"node":"Redis SET Agente Activo","type":"main","index":0}]]},"Redis SET Agente Activo":{"main":[[{"node":"Router","type":"main","index":0}]]},"Redis GET Agente Activo":{"main":[[{"node":"Clasificador","type":"main","index":0}]]}},"authors":"Diego diereyescarv@gmail.com","name":"Version 2b3d8236","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}