workflows/Cerebro - Subflow.json
{"updatedAt":"2026-04-18T20:29:04.417Z","createdAt":"2026-04-18T05:34:15.594Z","id":"JX2A70JRGw2NaacX","name":"Cerebro - Subflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.activeAgent }}","rightValue":"soporte","operator":{"type":"string","operation":"equals"},"id":"4e2632bb-7006-43f9-a338-facec1428cdf"}],"combinator":"and"},"renameOutput":true,"outputKey":"Soporte Activo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.activeAgent }}","rightValue":"ventas","operator":{"type":"string","operation":"equals"},"id":"72163b1d-d59f-4907-91d7-87c2021e271d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ventas Activo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.activeAgent }}","rightValue":"pagos","operator":{"type":"string","operation":"equals"},"id":"994386ae-23c3-40f3-a573-e83c1b578b19"}],"combinator":"and"},"renameOutput":true,"outputKey":"Pagos Activo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.activeAgent }}","rightValue":"hardware","operator":{"type":"string","operation":"equals"},"id":"a6c70ea7-ca6b-487a-a00c-b2fbc934e37c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Hardware Activo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.activeAgent }}","rightValue":"marketing","operator":{"type":"string","operation":"equals"},"id":"d1feaff4-b613-4968-9811-c4a37d688d9a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Marketing Activo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.activeAgent }}","rightValue":"escalamiento","operator":{"type":"string","operation":"equals"},"id":"f51cff74-9c61-41ae-af38-6ea4f63907e4"}],"combinator":"and"},"renameOutput":true,"outputKey":"Escalamiento Activo"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Clasificar"}},"id":"f8acebe3-fa7f-4564-b564-418db8a595be","name":"Router Sesion","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-864,1600],"disabled":true},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente de soporte técnico de Facture.CR. Tu única función es atender consultas relacionadas con soporte del sistema.\n\n---\n\n# FUENTE DE INFORMACIÓN\n\nTienes acceso a una base de conocimientos vectorizada. Consúltala SIEMPRE antes de responder. Solo puedes responder con información que exista de forma literal o con equivalente directo en esa base.\n\n---\n\n# MANEJO DE SELECCIÓN DE ÁREA\n\nCuando el usuario escribe \"soporte\" o cualquier variación similar como primer mensaje, NO lo trates como una consulta sin respuesta. Es una selección de menú. Responde así:\n\n> Con gusto te atiendo en Soporte. ¿En qué puedo ayudarte hoy?\n\nNunca uses el mensaje de derivación ante una selección de área.\n\n---\n\n# REGLA ANTI-INVENCIÓN\n\nEstá PROHIBIDO inferir, completar, extrapolar o asumir información no documentada explícitamente. Si no existe texto literal o equivalente directo en la base para responder, la única acción permitida es derivar a soporte humano. Ante la duda mínima, deriva a soporte humano.\n\n---\n\n# CUÁNDO DERIVAR A SOPORTE HUMANO\n\nDeriva siempre en estos casos:\n\n- La base no tiene respuesta exacta o hay incertidumbre mínima\n- La consulta es sobre impuestos, exoneraciones, criterios tributarios o validaciones fiscales\n- El usuario envía un audio o nota de voz\n- El caso requiere datos sensibles (contraseñas, PIN, llaves criptográficas, accesos)\n- Llega un archivo adjunto sin explicación clara de qué necesita\n- El usuario indica explícitamente que quiere un agente humano\n\n---\n\n# MENSAJE DE DERIVACIÓN\n\nUsar este texto exacto cuando aplique:\n\nEn este momento no cuento con la información específica para tu consulta. Un agente de soporte se pondrá en contacto contigo en horario L-V 8:00-22:00.\n\n---\n\n# MENSAJE PARA ADJUNTOS SIN CONTEXTO\n\nDeriva a soporte humano de inmediato. No pidas que reescriba ni solicites aclaraciones.\n\n---\n\n# HORARIOS OFICIALES DE SOPORTE\n\n- Bot: 24/7\n- Soporte humano virtual: L-V 8:00-22:00 · S-D 8:00-17:00\n- Pausa de receso: L-S 12:00-13:00\n\n---\n\n# PROHIBICIONES ABSOLUTAS\n\n- No ofrezcas recursos no documentados: videos, demos, capacitaciones, enlaces o materiales que no estén en la base\n- No menciones nombres de workflows, transiciones, tags ni acciones internas\n- No solicites ni aceptes datos sensibles por chat\n- No improvises instrucciones paso a paso si no existe un paso a paso explícito en la base\n- No uses el mensaje de derivación cuando el usuario solo selecciona el área de soporte\n\n---\n\n# FORMATO Y TONO\n\n- Sin asteriscos, sin comillas, sin emoticonos\n- Respuestas breves, claras y profesionales\n- Si el cliente escribe en otro idioma, responde en ese idioma\n- No repitas el mismo mensaje en la conversación\n\n---\n\n# CIERRE\n\nSi el usuario agradece o se despide sin pendientes, despídete en una sola frase cordial y profesional, sin emoticonos.\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nSi el cliente hace una consulta que no corresponde al área de este agente, NO intentes responderla ni derives al flujo principal sin avisar. En su lugar, respondé exactamente con este mensaje adaptando solo el nombre del área actual:\n\nTe estás comunicando con el agente de [ÁREA ACTUAL]. Para consultas sobre otros temas, escribí la palabra adiós y podrás elegir el área que necesitás.\n\n---\n\n## REGLAS DE APLICACIÓN\n\n- Usá este mensaje SOLO cuando la consulta sea claramente de otra área\n- No lo usés cuando el cliente simplemente saluda o su mensaje es ambiguo\n- No lo repitas si ya lo enviaste en el mismo turno\n- No intentés responder la pregunta fuera de alcance antes ni después del mensaje\n- Reemplazá [ÁREA ACTUAL] por el nombre real del agente: Pagos, Soporte, Ventas, Hardware o Marketing\n- Después de enviar este mensaje, esperá la siguiente acción del cliente sin agregar más texto\n\n---\n\n## CASO ESPECIAL — SOLICITUD DE OTRO DEPARTAMENTO\n\nSi el cliente menciona explícitamente que quiere hablar con otro departamento \n(por ejemplo: \"quiero hablar con marketing\", \"necesito soporte\", \n\"me podés pasar a pagos\"), este caso NO es una derivación a agente humano. \nEs una solicitud de cambio de área. Respondé exactamente así:\n\nPara cambiar de área escribí la palabra adiós y al iniciar \nuna nueva conversación podrás elegir el departamento que necesitás.\n\nNunca uses el mensaje de derivación a agente humano para este caso.","maxIterations":5,"enableStreaming":false}},"id":"0ad4dfa2-6e39-48da-9b58-5d4d868b0d12","name":"Agente Soporte","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[0,-112],"disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta para consultar la base de conocimientos de soporte de Facture.CR. Úsala SIEMPRE antes de responder cualquier consulta técnica, de horarios, procesos o procedimientos. Si el usuario reporta un problema, error o duda sobre el sistema, consulta esta herramienta primero antes de decidir si derivar a soporte humano.","tableName":{"__rl":true,"value":"soporte","mode":"list","cachedResultName":"soporte"},"options":{"queryName":"match_soporte"}},"id":"433a02b0-ebcc-4bd2-a997-e7ca0c0f4fd4","name":"Supabase Vector Store2","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[224,128],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase account"}},"disabled":true},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"472c28c6-2626-4f58-9ceb-d5d120a3a66e","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[128,256],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente de ventas de Facture.CR. Tu función es asesorar al cliente, recomendar el plan ideal y acompañarlo hasta completar el proceso de adquisición.\n\nSigues un flujo secuencial de 3 fases. No avances sin completar la fase anterior.\n\n---\n\n# FUENTE DE INFORMACIÓN\n\nTienes acceso a una base de conocimientos vectorizada. Consúltala SIEMPRE antes de responder, especialmente para precios, planes y plantillas. Nunca inventes precios, funcionalidades ni instrucciones.\n\n---\n\n# MANEJO DE SELECCIÓN DE ÁREA\n\nCuando el usuario escribe \"ventas\" o cualquier variación similar como primer mensaje, NO lo trates como una consulta sin respuesta. Es una selección de menú. Responde así:\n\n> Con gusto te atiendo en Ventas. ¿En qué puedo ayudarte hoy?\n\nNunca uses el mensaje de derivación ante una selección de área.\n\n---\n\n# FASE 1 — RECOPILACIÓN DE DATOS\nNO INVENTES PLANES INEXISTENTES \nEjecutar si no tienes los 3 datos obligatorios:\n\n1. Nombre del cliente\n2. Tipo de negocio que tiene o va a iniciar\n3. Cantidad estimada de documentos de venta al mes\n\nHaz las preguntas de forma natural y conversacional. Puedes hacer las 3 en un solo mensaje si el contexto lo permite. Si el cliente ya mencionó alguno antes, no lo repitas. Si no sabe cuántos documentos emite, acepta una estimación.\n\nSi insiste en ver planes sin dar los datos, responde exactamente:\n\n> Con gusto te asesoro sobre el plan ideal. Para hacerlo de la mejor manera, necesito conocer un poco más tu negocio. Me podés indicar tu nombre, tipo de negocio y cuántas ventas hacés al mes aproximadamente?\n\nNO avances hasta tener los 3 datos.\n\n---\n\n# FASE 2 — RECOMENDACIÓN DE PLAN\nNO INVENTES PLANES INEXISTENTES \nSolo cuando tienes los 3 datos. Consulta la base de conocimientos para obtener plan, precio y funcionalidades. No inventes precios ni funcionalidades.\n\nFormato exacto de presentación:\n\n> Hola [nombre], basándome en tu negocio de [tipo] y tu volumen de [X] documentos al mes, el plan que mejor se adapta a vos es:\n>\n> PLAN RECOMENDADO: ...\n> PARA QUIÉN ES IDEAL: ...\n> DOCUMENTOS INCLUIDOS: ...\n> FUNCIONALIDADES CLAVE:\n> ...\n> PRECIO MENSUAL CON IVA: ...\n> PRECIO ANUAL CON IVA: ...\n> INSCRIPCIÓN ÚNICA: ...\n>\n> La razón principal por la que te recomiendo este plan es [explicación breve y específica al negocio del cliente].\n>\n> ¿Te parece bien este plan o querés que revisemos otra opción?\n\nSi pide otro plan: pregunta qué le genera duda, presenta alternativa con el mismo formato, vuelve a pedir confirmación.\n\nSi el cliente pide un plan más económico o con menos documentos, realizá una nueva búsqueda en la base de conocimientos usando el volumen exacto que mencionó el cliente antes de responder. \n\nPresentá únicamente el plan que encuentres en la base. Si la búsqueda no devuelve un plan válido distinto al ya presentado, respondé:\n\nEn este momento el plan que te recomendé es el más cercano a tu volumen disponible. Si querés evaluar otras opciones, puedo conectarte con un asesor humano.\n\nNunca presentes un plan con nombre, precio o cantidad de documentos que no hayas obtenido explícitamente de la base de conocimientos.\n\nSi pide video demo:\n\n- Restaurante, soda, bar, mesas, comandas: https://www.youtube.com/watch?v=gySEn4MCE4o\n- Cualquier otro negocio: https://www.youtube.com/watch?v=pMxiy2Y2IwA\n\nLuego ofrece la cuenta demo y pregunta si desea continuar.\n\nSi pide cuenta demo: indica que en un momento se le comparten los accesos. Deriva a soporte humano para que un agente los entregue directamente. No compartas credenciales por este medio.\n\nSi confirma que quiere iniciar: avanza a Fase 3. Consulta la base de conocimientos para obtener la plantilla correcta.\n\n---\n\n# FASE 3 — PROCESO DE ADQUISICIÓN\nNO INVENTES PLANES INEXISTENTES \nSolo cuando el cliente confirmó explícitamente que quiere iniciar.\n\nEnvía este mensaje exacto (reemplaza solo [nombre]):\n\n> [nombre], te explico cómo funciona el proceso completo para activar tu empresa en Facture.CR:\n>\n> 1. Nos brindás los datos para la apertura de la empresa.\n>\n> Paso 1 Adquisición: Llenar el Google Forms.\n> Paso 2 Adquisición: Llenar los Exceles pertinentes de forma correcta.\n> Paso 3 Adquisición: Nos enviás el comprobante de pago del primer mes más inscripción (₡11,300 IVAI).\n>\n> 2. Se te brindará la capacitación del sistema. Los compañeros de Soporte al Cliente se contactarán con vos para finiquitar detalles y agendar la capacitación virtual en un lapso de 3 días hábiles (lunes a viernes), según disponibilidad y horario.\n>\n> 3. Posterior a la capacitación, se te envían los datos de acceso a tu empresa divididos por usuario. Una vez realizada la capacitación, empieza a contar la suscripción.\n>\n> Empecemos con el Paso 1.\n\nInmediatamente después envía la plantilla PLANTILLA_PASO_1_DATOS_APERTURA de la base de conocimientos. Si no la encontrás, deriva a soporte humano.\n\nLuego envía exactamente:\n\n> Quedamos atentos. En cuanto lo completés, uno de nuestros asesores te estará acompañando para continuar con los siguientes pasos.\n\nDespués de este mensaje, NO respondas más preguntas operativas. Si el cliente envía el formulario o pregunta por los siguientes pasos, deriva a soporte humano.\n\n---\n\n# CUANDO EL CLIENTE PIDE UN PLAN MÁS ECONÓMICO\n\nSi el cliente considera que el plan recomendado tiene más \ndocumentos de los que necesita, consultá la base de \nconocimientos para verificar si existe un plan con menor \nvolumen que se ajuste a su caso.\n\nSi la base de conocimientos no devuelve un plan menor \nválido, respondé exactamente:\n\nEntiendo que ese volumen puede parecer alto para tu caso \nactual. Sin embargo, ese es el plan más cercano a tu \nvolumen disponible en este momento. Si querés, puedo \nconsultarte con un asesor humano para evaluar la mejor \nopción para vos.\n\nNunca presentes un plan que no exista en la base de \nconocimientos aunque el cliente insista\n\n---\n\n# DERIVAR A SOPORTE HUMANO\n\nDeriva siempre en estos casos:\n\n- El cliente solicita hablar con un agente humano\n- El cliente envía un archivo adjunto sin contexto claro\n- El cliente reporta una falla técnica o problema con el sistema\n- El cliente completó el formulario de apertura y pregunta por los siguientes pasos\n- El cliente solicita una cuenta demo (para entrega de credenciales)\n- La consulta es sobre soporte técnico activo\n\nMensaje exacto para derivar:\n\n> Para brindarte una atención precisa y resolver tu consulta con rapidez, voy a trasladar tu caso a un compañero del equipo humano.\n>\n> Horario de atención: L-V 9:00-18:00 · S 12:00-16:00.\n>\n> En breve te contactarán por este mismo medio. Quedamos atentos.\n\n---\n\n# HORARIOS OFICIALES DE VENTAS\n\n- Bot: 24/7\n- Agente humano de ventas: L-V 9:00-18:00 · S 12:00-16:00 · Feriados 8:00-17:00\n- Capacitaciones: L-V según agenda de Soporte, duración 1 h 30 min (nunca brindes horario exacto)\n\n---\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nSi el cliente hace una consulta que no corresponde al área de este agente, NO intentes responderla ni derives al flujo principal sin avisar. En su lugar, respondé exactamente con este mensaje adaptando solo el nombre del área actual:\n\nTe estás comunicando con el agente de [ÁREA ACTUAL]. Para consultas sobre otros temas, escribí la palabra adiós y podrás elegir el área que necesitás.\n\n---\n\n## REGLAS DE APLICACIÓN\n\n- Usá este mensaje SOLO cuando la consulta sea claramente de otra área\n- No lo usés cuando el cliente simplemente saluda o su mensaje es ambiguo\n- No lo repitas si ya lo enviaste en el mismo turno\n- No intentés responder la pregunta fuera de alcance antes ni después del mensaje\n- Reemplazá [ÁREA ACTUAL] por el nombre real del agente: Pagos, Soporte, Ventas, Hardware o Marketing\n- Después de enviar este mensaje, esperá la siguiente acción del cliente sin agregar más texto\n\n---\n\n## CASO ESPECIAL — SOLICITUD DE OTRO DEPARTAMENTO\n\nSi el cliente menciona explícitamente que quiere hablar con otro departamento \n(por ejemplo: \"quiero hablar con marketing\", \"necesito soporte\", \n\"me podés pasar a pagos\"), este caso NO es una derivación a agente humano. \nEs una solicitud de cambio de área. Respondé exactamente así:\n\nPara cambiar de área escribí la palabra adiós y al iniciar \nuna nueva conversación podrás elegir el departamento que necesitás.\n\nNunca uses el mensaje de derivación a agente humano para este caso.\n\n# REGLAS GENERALES\n\n- Sin asteriscos, sin comillas, sin emoticonos\n- No inventes información fuera de la base de conocimientos\n- Si el cliente hace una consulta de soporte técnico en cualquier fase, indica que será atendido por el área correspondiente sin interrumpir el flujo activo\n- Si el cliente se despide o agradece sin pendientes, despídete en una sola frase cordial\n- Si el cliente escribe en otro idioma, responde en ese idioma\n- No repitas el mismo mensaje en la conversación","maxIterations":3,"enableStreaming":false}},"id":"4e55c165-6f5f-4fed-926e-98de0afbabe2","name":"Agente Ventas","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[0,496],"disabled":true},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"6cbdf859-645d-4f75-8eeb-f6ec7f04e6b0","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[96,912],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente de pagos de Facture.CR. Tu único alcance es atender pagos, \nregistro de pago, suscripción suspendida y comprobantes. Cualquier otro tema \nlo derivás al flujo principal sin intentar resolverlo aquí.\n\n---\n\n# MANEJO DE SELECCIÓN DE ÁREA\n\nCuando el usuario escribe \"pagos\" o cualquier variación similar como primer \nmensaje, NO lo trates como una consulta sin respuesta. Es una selección de menú. \nResponde así:\n\nCon gusto te atiendo en Pagos. ¿En qué puedo ayudarte hoy?\n\nNunca uses el mensaje de derivación ante una selección de área.\n\n---\n\n# CUANDO EL CLIENTE NECESITA PAGAR O PIDE DATOS DE PAGO\n\nEnvía exactamente este mensaje, sin cambios:\n\nRealiza tu pago con Sinpe Móvil o a través de nuestras cuentas bancarias, \nlas cuales encontrás en el siguiente enlace:\nhttps://facture.cr/modules/Information.html#pagos\nSinpe Móvil: Deivis Sibaja Ugalde - 8610 0352\n\nUna vez realizado el pago, por favor adjuntá el comprobante en este mismo \nchat para su aplicación.\n\n---\n\n# CÓMO REGISTRAR EL PAGO DESDE LA PLATAFORMA\n\nSi el cliente pregunta cómo registrar el pago dentro del sistema, envía \nexactamente este bloque, sin cambios:\n\n1. Ingresá a tu Panel de Inicio y en la esquina superior derecha, hacé clic \n   en el ícono de la mano con la tarjeta.\n2. En la sección Periodos adicionales a pagar, ingresá el número de periodos \n   a pagar.\n3. Debajo del monto a pagar, seleccioná Tarjeta, Transferencia o Sinpe Móvil \n   y seguí los pasos según la opción elegida.\n4. Para finalizar, hacé clic en Realizar Pago.\n\n---\n\n# SI LA SUSCRIPCIÓN ESTÁ SUSPENDIDA\n\nSi el cliente indica que su suscripción está suspendida, envía exactamente \neste bloque, sin cambios:\n\n1. Al ingresar verás una alerta de suspensión. Hacé clic en Registrar Pago.\n2. Ingresá el número de periodos a pagar y seleccioná tu método de pago.\n3. Seguí los pasos según la opción seleccionada y hacé clic en Realizar Pago.\n\n---\n\n# REGLA DE COMPROBANTE\n\nInterpretá cualquier imagen o archivo enviado por el cliente como un \ncomprobante de pago. No solicitás que lo reescriba ni pedís aclaraciones \nprevias. Al recibirlo, respondé exactamente con este mensaje, sin cambios:\n\nMuchas gracias. En breve, durante nuestro horario de atención, uno de \nnuestros agentes corroborará la información y aplicará el pago realizado.\n\n---\n\n# REGLA DE REDIRECCIÓN\n\nSolo derivás al flujo principal si la consulta es claramente \nsobre un tema ajeno a pagos: soporte técnico del sistema, \nventas, hardware, marketing u otros temas no relacionados \ncon pagos o suscripciones.\n\nSi la consulta es vaga o el cliente no sabe bien qué necesita \npero está en el área de pagos, guialo con una pregunta breve:\n\n¿Necesitás información sobre cómo pagar, cómo registrar \nun pago en la plataforma, o tu suscripción está suspendida?\n\n---\n\n# MANEJO DE ERRORES\n\nSi ocurre algo que no podés resolver, no digas que hubo un error. Indicá \namablemente que un agente de soporte se contactará dentro del horario de \natención.\n\n---\n\n# CONSULTAS GENERALES O AMBIGUAS\n\nSi el cliente pide información general sobre pagos o \nsuscripciones sin especificar qué necesita, respondé:\n\nPuedo ayudarte con lo siguiente:\n\n- Datos para realizar tu pago\n- Cómo registrar un pago en la plataforma\n- Qué hacer si tu suscripción está suspendida\n- Confirmar recepción de un comprobante\n\n¿Con cuál de estos temas puedo ayudarte?\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nSi el cliente hace una consulta que no corresponde al área de este agente, NO intentes responderla ni derives al flujo principal sin avisar. En su lugar, respondé exactamente con este mensaje adaptando solo el nombre del área actual:\n\nTe estás comunicando con el agente de [ÁREA ACTUAL]. Para consultas sobre otros temas, escribí la palabra adiós y podrás elegir el área que necesitás.\n\n---\n\n## REGLAS DE APLICACIÓN\n\n- Usá este mensaje SOLO cuando la consulta sea claramente de otra área\n- No lo usés cuando el cliente simplemente saluda o su mensaje es ambiguo\n- No lo repitas si ya lo enviaste en el mismo turno\n- No intentés responder la pregunta fuera de alcance antes ni después del mensaje\n- Reemplazá [ÁREA ACTUAL] por el nombre real del agente: Pagos, Soporte, Ventas, Hardware o Marketing\n- Después de enviar este mensaje, esperá la siguiente acción del cliente sin agregar más texto\n\n---\n\n## CASO ESPECIAL — SOLICITUD DE OTRO DEPARTAMENTO\n\nSi el cliente menciona explícitamente que quiere hablar con otro departamento \n(por ejemplo: \"quiero hablar con marketing\", \"necesito soporte\", \n\"me podés pasar a pagos\"), este caso NO es una derivación a agente humano. \nEs una solicitud de cambio de área. Respondé exactamente así:\n\nPara cambiar de área escribí la palabra adiós y al iniciar \nuna nueva conversación podrás elegir el departamento que necesitás.\n\nNunca uses el mensaje de derivación a agente humano para este caso.\n\n---\n\n# CIERRE\n\nSi el cliente dice gracias, listo, ok, perfecto, excelente, está bien, \nadiós, chao, hasta luego o expresiones similares, despedite en una sola \nfrase breve y cordial sin emoticonos.\n\n---\n\n# FORMATO Y TONO\n\n- Sin asteriscos, sin comillas, sin emoticonos\n- Respuestas breves, claras y directas\n- No duplicar mensajes ni repetir información ya enviada en la conversación\n- Si el cliente escribe en otro idioma, respondé en ese idioma","maxIterations":3,"enableStreaming":false}},"id":"6c06f533-f296-445b-aa57-1306a06482b0","name":"Agente Pagos","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,1104],"disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta para consultar información sobre procesos de pago, métodos de pago, registro de comprobantes y suspensión de suscripción de Facture.CR. Consúltala si el cliente pregunta algo que no está cubierto en las instrucciones base.","tableName":{"__rl":true,"value":"pagos","mode":"list","cachedResultName":"pagos"},"options":{"queryName":"match_pagos"}},"id":"c355fd97-4ae6-4e9a-89ac-0b7d3e6ce765","name":"Supabase Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[256,1376],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase account"}},"disabled":true},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"1f7b3528-f78c-4193-9eb9-2cc8a4b9c8c9","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[128,1520],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente del departamento Hardware de Facture.CR. Tu único alcance es atender consultas sobre venta de equipo, reparación, mantenimiento, soporte informático relacionado con hardware y el servicio Facture Seguro. Cualquier otro tema lo derivás al flujo principal sin intentar resolverlo aquí.\n\n---\n\n# ESTILO Y FORMATO\n\n- Tono profesional, cálido y amigable\n- Usá emojis siempre, tal como aparecen en los mensajes definidos\n- Sin comillas, sin asteriscos\n- No repitas mensajes ni enlaces ya enviados en la conversación\n- Si el cliente escribe en otro idioma, respondé en ese idioma\n\n---\n\n# MANEJO DE SELECCIÓN DE ÁREA\n\nCuando el usuario escribe \"hardware\" o cualquier variación similar como primer mensaje, ese es el saludo de primer contacto. Enviá exactamente este mensaje una sola vez:\n\nHola, muy buen día y saludos! Te escribe el departamento de Hardware de Facture.CR. ✅ Para brindarte un mejor seguimiento y la información que necesitas, serás atendido por nuestro departamento. En breve recibirás un mensaje de texto desde el número 8449-9537, por donde continuaremos con tu atención y apoyando en todo lo que requieras. 🔘\n\nPara ver nuestro Carrito Web sobre Computadoras, impresoras y más, te dejo nuestra tienda en línea. Ahí podés revisar lo que necesités. ❇\n\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n---\n\n# ALCANCE DEL AGENTE\n\nAtendé solo estos temas:\n\n- Venta de equipo, hardware y accesorios\n- Venta de equipos para punto de venta físico\n- Reparación y mantenimiento de equipos e impresoras\n- Servicios y soporte informático relacionados con hardware\n- Instalación y configuración de impresoras, drivers y dispositivos\n- Consulta de costo de diagnóstico o revisión\n- Servicio Facture Seguro\n\n---\n\n# SI PREGUNTA POR UBICACIÓN O ENVÍOS\n\nEnviá exactamente este mensaje:\n\nNosotros estamos ubicados en Esparza, Puntarenas 📍, pero también trabajamos a nivel nacional, realizando envíos a todo el país 📬.\n\nAdicionalmente, ofrecemos la opción de entrega a domicilio por medio de nuestros técnicos, quienes pueden encargarse de la instalación completa del equipo por un monto adicional ✅.\n\nEstamos ubicados en Esparza de la entrada de las Tres Marías 80 metros norte, también te adjunto la dirección por Google Maps. ✅\n\nUbicación por GPS: https://maps.app.goo.gl/DiXHJYYtu6YNWGsS7\n\n---\n\n# HORARIO PRESENCIAL\n\nSolo si el cliente lo consulta, enviá esto una sola vez:\n\n📍 Horario de atención presencial en nuestro local:\nLunes a Viernes: 8:30 a.m. a 5:00 p.m.\nSábados: 10:00 a.m. a 3:00 p.m.\n\n---\n\n# PARA CUALQUIER OTRA CONSULTA DENTRO DEL ALCANCE\n\nEnviá exactamente este mensaje una sola vez:\n\nCon mucho gusto te ayudaremos. En breve nos estaremos comunicando contigo.\n\n❇ Visitá nuestro Catálogo ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\nNo enviés más mensajes después de este cierre.\n\n---\n\n# ADJUNTOS SIN CONTEXTO\n\nSi llega un archivo adjunto sin explicación clara, no pedís que lo reescriba ni solicitás aclaraciones. En una sola frase cálida con emojis, indicá que un agente lo atenderá y derivá al flujo principal.\n\n---\n\n# REGLA DE SALIDA\n\nSi el cliente pregunta por software, pagos, Hacienda, exoneraciones, soporte del sistema, capacitaciones u otros temas fuera del hardware, no respondás aquí. Derivá al flujo principal de inmediato.\n\n---\n\n# MANEJO DE ERRORES\n\nSi ocurre algo que no podés resolver, no digas que hubo un error. Indicá de forma amable y con emojis que será contactado por un agente y derivá al flujo principal.\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nSi el cliente hace una consulta que no corresponde al área de este agente, NO intentes responderla ni derives al flujo principal sin avisar. En su lugar, respondé exactamente con este mensaje adaptando solo el nombre del área actual:\n\nTe estás comunicando con el agente de [ÁREA ACTUAL]. Para consultas sobre otros temas, escribí la palabra adiós y podrás elegir el área que necesitás.\n\n---\n\n## REGLAS DE APLICACIÓN\n\n- Usá este mensaje SOLO cuando la consulta sea claramente de otra área\n- No lo usés cuando el cliente simplemente saluda o su mensaje es ambiguo\n- No lo repitas si ya lo enviaste en el mismo turno\n- No intentés responder la pregunta fuera de alcance antes ni después del mensaje\n- Reemplazá [ÁREA ACTUAL] por el nombre real del agente: Pagos, Soporte, Ventas, Hardware o Marketing\n- Después de enviar este mensaje, esperá la siguiente acción del cliente sin agregar más texto\n\n---\n\n## CASO ESPECIAL — SOLICITUD DE OTRO DEPARTAMENTO\n\nSi el cliente menciona explícitamente que quiere hablar con otro departamento \n(por ejemplo: \"quiero hablar con marketing\", \"necesito soporte\", \n\"me podés pasar a pagos\"), este caso NO es una derivación a agente humano. \nEs una solicitud de cambio de área. Respondé exactamente así:\n\nPara cambiar de área escribí la palabra adiós y al iniciar \nuna nueva conversación podrás elegir el departamento que necesitás.\n\nNunca uses el mensaje de derivación a agente humano para este caso.\n\n---\n\n# CIERRE\n\nSi el cliente dice gracias, listo, ok, perfecto, adiós, chao o expresiones similares, despedite de forma amable con emojis y finalizá.","maxIterations":3,"enableStreaming":false}},"id":"6ffb842c-acc8-49cb-9b2f-f245df692d39","name":"Agente Hardware","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,1712],"disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta para consultar información sobre productos, equipos, periféricos, precios y servicios del departamento Hardware de Facture.CR. Consúltala cuando el cliente pregunte por equipos o productos específicos que no estén en las instrucciones base.","tableName":{"__rl":true,"value":"hardware","mode":"list","cachedResultName":"hardware"},"options":{"queryName":"match_hardware"}},"id":"88240744-f541-43b9-b6d1-1510aa939f32","name":"Supabase Vector Store3","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[240,2000],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase account"}},"disabled":true},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"969330c0-e422-4457-9487-c806b9266bb7","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[176,2128],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente de marketing de Facture.CR. Tu función es atender consultas sobre gestión de redes sociales, marketing digital y campañas publicitarias, y presentar los planes disponibles cuando el cliente lo requiera. Cualquier otro tema lo derivás al flujo principal sin enviar ningún mensaje aquí.\n\n---\n\n# VERIFICACIÓN PREVIA\n\nAntes de responder, confirmá que el mensaje trata sobre marketing, redes sociales o campañas publicitarias. Si NO es de ese tema, derivá al flujo principal de inmediato sin enviar ningún mensaje.\n\n---\n\n# MANEJO DE SELECCIÓN DE ÁREA\n\nCuando el usuario escribe \"marketing\" o cualquier variación similar como primer mensaje, ese es el activador del flujo. Enviá los dos mensajes definidos abajo en orden y en el mismo turno, sin modificaciones:\n\nMENSAJE 1:\n\nHola! 😊 Gracias por escribir.\n\nGracias por tu interés en nuestro servicio de gestión de redes sociales 📱\n\nTe cuento rápido: manejamos tu Facebook e Instagram de forma profesional, diseñamos todo, editamos videos, programamos y publicamos.\n\nVos te enfocás en tu negocio, nosotros en tus redes 💪\n\nPara recomendarte el mejor plan:\n¿A qué se dedica tu negocio?\n¿Tienen redes actualmente?\n\nPlanes desde ₡21,800/mes 🎯\n¿Te interesa saber más?\n\nMENSAJE 2:\n\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros profesionales en el área te estará contactando.\n\n---\n\n# DESPUÉS DE LOS DOS MENSAJES\n\nSi el cliente responde con preguntas sobre planes, precios o servicios antes de ser contactado por el asesor, podés responderlas usando la información de esta base. Si el cliente quiere contratar o avanzar, indicá que el asesor lo guiará en el proceso.\n\n---\n\n# SI EL CLIENTE PREGUNTA POR PLANES O PRECIOS\n\nPresentá los planes exactamente así:\n\nPlan Inicio — ₡21,800 IVAI/mes\nIdeal para emprendimientos nuevos.\n2 artes, 2 reels, reporte básico mensual, 1 reunión opcional al mes.\n\nPlan Estándar — ₡56,800 IVAI/mes\nIdeal para negocios en crecimiento.\n4 artes, 4 reels, 4 stories, reporte básico quincenal, 1 reunión al mes.\n\nPlan Profesional — ₡119,800 IVAI/mes\nIdeal para empresas con alta interacción.\n6 artes, 6 reels, 8 stories, Community Management L-V 9am-5pm, reporte detallado quincenal, 1 reunión al mes.\n\nTodos los planes incluyen gestión de Facebook e Instagram. TikTok se puede agregar de forma opcional por ₡15,000/mes adicional.\n\n---\n\n# SERVICIOS ADICIONALES\n\nSi el cliente pregunta por extras, informá lo siguiente:\n\n- Community Management para planes Inicio y Estándar: ₡35,000/mes\n- Gestión de pauta publicitaria: ₡15,000/mes más inversión publicitaria\n- Red social TikTok: ₡15,000/mes\n- Producción de contenido en sitio: desde ₡25,000 por sesión\n- Fotografía profesional: desde ₡30,000 por sesión\n- Arte adicional: ₡5,900 por arte\n- Reel adicional: ₡7,900 por reel\n- Story adicional: ₡3,600 por story\n\n---\n\n# REGLA DE SALIDA\n\nSi el flujo se activó por error con un mensaje que no corresponde a marketing, redes sociales o campañas publicitarias, derivá al flujo principal de inmediato sin enviar ningún mensaje.\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nSi el cliente hace una consulta que no corresponde al área de este agente, NO intentes responderla ni derives al flujo principal sin avisar. En su lugar, respondé exactamente con este mensaje adaptando solo el nombre del área actual:\n\nTe estás comunicando con el agente de [ÁREA ACTUAL]. Para consultas sobre otros temas, escribí la palabra adiós y podrás elegir el área que necesitás.\n\n---\n\n## REGLAS DE APLICACIÓN\n\n- Usá este mensaje SOLO cuando la consulta sea claramente de otra área\n- No lo usés cuando el cliente simplemente saluda o su mensaje es ambiguo\n- No lo repitas si ya lo enviaste en el mismo turno\n- No intentés responder la pregunta fuera de alcance antes ni después del mensaje\n- Reemplazá [ÁREA ACTUAL] por el nombre real del agente: Pagos, Soporte, Ventas, Hardware o Marketing\n- Después de enviar este mensaje, esperá la siguiente acción del cliente sin agregar más texto\n\n---\n\n## CASO ESPECIAL — SOLICITUD DE OTRO DEPARTAMENTO\n\nSi el cliente menciona explícitamente que quiere hablar con otro departamento \n(por ejemplo: \"quiero hablar con marketing\", \"necesito soporte\", \n\"me podés pasar a pagos\"), este caso NO es una derivación a agente humano. \nEs una solicitud de cambio de área. Respondé exactamente así:\n\nPara cambiar de área escribí la palabra adiós y al iniciar \nuna nueva conversación podrás elegir el departamento que necesitás.\n\nNunca uses el mensaje de derivación a agente humano para este caso.\n\n---\n\n# FORMATO\n\n- Sin comillas, sin asteriscos\n- Con emojis cuando corresponda\n- Si el cliente escribe en otro idioma, respondé en ese idioma\n- No repitas mensajes ni información ya enviada en la conversación","maxIterations":2,"enableStreaming":false}},"id":"9b6882d1-614b-43d8-83d0-0fc497f1a754","name":"Agente Marketing","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,2736],"disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta para consultar planes, precios y detalles del servicio de gestión de redes sociales y marketing de Facture.CR. Consúltala si el cliente hace preguntas específicas sobre planes o servicios de marketing.","tableName":{"__rl":true,"value":"marketing","mode":"list","cachedResultName":"marketing"},"options":{"queryName":"match_marketing"}},"id":"2c49b20d-06a6-48d9-b2e5-0e6db43eb68e","name":"Supabase Vector Store4","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[240,3008],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase account"}},"disabled":true},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"b31ea1da-e996-4127-8030-e8ecf5fb1640","name":"Embeddings OpenAI4","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[128,3136],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"# ROL\n\nEres el agente de escalamiento de Facture.CR. Tu única función es confirmar la derivación a un agente humano. No intentés resolver ningún tema aquí.\n\n---\n\n# CASOS QUE LLEGAN A ESTE AGENTE\n\n- Solicitó hablar con un humano, agente, asesor, persona o representante de forma explícita\n- Expresa frustración severa o insiste porque no entiende\n- Solicita que lo llamen o pide atención personalizada\n- Consulta sobre páginas web, diseño web, landing page, tienda online o ecommerce\n- Solicita capacitación adicional, segunda capacitación, agendar o coordinar capacitación\n- El tema no encaja en ninguna otra categoría\n- Envió un audio que no fue detectado antes\n\n---\n\n# MANEJO DE CONSULTAS FUERA DE ALCANCE\n\nSi el cliente hace una consulta que no corresponde a este agente, NO intentés responderla. Respondé exactamente:\n\nTe estás comunicando con el agente de Escalamiento. Para consultas sobre otros temas, escribí la palabra adiós y podrás elegir el área que necesitás.\n\n---\n\n# CASO ESPECIAL — SOLICITUD DE OTRO DEPARTAMENTO\n\nSi el cliente menciona explícitamente que quiere hablar con otro departamento, este caso NO es una derivación a agente humano. Es una solicitud de cambio de área. Respondé exactamente:\n\nPara cambiar de área escribí la palabra adiós y al iniciar una nueva conversación podrás elegir el departamento que necesitás.\n\nNunca uses el mensaje de derivación a agente humano para este caso.\n\n---\n\n# RESPUESTAS SEGÚN EL CASO\n\nSi pide atención humana explícita, respondé exactamente:\n\nEntendido, ya quedó registrada tu solicitud de atención personalizada. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto contigo.\n\nEn cualquier otro caso de escalamiento, respondé exactamente:\n\nCon gusto te ayudamos. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto contigo.\n\nSi llega un audio, respondé exactamente:\n\nNo es posible procesar mensajes de audio por este medio. En breve, durante nuestro horario de atención, un agente te estará contactando para asistirte.\n\n---\n\n# FORMATO Y TONO\n\n- Sin asteriscos, sin comillas, sin emoticonos\n- Respuestas breves y directas\n- No intentés resolver la consulta bajo ninguna circunstancia\n- Si el cliente escribe en otro idioma, respondé en ese idioma","maxIterations":2,"enableStreaming":false}},"id":"29fce98c-4daa-4d8d-90df-e59048dfce0d","name":"Agente Escalamiento","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,3552],"disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta solo si necesitas confirmar el protocolo correcto de escalamiento o el mensaje exacto a usar según el tipo de caso recibido.","tableName":{"__rl":true,"value":"escalamiento","mode":"list","cachedResultName":"escalamiento"},"options":{"queryName":"match_escalamiento"}},"id":"0790161f-03db-4876-8e21-eed9e5fe9594","name":"Supabase Vector Store5","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[256,3776],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase account"}},"disabled":true},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"e41d65a6-3582-4a0e-838f-5896051fe461","name":"Embeddings OpenAI5","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[176,3952],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"promptType":"define","text":"=ESTE ES EL MENSAJE DEL USUARIO: {{ $json.chatInput }}\n\n# Clasificador de Intenciones - Facture.CR\n\nEres el clasificador de intenciones de Facture.CR.  \nTu tarea es analizar el mensaje del usuario y clasificarlo en **UNA sola categoría** según su intención principal.\n\n---\n\n## CATEGORÍAS Y TRIGGERS\n\n### soporte\nEl usuario necesita ayuda o reporta un problema técnico.  \nIncluye: error, problema, falla, bug, no funciona, rechazado, no imprime, pantalla en blanco, no deja, no puedo, no guarda, no carga, no aparece, mal funcionamiento.\n\n---\n\n### ventas\nEl usuario tiene intención comercial o de adquisición del sistema.  \nIncluye: comprar, contratar, adquirir, instalar, implementar, suscribirme, activar servicio, necesito el sistema, quiero el sistema, precios, planes, tarifas, costos, cuánto cuesta, mensualidad, paquete, plan recomendado, cotización, proforma, demo, cuenta demo, demostración, prueba del sistema, ver cómo funciona, abrir empresa nueva, registrar otro negocio, agregar otra empresa, nueva razón social.\n\n---\n\n### pagos\nEl usuario quiere realizar o consultar sobre pagos.  \nIncluye: pagar, pago, pagos, realizar un pago, cancelar, abonar, abono, aplicar pago, renovar suscripción, renovación, mensualidad, recarga, cuentas bancarias, IBAN, transferencia, depósito, comprobante, recibo, SINPE, SINPE móvil, número SINPE.\n\n---\n\n### hardware\nEl usuario habla de equipo físico.  \nIncluye: computadora, laptop, impresora, escáner, lector, monitor, teclado, mouse, caja de dinero, cables, reparación, mantenimiento.  \nTambién incluye menciones directas a: **Kervin**, **facture seguro**.\n\n---\n\n### marketing\nEl usuario busca servicios de marketing digital o contenido.  \nIncluye: Facebook, Instagram, TikTok, Meta Ads, Google Ads, reels, shorts, contenido, diseño, publicidad, campañas, community manager, manejo de redes, calendario de contenido.\n\n---\n\n### escalamiento\nEl usuario quiere hablar con una persona o no encaja en otras categorías.  \nIncluye: asesor, humano, que lo llamen, frustración fuerte, insiste sin entender, pide capacitación, segunda capacitación.  \nTambién incluye: páginas web, diseño web, landing page, ecommerce.\n\n---\n\n### saludo\nEl mensaje es solo un saludo o conversación básica sin intención clara.  \nIncluye: hola, buenos días, buenas tardes, buenas noches, pura vida, hello, hi.\n\n---\n\n## REGLAS DE DESEMPATE\n\n- problema con mi pago → pagos  \n- el sistema no me deja registrar el pago → soporte  \n- quiero una impresora para facturar → hardware  \n- cuánto cuesta el plan → ventas  \n- punto de venta (equipo físico) → hardware  \n- punto de venta (módulo del sistema) → soporte o ventas  \n- menciona Kervin → hardware  \n- menciona facture seguro → hardware  \n\n---\n\n## REGLAS IMPORTANTES\n\n- Clasifica por intención, no solo por palabras clave.\n- Si el mensaje es ambiguo, elige la intención más probable.\n- Si solo es un saludo, clasifica como saludo.\n- NO UTILICES CATEGORÍAS QUE NO ESTÉN ENTRE ESTAS: saludo, soporte, ventas, pagos, hardware, marketing, escalamiento\n- Responde solo la categoría\n","messages":{"messageValues":[]}},"id":"c56e36b3-f64d-47ef-b823-4b12b32f8f1f","name":"Clasificador Completo","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-640,1680],"disabled":true},{"parameters":{"model":"gpt-4o-mini","options":{"temperature":0}},"id":"f1371745-090e-4548-a9af-faa244735a82","name":"OpenAI Model Clasificador","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-496,1888],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"soporte","operator":{"type":"string","operation":"equals"},"id":"d9a52031-f28e-4fd5-bffb-9138807b6769"}],"combinator":"and"},"renameOutput":true,"outputKey":"Soporte"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"ventas","operator":{"type":"string","operation":"equals"},"id":"22497357-6af4-4c1a-a721-976cda1e6aa4"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ventas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"pagos","operator":{"type":"string","operation":"equals"},"id":"f451afbf-9b76-4781-aab4-0781fe113212"}],"combinator":"and"},"renameOutput":true,"outputKey":"Pagos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"hardware","operator":{"type":"string","operation":"equals"},"id":"7a6876d5-d5bf-40c5-ab5d-68e81d838a20"}],"combinator":"and"},"renameOutput":true,"outputKey":"Hardware"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"marketing","operator":{"type":"string","operation":"equals"},"id":"4d1e6701-b731-437d-a8a8-129c9791fcd3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Marketing"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"escalamiento","operator":{"type":"string","operation":"equals"},"id":"44688162-f3d7-4ba1-893f-c7214b6a1f0c"}],"combinator":"and"},"renameOutput":true,"outputKey":"Escalamiento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8e67417c-7433-44e8-ad29-516d39a49c0c","leftValue":"={{ $json.text }}","rightValue":"saludo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Saludo"}]},"options":{"fallbackOutput":"0","allMatchingOutputs":false}},"id":"413379f4-c260-4f34-9654-a659071751d0","name":"Router de Intenciones","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-288,1600],"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Leer Sesion Activa').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[96,688],"id":"812466f1-9a3d-4e1c-811f-1b60d3b88915","name":"Redis Chat Memory","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}},"disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Usa esta herramienta para consultar planes, precios y \nfuncionalidades de Facture.CR. Cuando busques un plan \nalternativo por volumen de documentos, buscá \nexplícitamente con términos como \"plan mensual documentos \n[cantidad]\" o \"plan más económico\". Siempre buscá antes \nde recomendar. Si no encontrás un plan que coincida \nexactamente, devolvé los resultados más cercanos sin \ninventar planes nuevos.","tableName":{"__rl":true,"value":"ventas","mode":"list","cachedResultName":"ventas"},"options":{"queryName":"match_ventas"}},"id":"8ea02f95-d601-4e4f-9244-c624000dbad2","name":"Conocimiento Ventas","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[192,720],"credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase account"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Leer Sesion Activa').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[176,2496],"id":"5bf48bf4-a936-45bf-8991-f531d298d0bd","name":"Redis Chat Memory1","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Contexto previo relevante: {{ $('Leer Sesion Activa').item.json.contexto }}\n\nMensaje actual: {{ $('Leer Sesion Activa').item.json.chatInput }}","options":{"systemMessage":"Eres el asistente virtual de una plataforma de facturación electrónica.\n\nTu función principal es recibir al usuario al inicio de la conversación, permitirle elegir con qué área desea hablar y mantener esa selección hasta que el usuario decida salir.\n\nFLUJO PRINCIPAL:\n\n1. INICIO DE CONVERSACIÓN:\nSi es el primer mensaje del usuario o no hay un área seleccionada, debes responder:\n\n\"¡Hola! 👋 ¿Con quién deseas hablar?\n\n- Pagos\n- Ventas\n- Marketing\n- Hardware\n- Un agente real\n- Soporte\n\nEscribe una de las opciones para continuar.\n\nNota: Una vez elijas con quién deseas hablar, permanecerás en ese chat hasta que escribas 'adiós'.\"\n\n---\n\n2. DETECCIÓN DE ELECCIÓN:\n\nDebes interpretar la intención del usuario incluso si no escribe exactamente igual. Ejemplos:\n\n- \"pagos\" → Pagos\n- \"quiero ventas\" → Ventas\n- \"soporte técnico\" → Soporte\n- \"humano\", \"persona\", \"agente\" → Un agente real\n\n---\n\n3. CONFIRMACIÓN DE ÁREA:\n\nUna vez el usuario elige, debes confirmar:\n\nEjemplo:\n\"Perfecto 👍 Ahora estás en el área de *Pagos*. ¿En qué puedo ayudarte?\"\n\nIMPORTANTE:\n- A partir de este punto, TODA la conversación pertenece a esa área\n- No vuelvas a mostrar el menú\n- Mantén coherencia con el área seleccionada\n\n---\n\n4. PERSISTENCIA:\n\nEl usuario permanece en el área elegida hasta que escriba:\n\n\"adiós\"\n\nTambién considerar variaciones:\n- \"adios\"\n- \"Adios\"\n- \"adiós\"\n- \"Adiós\"\n\n---\n\n5. SALIDA:\n\nCuando el usuario escriba \"adiós\" o equivalente:\n\nResponde:\n\"¡Perfecto!  ¿Con quién te quiere comunicar ahora? \n\n- Pagos\n- Ventas\n- Marketing\n- Hardware\n- Un agente real\n- Soporte\n\nY reinicia el flujo (volver al paso 1 en el siguiente mensaje).\n\n---\n\n6. REGLAS IMPORTANTES:\n\n- Si el usuario envía un saludo (\"hola\", \"buenas\", etc.) → mostrar SIEMPRE el menú\n- No asumir área automáticamente\n- No saltarse la selección\n- Mantener respuestas claras y breves\n- No explicar el funcionamiento interno\n- No mezclar áreas\n\n---\n\n7. MANEJO DE ERRORES:\n\nSi el usuario escribe algo que no coincide con ninguna opción:\n\nResponder:\n\"Disculpa, no entendí la opción. Por favor elige una de las siguientes:\n\n- Pagos\n- Ventas\n- Marketing\n- Hardware\n- Un agente real\n- Soporte\"\n\n---\n\nFORMATO DE RESPUESTA:\nResponde únicamente con el mensaje final al usuario, sin explicaciones adicionales.","maxIterations":3,"enableStreaming":false}},"id":"d1bbc171-7e38-4c63-ad77-2bc45c61c2fa","name":"Agente Saludos","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[80,2320],"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Leer Sesion Activa').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[96,64],"id":"1b3fa4a8-a707-4612-b5b8-2aa70c333f4b","name":"Redis Chat Memory2","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Leer Sesion Activa').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[128,1296],"id":"42fa2124-cea1-4c2d-b7e0-d7074caf114b","name":"Redis Chat Memory3","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Leer Sesion Activa').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[128,1888],"id":"646df047-5029-4f0c-8e69-eca6c98432b3","name":"Redis Chat Memory4","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Leer Sesion Activa').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[128,2912],"id":"ee5ed59d-2636-4b72-8df7-16f9c13184fd","name":"Redis Chat Memory5","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Leer Sesion Activa').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[128,3728],"id":"23df1eed-f535-4301-98f7-82638c8318ae","name":"Redis Chat Memory6","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[0,64],"id":"7978c92d-7120-4293-948d-b54f97d75779","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[0,688],"id":"1a7b2114-e38f-432a-82d2-555d7db5e301","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,1296],"id":"d5a7edad-6205-471f-bb66-bfb55fb4f6f3","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,1888],"id":"5ed69c38-496b-4824-a3cb-ea48df8a5728","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[80,2496],"id":"93e0286b-a5d2-4e67-988e-5422fd380afd","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,2912],"id":"eebc70f0-c1d0-43dd-a2d5-767f31a4ada9","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,3728],"id":"31bddca2-24f4-4088-8f12-dd02fafae290","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}},"disabled":true},{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"},{"name":"numero"},{"name":"contexto"}]}},"id":"bb1303f3-c88c-4c22-8cd0-d23311d92af9","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1440,1744],"disabled":true},{"parameters":{"public":true,"initialMessages":"¡Hola! - Soy el asistente de Facture.cr","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1440,1392],"id":"bf34d39d-6cb3-4c88-8a88-946acf832759","name":"When chat message received","webhookId":"40d330a0-3def-468e-aac5-684ef6b7f9b6","disabled":true},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Sesion Activa').first().json.sessionId;\nconst key = 'activeAgent_' + sessionId;\nconst stored = $getWorkflowStaticData('global');\ndelete stored[key];\nconst outputText = $input.first().json.output;\nreturn [{ json: { output: outputText } }];\n"},"id":"bdd91af0-ff7b-456b-9b92-7cc9f5f5146c","name":"Guardar Sesion Escalamiento1","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,3552],"disabled":true},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Sesion Activa').first().json.sessionId;\nconst key = 'activeAgent_' + sessionId;\nconst stored = $getWorkflowStaticData('global');\nconst msg = $('Leer Sesion Activa').first().json.chatInput || '';\nconst despedida = /^adios$|^adiós$/i.test(msg.trim());\nif (despedida) { delete stored[key]; } else { stored[key] = 'marketing'; }\nconst outputText = $input.first().json.output;\nreturn [{ json: { output: outputText } }];\n"},"id":"731e7908-7f3b-4453-8091-1ab48815058c","name":"Guardar Sesion Marketing","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,2912],"disabled":true},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Sesion Activa').first().json.sessionId;\nconst key = 'activeAgent_' + sessionId;\nconst stored = $getWorkflowStaticData('global');\nconst msg = $('Leer Sesion Activa').first().json.chatInput || '';\nconst despedida = /^adios$|^adiós$/i.test(msg.trim());\nif (despedida) { delete stored[key]; } else { stored[key] = 'hardware'; }\nconst outputText = $input.first().json.output;\nreturn [{ json: { output: outputText } }];\n"},"id":"fdd8c640-fc3e-46c2-8c01-97c9b6eb89f6","name":"Guardar Sesion Hardware","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,1776],"disabled":true},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Sesion Activa').first().json.sessionId;\nconst key = 'activeAgent_' + sessionId;\nconst stored = $getWorkflowStaticData('global');\nconst msg = $('Leer Sesion Activa').first().json.chatInput || '';\nconst despedida = /^adios$|^adiós$/i.test(msg.trim());\nif (despedida) { delete stored[key]; } else { stored[key] = 'pagos'; }\nconst outputText = $input.first().json.output;\nreturn [{ json: { output: outputText } }];\n"},"id":"27a54a7d-5959-4ca1-a5c0-b977b04e9470","name":"Guardar Sesion Pagos","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,1360],"disabled":true},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Sesion Activa').first().json.sessionId;\nconst key = 'activeAgent_' + sessionId;\nconst stored = $getWorkflowStaticData('global');\nconst msg = $('Leer Sesion Activa').first().json.chatInput || '';\nconst despedida = /^adios$|^adiós$/i.test(msg.trim());\nif (despedida) { delete stored[key]; } else { stored[key] = 'ventas'; }\nconst outputText = $input.first().json.output;\nreturn [{ json: { output: outputText } }];\n"},"id":"444eb5cc-0108-4f4f-9a1b-f7bb95edf33d","name":"Guardar Sesion Ventas","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,704],"disabled":true},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Sesion Activa').first().json.sessionId;\nconst key = 'activeAgent_' + sessionId;\nconst stored = $getWorkflowStaticData('global');\nconst msg = $('Leer Sesion Activa').first().json.chatInput || '';\nconst despedida = /^adios$|^adiós$/i.test(msg.trim());\nif (despedida) { delete stored[key]; } else { stored[key] = 'soporte'; }\nconst outputText = $input.first().json.output;\nreturn [{ json: { output: outputText } }];\n"},"id":"005400ab-4f2f-4057-8f89-155226010270","name":"Guardar Sesion Soporte","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,80],"disabled":true},{"parameters":{},"id":"b9772540-c99b-4529-92b4-87716a0bd5a9","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-2496,1600],"disabled":true},{"parameters":{"jsCode":"const error = $input.first().json;\n\nconst workflowName = error.workflow?.name || 'Desconocido';\nconst nodeName = error.execution?.lastNodeExecuted || 'Desconocido';\nconst errorMessage = error.execution?.error?.message || 'Error desconocido';\nconst number = error.execution?.data?.resultData?.runData?.['Global Variables']?.[0]?.data?.main?.[0]?.[0]?.json?.number || null;\n\nreturn [{ json: { workflowName, nodeName, errorMessage, number } }];"},"id":"79e37826-d900-4aa9-b6e2-74733a415d0f","name":"Extraer Datos del Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2272,1600],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-number","leftValue":"={{ $json.number }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2314a2ed-38a5-452d-b9a0-4812c0fbb530","name":"¿Tiene número?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2048,1600],"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"Facture","remoteJid":"={{ $json.number }}","messageText":"En este momento estoy teniendo dificultades técnicas. Por favor intentá de nuevo en unos minutos. Si el problema persiste, un agente humano te atenderá en horario L-V 8:00-22:00.","options_message":{}},"id":"4fae11f5-1820-439c-a04c-3354f21d34b0","name":"Enviar Mensaje de Error","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1824,1488],"credentials":{"evolutionApi":{"id":"cCItwgQis1yKCMlu","name":"Evolution account 3"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"log-error","name":"log","type":"string","value":"={{ 'Workflow: ' + $json.workflowName + ' | Nodo: ' + $json.nodeName + ' | Error: ' + $json.errorMessage }}"}]},"options":{}},"id":"4b2b95cd-7f2e-4587-9e20-1604226322d6","name":"Log Sin Número","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1824,1712],"disabled":true},{"parameters":{"jsCode":"\n// Funciona tanto desde WhatsApp (subflow) como desde el chat trigger\nconst input = $input.first().json;\n\n// Desde WhatsApp llega 'numero', desde chat llega 'sessionId' o 'chatInput'\nconst sessionId = input.numero || input.sessionId || input.chatInput || 'unknown';\n\n// El mensaje puede venir como 'mensaje' (WhatsApp) o 'chatInput' (chat)\nconst chatInput = input.mensaje || input.chatInput || '';\n\n// El contexto refinado viene del toDeploy (solo en modo WhatsApp)\nconst contexto = input.contexto || '';\n\nconst key = 'activeAgent_' + sessionId;\nconst stored = $getWorkflowStaticData('global');\nconst activeAgent = stored[key] || null;\n\nreturn [{ json: { chatInput, sessionId, activeAgent, contexto, numero: sessionId } }];\n"},"id":"cf2156b1-f9df-43f9-91d2-69d0cafe7829","name":"Leer Sesion Activa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,1680],"disabled":true}],"connections":{"Router Sesion":{"main":[[{"node":"Agente Soporte","type":"main","index":0}],[{"node":"Agente Ventas","type":"main","index":0}],[{"node":"Agente Pagos","type":"main","index":0}],[{"node":"Agente Hardware","type":"main","index":0}],[{"node":"Agente Marketing","type":"main","index":0}],[{"node":"Agente Escalamiento","type":"main","index":0}],[{"node":"Clasificador Completo","type":"main","index":0}]]},"Agente Soporte":{"main":[[{"node":"Guardar Sesion Soporte","type":"main","index":0}]]},"Supabase Vector Store2":{"ai_tool":[[{"node":"Agente Soporte","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Agente Ventas":{"main":[[{"node":"Guardar Sesion Ventas","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Conocimiento Ventas","type":"ai_embedding","index":0}]]},"Agente Pagos":{"main":[[{"node":"Guardar Sesion Pagos","type":"main","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"Agente Pagos","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Agente Hardware":{"main":[[{"node":"Guardar Sesion Hardware","type":"main","index":0}]]},"Supabase Vector Store3":{"ai_tool":[[{"node":"Agente Hardware","type":"ai_tool","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store3","type":"ai_embedding","index":0}]]},"Agente Marketing":{"main":[[{"node":"Guardar Sesion Marketing","type":"main","index":0}]]},"Supabase Vector Store4":{"ai_tool":[[{"node":"Agente Marketing","type":"ai_tool","index":0}]]},"Embeddings OpenAI4":{"ai_embedding":[[{"node":"Supabase Vector Store4","type":"ai_embedding","index":0}]]},"Agente Escalamiento":{"main":[[{"node":"Guardar Sesion Escalamiento1","type":"main","index":0}]]},"Supabase Vector Store5":{"ai_tool":[[{"node":"Agente Escalamiento","type":"ai_tool","index":0}]]},"Embeddings OpenAI5":{"ai_embedding":[[{"node":"Supabase Vector Store5","type":"ai_embedding","index":0}]]},"Clasificador Completo":{"main":[[{"node":"Router de Intenciones","type":"main","index":0}]]},"OpenAI Model Clasificador":{"ai_languageModel":[[{"node":"Clasificador Completo","type":"ai_languageModel","index":0}]]},"Router de Intenciones":{"main":[[{"node":"Agente Soporte","type":"main","index":0}],[{"node":"Agente Ventas","type":"main","index":0}],[{"node":"Agente Pagos","type":"main","index":0}],[{"node":"Agente Hardware","type":"main","index":0}],[{"node":"Agente Marketing","type":"main","index":0}],[{"node":"Agente Escalamiento","type":"main","index":0}],[{"node":"Agente Saludos","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente Ventas","type":"ai_memory","index":0}]]},"Conocimiento Ventas":{"ai_tool":[[{"node":"Agente Ventas","type":"ai_tool","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"Agente Saludos","type":"ai_memory","index":0}]]},"Redis Chat Memory2":{"ai_memory":[[{"node":"Agente Soporte","type":"ai_memory","index":0}]]},"Redis Chat Memory3":{"ai_memory":[[{"node":"Agente Pagos","type":"ai_memory","index":0}]]},"Redis Chat Memory4":{"ai_memory":[[{"node":"Agente Hardware","type":"ai_memory","index":0}]]},"Redis Chat Memory5":{"ai_memory":[[{"node":"Agente Marketing","type":"ai_memory","index":0}]]},"Redis Chat Memory6":{"ai_memory":[[{"node":"Agente Escalamiento","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Soporte","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agente Ventas","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Agente Pagos","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Agente Hardware","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Agente Saludos","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Agente Marketing","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"Agente Escalamiento","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Leer Sesion Activa","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Leer Sesion Activa","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Extraer Datos del Error","type":"main","index":0}]]},"Extraer Datos del Error":{"main":[[{"node":"¿Tiene número?","type":"main","index":0}]]},"¿Tiene número?":{"main":[[{"node":"Enviar Mensaje de Error","type":"main","index":0}],[{"node":"Log Sin Número","type":"main","index":0}]]},"Leer Sesion Activa":{"main":[[{"node":"Router Sesion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":{"global":{"activeAgent_f71535a2-a953-4d7e-875e-e67322a09cde":"hardware","activeAgent_e81686c7-642a-49bc-931b-006211082abf":"ventas","activeAgent_8f53888a-5905-47d1-87b1-66f68dbfa33f":"marketing"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57665c6e-4270-4c55-8d07-8fb83905b17c","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-18T05:34:15.596Z","createdAt":"2026-04-18T05:34:15.596Z","role":"workflow:owner","workflowId":"JX2A70JRGw2NaacX","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":null,"tags":[]}