workflows/Chatwoot - Etiquetado Automático.json
{"updatedAt":"2026-04-19T21:46:09.705Z","createdAt":"2026-04-11T20:58:43.781Z","id":"r3kFVYPzold6KCka","name":"Chatwoot - Etiquetado Automático","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"number"},{"name":"user_message"},{"name":"agent_response"}]}},"id":"94023f60-d5af-4e29-af7b-9ebbf8ae63e7","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"promptType":"define","text":"=Basándote en el mensaje del usuario y la respuesta del agente, elige UNA etiqueta:\n- mantenimiento: reparaciones, problemas técnicos, fallas, soporte técnico\n- pagos: facturas, cobros, precios, pagos, costos\n- servicio-cliente: consultas generales, información, citas, atención\n\nMensaje usuario: {{ $json.user_message }}\nRespuesta agente: {{ $json.agent_response }}\n\nResponde SOLO con una de estas palabras exactas: mantenimiento, pagos, servicio-cliente","messages":{"messageValues":[]},"batching":{}},"id":"8dedec20-23ca-4a46-8cac-c647a834a782","name":"Clasificar Tema","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[224,0]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"builtInTools":{},"options":{"maxTokens":20}},"id":"ed0dc787-e1c1-4ba9-bcb3-6e36671d56d2","name":"OpenAI Model Clasificador","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[224,192],"credentials":{"openAiApi":{"id":"P7wzzOAiVqYiH8u9","name":"OpenAI account"}}},{"parameters":{"assignments":{"assignments":[{"id":"label-field","name":"label","type":"string","value":"={{ $json.text.trim().toLowerCase() }}"},{"id":"number-field","name":"number","type":"string","value":"={{ $('When Executed by Another Workflow').item.json.number.split('@')[0] }}"}]},"options":{}},"id":"7ad76e8f-f16e-4e29-b776-bdda03e48620","name":"Preparar Etiqueta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,0]},{"parameters":{"url":"https://chatwoot.larqcr.com/api/v1/accounts/8/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.number }}"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"dkF29YrEZPvKXUnRMkGoobwn"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"7f6cf5e1-2526-4604-aded-1a7b8d01c514","name":"Buscar Contacto Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[816,0]},{"parameters":{"assignments":{"assignments":[{"id":"contact-id","name":"contact_id","type":"number","value":"={{ $json.payload?.contacts?.[0]?.id }}"},{"id":"label-pass","name":"label","type":"string","value":"={{ $('Preparar Etiqueta').item.json.label }}"}]},"options":{}},"id":"b1c758d7-255b-48e4-a14c-d79561b130fc","name":"Extraer Contact ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,0]},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/contacts/{{ $('Buscar Contacto Chatwoot').item.json.payload[0].id }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"dkF29YrEZPvKXUnRMkGoobwn"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"7d04d880-8f32-44ab-b4b2-9e8e2a517c8d","name":"Buscar Conversación Activa","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,0]},{"parameters":{"assignments":{"assignments":[{"id":"real-conv-id","name":"conversation_id","type":"number","value":"={{ $json.payload?.find(c => c.status === 'open')?.id ?? $json.payload?.[0]?.id }}"},{"id":"label-final","name":"label","type":"string","value":"={{ $('Preparar Etiqueta').item.json.label }}"}]},"options":{}},"id":"5d3d09f5-3404-482c-9e57-a903227fea90","name":"Obtener Conversation ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,0]},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $json.conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"dkF29YrEZPvKXUnRMkGoobwn"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"43a321bb-a602-4e16-9474-0b65152299f0","name":"GET Etiquetas Actuales","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1696,0]},{"parameters":{"jsCode":"const existentes = $input.first().json.payload || [];\nconst nuevaEtiqueta = $('Obtener Conversation ID').first().json.label || 'servicio-cliente';\nconst conversationId = $('Obtener Conversation ID').first().json.conversation_id;\nconst combinadas = [...new Set([...existentes, nuevaEtiqueta])];\nreturn [{ json: { conversation_id: conversationId, labels: combinadas } }];"},"id":"09b4ed20-9b8a-4abc-bb73-a5119cc1edbe","name":"Combinar Etiquetas","type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,0]},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $json.conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"dkF29YrEZPvKXUnRMkGoobwn"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"labels\": $json.labels } }}","options":{}},"id":"b81aaad0-35fd-47a1-869c-173f469c3016","name":"POST Etiquetas Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2128,0]}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Clasificar Tema","type":"main","index":0}]]},"Clasificar Tema":{"main":[[{"node":"Preparar Etiqueta","type":"main","index":0}]]},"OpenAI Model Clasificador":{"ai_languageModel":[[{"node":"Clasificar Tema","type":"ai_languageModel","index":0}]]},"Preparar Etiqueta":{"main":[[{"node":"Buscar Contacto Chatwoot","type":"main","index":0}]]},"Buscar Contacto Chatwoot":{"main":[[{"node":"Extraer Contact ID","type":"main","index":0}]]},"Extraer Contact ID":{"main":[[{"node":"Buscar Conversación Activa","type":"main","index":0}]]},"Buscar Conversación Activa":{"main":[[{"node":"Obtener Conversation ID","type":"main","index":0}]]},"Obtener Conversation ID":{"main":[[{"node":"GET Etiquetas Actuales","type":"main","index":0}]]},"GET Etiquetas Actuales":{"main":[[{"node":"Combinar Etiquetas","type":"main","index":0}]]},"Combinar Etiquetas":{"main":[[{"node":"POST Etiquetas Chatwoot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":{},"versionId":"c619d715-a78f-4abb-9ffc-6993ff8f92db","activeVersionId":"c619d715-a78f-4abb-9ffc-6993ff8f92db","triggerCount":0,"shared":[{"updatedAt":"2026-04-11T20:58:43.791Z","createdAt":"2026-04-11T20:58:43.791Z","role":"workflow:owner","workflowId":"r3kFVYPzold6KCka","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":{"updatedAt":"2026-04-18T07:47:17.000Z","createdAt":"2026-04-12T00:48:17.312Z","versionId":"c619d715-a78f-4abb-9ffc-6993ff8f92db","workflowId":"r3kFVYPzold6KCka","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"number"},{"name":"user_message"},{"name":"agent_response"}]}},"id":"94023f60-d5af-4e29-af7b-9ebbf8ae63e7","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"promptType":"define","text":"=Basándote en el mensaje del usuario y la respuesta del agente, elige UNA etiqueta:\n- mantenimiento: reparaciones, problemas técnicos, fallas, soporte técnico\n- pagos: facturas, cobros, precios, pagos, costos\n- servicio-cliente: consultas generales, información, citas, atención\n\nMensaje usuario: {{ $json.user_message }}\nRespuesta agente: {{ $json.agent_response }}\n\nResponde SOLO con una de estas palabras exactas: mantenimiento, pagos, servicio-cliente","messages":{"messageValues":[]},"batching":{}},"id":"8dedec20-23ca-4a46-8cac-c647a834a782","name":"Clasificar Tema","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[224,0]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"builtInTools":{},"options":{"maxTokens":20}},"id":"ed0dc787-e1c1-4ba9-bcb3-6e36671d56d2","name":"OpenAI Model Clasificador","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[224,192],"credentials":{"openAiApi":{"id":"P7wzzOAiVqYiH8u9","name":"OpenAI account"}}},{"parameters":{"assignments":{"assignments":[{"id":"label-field","name":"label","type":"string","value":"={{ $json.text.trim().toLowerCase() }}"},{"id":"number-field","name":"number","type":"string","value":"={{ $('When Executed by Another Workflow').item.json.number.split('@')[0] }}"}]},"options":{}},"id":"7ad76e8f-f16e-4e29-b776-bdda03e48620","name":"Preparar Etiqueta","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,0]},{"parameters":{"url":"https://chatwoot.larqcr.com/api/v1/accounts/8/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.number }}"},{"name":"page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"dkF29YrEZPvKXUnRMkGoobwn"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"7f6cf5e1-2526-4604-aded-1a7b8d01c514","name":"Buscar Contacto Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[816,0]},{"parameters":{"assignments":{"assignments":[{"id":"contact-id","name":"contact_id","type":"number","value":"={{ $json.payload?.contacts?.[0]?.id }}"},{"id":"label-pass","name":"label","type":"string","value":"={{ $('Preparar Etiqueta').item.json.label }}"}]},"options":{}},"id":"b1c758d7-255b-48e4-a14c-d79561b130fc","name":"Extraer Contact ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,0]},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/contacts/{{ $('Buscar Contacto Chatwoot').item.json.payload[0].id }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"dkF29YrEZPvKXUnRMkGoobwn"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"7d04d880-8f32-44ab-b4b2-9e8e2a517c8d","name":"Buscar Conversación Activa","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1248,0]},{"parameters":{"assignments":{"assignments":[{"id":"real-conv-id","name":"conversation_id","type":"number","value":"={{ $json.payload?.find(c => c.status === 'open')?.id ?? $json.payload?.[0]?.id }}"},{"id":"label-final","name":"label","type":"string","value":"={{ $('Preparar Etiqueta').item.json.label }}"}]},"options":{}},"id":"5d3d09f5-3404-482c-9e57-a903227fea90","name":"Obtener Conversation ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,0]},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $json.conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"dkF29YrEZPvKXUnRMkGoobwn"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"43a321bb-a602-4e16-9474-0b65152299f0","name":"GET Etiquetas Actuales","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1696,0]},{"parameters":{"jsCode":"const existentes = $input.first().json.payload || [];\nconst nuevaEtiqueta = $('Obtener Conversation ID').first().json.label || 'servicio-cliente';\nconst conversationId = $('Obtener Conversation ID').first().json.conversation_id;\nconst combinadas = [...new Set([...existentes, nuevaEtiqueta])];\nreturn [{ json: { conversation_id: conversationId, labels: combinadas } }];"},"id":"09b4ed20-9b8a-4abc-bb73-a5119cc1edbe","name":"Combinar Etiquetas","type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,0]},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $json.conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"dkF29YrEZPvKXUnRMkGoobwn"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"labels\": $json.labels } }}","options":{}},"id":"b81aaad0-35fd-47a1-869c-173f469c3016","name":"POST Etiquetas Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2128,0]}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Clasificar Tema","type":"main","index":0}]]},"Clasificar Tema":{"main":[[{"node":"Preparar Etiqueta","type":"main","index":0}]]},"OpenAI Model Clasificador":{"ai_languageModel":[[{"node":"Clasificar Tema","type":"ai_languageModel","index":0}]]},"Preparar Etiqueta":{"main":[[{"node":"Buscar Contacto Chatwoot","type":"main","index":0}]]},"Buscar Contacto Chatwoot":{"main":[[{"node":"Extraer Contact ID","type":"main","index":0}]]},"Extraer Contact ID":{"main":[[{"node":"Buscar Conversación Activa","type":"main","index":0}]]},"Buscar Conversación Activa":{"main":[[{"node":"Obtener Conversation ID","type":"main","index":0}]]},"Obtener Conversation ID":{"main":[[{"node":"GET Etiquetas Actuales","type":"main","index":0}]]},"GET Etiquetas Actuales":{"main":[[{"node":"Combinar Etiquetas","type":"main","index":0}]]},"Combinar Etiquetas":{"main":[[{"node":"POST Etiquetas Chatwoot","type":"main","index":0}]]}},"authors":"Diego diereyescarv@gmail.com","name":"Version c619d715","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}