workflows/Chatwoot - Etiquetado Automático.json
{"updatedAt":"2026-05-02T04:54:30.984Z","createdAt":"2026-04-11T20:58:43.781Z","id":"r3kFVYPzold6KCka","name":"Chatwoot - Etiquetado Automático","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"number"},{"name":"user_message"},{"name":"agent_response"},{"name":"conversation_id"}]}},"id":"bb2a3066-204a-4648-86c0-d6c2fc7a95b2","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[432,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-soporte","leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"soporte","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c20e95d2-7959-4bd0-98c5-9b485ebad066","name":"¿Es Soporte?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1136,16]},{"parameters":{},"id":"d886f3ef-90d1-47b4-88ca-f645e35c1295","name":"No hacer nada","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,224]},{"parameters":{"options":{"temperature":0,"topK":10,"topP":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[704,224],"id":"2aa472d2-6d5e-471b-ba00-ac9b0bb4844a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"promptType":"define","text":"=Analizá el siguiente intercambio y respondé SOLO con: soporte o no\n\n- soporte: el usuario reporta un error, falla técnica, problema con el sistema, algo no funciona, factura rechazada, no puede ingresar, no imprime, no carga, soporte técnico.\n- no: ventas, pagos, precios, planes, citas, agendas, marketing, hardware, información general.\n\nMensaje usuario: {{ $json.user_message }}\nRespuesta agente: {{ $json.agent_response }}\n\nRespondé SOLO con una de estas palabras: soporte o no","messages":{"messageValues":[]},"batching":{}},"id":"1fc51afb-4109-462f-96b5-977c6e0baaec","name":"Clasificar Tema","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[704,16]},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('When Executed by Another Workflow').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"neverError":true}}}},"id":"9f2bbfa9-08f1-485b-b762-73b4e98a4b51","name":"GET Etiquetas Actuales","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1376,-128],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"jsCode":"const existentes = $input.first().json.payload || [];\nconst conversationId = $('When Executed by Another Workflow').item.json.conversation_id;\nconst combinadas = [...new Set([...existentes, 'soporte'])];\nreturn [{ json: { conversation_id: conversationId, labels: combinadas } }];"},"id":"06eb2c3b-42d4-4b87-89d4-b426ce7b94b8","name":"Combinar Etiquetas","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,-128]},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"labels\": $json.labels } }}","options":{}},"id":"4a72221c-ebba-40ce-a8ab-d28928fb0e02","name":"POST Etiquetas Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1824,-128],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"content":"# Clasificación y etiquetado automático de soporte\n\n### Este flujo recibe un mensaje y una respuesta, usa IA para determinar si es un caso de soporte técnico y, si lo es, agrega automáticamente la etiqueta “soporte” a la conversación en Chatwoot.","height":800,"width":1648,"color":4},"type":"n8n-nodes-base.stickyNote","position":[352,-320],"typeVersion":1,"id":"25c709dd-ab2e-434d-b7c0-89d6061e44b2","name":"Sticky Note"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Clasificar Tema","type":"main","index":0}]]},"¿Es Soporte?":{"main":[[{"node":"GET Etiquetas Actuales","type":"main","index":0}],[{"node":"No hacer nada","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Clasificar Tema","type":"ai_languageModel","index":0}]]},"Clasificar Tema":{"main":[[{"node":"¿Es Soporte?","type":"main","index":0}]]},"GET Etiquetas Actuales":{"main":[[{"node":"Combinar Etiquetas","type":"main","index":0}]]},"Combinar Etiquetas":{"main":[[{"node":"POST Etiquetas Chatwoot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true,"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5242c90a-e42c-422f-8b2c-be2e6b5cecbb","activeVersionId":"5242c90a-e42c-422f-8b2c-be2e6b5cecbb","triggerCount":0,"shared":[{"updatedAt":"2026-04-11T20:58:43.791Z","createdAt":"2026-04-11T20:58:43.791Z","role":"workflow:owner","workflowId":"r3kFVYPzold6KCka","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":{"updatedAt":"2026-05-02T04:54:35.000Z","createdAt":"2026-05-02T04:54:30.985Z","versionId":"5242c90a-e42c-422f-8b2c-be2e6b5cecbb","workflowId":"r3kFVYPzold6KCka","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"number"},{"name":"user_message"},{"name":"agent_response"},{"name":"conversation_id"}]}},"id":"bb2a3066-204a-4648-86c0-d6c2fc7a95b2","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[432,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-soporte","leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"soporte","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c20e95d2-7959-4bd0-98c5-9b485ebad066","name":"¿Es Soporte?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1136,16]},{"parameters":{},"id":"d886f3ef-90d1-47b4-88ca-f645e35c1295","name":"No hacer nada","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,224]},{"parameters":{"options":{"temperature":0,"topK":10,"topP":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[704,224],"id":"2aa472d2-6d5e-471b-ba00-ac9b0bb4844a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"promptType":"define","text":"=Analizá el siguiente intercambio y respondé SOLO con: soporte o no\n\n- soporte: el usuario reporta un error, falla técnica, problema con el sistema, algo no funciona, factura rechazada, no puede ingresar, no imprime, no carga, soporte técnico.\n- no: ventas, pagos, precios, planes, citas, agendas, marketing, hardware, información general.\n\nMensaje usuario: {{ $json.user_message }}\nRespuesta agente: {{ $json.agent_response }}\n\nRespondé SOLO con una de estas palabras: soporte o no","messages":{"messageValues":[]},"batching":{}},"id":"1fc51afb-4109-462f-96b5-977c6e0baaec","name":"Clasificar Tema","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[704,16]},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('When Executed by Another Workflow').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"neverError":true}}}},"id":"9f2bbfa9-08f1-485b-b762-73b4e98a4b51","name":"GET Etiquetas Actuales","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1376,-128],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"jsCode":"const existentes = $input.first().json.payload || [];\nconst conversationId = $('When Executed by Another Workflow').item.json.conversation_id;\nconst combinadas = [...new Set([...existentes, 'soporte'])];\nreturn [{ json: { conversation_id: conversationId, labels: combinadas } }];"},"id":"06eb2c3b-42d4-4b87-89d4-b426ce7b94b8","name":"Combinar Etiquetas","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,-128]},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"labels\": $json.labels } }}","options":{}},"id":"4a72221c-ebba-40ce-a8ab-d28928fb0e02","name":"POST Etiquetas Chatwoot","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1824,-128],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"content":"# Clasificación y etiquetado automático de soporte\n\n### Este flujo recibe un mensaje y una respuesta, usa IA para determinar si es un caso de soporte técnico y, si lo es, agrega automáticamente la etiqueta “soporte” a la conversación en Chatwoot.","height":800,"width":1648,"color":4},"type":"n8n-nodes-base.stickyNote","position":[352,-320],"typeVersion":1,"id":"25c709dd-ab2e-434d-b7c0-89d6061e44b2","name":"Sticky Note"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Clasificar Tema","type":"main","index":0}]]},"¿Es Soporte?":{"main":[[{"node":"GET Etiquetas Actuales","type":"main","index":0}],[{"node":"No hacer nada","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Clasificar Tema","type":"ai_languageModel","index":0}]]},"Clasificar Tema":{"main":[[{"node":"¿Es Soporte?","type":"main","index":0}]]},"GET Etiquetas Actuales":{"main":[[{"node":"Combinar Etiquetas","type":"main","index":0}]]},"Combinar Etiquetas":{"main":[[{"node":"POST Etiquetas Chatwoot","type":"main","index":0}]]}},"authors":"Diego diereyescarv@gmail.com","name":"Version 5242c90a","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}