workflows/Crear Citas.json
{"updatedAt":"2026-04-19T21:45:57.253Z","createdAt":"2026-04-03T18:47:23.591Z","id":"7Q8kdFcaJbae5cT6","name":"Crear Citas","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const data = $input.first().json;\nconst eventos = data.eventos || [];\n// Filtrar items vacíos (alwaysOutputData genera {}) \nconst reales = eventos.filter(e => e && e.id);\nreturn [{ json: { disponible: reales.length === 0, cantidad: reales.length } }];"},"id":"e806d8a3-6f0f-47f1-8128-5029f77e0107","name":"SUB: Evaluar Eventos","type":"n8n-nodes-base.code","position":[-608,-16],"typeVersion":2},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// ---- Extraer campos estructurados o desde query ----\nlet nombre = input.nombre || '';\nlet telefono = input.telefono || '';\nlet correo = input.correo || '';\nlet motivo = input.motivo || '';\nlet fi = input.fecha_hora_inicio || '';\nlet ff = input.fecha_hora_fin || '';\n\nconst raw = (!nombre) ? (input.query || input.chatInput || JSON.stringify(input)) : '';\n\nif (raw) {\n  const nM = raw.match(/(?:Nombre[^:]*:|^)\\s*([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+(?:\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)+)/m);\n  const tM = raw.match(/(?:Tel[^:]*:)?\\s*(\\d{8,})/i);\n  const cM = raw.match(/([\\w.+-]+@[\\w-]+\\.[\\w.]+)/);\n  const mM = raw.match(/(?:Motivo[^:]*:|sobre\\s+)([^,\\n\\.]+)/i);\n  nombre = nM ? nM[1].trim() : 'Cliente';\n  telefono = tM ? tM[1].trim() : '';\n  correo = cM ? cM[1].trim() : '';\n  motivo = mM ? mM[1].trim() : '';\n}\n\n// ---- Resolver fechas relativas usando $now ----\nconst ahora = new Date();\n\nconst resolverFecha = (texto) => {\n  if (!texto) return null;\n  texto = texto.toLowerCase().trim();\n\n  // ISO directo\n  const isoM = texto.match(/(\\d{4}-\\d{2}-\\d{2})[T ](\\d{2}:\\d{2})/);\n  if (isoM) return `${isoM[1]}T${isoM[2]}:00`;\n\n  // DD/MM/YYYY HH:MM\n  const dmyM = texto.match(/(\\d{1,2})[\\/-](\\d{1,2})[\\/-](\\d{4}).*?(\\d{1,2}:\\d{2})/);\n  if (dmyM) {\n    const iso = `${dmyM[3]}-${dmyM[2].padStart(2,'0')}-${dmyM[1].padStart(2,'0')}`;\n    return `${iso}T${dmyM[4]}:00`;\n  }\n\n  // Extraer hora del texto\n  const horaM = texto.match(/(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)?/);\n  let hora = 9, min = 0;\n  if (horaM) {\n    hora = parseInt(horaM[1]);\n    min = horaM[2] ? parseInt(horaM[2]) : 0;\n    if (horaM[3] === 'pm' && hora < 12) hora += 12;\n    if (horaM[3] === 'am' && hora === 12) hora = 0;\n  }\n\n  const base = new Date(ahora);\n  base.setSeconds(0); base.setMilliseconds(0);\n\n  const dias = ['domingo','lunes','martes','miércoles','miercoles','jueves','viernes','sábado','sabado'];\n  const diasIdx = [0,1,2,3,3,4,5,6,6];\n\n  if (texto.includes('hoy')) {\n    // nada\n  } else if (texto.includes('mañana') || texto.includes('manana')) {\n    base.setDate(base.getDate() + 1);\n  } else if (texto.includes('pasado')) {\n    base.setDate(base.getDate() + 2);\n  } else {\n    // Buscar día de la semana\n    let encontrado = false;\n    for (let i = 0; i < dias.length; i++) {\n      if (texto.includes(dias[i])) {\n        const hoy = ahora.getDay();\n        const objetivo = diasIdx[i];\n        let diff = objetivo - hoy;\n        if (diff <= 0) diff += 7;\n        if (texto.includes('proxima') || texto.includes('próxima') || texto.includes('siguiente')) diff += 7;\n        base.setDate(base.getDate() + diff);\n        encontrado = true;\n        break;\n      }\n    }\n    // Número de días: \"en 3 días\"\n    if (!encontrado) {\n      const enDiasM = texto.match(/en\\s+(\\d+)\\s+d/);\n      if (enDiasM) base.setDate(base.getDate() + parseInt(enDiasM[1]));\n    }\n  }\n\n  base.setHours(hora, min, 0, 0);\n  const pad = (n) => String(n).padStart(2,'0');\n  return `${base.getFullYear()}-${pad(base.getMonth()+1)}-${pad(base.getDate())}T${pad(hora)}:${pad(min)}:00`;\n};\n\n// Si no hay fecha estructurada, buscar en el raw o en motivo\nif (!fi) {\n  const textoFecha = raw || motivo || '';\n  fi = resolverFecha(textoFecha) || '';\n}\n\n// Calcular fin si no existe (+1 hora)\nif (fi && !ff) {\n  const base = new Date(fi);\n  base.setHours(base.getHours() + 1);\n  const pad = (n) => String(n).padStart(2,'0');\n  ff = `${base.getFullYear()}-${pad(base.getMonth()+1)}-${pad(base.getDate())}T${pad(base.getHours())}:${pad(base.getMinutes())}:00`;\n}\n\n// Agregar timezone Costa Rica si falta\nconst addTZ = (dt) => {\n  if (!dt) return '';\n  if (dt.includes('+') || dt.includes('Z') || /T.*-\\d{2}:\\d{2}$/.test(dt)) return dt;\n  return dt + '-06:00';\n};\n\nreturn [{ json: {\n  nombre,\n  telefono,\n  correo,\n  motivo,\n  fecha_hora_inicio: addTZ(fi),\n  fecha_hora_fin: addTZ(ff)\n}}];"},"id":"f0cd3d6d-c351-47fe-8ac3-09d656c65898","name":"SUB: Parsear Datos1","type":"n8n-nodes-base.code","position":[-1344,-16],"typeVersion":2},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"500da7433b3c9ee1d1435f5b42d359b18a2e6610a34abc33d55d1ca10749d0cf@group.calendar.google.com","mode":"list","cachedResultName":"Pruebas"},"timeMin":"={{ $('SUB: Parsear Datos1').item.json.fecha_hora_inicio }}","timeMax":"={{ $('SUB: Parsear Datos1').item.json.fecha_hora_fin }}","options":{}},"id":"b4937f70-b6ca-4dcf-8ba1-5af21724d3b7","name":"SUB: Verificar Disponibilidad1","type":"n8n-nodes-base.googleCalendar","position":[-1088,-16],"typeVersion":1.3,"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"ggGEtqAD8TrKBQX6","name":"Google Calendar account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"eventos","options":{}},"id":"6d7fadcd-68aa-4d62-af0e-f9ad39cdc7b1","name":"SUB: Contar Eventos1","type":"n8n-nodes-base.aggregate","position":[-848,-16],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-disponible","leftValue":"={{ $json.disponible }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"3001a6e0-ec12-4754-a538-d60b1116d6b3","name":"SUB: ¿Hay Disponibilidad?1","type":"n8n-nodes-base.if","position":[-368,-16],"typeVersion":2.2},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":"500da7433b3c9ee1d1435f5b42d359b18a2e6610a34abc33d55d1ca10749d0cf@group.calendar.google.com","cachedResultName":"Pruebas"},"start":"={{ $('SUB: Parsear Datos1').item.json.fecha_hora_inicio }}","end":"={{ $('SUB: Parsear Datos1').item.json.fecha_hora_fin }}","additionalFields":{"attendees":["={{ $('SUB: Parsear Datos1').item.json.correo }}"],"description":"=👤 Cliente: {{ $('SUB: Parsear Datos1').item.json.nombre }}\n📞 Teléfono: {{ $('SUB: Parsear Datos1').item.json.telefono }}\n📧 Correo: {{ $('SUB: Parsear Datos1').item.json.correo }}\n📋 Motivo: {{ $('SUB: Parsear Datos1').item.json.motivo }}","location":"Google Meet / Oficina toDeploy, Costa Rica","sendUpdates":"all","summary":"=Cita toDeploy - {{ $('SUB: Parsear Datos1').item.json.nombre }}"}},"id":"020d841c-f33d-439b-a8c6-6ab2c08b5c0e","name":"SUB: Crear Evento en Google Calendar1","type":"n8n-nodes-base.googleCalendar","position":[-112,-112],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"ggGEtqAD8TrKBQX6","name":"Google Calendar account"}}},{"parameters":{"sendTo":"={{ $('SUB: Parsear Datos1').item.json.correo }}","subject":"✅ Confirmación de cita - toDeploy","message":"=<h2>¡Hola {{ $('SUB: Parsear Datos1').item.json.nombre }}! 👋</h2>\n<p>Tu cita con <strong>toDeploy Software & Automation</strong> ha sido agendada exitosamente.</p>\n<h3>📋 Detalles de tu cita:</h3>\n<ul>\n  <li><strong>📅 Fecha y hora:</strong> {{ $('SUB: Parsear Datos1').item.json.fecha_hora_inicio }}</li>\n  <li><strong>📋 Motivo:</strong> {{ $('SUB: Parsear Datos1').item.json.motivo }}</li>\n  <li><strong>📍 Lugar:</strong> Google Meet / Oficina toDeploy, Costa Rica</li>\n</ul>\n<p>Si necesitas reprogramar o cancelar, responde a este correo.</p>\n<p>¡Nos vemos pronto! 🚀<br><strong>Equipo toDeploy</strong></p>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[112,-112],"id":"4adbfca4-7b90-48e4-b2ea-23849048407f","name":"Send a message1","webhookId":"0526efee-8768-4ac4-a10f-f43a9ba1c3c6","credentials":{"gmailOAuth2":{"id":"cmHuWrce4WBKJS6x","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"resp-ok","name":"output","type":"string","value":"=✅ ¡Cita agendada exitosamente!\n\n📅 Fecha: {{ $('SUB: Parsear Datos1').item.json.fecha_hora_inicio }}\n👤 Cliente: {{ $('SUB: Parsear Datos1').item.json.nombre }}\n📧 Correo: {{ $('SUB: Parsear Datos1').item.json.correo }}\n📋 Motivo: {{ $('SUB: Parsear Datos1').item.json.motivo }}\n\nSe ha enviado una invitación al correo del cliente. ¡Nos vemos pronto!"}]},"options":{}},"id":"018edb92-2639-45f3-b98d-9ccc79e82f8c","name":"SUB: Respuesta Cita Agendada1","type":"n8n-nodes-base.set","position":[336,-112],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"resp-no","name":"output","type":"string","value":"=❌ Lo sentimos, el horario solicitado ({{ $('SUB: Parsear Datos1').item.json.fecha_hora_inicio }}) no está disponible. Ya existe una cita agendada en ese horario.\n\nPor favor sugiere al cliente otros horarios disponibles, como:\n- 1 hora antes o después\n- El mismo día en la tarde\n- El día siguiente"}]},"options":{}},"id":"fe1ed669-e4f1-4d71-8a3c-3a6a4e33b2b5","name":"SUB: Respuesta Sin Disponibilidad1","type":"n8n-nodes-base.set","position":[-96,144],"typeVersion":3.4},{"parameters":{},"id":"5f359868-de5f-4ea1-be69-70b512ebf5a4","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1552,-16],"typeVersion":1}],"connections":{"SUB: Evaluar Eventos":{"main":[[{"node":"SUB: ¿Hay Disponibilidad?1","type":"main","index":0}]]},"SUB: Parsear Datos1":{"main":[[{"node":"SUB: Verificar Disponibilidad1","type":"main","index":0}]]},"SUB: Verificar Disponibilidad1":{"main":[[{"node":"SUB: Contar Eventos1","type":"main","index":0}]]},"SUB: Contar Eventos1":{"main":[[{"node":"SUB: Evaluar Eventos","type":"main","index":0}]]},"SUB: ¿Hay Disponibilidad?1":{"main":[[{"node":"SUB: Crear Evento en Google Calendar1","type":"main","index":0}],[{"node":"SUB: Respuesta Sin Disponibilidad1","type":"main","index":0}]]},"SUB: Crear Evento en Google Calendar1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"SUB: Respuesta Cita Agendada1","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"SUB: Parsear Datos1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"06038755-22da-4f71-bf19-297b06262278","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-03T18:47:23.594Z","createdAt":"2026-04-03T18:47:23.594Z","role":"workflow:owner","workflowId":"7Q8kdFcaJbae5cT6","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}