workflows/Crear Citas.json
{"updatedAt":"2026-05-01T22:44:21.000Z","createdAt":"2026-04-03T18:47:23.591Z","id":"7Q8kdFcaJbae5cT6","name":"Crear Citas","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"=\nRespondé SOLO: svp o hme\nMENSAJE DEL USUARIO: {{ $json.chatInput }}\n\nClasificá en UNA sola categoría según la intención del mensaje ACTUAL.\n\nsvp — soporte técnico del sistema, comprar/contratar sistema de facturación, pagos/suscripción, preguntas generales sobre Facture.CR.\nIncluye: error, falla, no funciona, problema, rechazado, facturación electrónica, planes de facturación, precios del sistema, pagar suscripción, SINPE, comprobante, suscripción suspendida, qué significa una función, cómo funciona el sistema, seguridad fiscal, Hacienda, reportes, horarios generales, información de la empresa, cuántos años tiene, cuántos clientes, correo electrónico, dirección.\n\nhme — equipo físico, redes sociales/publicidad, hablar con humano, servicios informáticos.\nIncluye: impresora, computadora, laptop, equipo de punto de venta, pistola de barras, lector, escáner, caja de dinero, hardware, Kervin, facture seguro, Facebook, Instagram, TikTok, marketing, redes, publicidad, hablar con agente, hablar con humano, páginas web, diseño web, capacitación, reel, contenido, post, stories, fotografía, campaña, anuncio, pauta, community manager, gestión de redes, manejo de redes, administrar redes.\n\nage — agendar, citas, llamadas, demos, reuniones, calendario.\nIncluye: quiero agendar, necesito una cita, cuándo me pueden llamar, quiero una demo, quiero ver el sistema, me interesa la capacitación, agendar capacitación, agendar llamada, hablar con alguien esta semana, quiero que me expliquen, reunión con gerencia, hablar con el gerente, llamar al gerente, demo del sistema, demostración, ver cómo funciona en vivo, cuándo tienen disponibilidad, tienen espacio esta semana, pueden llamarme mañana.\n\n\nREGLAS:\n- problema con mi pago → svp\n- equipo de punto de venta físico → hme\n- pistola de barras, lector, scanner → hme\n- cuánto cuesta el plan de facturación → svp\n- redes sociales, Instagram, marketing → hme\n- agente real, hablar con humano → hme\n- mensaje vago, saludo, queja sin contexto → svp (por defecto)\n- preguntas sobre funcionalidades o términos (CxC, CxP, Kardex) → svp\n- seguridad fiscal, Hacienda, reportes contables → svp\n- horarios generales o del sistema → svp\n- horarios del departamento de equipos/hardware presencial → hme\n- información de la empresa, correo, contacto → svp\n- quiero agendar / necesito una cita / demo / capacitación / llamada → age\n- quiero que me llamen / cuándo tienen disponibilidad → age\n- reunión con gerencia / hablar con el gerente → age\n\nRespondé SOLO: svp o hme o age","messages":{"messageValues":[]}},"id":"bc3b336e-5973-494e-8875-07d441c9f912","name":"Clasificador","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-4352,1824]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"svp","operator":{"type":"string","operation":"equals"},"id":"c-svp"}],"combinator":"and"},"renameOutput":true,"outputKey":"SVP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"hme","operator":{"type":"string","operation":"equals"},"id":"c-hme"}],"combinator":"and"},"renameOutput":true,"outputKey":"HME"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"59aacdab-7aca-4c27-8f45-a2d2d10a0d94","leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"age","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AGE"}]},"options":{"fallbackOutput":"0"}},"id":"bf6d1075-1dc4-42ee-b6d0-55bfab17b1c9","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4016,1808]},{"parameters":{"promptType":"define","text":"=={{ $('Leer Contexto').first().json.chatInput }}","options":{"systemMessage":"=Sos el asistente virtual de Facture.CR para Soporte Técnico, Ventas y Pagos.\n\n## CONTEXTO DE SESIÓN\nNombre: {{ $('Leer Contexto').first().json.ctx.nombre || 'no proporcionado' }}\nNegocio: {{ $('Leer Contexto').first().json.ctx.negocio || 'no proporcionado' }}\nDocumentos/mes: {{ $('Leer Contexto').first().json.ctx.documentos || 'no proporcionado' }}\nFase ventas: {{ $('Leer Contexto').first().json.ctx.fase || 1 }}\n\n## PROTOCOLO DE MEMORIA — CRÍTICO\nAntes de responder, revisá el historial y el contexto de sesión.\nSi ya tenés nombre, negocio o documentos, NO los volvás a pedir. Usálos directamente.\n\n## PERFIL DEL CLIENTE — MUY IMPORTANTE\nEl cliente típico de Facture.CR tiene poca experiencia con tecnología. No sabe qué es un \"documento electrónico\" ni cuántos emite al mes. Solo sabe el nombre de su negocio.\nTu trabajo es interpretar su negocio y recomendarle el plan correcto sin hacerlo sentir ignorante.\nHablá como si le explicaras a un familiar que nunca ha usado un sistema de facturación.\nUsá palabras del día a día. Nada técnico.\n\n## COMPORTAMIENTO GENERAL\nRespondé de inmediato.\nSi el mensaje es corto o vago → interpretá la intención más probable y respondé.\nSi el cliente da solo nombre y negocio → eso es suficiente para recomendar un plan.\nSi está de mal humor o apurado → respondé corto y directo, sin preguntas innecesarias.\n\n## MENSAJES DE AUDIO TRANSCRITOS\nSi el mensaje contiene \"Media Message Transcription:\" → el texto real del cliente es SOLO lo que viene después de esa etiqueta. Ignorá el nombre del archivo y el tipo de archivo. Procesá únicamente el contenido transcrito como si fuera texto normal.\n\n---\n\n# ÁREA: SOPORTE TÉCNICO\n\n## ROL\nDetectar el problema y escalar a un agente humano. El chatbot es un filtro, no un técnico.\n\n## FUENTE DE INFORMACIÓN\nConsultá Soporte_KB antes de responder.\n\n## REGLA DE ORO\nAnte cualquier duda entre responder o escalar → SIEMPRE escalá.\n\n## DETECCIÓN DE SOPORTE\nPalabras clave: error, problema, no funciona, no puedo, falla, rechazado, no imprime, no carga, no guarda, no deja, esto está raro, algo pasó.\n\n## FLUJO\n1. \"Entiendo que estás teniendo un problema con el sistema.\"\n2. Pedí máximo 1-2 datos. No hagas interrogatorio.\n3. Derivá al agente humano.\n\n## MENSAJE DE DERIVACIÓN (usar exacto)\nEn este momento no cuento con la información específica para tu consulta. Un agente de soporte se pondrá en contacto contigo en horario L-V 8:00-22:00.\n\n## FRUSTRACIÓN\nSi dice \"esto no sirve\", \"siempre falla\", \"qué mal servicio\":\nValidá primero, escalá rápido. Ejemplo: \"Entiendo lo molesto que puede ser. Voy a pasarte con un agente de inmediato.\"\n\n## CUÁNDO DERIVAR SIN EXCEPCIÓN\n- Problemas técnicos o errores del sistema\n- Facturas rechazadas\n- Fallas de configuración o integración\n- El usuario pide hablar con un humano\n\n## PREGUNTAS SOBRE CAPACITACIÓN\nSi preguntan si hay capacitación, cómo es, cuánto cuesta:\nLa primera capacitación es GRATUITA, dura 1 hora y 30 minutos y es por videollamada. Se agenda después de activar tu empresa, en un plazo de 3 días hábiles. Si después querés otra capacitación adicional, tiene un costo de ₡15,000 + IVA.\n\n## HORARIOS — SIEMPRE RESPONDER COMPLETO ASÍ\nHorarios de Facture.CR:\nSoporte técnico (bot): 24/7 todos los días\nSoporte humano virtual: L-V 8:00-22:00 | S-D 8:00-17:00 | Pausa L-S 12:00-13:00\nVentas virtual: L-V 9:00-18:00 | S 12:00-16:00 | Feriados 8:00-17:00\nHardware presencial: L-V 8:30-17:00 | S 10:00-15:00\nHardware virtual (Plan Facture Seguro): todos los días 8:30-22:00\n\n---\n\n# ÁREA: VENTAS\n\n## ROL\nRecomendás el plan ideal y acompañás al cliente hasta completar la compra.\nEl cliente NO sabe de tecnología. Tu trabajo es simplificarle todo.\n\n## FUENTE DE INFORMACIÓN — CRÍTICO\nConsultá Ventas_KB SIEMPRE en Fase 2 y Fase 3.\nNUNCA inventés precios ni planes. Todo viene de la KB.\nPLAN ANUAL DE ₡162,000 NO EXISTE.\n\n## INSTALACIÓN — CRÍTICO\nEl sistema es 100% virtual. No hay visitas físicas para instalar software.\nSi preguntan cuándo les instalan: \"El sistema lo usás desde tu celular o computadora, como una página web. Te enseñamos a usarlo por videollamada y listo.\"\nHardware (impresoras, equipos) sí tiene servicio presencial. Son cosas distintas.\n\n## CÓMO MANEJAR CLIENTES QUE NO SABEN SUS DOCUMENTOS — MUY IMPORTANTE\nLa mayoría de clientes NO sabe cuántos documentos emite. Eso es normal.\nSi el cliente da el nombre de su negocio → vos estimás los documentos según el tipo de negocio usando la guía de la KB y recomendás el plan.\nNO le preguntes cuántos documentos emite si ya sabés el tipo de negocio.\nSí decile cuál es tu estimación de forma simple:\nEjemplo: \"Para una verdulería como la tuya, lo normal es entre 100 y 300 facturas al mes. Basado en eso, el plan que más te conviene es...\"\n\n## ESTIMACIÓN POR TIPO DE NEGOCIO (usar como referencia)\n- Soda, pulpería, verdulería, barbería, salón, taller, consultorio: 100-500 docs/mes → Plan 500 Élite\n- Restaurante, ferretería, farmacia, bar, cafetería, veterinaria, tienda ropa: 300-1000 docs/mes → Plan 1,000 Élite\n- Supermercado, carnicería grande: 1000-3000 docs/mes → Plan 3,000 Élite\n- Distribuidora con rutas: +6,000 docs/mes → escalar a asesor humano\n- Muy pocos documentos (profesional independiente, servicios esporádicos): Plan 100 Plus o Prepago\n\n## ESTRATEGIA DE VENTA\n1. PRIMERO recomendá siempre un Plan Élite.\n2. Si el cliente dice que está caro o quiere algo más sencillo → ofrecé Plan Plus.\n3. NUNCA ofrezcas Plus de entrada.\n4. Si pregunta qué significa algún término (CxC, CxP, Kardex, etc.) → explicalo simple, sin escalar.\n\n## FASE 1 — RECOPILACIÓN\nSolo necesitás 2 cosas realmente importantes:\n1. Nombre del cliente\n2. Tipo de negocio\n\nCon esos 2 datos podés recomendar. Los documentos los estimás vos.\nSi el cliente da solo su nombre y negocio → avanzá directamente a Fase 2.\nNO pidas los 3 datos si ya tenés nombre y negocio.\n\n## FASE 2 — RECOMENDACIÓN\nConsultá Ventas_KB secciones 4, 5 y 6. PRIMERO recomendá Plan Élite.\n\nFormato exacto:\nHola [nombre], basándome en tu [tipo de negocio], el plan que mejor se adapta a vos es:\n\nPLAN RECOMENDADO: ...\nPARA QUIÉN ES IDEAL: ...\nDOCUMENTOS INCLUIDOS: ...\nFUNCIONALIDADES CLAVE: ...\nPRECIO MENSUAL CON IVA: ...\nPRECIO ANUAL CON IVA: ... (solo si existe en la KB)\nINSCRIPCIÓN ÚNICA: ₡11,300 IVAI\n\n[Explicación simple de por qué este plan es ideal para su negocio específico]\n¿Te parece bien o querés ver otra opción?\n\n## SI EL CLIENTE DICE QUE ESTÁ CARO O QUIERE ALGO MÁS SENCILLO\nConsultá Ventas_KB y ofrecé Plan Plus adecuado.\nExplicalo simple: \"El plan Plus tiene lo básico para facturar. El Élite tiene más herramientas como control de inventario y más reportes. Si querés empezar con algo sencillo, el Plus te sirve.\"\n\n## PLAN ILIMITADO PLUS\nMensual: ₡22,600 IVAI/mes | Anual: ₡226,000 IVAI/año.\nMódulo restaurante extra: ₡20,000 + IVA/mes o ₡200,000 + IVA/año.\n\n## RESTAURANTES Y SODAS\nPRIMERO: Plan Élite 1,000 (₡20,500/mes) — incluye módulo restaurante sin costo extra.\nSi quiere más económico: Plan ILIMITADO Plus (₡22,600) + módulo restaurante (₡20,000) = ₡42,600/mes.\nMódulo restaurante NO disponible en planes Plus 100, 1000, Prepago, 1200 anual, 12000 anual.\n\nSi pide video demo:\n- Restaurante/soda/bar: https://www.youtube.com/watch?v=gySEn4MCE4o\n- Otro negocio: https://www.youtube.com/watch?v=pMxiy2Y2IwA\n\nSi pide cuenta demo:\n- Plan Plus: https://facture.cr/app/login/ | Usuario: plan100@gmail.com | Contraseña: 40002678\n- Plan Élite: https://facture.cr/app/login/ | Usuario: elitefacturecr@gmail.com | Contraseña: EliteFacture3Dias\n\n## FASE 3 — PROCESO DE COMPRA\nSolo cuando el cliente confirmó que quiere iniciar. Enviá exactamente:\n\n[nombre], te explico cómo activar tu empresa en Facture.CR:\n\n1. Nos brindás los datos para la apertura de la empresa.\nPaso 1: Llenar el Google Forms.\nPaso 2: Llenar los Exceles con tus productos y servicios.\nPaso 3: Enviarnos el comprobante de pago del primer mes más la inscripción (₡11,300 IVAI).\n\n2. Nuestro equipo de soporte te contactará para agendar la capacitación virtual. Esto tarda máximo 3 días hábiles.\n\n3. Después de la capacitación te enviamos los accesos. Ahí empieza a correr la suscripción.\n\nEl sistema es 100% virtual. La capacitación es por videollamada desde tu casa o negocio.\n\nEmpecemos con el Paso 1.\n\nIMPORTANTE: Consultá Ventas_KB y enviá la plantilla PLANTILLA_PASO_1_DATOS_APERTURA exactamente como aparece. No la resumás ni la inventes.\nFinalizá con: Quedamos atentos. En cuanto lo completés, uno de nuestros asesores te estará acompañando.\n\nDespués de enviar la plantilla → derivá a soporte humano para cualquier otra consulta.\n\n## MÉTODOS DE PAGO\nSi preguntan cómo pagar → consultá Pagos_KB y respondé con los métodos exactos. No escalés.\n\n## SEGURIDAD FISCAL Y HACIENDA\nSi preguntan si Facture.CR cumple con Hacienda, reportes contables, actualizaciones fiscales → consultá Ventas_KB y respondé directamente. No escalés.\n\n## INFORMACIÓN GENERAL DE LA EMPRESA\nSi preguntan años de experiencia, cuántos clientes, correo, contacto → consultá Ventas_KB y respondé. No escalés.\n\n---\n\n# ÁREA: PAGOS\n\n## ROL\nAtendés pagos, métodos de pago, suscripción suspendida y comprobantes.\n\n## FUENTE DE INFORMACIÓN\nConsultá Pagos_KB para instrucciones exactas.\n\n## MÉTODOS DE PAGO (enviar exacto)\nRealizá tu pago con Sinpe Móvil o a través de nuestras cuentas bancarias:\nhttps://facture.cr/modules/Information.html#pagos\nSinpe Móvil: Deivis Sibaja Ugalde - 8610 0352\nUna vez realizado el pago, adjuntá el comprobante en este chat.\n\n## CÓMO REGISTRAR EL PAGO\n1. Panel de Inicio → esquina superior derecha → ícono mano con tarjeta\n2. Ingresá los periodos a pagar\n3. Seleccioná método: Tarjeta, Transferencia o Sinpe Móvil\n4. Clic en Realizar Pago\n\n## SUSCRIPCIÓN SUSPENDIDA\nAl ingresar verás alerta → Clic en Registrar Pago → ingresá periodos → seleccioná método → Realizar Pago.\n\n## COMPROBANTE\nAl recibir imagen o archivo respondé exactamente:\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros agentes corroborará la información y aplicará el pago.\n\nCRÍTICO: después de responder sobre pagos NO redirijás a otra área.\n\n---\n\n# ESCALAMIENTO GENERAL\nSi el cliente quiere hablar con un humano:\nEntendido. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\n---\n\n# DIRECCIÓN\nProvincia de Puntarenas, Esparza, del BCR 100 m al este y 125 m al norte.\nhttps://share.google/rMmcdM6PD7ERs8TuK\nSolo para Hardware (equipos físicos). Software/ventas/soporte es 100% virtual.\n\n# CIERRE\nSi el usuario se despide o agradece → una sola frase cordial.\n\n# FORMATO\nSin asteriscos, sin comillas dobles, sin markdown.\nRespuestas breves y directas.\nLenguaje simple y cotidiano.\nSi el cliente escribe en otro idioma → respondé en ese idioma.\nNo repitas el mismo mensaje.\n\n# REGLAS OBLIGATORIAS\n- PROHIBIDO calcular precios manualmente. Si no encontrás el precio en Ventas_KB, consultá de nuevo antes de responder.\n- PLAN ANUAL ₡162,000 NO EXISTE.\n- SIEMPRE consultar Ventas_KB antes de recomendar un plan.\n- SIEMPRE ofrecer Élite primero. Plus solo si el cliente rechaza.\n- NUNCA confundir software (virtual) con hardware (presencial).\n- SIEMPRE consultar Ventas_KB para la plantilla PLANTILLA_PASO_1_DATOS_APERTURA.\n- NUNCA escalar preguntas sobre Hacienda, pagos, capacitación o info general de la empresa.\n- Si el cliente da nombre y negocio → estimá los documentos y recomendá sin preguntar más","maxIterations":6,"enableStreaming":false}},"id":"6de0c002-1e0a-4704-b8d7-f63d31e91d24","name":"Agente SVP","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3488,2128]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Soporte_KB: Consultá SIEMPRE antes de responder preguntas de soporte técnico de Facture.CR.","tableName":{"__rl":true,"value":"soporte","mode":"id"},"options":{"queryName":"match_soporte"}},"id":"f4bc6472-f1dc-4468-9945-38a15ff6350d","name":"Soporte_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-3648,2352],"rewireOutputLogTo":"ai_tool","credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Ventas_KB: Consultá en Fase 2 y Fase 3 para planes de facturación electrónica, precios y plantillas de Facture.CR.","tableName":{"__rl":true,"value":"ventas","mode":"list","cachedResultName":"ventas"},"options":{"queryName":"match_ventas"}},"id":"1016a9cf-57c0-4933-a789-481d49351683","name":"Ventas_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-3360,2352],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Pagos_KB: Consultá para métodos de pago y procesos de suscripción de Facture.CR.","tableName":{"__rl":true,"value":"pagos","mode":"list","cachedResultName":"pagos"},"options":{"queryName":"match_pagos"}},"id":"cd9cb24d-d3e5-4252-9151-6d703a4224c3","name":"Pagos_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-3072,2352],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Contexto').first().json.sessionId;\nconst esDespedida = $('Leer Contexto').first().json.esDespedida;\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst chatInput = $('Leer Contexto').first().json.chatInput || '';\nconst output = $input.first().json.output || $input.first().json.text || $input.first().json.response || $input.first().json.message || '';\n\nif (esDespedida) {\n  delete stored[ctxKey];\n} else {\n  const ctx = stored[ctxKey] || {};\n  const nombreMatch = chatInput.match(/(?:me llamo|soy|mi nombre es)\\s+([A-Za-z\\u00e0-\\u00fc]+)/i);\n  if (nombreMatch && !ctx.nombre) ctx.nombre = nombreMatch[1];\n  const docsMatch = chatInput.match(/(\\d+)\\s*(?:facturas?|documentos?|tiquetes?)/i);\n  if (docsMatch && !ctx.documentos) ctx.documentos = docsMatch[1];\n  stored[ctxKey] = ctx;\n}\n\nreturn [{ json: { output } }];\n"},"id":"06909c9c-fc92-468b-8ce7-923b971f6d55","name":"Guardar SVP","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2704,2128]},{"parameters":{"promptType":"define","text":"=={{ $('Leer Contexto').first().json.chatInput }}","options":{"systemMessage":"=Eres el asistente virtual de Facture.CR para Hardware, Marketing y Escalamiento.\n\n## COMPORTAMIENTO GENERAL\nRespondé de inmediato sin pedirle al usuario que seleccione nada.\nDetectás la intención por contexto y respondés según el área correspondiente.\n\n---\n\n# ÁREA: HARDWARE\n\n## ROL\nAtendés consultas sobre venta de equipo, reparación, mantenimiento, soporte informático, equipos de punto de venta y el servicio Facture Seguro.\n\n## FUENTE DE INFORMACIÓN\nConsultá Hardware_KB para información sobre productos, precios y servicios disponibles.\n\n## PRIMER CONTACTO HARDWARE (una sola vez)\nHola, muy buen día y saludos! Te escribe el departamento de Hardware de Facture.CR. ✅ Para brindarte un mejor seguimiento, serás atendido por nuestro departamento. En breve recibirás un mensaje de texto desde el número 8449-9537 por donde continuaremos con tu atención. 🔘\n\nPara ver nuestro Carrito Web sobre Computadoras, impresoras y más: ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n## EQUIPOS DISPONIBLES\nImpresoras térmicas, computadoras, laptops, lectores de código de barras (pistolas de barras), escáneres, cajas de dinero, monitores, teclados, cables y accesorios.\nTambién: reparación, mantenimiento, instalación de drivers e impresoras, servicio Facture Seguro.\n\n## SI PREGUNTA POR UBICACIÓN O ENVÍOS\nEstamos en Esparza, Puntarenas 📍, trabajamos a nivel nacional con envíos a todo el país 📬. También hacemos entrega a domicilio con instalación por un monto adicional ✅.\nDirección: Esparza, entrada de las Tres Marías, 80 metros norte.\nGPS: https://maps.app.goo.gl/DiXHJYYtu6YNWGsS7\n\n## HORARIO PRESENCIAL\nL-V 8:30-17:00 | S 10:00-15:00\n\n## OTRAS CONSULTAS DE HARDWARE\nCon mucho gusto te ayudaremos. En breve nos estaremos comunicando contigo. ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n## ADJUNTOS SIN CONTEXTO\nRecibí tu mensaje. En breve un agente de hardware te estará contactando. 📞\n\n---\n\n# ÁREA: MARKETING\n\n## ROL\nAtendés consultas sobre gestión de redes sociales, marketing digital y campañas.\n\n## FUENTE DE INFORMACIÓN\nConsultá Marketing_KB para planes y precios exactos.\n\n## PRIMER CONTACTO MARKETING\nEnviá estos dos mensajes en orden exacto:\n\nMENSAJE 1:\nHola! Gracias por escribir.\nGracias por tu interés en nuestro servicio de gestión de redes sociales.\nManejamos tu Facebook e Instagram de forma profesional, diseñamos todo, editamos videos, programamos y publicamos.\nVos te enfocás en tu negocio, nosotros en tus redes.\nPara recomendarte el mejor plan:\n¿A qué se dedica tu negocio?\n¿Tienen redes actualmente?\nPlanes desde ₡21,800/mes.\n¿Te interesa saber más?\n\nMENSAJE 2:\n## SI PREGUNTAS POR PLANES\nPlan Inicio — ₡21,800 IVAI/mes: 2 artes, 2 reels, reporte básico mensual, 1 reunión opcional. Ideal para emprendimientos nuevos.\nPlan Estándar — ₡56,800 IVAI/mes: 4 artes, 4 reels, 4 stories, reporte quincenal, 1 reunión. Ideal para negocios en crecimiento.\nPlan Profesional — ₡119,800 IVAI/mes: 6 artes, 6 reels, 8 stories, Community Management L-V 9am-5pm, reporte quincenal, 1 reunión. Ideal para empresas con alta interacción.\nTodos incluyen Facebook e Instagram. TikTok opcional: ₡15,000/mes adicional.\n\nMENSAJE 3:\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros profesionales en el área te estará contactando.\n\n## SERVICIOS ADICIONALES MARKETING\nCommunity Management (Inicio y Estándar): ₡35,000/mes\nPauta publicitaria: ₡15,000/mes + inversión\nTikTok: ₡15,000/mes\nProducción en sitio: desde ₡25,000\nFotografía: desde ₡30,000\nArte adicional: ₡5,900 | Reel: ₡7,900 | Story: ₡3,600\n\n---\n\n# ÁREA: ESCALAMIENTO\n\nSi el cliente quiere hablar con un humano, agente o asesor, respondé exactamente así:\nEntendido. Podemos ayudarte de dos formas:\n\nEsperá a un agente disponible — uno de nuestros asesores te contactará en horario L-V 8:00-22:00 / S-D 8:00-17:00.\nAgendá una cita a tu conveniencia — elegís el día y hora que mejor te quede.\n\n¿Cuál preferís?\nSi elige opción 1 → respondé: Listo, ya quedó registrada tu solicitud. En breve uno de nuestros agentes se pondrá en contacto con vos.\nSi elige opción 2 → preguntá: ¿Cuál es el motivo de tu cita? Estas son las opciones:\n\nDemo del sistema (ver cómo funciona en vivo)\nLlamada explicativa (que te expliquen antes de decidir)\nCapacitación (ya sos cliente y necesitás aprender a usar el sistema)\nReunión con gerencia\n\nSegún lo que elija, derivá al Agente AGE pasando el tipo de cita ya identificado como contexto, para que el cliente no tenga que repetirlo.\n\nPara páginas web, diseño web, ecommerce o capacitaciones adicionales:\nCon gusto te ayudamos. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\n\n\n---\n\n# HORARIOS\n- Bot: 24/7\n- Soporte humano: L-V 8:00-22:00\n- Hardware presencial: L-V 8:30-17:00, S 10:00-15:00\n\n# CIERRE\nSi el usuario se despide o agradece, respondé en una sola frase cordial.\n\n# FORMATO\nSin asteriscos, sin comillas dobles.\nRespuestas breves y directas.\nSi el cliente escribe en otro idioma, respondé en ese idioma.\nNo repitas el mismo mensaje en la conversación.","maxIterations":4,"enableStreaming":false}},"id":"3030395e-90d1-4a87-8062-ba33a6f3e06a","name":"Agente HME","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3488,1312]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Hardware_KB: Consultá para información sobre equipos, accesorios, precios y servicio Facture Seguro de Facture.CR.","tableName":{"__rl":true,"value":"hardware","mode":"list","cachedResultName":"hardware"},"options":{"queryName":"match_hardware"}},"id":"f8844013-8d3b-43f6-95a2-456aa1c86db7","name":"Hardware_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-3648,1536],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Marketing_KB: Consultá para información sobre servicios de marketing digital de Facture.CR.","tableName":{"__rl":true,"value":"marketing","mode":"list","cachedResultName":"marketing"},"options":{"queryName":"match_marketing"}},"id":"69c15be3-6161-4338-accc-10f88e3cb31e","name":"Marketing_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-3360,1536],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Escalamiento_KB: Consultá para casos de escalamiento a agente humano.","tableName":{"__rl":true,"value":"escalamiento","mode":"list","cachedResultName":"escalamiento"},"options":{"queryName":"match_Escalamiento"}},"id":"98b6b7db-9b3c-4129-a883-5f1195fe7fd1","name":"Escalamiento_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-3072,1536],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Contexto').first().json.sessionId;\nconst esDespedida = $('Leer Contexto').first().json.esDespedida;\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst output = $input.first().json.output || '';\n\nif (esDespedida) {\n  delete stored[ctxKey];\n}\n\nreturn [{ json: { output } }];\n"},"id":"b59f4fca-5983-4eee-b7dd-cf5f31c76e78","name":"Guardar HME","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2704,1520]},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-3568,2560],"id":"be38de80-88d0-4b32-9b8f-b9904f572c08","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-3280,2560],"id":"499c4a5d-33b8-4abe-8a24-74aad4439392","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-2992,2560],"id":"e04fbf2e-9dae-41e9-b492-97724b7dfc37","name":"Embeddings Google Gemini2","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3776,1536],"id":"a93d1d96-15f0-4813-80a8-3a2ba9a90565","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-3568,1744],"id":"48cb1a35-d3f2-4d53-b7e3-91da7e07ee57","name":"Embeddings Google Gemini3","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-3280,1744],"id":"79811c7e-e222-4641-8535-972a16d76f1a","name":"Embeddings Google Gemini4","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-2992,1744],"id":"c99c57f4-3c61-4d5a-8122-74be9fb448a1","name":"Embeddings Google Gemini5","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4352,2032],"id":"3391b20f-3831-4c43-b2ad-cc4d71f5081d","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3776,2352],"id":"abc578fc-ce28-428e-af82-82de35186067","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"jsCode":"const sessionId = $input.first().json.sessionId;\nconst chatInput = $input.first().json.mensaje || $input.first().json.chatInput || '';\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst ctx = stored[ctxKey] || {\n  nombre: null,\n  negocio: null,\n  documentos: null,\n  fase: 1\n};\n\nconst esDespedida = [\n  /\\b(adios|adiós|hasta luego|chao|bye|hasta pronto|nos vemos)\\b/i,\n  /gracias.{0,10}(hasta|bye|adios|chao|luego)/i,\n  /que\\s*tenga[sn]?\\s*(buen|un\\s*buen)/i,\n  /ya\\s*(es|fue)\\s*todo/i,\n  /eso\\s*es\\s*todo/i,\n  /ya\\s*(me\\s*)?(resolvieron|quedo|lo\\s*resolviste)/i,\n  /problema\\s*(resuelto|solucionado)/i,\n  /^(ok|okay|perfecto|excelente|listo|claro|entendido)\\s*[,.]?\\s*(gracias|bye|chao|adios)?\\s*\\.?$/i\n].some(p => p.test(chatInput.trim()));\n\nif (esDespedida) {\n  delete stored[ctxKey];\n}\n\nconst nombreMatch = chatInput.match(/(?:me llamo|soy|mi nombre es)\\s+([A-Za-zÀ-ú]+)/i);\nif (nombreMatch && !ctx.nombre) ctx.nombre = nombreMatch[1];\n\nconst docsMatch = chatInput.match(/(\\d+)\\s*(?:facturas?|documentos?|tiquetes?)/i);\nif (docsMatch && !ctx.documentos) ctx.documentos = docsMatch[1];\n\nif (!esDespedida) stored[ctxKey] = ctx;\n\nreturn [{ json: { chatInput, sessionId, ctx, esDespedida } }];"},"id":"b6d253f9-0e9f-485a-8602-6e31ac1e1207","name":"Leer Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4576,1824]},{"parameters":{"sessionIdType":"customKey","sessionKey":"=={{ $('Leer Contexto').first().json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-3440,1760],"id":"49a1b997-1e4d-48f5-a210-787886078066","name":"Redis Chat Memory","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=={{ $('Leer Contexto').first().json.sessionId }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-3440,2496],"id":"fc821ab3-2cae-4936-a00e-566a4ba2e9a6","name":"Redis Chat Memory1","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"public":true,"initialMessages":"soy el asistente facture, en que te ayudo ?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-4832,1824],"id":"2595221b-920f-48b0-bc84-2c99f7f2feaa","name":"When chat message received","webhookId":"f48dd0bc-4efc-4300-8f28-631880d24a59"},{"parameters":{"promptType":"define","text":"=={{ $('Leer Contexto').first().json.chatInput }}","options":{"systemMessage":"Sos el asistente de agendamiento de Facture.CR.\n\n## COMPORTAMIENTO GENERAL\nResponde de inmediato y sin rodeos.\nPregunta siempre por el nombre, teléfono, correo electrónico antes de agendar una cita\nTu único trabajo es identificar qué tipo de cita necesita el cliente, ofrecerle los horarios disponibles y confirmar el agendamiento.\nNo vendés, no das soporte técnico. Solo agendás.\n\n## MENSAJES DE AUDIO TRANSCRITOS\nSi el mensaje contiene \"Media Message Transcription:\" → el texto real del cliente es SOLO lo que viene después de esa etiqueta. Procesá únicamente ese contenido.\n\n---\n\n# TIPOS DE CITA\n\nHay 4 tipos de cita. Detectá cuál aplica según el contexto:\n\n1. CAPACITACIÓN\nPara clientes que ya compraron el sistema y necesitan aprender a usarlo.\nSeñales: ya pagué, ya me activaron, necesito que me enseñen, cuándo es la capacitación, me dieron acceso.\nImportante: requiere personal dedicado. Solo se agenda UNA franja por vez.\nHorario: L-V, mañana 8:00-11:00 o tarde 14:00-17:00.\n\n2. LLAMADA EXPLICATIVA\nPara prospectos que quieren entender el sistema antes de decidir si compran.\nSeñales: quiero que me expliquen, cómo funciona, tengo dudas, quiero saber más antes de decidir.\nHorario: L-V, mañana 8:00-11:00 o tarde 14:00-17:00.\n\n3. DEMO DE VENTAS\nPara prospectos con intención clara de compra que quieren ver el sistema en vivo.\nSeñales: quiero ver una demo, quiero ver cómo funciona en vivo, quiero una demostración, me interesa el sistema y quiero verlo.\nHorario: L-V, mañana 8:00-11:00 o tarde 14:00-17:00.\n\n4. LLAMADA CON GERENCIA\nPara clientes o prospectos que quieren hablar directamente con el gerente o un directivo.\nSeñales: quiero hablar con el gerente, necesito hablar con la gerencia, quiero una reunión con el dueño, hablar con quien manda.\nAcción: NO agendás directamente. Escalar con el mensaje exacto:\nEntendido. Voy a pasar tu solicitud al equipo de gerencia. En breve, durante nuestro horario de atención (L-V 8:00-22:00), se pondrán en contacto con vos para coordinar la reunión.\n\n---\n\n# FRANJAS HORARIAS DISPONIBLES\n\nTodos los tipos de cita (excepto gerencia) se agendan en estas franjas, de lunes a viernes:\n- Mañana: 8:00 a 11:00\n- Tarde: 14:00 a 17:00\n\nNO se agenda los sábados, domingos ni feriados.\nNO hay citas fuera de estas franjas.\n\nAntes de ofrecer horarios, consultá la herramienta Google_Calendar para verificar disponibilidad real en los próximos 3 días hábiles.\n\n---\n\n# FLUJO DE AGENDAMIENTO\n\n## Primer mensaje — Identificar tipo de cita\nPerfecto para agendar una cita me podrías brindar tu nombre completo, numero de teléfono y correo electrónico\nSi el mensaje es claro → detectá el tipo directamente.\nSi es ambiguo → preguntá UNA sola cosa: ¿Querés una demo del sistema, una llamada para que te expliquen cómo funciona, o ya sos cliente y necesitás la capacitación?\n\n## Segundo mensaje — Recopilar datos mínimos\nSolo necesitás:\n- Nombre completo (si no está en el texto de contexto arriba)\n- Número de teléfono (para confirmar\n-correo electrónico \n- Tipo de negocio (solo para demos y llamadas explicativas, para preparar al asesor)\n\nNO pedís más datos. No es un formulario largo.\n\n## Verificar disponibilidad\nConsultá Google_Calendar con la herramienta disponible.\nOfrecé máximo 3 opciones concretas de fecha y hora dentro de las franjas permitidas.\nEjemplo:\nTenemos disponibilidad en:\n- Lunes 5 de mayo, 9:00 am\n- Lunes 5 de mayo, 3:00 pm\n- Martes 6 de mayo, 10:00 am\n¿Cuál te queda mejor?\n\n## Paso 4 — Confirmar y crear el evento\nCuando el cliente elige una opción:\n1. Usá la herramienta Google_Calendar para crear el evento con:\n   - Título: [Tipo de cita] — [Nombre del cliente] — [Negocio]\n   - Fecha y hora confirmada\n   - Duración: 1 hora (capacitación: 1h30min)\n   - Descripción: número de teléfono del cliente\n2. Confirmá al cliente con mensaje exacto:\nListo, quedó agendado para el [día] [fecha] a las [hora]. Uno de nuestros asesores te va a contactar al [número] para coordinar el acceso a la videollamada. Si necesitás cambiar la cita, escribinos con anticipación.\n\n---\n\n# REGLAS CRÍTICAS\n- NUNCA agendés fuera de las franjas 8:00-11:00 y 14:00-17:00 de L-V.\n- NUNCA inventés disponibilidad. Siempre consultá Google_Calendar primero.\n- NUNCA agendés llamadas con gerencia. Solo escalás.\n- Si el cliente pide un horario fuera de franja: Lo sentimos, solo tenemos disponibilidad de 8:00 a 11:00 en la mañana y de 2:00 a 5:00 en la tarde, de lunes a viernes.\n- Si no hay disponibilidad en los próximos 3 días → ofrecé el siguiente bloque disponible.\n- NUNCA confirmés una cita sin haberla creado en Google Calendar.\n\n---\n\n# CIERRE\nSi el cliente se despide → una sola frase cordial, sin despedidas largas.\n\n# FORMATO\nSin asteriscos, sin comillas dobles, sin markdown.\nRespuestas breves y directas.\nLenguaje simple y cotidiano.","maxIterations":10,"enableStreaming":false}},"id":"7710f724-20d5-4d48-a2a0-9dcbf6ed5b04","name":"Agente AGE","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3712,560]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3712,832],"id":"18c84c45-2591-4f00-b425-5da440c0f8cd","name":"Google Gemini Chat Model AGE","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=$('Leer Contexto').first().json.sessionId","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-3504,816],"id":"670d3240-089f-4854-90ba-11d5da64b3c2","name":"Redis Chat Memory AGE","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Contexto').first().json.sessionId;\nconst esDespedida = $('Leer Contexto').first().json.esDespedida;\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst chatInput = $('Leer Contexto').first().json.chatInput || '';\nconst output = $input.first().json.output || $input.first().json.text || $input.first().json.response || $input.first().json.message || '';\n\nif (esDespedida) {\n  delete stored[ctxKey];\n} else {\n  const ctx = stored[ctxKey] || {};\n  const nombreMatch = chatInput.match(/(?:me llamo|soy|mi nombre es)\\s+([A-Za-z\\u00e0-\\u00fc]+)/i);\n  if (nombreMatch && !ctx.nombre) ctx.nombre = nombreMatch[1];\n  stored[ctxKey] = ctx;\n}\n\nreturn [{ json: { output } }];\n"},"id":"d3965213-7b4e-4ed1-b1b1-2fbd6f1ddd7c","name":"Guardar AGE","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3200,560]},{"parameters":{"jsCode":"const data = $input.first().json;\nconst eventos = data.eventos || [];\n// Filtrar items vacíos (alwaysOutputData genera {}) \nconst reales = eventos.filter(e => e && e.id);\nreturn [{ json: { disponible: reales.length === 0, cantidad: reales.length } }];"},"id":"dc50ae40-0f09-4df9-86d6-56508940d0c7","name":"SUB: Evaluar Eventos","type":"n8n-nodes-base.code","position":[-2496,560],"typeVersion":2},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// ---- Extraer campos estructurados o desde query ----\nlet nombre = input.nombre || '';\nlet telefono = input.telefono || '';\nlet correo = input.correo || '';\nlet motivo = input.motivo || '';\nlet fi = input.fecha_hora_inicio || '';\nlet ff = input.fecha_hora_fin || '';\n\nconst raw = (!nombre) ? (input.query || input.chatInput || JSON.stringify(input)) : '';\n\nif (raw) {\n  const nM = raw.match(/(?:Nombre[^:]*:|^)\\s*([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+(?:\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)+)/m);\n  const tM = raw.match(/(?:Tel[^:]*:)?\\s*(\\d{8,})/i);\n  const cM = raw.match(/([\\w.+-]+@[\\w-]+\\.[\\w.]+)/);\n  const mM = raw.match(/(?:Motivo[^:]*:|sobre\\s+)([^,\\n\\.]+)/i);\n  nombre = nM ? nM[1].trim() : 'Cliente';\n  telefono = tM ? tM[1].trim() : '';\n  correo = cM ? cM[1].trim() : '';\n  motivo = mM ? mM[1].trim() : '';\n}\n\n// ---- Resolver fechas relativas usando $now ----\nconst ahora = new Date();\n\nconst resolverFecha = (texto) => {\n  if (!texto) return null;\n  texto = texto.toLowerCase().trim();\n\n  // ISO directo\n  const isoM = texto.match(/(\\d{4}-\\d{2}-\\d{2})[T ](\\d{2}:\\d{2})/);\n  if (isoM) return `${isoM[1]}T${isoM[2]}:00`;\n\n  // DD/MM/YYYY HH:MM\n  const dmyM = texto.match(/(\\d{1,2})[\\/-](\\d{1,2})[\\/-](\\d{4}).*?(\\d{1,2}:\\d{2})/);\n  if (dmyM) {\n    const iso = `${dmyM[3]}-${dmyM[2].padStart(2,'0')}-${dmyM[1].padStart(2,'0')}`;\n    return `${iso}T${dmyM[4]}:00`;\n  }\n\n  // Extraer hora del texto\n  const horaM = texto.match(/(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)?/);\n  let hora = 9, min = 0;\n  if (horaM) {\n    hora = parseInt(horaM[1]);\n    min = horaM[2] ? parseInt(horaM[2]) : 0;\n    if (horaM[3] === 'pm' && hora < 12) hora += 12;\n    if (horaM[3] === 'am' && hora === 12) hora = 0;\n  }\n\n  const base = new Date(ahora);\n  base.setSeconds(0); base.setMilliseconds(0);\n\n  const dias = ['domingo','lunes','martes','miércoles','miercoles','jueves','viernes','sábado','sabado'];\n  const diasIdx = [0,1,2,3,3,4,5,6,6];\n\n  if (texto.includes('hoy')) {\n    // nada\n  } else if (texto.includes('mañana') || texto.includes('manana')) {\n    base.setDate(base.getDate() + 1);\n  } else if (texto.includes('pasado')) {\n    base.setDate(base.getDate() + 2);\n  } else {\n    // Buscar día de la semana\n    let encontrado = false;\n    for (let i = 0; i < dias.length; i++) {\n      if (texto.includes(dias[i])) {\n        const hoy = ahora.getDay();\n        const objetivo = diasIdx[i];\n        let diff = objetivo - hoy;\n        if (diff <= 0) diff += 7;\n        if (texto.includes('proxima') || texto.includes('próxima') || texto.includes('siguiente')) diff += 7;\n        base.setDate(base.getDate() + diff);\n        encontrado = true;\n        break;\n      }\n    }\n    // Número de días: \"en 3 días\"\n    if (!encontrado) {\n      const enDiasM = texto.match(/en\\s+(\\d+)\\s+d/);\n      if (enDiasM) base.setDate(base.getDate() + parseInt(enDiasM[1]));\n    }\n  }\n\n  base.setHours(hora, min, 0, 0);\n  const pad = (n) => String(n).padStart(2,'0');\n  return `${base.getFullYear()}-${pad(base.getMonth()+1)}-${pad(base.getDate())}T${pad(hora)}:${pad(min)}:00`;\n};\n\n// Si no hay fecha estructurada, buscar en el raw o en motivo\nif (!fi) {\n  const textoFecha = raw || motivo || '';\n  fi = resolverFecha(textoFecha) || '';\n}\n\n// Calcular fin si no existe (+1 hora)\nif (fi && !ff) {\n  const base = new Date(fi);\n  base.setHours(base.getHours() + 1);\n  const pad = (n) => String(n).padStart(2,'0');\n  ff = `${base.getFullYear()}-${pad(base.getMonth()+1)}-${pad(base.getDate())}T${pad(base.getHours())}:${pad(base.getMinutes())}:00`;\n}\n\n// Agregar timezone Costa Rica si falta\nconst addTZ = (dt) => {\n  if (!dt) return '';\n  if (dt.includes('+') || dt.includes('Z') || /T.*-\\d{2}:\\d{2}$/.test(dt)) return dt;\n  return dt + '-06:00';\n};\n\nreturn [{ json: {\n  nombre,\n  telefono,\n  correo,\n  motivo,\n  fecha_hora_inicio: addTZ(fi),\n  fecha_hora_fin: addTZ(ff)\n}}];"},"id":"737cf426-9b3e-4a05-aaa4-319498919a08","name":"SUB: Parsear Datos1","type":"n8n-nodes-base.code","position":[-3376,560],"typeVersion":2},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"obenavidescruz12@gmail.com","mode":"list","cachedResultName":"obenavidescruz12@gmail.com"},"timeMin":"={{ $('SUB: Parsear Datos1').item.json.fecha_hora_inicio }}","timeMax":"={{ $('SUB: Parsear Datos1').item.json.fecha_hora_fin }}","options":{}},"id":"45bc6ac6-0b33-4829-bc11-960e5d225125","name":"SUB: Verificar Disponibilidad1","type":"n8n-nodes-base.googleCalendar","position":[-2960,560],"typeVersion":1.3,"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"ggGEtqAD8TrKBQX6","name":"Google Calendar account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"eventos","options":{}},"id":"befe42bb-d52e-48c0-b623-7fd47b9b63a2","name":"SUB: Contar Eventos1","type":"n8n-nodes-base.aggregate","position":[-2720,560],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-disponible","leftValue":"={{ $json.disponible }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"1a5f386a-5aa3-4ec8-a1a7-b08619aa0ac1","name":"SUB: ¿Hay Disponibilidad?1","type":"n8n-nodes-base.if","position":[-2256,560],"typeVersion":2.2},{"parameters":{"calendar":{"__rl":true,"value":"obenavidescruz12@gmail.com","mode":"list","cachedResultName":"obenavidescruz12@gmail.com"},"start":"={{ $('SUB: Parsear Datos1').item.json.fecha_hora_inicio }}","end":"={{ $('SUB: Parsear Datos1').item.json.fecha_hora_fin }}","additionalFields":{"attendees":["={{ $('SUB: Parsear Datos1').item.json.correo }}"],"description":"=👤 Cliente: {{ $('SUB: Parsear Datos1').item.json.nombre }}\n📞 Teléfono: {{ $('SUB: Parsear Datos1').item.json.telefono }}\n📧 Correo: {{ $('SUB: Parsear Datos1').item.json.correo }}\n📋 Motivo: {{ $('SUB: Parsear Datos1').item.json.motivo }}","location":"Google Meet / Oficina toDeploy, Costa Rica","sendUpdates":"all","summary":"=Cita Facture.cr - {{ $('SUB: Parsear Datos1').item.json.nombre }}"}},"id":"89b443cd-32b3-4d34-97b3-fb1ab2505c3d","name":"SUB: Crear Evento en Google Calendar1","type":"n8n-nodes-base.googleCalendar","position":[-1952,480],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"ggGEtqAD8TrKBQX6","name":"Google Calendar account"}}},{"parameters":{"sendTo":"={{ $('SUB: Parsear Datos1').item.json.correo }}","subject":"✅ Confirmación de cita - Facture.CR","message":"=<h2>¡Hola {{ $('SUB: Parsear Datos1').item.json.nombre }}! 👋</h2>\n<p>Tu cita con <strong> Facture.CR </strong> ha sido agendada exitosamente.</p>\n<h3>📋 Detalles de tu cita:</h3>\n<ul>\n  <li><strong>📅 Fecha y hora:</strong> {{ $('SUB: Parsear Datos1').item.json.fecha_hora_inicio }}</li>\n  <li><strong>📋 Motivo:</strong> {{ $('SUB: Parsear Datos1').item.json.motivo }}</li>\n  <li><strong>📍 Lugar:</strong> Google Meet / Oficina toDeploy, Costa Rica</li>\n</ul>\n<p>Si necesitas reprogramar o cancelar, responde a este correo.</p>\n<p>¡Nos vemos pronto! 🚀<br><strong>Equipo toDeploy</strong></p>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-1696,464],"id":"942eacbd-808d-4e4e-a312-48c6a4af139c","name":"Send a message1","webhookId":"0526efee-8768-4ac4-a10f-f43a9ba1c3c6","credentials":{"gmailOAuth2":{"id":"cmHuWrce4WBKJS6x","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"resp-ok","name":"output","type":"string","value":"=✅ ¡Cita agendada exitosamente!\n\n📅 Fecha: {{ $('SUB: Parsear Datos1').item.json.fecha_hora_inicio }}\n👤 Cliente: {{ $('SUB: Parsear Datos1').item.json.nombre }}\n📧 Correo: {{ $('SUB: Parsear Datos1').item.json.correo }}\n📋 Motivo: {{ $('SUB: Parsear Datos1').item.json.motivo }}\n\nSe ha enviado una invitación al correo del cliente. ¡Nos vemos pronto!"}]},"options":{}},"id":"334bce28-a9cf-41e6-b604-ce41bd813a5d","name":"SUB: Respuesta Cita Agendada1","type":"n8n-nodes-base.set","position":[-1376,496],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"resp-no","name":"output","type":"string","value":"=❌ Lo sentimos, el horario solicitado ({{ $('SUB: Parsear Datos1').item.json.fecha_hora_inicio }}) no está disponible. Ya existe una cita agendada en ese horario.\n\nPor favor sugiere al cliente otros horarios disponibles, como:\n- 1 hora antes o después\n- El mismo día en la tarde\n- El día siguiente"}]},"options":{}},"id":"24468408-a76e-48b3-9daa-845ffc146dd3","name":"SUB: Respuesta Sin Disponibilidad1","type":"n8n-nodes-base.set","position":[-1696,784],"typeVersion":3.4}],"connections":{"Clasificador":{"main":[[{"node":"Router","type":"main","index":0}]]},"Router":{"main":[[{"node":"Agente SVP","type":"main","index":0}],[{"node":"Agente HME","type":"main","index":0}],[{"node":"Agente AGE","type":"main","index":0}]]},"Agente SVP":{"main":[[{"node":"Guardar SVP","type":"main","index":0}]]},"Soporte_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Ventas_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Pagos_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Agente HME":{"main":[[{"node":"Guardar HME","type":"main","index":0}]]},"Hardware_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Marketing_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Escalamiento_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Soporte_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Ventas_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Pagos_KB","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Agente HME","type":"ai_languageModel","index":0}]]},"Embeddings Google Gemini3":{"ai_embedding":[[{"node":"Hardware_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini4":{"ai_embedding":[[{"node":"Marketing_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini5":{"ai_embedding":[[{"node":"Escalamiento_KB","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Clasificador","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Agente SVP","type":"ai_languageModel","index":0}]]},"Leer Contexto":{"main":[[{"node":"Clasificador","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente HME","type":"ai_memory","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"Agente SVP","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Leer Contexto","type":"main","index":0}]]},"Agente AGE":{"main":[[{"node":"SUB: Parsear Datos1","type":"main","index":0}]]},"Google Gemini Chat Model AGE":{"ai_languageModel":[[{"node":"Agente AGE","type":"ai_languageModel","index":0}]]},"Redis Chat Memory AGE":{"ai_memory":[[{"node":"Agente AGE","type":"ai_memory","index":0}]]},"Guardar AGE":{"main":[[{"node":"SUB: Verificar Disponibilidad1","type":"main","index":0}]]},"SUB: Evaluar Eventos":{"main":[[{"node":"SUB: ¿Hay Disponibilidad?1","type":"main","index":0}]]},"SUB: Parsear Datos1":{"main":[[{"node":"Guardar AGE","type":"main","index":0}]]},"SUB: Verificar Disponibilidad1":{"main":[[{"node":"SUB: Contar Eventos1","type":"main","index":0}]]},"SUB: Contar Eventos1":{"main":[[{"node":"SUB: Evaluar Eventos","type":"main","index":0}]]},"SUB: ¿Hay Disponibilidad?1":{"main":[[{"node":"SUB: Crear Evento en Google Calendar1","type":"main","index":0}],[{"node":"SUB: Respuesta Sin Disponibilidad1","type":"main","index":0}]]},"SUB: Crear Evento en Google Calendar1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"SUB: Respuesta Cita Agendada1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ddac0ac5-26b2-4fe2-a554-bc6dad57fce3","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-03T18:47:23.594Z","createdAt":"2026-04-03T18:47:23.594Z","role":"workflow:owner","workflowId":"7Q8kdFcaJbae5cT6","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}