workflows/Disponibilidad de citas.json
{"updatedAt":"2026-05-01T22:37:09.562Z","createdAt":"2026-04-30T17:55:08.056Z","id":"ZEd7p9xIc8SRimTd","name":"Disponibilidad de citas","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"fecha_inicio"},{"name":"fecha_fin"}]}},"id":"572c5255-fd4e-46e0-ad1e-8256e23202a4","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,48]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"500da7433b3c9ee1d1435f5b42d359b18a2e6610a34abc33d55d1ca10749d0cf@group.calendar.google.com","mode":"list","cachedResultName":"Pruebas"},"timeMin":"={{ $json.fecha_inicio }}","timeMax":"={{ $json.fecha_fin }}","options":{}},"id":"62b2e4ab-a52f-4174-b042-b1bdc2fb45de","name":"Buscar Eventos","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[224,48],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"LYjOlp4rj31BLzUh","name":"Google Calendar account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst eventosReales = items.filter(i => i.json && i.json.id);\nreturn [{ json: { disponible: eventosReales.length === 0 } }];"},"id":"ef311f2f-3bc1-425f-b792-b01dd6a3ebb6","name":"Evaluar Disponibilidad","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,48]},{"parameters":{"content":"# Subworkflow — Verificar Disponibilidad en Google Calendar\n\n### Recibe un rango de fecha y hora, consulta el calendario de Facture.CR buscando eventos existentes en ese intervalo y retorna `{ disponible: true }` si el horario está libre o `{ disponible: false }` si ya hay un evento agendado.","height":480,"width":944,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-144,-144],"typeVersion":1,"id":"c76a5ab4-80e3-479f-9390-6020e0f83d56","name":"Sticky Note"}],"connections":{"Trigger":{"main":[[{"node":"Buscar Eventos","type":"main","index":0}]]},"Buscar Eventos":{"main":[[{"node":"Evaluar Disponibilidad","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"4062d359-ac6c-40b4-960d-a46b7df68598","activeVersionId":"4062d359-ac6c-40b4-960d-a46b7df68598","triggerCount":0,"shared":[{"updatedAt":"2026-04-30T17:55:08.058Z","createdAt":"2026-04-30T17:55:08.058Z","role":"workflow:owner","workflowId":"ZEd7p9xIc8SRimTd","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":{"updatedAt":"2026-05-02T04:55:16.000Z","createdAt":"2026-05-01T22:37:09.564Z","versionId":"4062d359-ac6c-40b4-960d-a46b7df68598","workflowId":"ZEd7p9xIc8SRimTd","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"fecha_inicio"},{"name":"fecha_fin"}]}},"id":"572c5255-fd4e-46e0-ad1e-8256e23202a4","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,48]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"500da7433b3c9ee1d1435f5b42d359b18a2e6610a34abc33d55d1ca10749d0cf@group.calendar.google.com","mode":"list","cachedResultName":"Pruebas"},"timeMin":"={{ $json.fecha_inicio }}","timeMax":"={{ $json.fecha_fin }}","options":{}},"id":"62b2e4ab-a52f-4174-b042-b1bdc2fb45de","name":"Buscar Eventos","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[224,48],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"LYjOlp4rj31BLzUh","name":"Google Calendar account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst eventosReales = items.filter(i => i.json && i.json.id);\nreturn [{ json: { disponible: eventosReales.length === 0 } }];"},"id":"ef311f2f-3bc1-425f-b792-b01dd6a3ebb6","name":"Evaluar Disponibilidad","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,48]},{"parameters":{"content":"# Subworkflow — Verificar Disponibilidad en Google Calendar\n\n### Recibe un rango de fecha y hora, consulta el calendario de Facture.CR buscando eventos existentes en ese intervalo y retorna `{ disponible: true }` si el horario está libre o `{ disponible: false }` si ya hay un evento agendado.","height":480,"width":944,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-144,-144],"typeVersion":1,"id":"c76a5ab4-80e3-479f-9390-6020e0f83d56","name":"Sticky Note"}],"connections":{"Trigger":{"main":[[{"node":"Buscar Eventos","type":"main","index":0}]]},"Buscar Eventos":{"main":[[{"node":"Evaluar Disponibilidad","type":"main","index":0}]]}},"authors":"Diego diereyescarv@gmail.com","name":"Version 4062d359","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}