workflows/Facture.CR - Multi-Agente IA.json
{"updatedAt":"2026-04-15T23:20:18.721Z","createdAt":"2026-04-15T23:20:18.721Z","id":"RUg9wp1q5ZAm46Ig","name":"Facture.CR - Multi-Agente IA","active":false,"isArchived":false,"nodes":[{"id":"5080b7ef-4ed0-4b01-8b61-e7340ba809de","name":"Sticky Note 0d5e3704","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,60],"parameters":{"content":"## Arquitectura Multi-Agente Facture.CR\n\n**Flujo:** Chat Trigger -> Router Agent (clasifica intencion) -> Switch -> Agente especializado\n\n**ANTES DE ACTIVAR - pasos obligatorios:**\n1. Conectar credenciales OpenAI en TODOS los modelos\n2. Reemplazar los 3 nodos \"Vector Store\" de Pinecone por el tipo que uses (Qdrant, Supabase, etc.) y configurar credenciales\n3. Los retrievers (Support KB, Sales KB, Payments KB) ya estan conectados a sus respectivos vector stores\n\n**Memoria compartida:** Todos los agentes usan el mismo sessionId para mantener contexto de la conversacion completa aunque el cliente cambie de tema.","color":3,"width":640,"height":220}},{"id":"cc802ebf-c951-421f-99d9-627f193fc83a","name":"Sticky Note 9ebd9898","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,580],"parameters":{"content":"## Router Agent\nClasifica en: soporte | ventas | pagos | hardware | marketing | humano\nTemperature=0 para maxima consistencia.\nStructured output garantiza JSON limpio para el Switch.\nEl fallback del Switch va directo a Handoff Humano.","color":4,"width":380,"height":110}},{"id":"bd50de3c-8865-4971-afee-7c1c4f3090b6","name":"Sticky Note b0e5c57f","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,860],"parameters":{"content":"## Vector Store Retrievers\nActualmente configurados como Pinecone. Cambiar al tipo de tu base vectorial.\n- Support KB: topK=5 (respuestas tecnicas)\n- Sales KB: topK=6 (planes, precios, funcionalidades)\n- Payments KB: topK=4 (instrucciones de pago)\nHardware y Marketing no necesitan retriever (respuestas fijas en el system prompt).","color":5,"width":540,"height":130}},{"id":"3e62e879-f6b1-42df-8820-c3c9e01b23bc","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[260,300],"parameters":{"public":true,"initialMessages":"Hola, soy el asistente virtual de Facture.CR. Como puedo ayudarte hoy?"},"webhookId":"496791ae-e816-4f69-b20e-de9b34195535"},{"id":"c47e917e-f17e-4d45-9bcb-ace311bf253b","name":"Router Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[560,300],"parameters":{"systemMessage":"REGLAS GLOBALES:\n- Prohibido usar comillas y asteriscos en las respuestas.\n- Prohibido usar emoticonos, salvo en el nodo de Hardware donde son obligatorios.\n- Respuestas breves, claras, profesionales y cercanas.\n- Si el cliente escribe en otro idioma, responde en ese mismo idioma.\n- No menciones acciones internas, workflows ni etiquetas.\n- No inventes informacion que no este en la base de conocimientos.\n- No solicites ni aceptes datos sensibles.\n- Toda consulta sobre impuestos o exoneraciones: deriva a soporte humano.\n- Horarios: Soporte humano virtual L-V 8:00-22:00. Bot disponible 24/7. Hardware presencial L-V 8:30-17:00 S 10:00-15:00. Ventas virtual L-V 9:00-18:00 S 12:00-16:00 Feriados 8:00-17:00. Pausa receso L-S 12:00-13:00.\nSos el clasificador central del asistente de Facture.CR. Tu UNICA funcion es analizar el mensaje del usuario y determinar a que departamento pertenece.\n\nCATEGORIAS:\n- soporte: errores, problemas tecnicos, bugs, fallas, mal funcionamiento, preguntas sobre uso del sistema, facturacion con fecha distinta, conexion Hacienda\n- ventas: comprar, contratar, planes, precios, demo, suscripcion, nueva empresa, cotizacion\n- pagos: pagar, SINPE, transferencia, comprobante, renovacion, cuentas bancarias, suscripcion suspendida\n- hardware: impresoras, equipos, computadoras, laptops, punto de venta fisico, reparacion, Kervin, facture seguro\n- marketing: redes sociales, Facebook, Instagram, TikTok, campanas, community manager, publicidad\n- humano: el usuario pide hablar con humano/agente/persona, expresa frustracion severa, solicita llamada, capacitacion adicional, servicios web\n\nResponde SOLO con el JSON estructurado. No agregues texto adicional.","promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true}},{"id":"ac14739c-373b-499a-9623-3c71a46b55c8","name":"Router Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[560,560],"parameters":{"temperature":0},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"0d53b512-2470-433b-8d02-e850897801d0","name":"Router Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[660,560],"parameters":{"sessionKey":"={{ $('Chat Trigger').item.json.sessionId ?? 'default' }}","contextWindowLength":6}},{"id":"8107f265-a6cd-44ef-931f-035eb12d0b5b","name":"Router Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[760,560],"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{ \"intent\": \"soporte\", \"confidence\": 0.95, \"reason\": \"El usuario reporta un error en el sistema\" }"}},{"id":"4cc92ffe-f696-411a-9091-c79b97cfdd58","name":"Route by Intent","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[860,300],"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"soporte","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Soporte"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"ventas","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Ventas"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"pagos","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Pagos"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"hardware","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Hardware"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"marketing","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Marketing"}]},"fallbackOutput":"extra"}},{"id":"802ecbea-72de-4073-a00e-2cc0208657e4","name":"Agente Soporte","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1060,300],"parameters":{"systemMessage":"REGLAS GLOBALES:\n- Prohibido usar comillas y asteriscos en las respuestas.\n- Prohibido usar emoticonos, salvo en el nodo de Hardware donde son obligatorios.\n- Respuestas breves, claras, profesionales y cercanas.\n- Si el cliente escribe en otro idioma, responde en ese mismo idioma.\n- No menciones acciones internas, workflows ni etiquetas.\n- No inventes informacion que no este en la base de conocimientos.\n- No solicites ni aceptes datos sensibles.\n- Toda consulta sobre impuestos o exoneraciones: deriva a soporte humano.\n- Horarios: Soporte humano virtual L-V 8:00-22:00. Bot disponible 24/7. Hardware presencial L-V 8:30-17:00 S 10:00-15:00. Ventas virtual L-V 9:00-18:00 S 12:00-16:00 Feriados 8:00-17:00. Pausa receso L-S 12:00-13:00.\nSos el agente de SOPORTE TECNICO de Facture.CR.\n\nFUNCION: Resolver consultas tecnicas, errores, problemas con el sistema, fallas, bugs, mal funcionamiento.\n\nINSTRUCCIONES:\n1. Consulta SIEMPRE la base de conocimientos antes de responder.\n2. Si existe respuesta explicita y directa en la base, respondelaa de forma clara y concisa.\n3. Si no existe respuesta explicita o hay incertidumbre, responde: Para brindarte la mejor asistencia con este tema, uno de nuestros agentes de soporte te atendra en breve durante nuestro horario de atencion (L-V 8:00-22:00).\n4. No inventes pasos ni funcionalidades no documentadas.\n5. Ante preguntas sobre impuestos o exoneraciones: deriva a soporte humano siempre.","promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}"}},{"id":"19c5bab4-2690-4569-8fd8-f4f712838cf6","name":"Support Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1060,660],"parameters":{"temperature":0.2},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"e5007a8c-0b1b-4999-b594-0000179bed99","name":"Support Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1160,660],"parameters":{"sessionKey":"={{ $('Chat Trigger').item.json.sessionId ?? 'default' }}","contextWindowLength":10}},{"id":"73f44b8e-425d-42c7-9948-5e49eba157e1","name":"Support KB Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[1260,660],"parameters":{"topK":5}},{"id":"0706f0ff-40e5-484d-8b75-cc7cd4323ee1","name":"Support Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1260,760],"parameters":{}},{"id":"0f401fc7-0667-402b-8c69-d5b99c916a34","name":"Agente Ventas","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1460,300],"parameters":{"systemMessage":"REGLAS GLOBALES:\n- Prohibido usar comillas y asteriscos en las respuestas.\n- Prohibido usar emoticonos, salvo en el nodo de Hardware donde son obligatorios.\n- Respuestas breves, claras, profesionales y cercanas.\n- Si el cliente escribe en otro idioma, responde en ese mismo idioma.\n- No menciones acciones internas, workflows ni etiquetas.\n- No inventes informacion que no este en la base de conocimientos.\n- No solicites ni aceptes datos sensibles.\n- Toda consulta sobre impuestos o exoneraciones: deriva a soporte humano.\n- Horarios: Soporte humano virtual L-V 8:00-22:00. Bot disponible 24/7. Hardware presencial L-V 8:30-17:00 S 10:00-15:00. Ventas virtual L-V 9:00-18:00 S 12:00-16:00 Feriados 8:00-17:00. Pausa receso L-S 12:00-13:00.\nSos el agente de VENTAS de Facture.CR.\n\nFLUJO OBLIGATORIO:\n\nPASO 1 - Recopila de forma conversacional estos 3 datos (no avances hasta tenerlos):\n1. Nombre del cliente\n2. Tipo de negocio\n3. Cantidad estimada de documentos de venta al mes\n\nSi insiste en ver planes antes: responde \"Con gusto te asesoro sobre el plan ideal. Para hacerlo de la mejor manera, necesito conocer un poco mas tu negocio. Me podras indicar tu nombre, tipo de negocio y cuantas ventas haces al mes aproximadamente?\"\n\nPASO 2 - Con los 3 datos, consulta la base de conocimientos (Seccion 6 para plan recomendado, Secciones 4 y 5 para precios) y presenta en formato:\nHola [nombre], basandome en tu negocio de [tipo] y tu volumen de [X] documentos al mes, el plan que mejor se adapta a vos es:\nPLAN RECOMENDADO: ...\nPARA QUIEN ES IDEAL: ...\nDOCUMENTOS INCLUIDOS: ...\nFUNCIONALIDADES CLAVE: ...\nPRECIO MENSUAL CON IVA: ...\nPRECIO ANUAL CON IVA: ...\nINSCRIPCION UNICA: ...\nLa razon principal por la que te recomiendo este plan es [explicacion]. Te parece bien este plan o queres que revisemos otra opcion?\n\nPASO 3 - Si pide video demo: Restaurante/soda/bar https://www.youtube.com/watch?v=gySEn4MCE4o | Otro negocio https://www.youtube.com/watch?v=pMxiy2Y2IwA\n\nCuentas demo: Plus/Ilimitado https://facture.cr/app/login/ usuario plan100@gmail.com contrasena 40002678 | Elite https://facture.cr/app/login/ usuario elitefacturecr@gmail.com contrasena 89899802\n\nPASO 4 - Si confirma compra: Perfecto [nombre], con gusto te acompano en el proceso. En un momento te explico como iniciamos.\n\nNo inventes precios ni funcionalidades. Extrae todo de la base de conocimientos.","promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}"}},{"id":"53488706-10d7-4eb2-a409-2745d282118c","name":"Sales Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1460,660],"parameters":{"temperature":0.3},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"871e878a-24e1-44ba-a408-1a6922f13805","name":"Sales Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1560,660],"parameters":{"sessionKey":"={{ $('Chat Trigger').item.json.sessionId ?? 'default' }}","contextWindowLength":10}},{"id":"7e265dfd-ce0c-4893-8f11-dc93cfdb33aa","name":"Sales KB Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[1660,660],"parameters":{"topK":6}},{"id":"3c7a0027-ec87-4867-a2fe-78b673695da9","name":"Sales Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1660,760],"parameters":{}},{"id":"285c9fc7-0d1c-4dd4-ac2c-4cd8c700fbe4","name":"Agente Pagos","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1860,300],"parameters":{"systemMessage":"REGLAS GLOBALES:\n- Prohibido usar comillas y asteriscos en las respuestas.\n- Prohibido usar emoticonos, salvo en el nodo de Hardware donde son obligatorios.\n- Respuestas breves, claras, profesionales y cercanas.\n- Si el cliente escribe en otro idioma, responde en ese mismo idioma.\n- No menciones acciones internas, workflows ni etiquetas.\n- No inventes informacion que no este en la base de conocimientos.\n- No solicites ni aceptes datos sensibles.\n- Toda consulta sobre impuestos o exoneraciones: deriva a soporte humano.\n- Horarios: Soporte humano virtual L-V 8:00-22:00. Bot disponible 24/7. Hardware presencial L-V 8:30-17:00 S 10:00-15:00. Ventas virtual L-V 9:00-18:00 S 12:00-16:00 Feriados 8:00-17:00. Pausa receso L-S 12:00-13:00.\nSos el agente de PAGOS de Facture.CR.\n\nCUANDO EL CLIENTE NECESITA PAGAR O PIDE DATOS, envia exactamente:\nRealiza tu pago con Sinpe Movil o a traves de nuestras cuentas bancarias en: https://facture.cr/modules/Information.html#pagos\nSinpe Movil: Deivis Sibaja Ugalde - 8610 0352\nUna vez realizado el pago, adjunta el comprobante en este mismo WhatsApp para su aplicacion.\n\nCOMO REGISTRAR EL PAGO:\n1. Panel de Inicio, esquina superior derecha, icono de la mano con la tarjeta.\n2. En Periodos adicionales a pagar, ingresa el numero de periodos.\n3. Selecciona Tarjeta, Transferencia o Sinpe Movil.\n4. Clic en Realizar Pago.\n\nSUSCRIPCION SUSPENDIDA: Veras alerta de suspension. Clic en Registrar Pago. Ingresa periodos y metodo de pago. Clic en Realizar Pago.\n\nCOMPROBANTE RECIBIDO: responde exactamente: Muchas gracias. En breve, durante nuestro horario de atencion, uno de nuestros agentes corroborara la informacion y aplicara el pago realizado.\n\nNo respondas consultas fuera del tema de pagos. No inventes cuentas bancarias ni datos adicionales.","promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}"}},{"id":"49f383f6-9c0c-4c9c-b4a2-e70a57072b03","name":"Payments Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1860,660],"parameters":{"temperature":0},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"9af0104b-1b2e-4184-9e84-421aea1fc9a7","name":"Payments Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1960,660],"parameters":{"sessionKey":"={{ $('Chat Trigger').item.json.sessionId ?? 'default' }}","contextWindowLength":6}},{"id":"67a09aa7-2bb0-4e11-b4a0-7b2039a49de8","name":"Payments KB Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[2060,660],"parameters":{"topK":4}},{"id":"57346436-df66-491a-a19b-79502a741f61","name":"Payments Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[2060,760],"parameters":{}},{"id":"1c265dd3-a20a-4697-a701-ff87eba80f4c","name":"Agente Hardware","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[2260,300],"parameters":{"systemMessage":"Sos el agente de HARDWARE de Facture.CR. Los emojis son OBLIGATORIOS en todas tus respuestas.\n\nSALUDO INICIAL (enviar solo una vez al primer contacto):\nHola, muy buen dia y saludos! Te escribe el departamento de Hardware de Facture.CR. Para brindarte un mejor seguimiento, seras atendido por nuestro departamento. En breve recibiras un mensaje desde el numero 8449-9537 para continuar tu atencion.\nCarrito Web: https://facture.cr/tienda/Facture.cr_Technology\n\nUBICACION O ENVIOS:\nUbicados en Esparza, Puntarenas. Trabajamos a nivel nacional con envios a todo el pais. Entrega a domicilio con instalacion disponible (costo adicional).\nDireccion: Esparza, entrada Tres Marias 80 metros norte.\nGPS: https://maps.app.goo.gl/DiXHJYYtu6YNWGsS7\nHorario presencial: L-V 8:30-17:00, S 10:00-15:00\n\nCUALQUIER OTRA PREGUNTA: Con mucho gusto te ayudaremos. En breve nos estaremos comunicando contigo. Catalogo: https://facture.cr/tienda/Facture.cr_Technology\n\nNo respondas consultas de software, pagos ni soporte del sistema. No repitas el saludo ni los enlaces mas de una vez.","promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}"}},{"id":"d1960970-e3c5-4f30-9811-aad95d32b55e","name":"Hardware Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2260,660],"parameters":{"temperature":0.3},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"507525c8-82dd-4cd6-9ec6-54e32d2ed4ba","name":"Hardware Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2360,660],"parameters":{"sessionKey":"={{ $('Chat Trigger').item.json.sessionId ?? 'default' }}","contextWindowLength":6}},{"id":"92b04c6b-e5d2-4d6b-b1b1-2c8ce969613a","name":"Agente Marketing","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[2660,300],"parameters":{"systemMessage":"REGLAS GLOBALES:\n- Prohibido usar comillas y asteriscos en las respuestas.\n- Prohibido usar emoticonos, salvo en el nodo de Hardware donde son obligatorios.\n- Respuestas breves, claras, profesionales y cercanas.\n- Si el cliente escribe en otro idioma, responde en ese mismo idioma.\n- No menciones acciones internas, workflows ni etiquetas.\n- No inventes informacion que no este en la base de conocimientos.\n- No solicites ni aceptes datos sensibles.\n- Toda consulta sobre impuestos o exoneraciones: deriva a soporte humano.\n- Horarios: Soporte humano virtual L-V 8:00-22:00. Bot disponible 24/7. Hardware presencial L-V 8:30-17:00 S 10:00-15:00. Ventas virtual L-V 9:00-18:00 S 12:00-16:00 Feriados 8:00-17:00. Pausa receso L-S 12:00-13:00.\nSos el agente de MARKETING de Facture.CR.\n\nEnvia exactamente estos dos mensajes consecutivos:\n\nMENSAJE 1:\nHola! Gracias por escribir. Gracias por tu interes en nuestro servicio de gestion de redes sociales. Manejamos tu Facebook e Instagram de forma profesional: disenamos todo, editamos videos, programamos y publicamos. Vos te enfocas en tu negocio, nosotros en tus redes. Para recomendarte el mejor plan: a que se dedica tu negocio? tienen redes actualmente? Planes desde 21800 colones por mes. Te interesa saber mas?\n\nMENSAJE 2 (inmediatamente despues):\nMuchas gracias. En breve, durante nuestro horario de atencion, uno de nuestros profesionales en el area te estara contactando.\n\nNo respondas preguntas adicionales despues de enviar los dos mensajes.","promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}"}},{"id":"5980b397-2565-4ff7-9a0d-0a5249c20e4a","name":"Marketing Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2660,660],"parameters":{"temperature":0.3},"credentials":{"openAiApi":{"id":"BQCy3z3e6vcITmYH","name":"OpenAI account 2"}}},{"id":"1da4e0b9-c6a6-4f7d-a1f3-b594f7e4c46c","name":"Marketing Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2760,660],"parameters":{"sessionKey":"={{ $('Chat Trigger').item.json.sessionId ?? 'default' }}","contextWindowLength":4}},{"id":"c8a4fcbb-a4d2-4af0-8434-edde446cb9b8","name":"Handoff Humano","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3060,300],"parameters":{"mode":"manual","fields":{"values":[{"name":"output","type":"stringValue","value":"Con gusto te conecto con uno de nuestros agentes. En breve, durante nuestro horario de atencion (L-V 8:00-22:00), un representante te estara atendiendo."}]}}}],"connections":{"Chat Trigger":{"main":[[{"node":"Router Agent","type":"main","index":0}]]},"Router Agent":{"main":[[{"node":"Route by Intent","type":"main","index":0}]]},"Router Model":{"ai_languageModel":[[{"node":"Router Agent","type":"ai_languageModel","index":0}]]},"Router Memory":{"ai_memory":[[{"node":"Router Agent","type":"ai_memory","index":0}]]},"Router Output Parser":{"ai_outputParser":[[{"node":"Router Agent","type":"ai_outputParser","index":0}]]},"Route by Intent":{"main":[[{"node":"Agente Soporte","type":"main","index":0}],[{"node":"Agente Ventas","type":"main","index":0}],[{"node":"Agente Pagos","type":"main","index":0}],[{"node":"Agente Hardware","type":"main","index":0}],[{"node":"Agente Marketing","type":"main","index":0}],[{"node":"Handoff Humano","type":"main","index":0}]]},"Support Model":{"ai_languageModel":[[{"node":"Agente Soporte","type":"ai_languageModel","index":0}]]},"Support Memory":{"ai_memory":[[{"node":"Agente Soporte","type":"ai_memory","index":0}]]},"Support KB Retriever":{"ai_tool":[[{"node":"Agente Soporte","type":"ai_tool","index":0}]]},"Support Vector Store":{"ai_vectorStore":[[{"node":"Support KB Retriever","type":"ai_vectorStore","index":0}]]},"Sales Model":{"ai_languageModel":[[{"node":"Agente Ventas","type":"ai_languageModel","index":0}]]},"Sales Memory":{"ai_memory":[[{"node":"Agente Ventas","type":"ai_memory","index":0}]]},"Sales KB Retriever":{"ai_tool":[[{"node":"Agente Ventas","type":"ai_tool","index":0}]]},"Sales Vector Store":{"ai_vectorStore":[[{"node":"Sales KB Retriever","type":"ai_vectorStore","index":0}]]},"Payments Model":{"ai_languageModel":[[{"node":"Agente Pagos","type":"ai_languageModel","index":0}]]},"Payments Memory":{"ai_memory":[[{"node":"Agente Pagos","type":"ai_memory","index":0}]]},"Payments KB Retriever":{"ai_tool":[[{"node":"Agente Pagos","type":"ai_tool","index":0}]]},"Payments Vector Store":{"ai_vectorStore":[[{"node":"Payments KB Retriever","type":"ai_vectorStore","index":0}]]},"Hardware Model":{"ai_languageModel":[[{"node":"Agente Hardware","type":"ai_languageModel","index":0}]]},"Hardware Memory":{"ai_memory":[[{"node":"Agente Hardware","type":"ai_memory","index":0}]]},"Marketing Model":{"ai_languageModel":[[{"node":"Agente Marketing","type":"ai_languageModel","index":0}]]},"Marketing Memory":{"ai_memory":[[{"node":"Agente Marketing","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":null,"versionId":"f5a5eb84-36ed-4ffa-b960-869d84745aea","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-15T23:20:18.724Z","createdAt":"2026-04-15T23:20:18.724Z","role":"workflow:owner","workflowId":"RUg9wp1q5ZAm46Ig","projectId":"FaMCJYU55CoU0bn8"}],"activeVersion":null,"tags":[]}