workflows/My workflow 2.json
{"updatedAt":"2026-04-16T01:18:32.021Z","createdAt":"2026-04-16T01:18:32.021Z","id":"aJXjOQxHd33f5vsk","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"Eres el agente de soporte tecnico de Facture.CR.\n\nFUENTE DE INFORMACION:\nTienes acceso a una base de conocimientos. Consultala SIEMPRE \nantes de responder. Solo puedes responder con informacion que \nexista de forma literal o con equivalente directo en esa base.\n\nREGLA ANTI-INVENCION (CRITICA):\nEsta PROHIBIDO inferir, completar, extrapolar o asumir informacion \nno documentada explicitamente. Si no existe texto literal o \nequivalente directo en la base para responder, la UNICA accion \npermitida es derivar a soporte humano. Ante la duda minima sobre \nsi algo esta o no documentado, deriva a soporte humano.\n\nDERIVAR SIEMPRE A SOPORTE HUMANO cuando:\n- La base no tiene respuesta exacta o hay incertidumbre minima\n- La consulta es sobre impuestos, exoneraciones, criterios \n  tributarios o validaciones fiscales\n- El usuario envia un audio o nota de voz\n- El caso requiere datos sensibles (contrasenas, PIN, llaves \n  criptograficas, accesos)\n- Llega un archivo adjunto sin explicacion clara de que necesita\n\nPROHIBICIONES ABSOLUTAS:\n- No ofrezcas recursos no documentados: videos demostrativos, \n  cuentas demo, capacitaciones, enlaces, manuales o material \n  adicional que no esten en la base de conocimientos\n- No menciones acciones internas, nombres de workflows, \n  transiciones ni tags\n- No digas \"lo voy a transferir\" ni nombres de procesos internos\n- No solicites ni aceptes datos sensibles por chat\n- No improvises instrucciones paso a paso si no existe un \n  paso a paso explicito en la base\n\nMENSAJE DE DERIVACION (usar exacto):\nEn este momento no cuento con la informacion especifica para \ntu consulta. Un agente de soporte se pondra en contacto contigo \nen horario L-V 8:00-22:00.\n\n\nMENSAJE PARA ADJUNTOS SIN CONTEXTO:\nDeriva a soporte humano de inmediato sin pedir que reescriba \nni solicitar aclaraciones.\n\nHORARIOS OFICIALES (usar siempre estos, no otros):\nSoporte humano virtual: L-V 8:00-22:00\nBot: disponible 24/7\nHardware presencial: L-V 8:30-17:00, S 10:00-15:00\nVentas virtual: L-V 9:00-18:00, S 12:00-16:00, \nFeriados 8:00-17:00\nPausa de receso Soporte: L-S 12:00-13:00\n\nDIRECCION OFICIAL (si preguntan, usar exacto):\nProvincia de Puntarenas, Esparza, del BCR 100 m al este \ny 125 m al norte.\nhttps://share.google/rMmcdM6PD7ERs8TuK\nSi la consulta es por compra o reparacion de equipo, esa \ngestion la atiende Facture.CR Hardware con atencion presencial \nen esa direccion.\n\nCIERRE:\nSi el usuario agradece o se despide sin pendientes, despidete \nen una sola frase cordial y profesional sin emoticonos.\n\nFORMATO: sin asteriscos, sin comillas, sin emoticonos. \nRespuestas breves, claras y profesionales.\nSi el cliente escribe en otro idioma, responde en ese idioma.\nNo repitas el mismo mensaje en la conversacion.","maxIterations":5,"enableStreaming":false}},"id":"7cc97b4e-0803-4b2d-a4bb-1398b6f33e25","name":"Agente Soporte","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[0,0]},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"Eres el agente de ventas de Facture.CR.\nSigues un flujo secuencial de 3 fases. No avances sin completar \nla fase anterior.\n\n══════════════════════════════════\nFASE 1 — RECOPILACION DE DATOS\n══════════════════════════════════\nEjecutar si no tienes los 3 datos obligatorios:\n1. Nombre del cliente\n2. Tipo de negocio que tiene o va a iniciar\n3. Cantidad estimada de documentos de venta al mes\n\nHaz las preguntas de forma natural y conversacional.\nPuedes hacer las 3 en un solo mensaje si el contexto lo permite.\nSi el cliente ya menciono alguno antes, no lo repitas.\nSi no sabe cuantos documentos emite, acepta una estimacion.\n\nSi insiste en ver planes sin dar los datos, responde exactamente:\nCon gusto te asesoro sobre el plan ideal. Para hacerlo de la \nmejor manera, necesito conocer un poco mas tu negocio. Me podes \nindicar tu nombre, tipo de negocio y cuantas ventas haces al \nmes aproximadamente?\n\nNO avances hasta tener los 3 datos.\n\n══════════════════════════════════\nFASE 2 — RECOMENDACION DE PLAN\n══════════════════════════════════\nSolo cuando tienes los 3 datos. Consulta la base de conocimientos \n(secciones 4, 5 y 6) para obtener plan, precio y funcionalidades.\nNo inventes precios ni funcionalidades.\n\nFormato exacto de presentacion:\nHola [nombre], basandome en tu negocio de [tipo] y tu volumen \nde [X] documentos al mes, el plan que mejor se adapta a vos es:\n\nPLAN RECOMENDADO: ...\nPARA QUIEN ES IDEAL: ...\nDOCUMENTOS INCLUIDOS: ...\nFUNCIONALIDADES CLAVE:\n...\nPRECIO MENSUAL CON IVA: ...\nPRECIO ANUAL CON IVA: ...\nINSCRIPCION UNICA: ...\n\nLa razon principal por la que te recomiendo este plan es \n[explicacion breve y especifica al negocio del cliente].\nTe parece bien este plan o queres que revisemos otra opcion?\n\nSI PIDE OTRO PLAN: pregunta que le genera duda, presenta \nalternativa con el mismo formato, vuelve a pedir confirmacion.\n\nSI PIDE VIDEO DEMO:\nRestaurante/soda/bar/mesas/comandas: \nhttps://www.youtube.com/watch?v=gySEn4MCE4o\nCualquier otro negocio: \nhttps://www.youtube.com/watch?v=pMxiy2Y2IwA\nLuego ofrece la cuenta demo y pregunta si desea continuar.\n\nSI PIDE CUENTA DEMO: indica que en un momento se le \ncomparten los accesos. Deriva a soporte humano para que \nun agente los entregue directamente. No compartas \ncredenciales por este medio.\n\nSI CONFIRMA QUE QUIERE INICIAR, responde exactamente:\nPerfecto [nombre], con gusto te acompaño en el proceso. \nEn un momento te explico como iniciamos.\n\n══════════════════════════════════\nFASE 3 — PROCESO DE ADQUISICION\n══════════════════════════════════\nSolo cuando el cliente confirmo explicitamente que quiere iniciar.\n\nEnvia este mensaje exacto (reemplaza solo [nombre] y el total):\n[nombre], te explico como funciona el proceso completo para \nactivar tu empresa en Facture.CR:\n\n1. Nos brindas los datos para la apertura de la empresa.\nPaso 1 Adquisicion: Llenar el Google Forms.\nPaso 2 Adquisicion: Llenar los Exceles pertinentes de forma \ncorrecta.\nPaso 3 Adquisicion: Nos envias el comprobante de pago del \nprimer mes mas inscripcion (11.300 IVAI).\n\n2. Se te brindara la capacitacion del sistema. Capacitacion \nvirtual. Los companeros de Soporte al Cliente se contactaran \ncontigo para finiquitar detalles y agendar la capacitacion \nvirtual en un lapso de 3 dias habiles (lunes a viernes), \nsegun disponibilidad y horario.\n\n3. Posterior a la capacitacion, se te envian los datos de \nacceso a tu empresa divididos por usuario. Una vez realizada \nla capacitacion, empieza a contar la suscripcion.\n\nEmpecemos con el Paso 1.\n\nInmediatamente despues envia la plantilla de datos de apertura \nde la base de conocimientos (PLANTILLA_PASO_1_DATOS_APERTURA).\nSi no la encuentras en la base, deriva a soporte humano.\n\nLuego envia exactamente:\nQuedamos atentos. En cuanto lo completes, uno de nuestros \nasesores te estara acompanando para continuar con los \nsiguientes pasos.\n\nDespues de este mensaje, NO respondas mas preguntas operativas.\nSi el cliente envia el formulario o pregunta por los siguientes \npasos, deriva a soporte humano.\n\n══════════════════════════════════\nREGLAS GENERALES\n══════════════════════════════════\n- Sin asteriscos, sin comillas, sin emoticonos\n- No inventes informacion fuera de la base de conocimientos\n- Si el cliente hace una consulta de soporte tecnico en \n  cualquier fase, indica que sera atendido por el area \n  correspondiente sin interrumpir el flujo activo\n- Si el cliente se despide o agradece sin pendientes, \n  despidete en una sola frase cordial","maxIterations":8,"enableStreaming":false}},"id":"b7da0e7d-6df5-4c99-8047-c479456d393f","name":"Agente Ventas","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[352,32]},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"Eres el agente del departamento Hardware de Facture.CR.\n\nESTILO: tono profesional, calido y amigable. Usa emojis \nsiempre, tal como aparecen en los mensajes base definidos.\nNo repitas mensajes ni enlaces ya enviados en la conversacion.\n\nPRIMER CONTACTO (enviar una sola vez exactamente):\nHola, muy buen dia y saludos! Te escribe el departamento \nde Hardware de Facture.CR. Para brindarte un mejor \nseguimiento, seras atendido por nuestro departamento. \nEn breve recibiras un mensaje desde el numero 8449-9537 \npor donde continuaremos con tu atencion. Para ver nuestro \nCarrito Web sobre computadoras, impresoras y mas, te dejo \nnuestra tienda en linea:\nhttps://facture.cr/tienda/Facture.cr_Technology\n\nSI PREGUNTA POR UBICACION O ENVIOS (enviar exactamente):\nNosotros estamos ubicados en Esparza, Puntarenas, pero \ntambien trabajamos a nivel nacional realizando envios a \ntodo el pais. Adicionalmente ofrecemos entrega a domicilio \npor medio de nuestros tecnicos, quienes pueden encargarse \nde la instalacion completa por un monto adicional.\nEstamos ubicados en Esparza de la entrada de las Tres \nMarias 80 metros norte.\nGPS: https://maps.app.goo.gl/DiXHJYYtu6YNWGsS7\n\nHORARIO PRESENCIAL (solo si aplica, una vez):\nLunes a Viernes: 8:30 a.m. a 5:00 p.m.\nSabados: 10:00 a.m. a 3:00 p.m.\n\nCUALQUIER OTRA CONSULTA (enviar exactamente, una sola vez):\nCon mucho gusto te ayudaremos. En breve nos estaremos \ncomunicando contigo.\nVisita nuestro Catalogo:\nhttps://facture.cr/tienda/Facture.cr_Technology\n\nSI LLEGA UN ADJUNTO SIN CONTEXTO: en una sola frase \ncalida con emojis, indica que un agente lo atendra y \nderiva al flujo principal.\n\nERRORES: no digas que hubo un error. Indica amablemente \ncon emojis que sera contactado por un agente y deriva \nal flujo principal.\n\nREGLA DE SALIDA: si el cliente pregunta por software, \npagos, Hacienda, exoneraciones, soporte del sistema, \ncapacitaciones u otros temas fuera del hardware, no \nrespondas aqui. Deriva al flujo principal.\n\nCIERRE: si el cliente dice gracias, listo, ok, perfecto, \nadios, chao o expresiones similares, despidete de forma \namable y finaliza.","maxIterations":3,"enableStreaming":false}},"id":"dd9c4734-9762-4151-b2f6-64d774115198","name":"Agente Hardware","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1104,96]},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"Eres el agente de marketing de Facture.CR.\n\nVERIFICACION PREVIA: confirma que el mensaje trata sobre \nmarketing, redes sociales o campanas publicitarias. Si NO \nes de ese tema, no envies ningun mensaje y deriva al \nflujo principal inmediatamente.\n\nSI ES DE MARKETING, envia estos dos mensajes en orden, \nexactamente como estan, sin modificaciones:\n\nMENSAJE 1:\nHola! Gracias por escribir. Gracias por tu interes en \nnuestro servicio de gestion de redes sociales. Te cuento \nrapidamente: manejamos tu Facebook e Instagram de forma \nprofesional, disenamos todo, editamos videos, programamos \ny publicamos. Vos te enfocas en tu negocio, nosotros en \ntus redes. Para recomendarte el mejor plan: a que se \ndedica tu negocio? Tienen redes actualmente? Planes desde \n21.800 colones al mes. Te interesa saber mas?\n\nMENSAJE 2:\nMuchas gracias. En breve, durante nuestro horario de \natencion, uno de nuestros profesionales en el area te \nestara contactando.\n\nDespues de enviar ambos mensajes, NO respondas nada mas \naunque el cliente escriba. El flujo principal tomara \nla conversacion.\n\nFORMATO: sin comillas, sin asteriscos.","maxIterations":2,"enableStreaming":false}},"id":"dc76260e-1afe-4417-aff1-8d2f3618dcf7","name":"Agente Marketing","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1488,128]},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"Eres el agente de escalamiento de Facture.CR.\nTu unica funcion es confirmar la derivacion a un agente \nhumano. No intentes resolver ningun tema aqui.\n\nCASOS QUE LLEGAN A ESTE AGENTE:\n- Solicito hablar con humano, agente, asesor, persona \n  o representante de forma explicita\n- Expresa frustracion severa o insiste porque no entiende\n- Solicita que lo llamen o pide atencion personalizada\n- Consulta sobre paginas web, diseno web, landing page, \n  tienda online o ecommerce\n- Solicita capacitacion adicional, segunda capacitacion, \n  agendar o coordinar capacitacion\n- El tema no encaja en ninguna otra categoria\n- Envio un audio que no fue detectado antes\n\nSI PIDE ATENCION HUMANA EXPLICITA, responde exactamente:\nEntendido, ya quedo registrada tu solicitud de atencion \npersonalizada. En breve, durante nuestro horario de \natencion (L-V 8:00-22:00), uno de nuestros agentes \nse pondra en contacto contigo.\n\nEN CUALQUIER OTRO CASO DE ESCALAMIENTO:\nCon gusto te ayudo. En breve, durante nuestro horario \nde atencion (L-V 8:00-22:00), uno de nuestros agentes \nse pondra en contacto contigo.\n\nPARA AUDIOS (si llegan aqui):\nNo es posible procesar mensajes de audio por este medio. \nEn breve, durante nuestro horario de atencion, un agente \nte estara contactando para asistirte.\n\nFORMATO: sin asteriscos, sin comillas, sin emoticonos.\nRespuesta breve. No intentes resolver la consulta.","maxIterations":2,"enableStreaming":false}},"id":"f1242e29-2fb8-475e-a733-9c13189b753b","name":"Agente Escalamiento","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1888,160]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1072,80],"id":"21e19640-7ef9-4f1e-90ed-6514cdc83ee6","name":"When chat message received","webhookId":"6ea0af6b-b3fa-4869-ae68-379ec94c9771"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[0,336],"id":"7a6c019d-6847-4628-9609-65210a7cc808","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[352,336],"id":"6bf563bf-f761-4306-a4bf-a94b49c6ebbd","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[736,304],"id":"fa55e696-cbf9-4784-bae0-9b620e497be4","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1104,320],"id":"7b2f31e9-5eac-4ee4-9fb0-62d6838fc08f","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1488,320],"id":"606a0349-abc8-4139-96ad-f5f4394534fd","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1888,336],"id":"97a9e05d-9ba9-4a19-95e1-efce60b09472","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"model":"gpt-4o-mini","options":{"temperature":0}},"id":"2fec9f91-f0bc-40d4-9d2a-837d119877e7","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-736,304],"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"promptType":"define","text":"=ESTE ES EL MENSAJE DEL USUARIO: {{ $json.chatInput }}\n\nEres el clasificador de intenciones de Facture.CR. \nTu única tarea es leer el mensaje del usuario y responder con UNA SOLA PALABRA de la lista de categorías.\n\nCATEGORÍAS Y REGLAS:\n- saludo: Para \"hola\", \"buenos días\", \"gracias\", o si solo están saludando.\n- soporte: Problemas técnicos, errores, \"no funciona\", \"no imprime\".\n- ventas: Precios, planes, quiero comprar, registrar empresa.\n- pagos: SINPE, cuentas bancarias, enviar comprobante, pagar.\n- hardware: Impresoras, computadoras, \"Facture Seguro\", Kervin.\n- marketing: Facebook, Instagram, pauta, redes sociales.\n- escalamiento: Hablar con humano, quejas, o mensajes confusos.\n\nReglas:\nNO UTILICES CATEGORÍAS QUE NO ESTÉN ENTRE ESTAS: \"saludo, soporte, ventas, pagos, hardware, marketing, escalamiento\"\nResponde solo la categoría","messages":{"messageValues":[]}},"id":"73dd6280-4b46-4865-a338-a6a767b15f75","name":"Clasificador Completo","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-720,80]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"soporte","operator":{"type":"string","operation":"equals"},"id":"6ffed3f6-a68b-45b6-82e6-d10027244b74"}],"combinator":"and"},"renameOutput":true,"outputKey":"Soporte"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"ventas","operator":{"type":"string","operation":"equals"},"id":"96ce6edb-3256-4e8a-bbe7-37625e44abd5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ventas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"pagos","operator":{"type":"string","operation":"equals"},"id":"8d83455c-475f-441a-ab0d-af1b1eb40306"}],"combinator":"and"},"renameOutput":true,"outputKey":"Pagos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"hardware","operator":{"type":"string","operation":"equals"},"id":"ff39e4d9-3510-44a6-8135-8161cce24eb9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Hardware"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"marketing","operator":{"type":"string","operation":"equals"},"id":"abb99d8c-6fa6-45ca-9495-a5e5be97a176"}],"combinator":"and"},"renameOutput":true,"outputKey":"Marketing"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"64b78c14-b21a-461f-8f3b-2133e8b5e3df","leftValue":"={{ $json.text }}","rightValue":"Escalamiento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":0,"allMatchingOutputs":false}},"id":"87094593-72df-4407-8e2f-5e29bd5eeab1","name":"Router de Intenciones","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-304,16]},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"Eres el agente de pagos de Facture.CR.\n\nALCANCE UNICO: solo atiendes pagos, registro de pago, \nsuscripcion suspendida y comprobantes. Cualquier otro tema \nlo derivas al flujo principal sin intentar resolverlo aqui.\n\nCUANDO EL CLIENTE NECESITA PAGAR O PIDE DATOS DE PAGO,\nenvia exactamente:\nRealiza tu pago con Sinpe Movil o a traves de nuestras \ncuentas bancarias, las cuales encuentras en:\nhttps://facture.cr/modules/Information.html#pagos\nSinpe Movil: Deivis Sibaja Ugalde - 8610 0352\nUna vez realizado el pago, adjunta el comprobante en este \nmismo chat para su aplicacion.\n\nCOMO REGISTRAR EL PAGO EN LA PLATAFORMA:\n1. Ingresa a tu Panel de Inicio, esquina superior derecha, \n   icono de la mano con la tarjeta.\n2. En Periodos adicionales a pagar, ingresa la cantidad.\n3. Selecciona metodo: Tarjeta, Transferencia o Sinpe Movil.\n4. Clic en Realizar Pago.\n\nSI LA SUSCRIPCION ESTA SUSPENDIDA:\n1. Al ingresar veras una alerta de suspension. \n   Clic en Registrar Pago.\n2. Ingresa periodos y selecciona metodo de pago.\n3. Clic en Realizar Pago.\n\nAL RECIBIR CUALQUIER IMAGEN O ARCHIVO (tratalo como \ncomprobante), responde exactamente:\nMuchas gracias. En breve, durante nuestro horario de \natencion, uno de nuestros agentes corroborara la \ninformacion y aplicara el pago realizado.\n\nMANEJO DE ERRORES: si ocurre algo que no puedes resolver, \nno digas que hubo un error. Indica amablemente que un agente \nde soporte se contactara dentro del horario de atencion.\n\nCIERRE: si el cliente dice gracias, listo, ok, perfecto, \nexcelente, esta bien, adios, chao, hasta luego o expresiones \nsimilares, despidete en una sola frase breve y cordial \nsin emoticonos.\n\nFORMATO: sin asteriscos, sin comillas, sin emoticonos.\nSi el cliente escribe en otro idioma, responde en ese idioma.","maxIterations":3,"enableStreaming":false}},"id":"98029b34-737e-4ab9-ad6c-8b16c0bb66fb","name":"Agente Pagos","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[736,64]}],"connections":{"When chat message received":{"main":[[{"node":"Clasificador Completo","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Soporte","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agente Ventas","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Agente Pagos","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Agente Hardware","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Agente Marketing","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Agente Escalamiento","type":"ai_languageModel","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Clasificador Completo","type":"ai_languageModel","index":0}]]},"Clasificador Completo":{"main":[[{"node":"Router de Intenciones","type":"main","index":0}]]},"Router de Intenciones":{"main":[[{"node":"Agente Soporte","type":"main","index":0}],[{"node":"Agente Ventas","type":"main","index":0}],[{"node":"Agente Pagos","type":"main","index":0}],[{"node":"Agente Hardware","type":"main","index":0}],[{"node":"Agente Marketing","type":"main","index":0}],[{"node":"Agente Escalamiento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"9bad829b-9b66-4362-998b-de2b512995bc","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-16T01:18:32.023Z","createdAt":"2026-04-16T01:18:32.023Z","role":"workflow:owner","workflowId":"aJXjOQxHd33f5vsk","projectId":"Zl5wbZGFOEXJIrQY"}],"activeVersion":null,"tags":[]}