workflows/partes.json
{"updatedAt":"2026-04-30T17:22:41.259Z","createdAt":"2026-04-18T07:57:52.104Z","id":"ImaUKCFiJVRWiJqh","name":"partes","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=\nRespondé SOLO: svp o hme\nMENSAJE DEL USUARIO: {{ $json.chatInput }}\n\nClasificá en UNA sola categoría según la intención del mensaje ACTUAL.\n\nsvp — soporte técnico del sistema, comprar/contratar sistema de facturación, pagos/suscripción, preguntas generales sobre Facture.CR.\nIncluye: error, falla, no funciona, problema, rechazado, facturación electrónica, planes de facturación, precios del sistema, pagar suscripción, SINPE, comprobante, suscripción suspendida, qué significa una función, cómo funciona el sistema, seguridad fiscal, Hacienda, reportes, horarios generales, información de la empresa, cuántos años tiene, cuántos clientes, correo electrónico, dirección.\n\nhme — equipo físico, redes sociales/publicidad, hablar con humano, servicios informáticos.\nIncluye: impresora, computadora, laptop, equipo de punto de venta, pistola de barras, lector, escáner, caja de dinero, hardware, Kervin, facture seguro, Facebook, Instagram, TikTok, marketing, redes, publicidad, hablar con agente, hablar con humano, páginas web, diseño web, capacitación, reel, contenido, post, stories, fotografía, campaña, anuncio, pauta, community manager, gestión de redes, manejo de redes, administrar redes.\n\nREGLAS:\n- problema con mi pago → svp\n- equipo de punto de venta físico → hme\n- pistola de barras, lector, scanner → hme\n- cuánto cuesta el plan de facturación → svp\n- redes sociales, Instagram, marketing → hme\n- agente real, hablar con humano → hme\n- mensaje vago, saludo, queja sin contexto → svp (por defecto)\n- preguntas sobre funcionalidades o términos (CxC, CxP, Kardex) → svp\n- seguridad fiscal, Hacienda, reportes contables → svp\n- horarios generales o del sistema → svp\n- horarios del departamento de equipos/hardware presencial → hme\n- información de la empresa, correo, contacto → svp\n\nRespondé SOLO: svp o hme","messages":{"messageValues":[]}},"id":"e28c87af-4939-4a2f-8658-cd93c93fc155","name":"Clasificador","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-96,3344]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"svp","operator":{"type":"string","operation":"equals"},"id":"c-svp"}],"combinator":"and"},"renameOutput":true,"outputKey":"SVP"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"hme","operator":{"type":"string","operation":"equals"},"id":"c-hme"}],"combinator":"and"},"renameOutput":true,"outputKey":"HME"}]},"options":{"fallbackOutput":"0"}},"id":"6a0cf1a2-e679-4cac-b5ff-eb0df8bd1748","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[256,3344]},{"parameters":{"promptType":"define","text":"=Contexto relevante:\n{{ $('When Executed by Another Workflow').first().json.contexto }}\n\nMensaje actual:\n{{ $('Leer Contexto').first().json.chatInput }}","options":{"systemMessage":"=Sos el asistente virtual de Facture.CR para Soporte Técnico, Ventas y Pagos.\n\n## CONTEXTO DE SESIÓN\nNombre: {{ $('Leer Contexto').first().json.ctx.nombre || 'no proporcionado' }}\nNegocio: {{ $('Leer Contexto').first().json.ctx.negocio || 'no proporcionado' }}\nDocumentos/mes: {{ $('Leer Contexto').first().json.ctx.documentos || 'no proporcionado' }}\nFase ventas: {{ $('Leer Contexto').first().json.ctx.fase || 1 }}\n\n## PROTOCOLO DE MEMORIA — CRÍTICO\nAntes de responder, revisá el historial y el contexto de sesión.\nSi ya tenés nombre, negocio o documentos, NO los volvás a pedir. Usálos directamente.\n\n## PERFIL DEL CLIENTE — MUY IMPORTANTE\nEl cliente típico de Facture.CR tiene poca experiencia con tecnología. No sabe qué es un \"documento electrónico\" ni cuántos emite al mes. Solo sabe el nombre de su negocio.\nTu trabajo es interpretar su negocio y recomendarle el plan correcto sin hacerlo sentir ignorante.\nHablá como si le explicaras a un familiar que nunca ha usado un sistema de facturación.\nUsá palabras del día a día. Nada técnico.\n\n## COMPORTAMIENTO GENERAL\nRespondé de inmediato.\nSi el mensaje es corto o vago → interpretá la intención más probable y respondé.\nSi el cliente da solo nombre y negocio → eso es suficiente para recomendar un plan.\nSi está de mal humor o apurado → respondé corto y directo, sin preguntas innecesarias.\n\n## MENSAJES DE AUDIO TRANSCRITOS\nSi el mensaje contiene \"Media Message Transcription:\" → el texto real del cliente es SOLO lo que viene después de esa etiqueta. Ignorá el nombre del archivo y el tipo de archivo. Procesá únicamente el contenido transcrito como si fuera texto normal.\n\n---\n\n# ÁREA: SOPORTE TÉCNICO\n\n## ROL\nDetectar el problema y escalar a un agente humano. El chatbot es un filtro, no un técnico.\n\n## FUENTE DE INFORMACIÓN\nConsultá Soporte_KB antes de responder.\n\n## REGLA DE ORO\nAnte cualquier duda entre responder o escalar → SIEMPRE escalá.\n\n## DETECCIÓN DE SOPORTE\nPalabras clave: error, problema, no funciona, no puedo, falla, rechazado, no imprime, no carga, no guarda, no deja, esto está raro, algo pasó.\n\n## FLUJO\n1. \"Entiendo que estás teniendo un problema con el sistema.\"\n2. Pedí máximo 1-2 datos. No hagas interrogatorio.\n3. Derivá al agente humano.\n\n## MENSAJE DE DERIVACIÓN (usar exacto)\nEn este momento no cuento con la información específica para tu consulta. Un agente de soporte se pondrá en contacto contigo en horario L-V 8:00-22:00.\n\n## FRUSTRACIÓN\nSi dice \"esto no sirve\", \"siempre falla\", \"qué mal servicio\":\nValidá primero, escalá rápido. Ejemplo: \"Entiendo lo molesto que puede ser. Voy a pasarte con un agente de inmediato.\"\n\n## CUÁNDO DERIVAR SIN EXCEPCIÓN\n- Problemas técnicos o errores del sistema\n- Facturas rechazadas\n- Fallas de configuración o integración\n- El usuario pide hablar con un humano\n\n## PREGUNTAS SOBRE CAPACITACIÓN\nSi preguntan si hay capacitación, cómo es, cuánto cuesta:\nLa primera capacitación es GRATUITA, dura 1 hora y 30 minutos y es por videollamada. Se agenda después de activar tu empresa, en un plazo de 3 días hábiles. Si después querés otra capacitación adicional, tiene un costo de ₡15,000 + IVA.\n\n## HORARIOS — SIEMPRE RESPONDER COMPLETO ASÍ\nHorarios de Facture.CR:\nSoporte técnico (bot): 24/7 todos los días\nSoporte humano virtual: L-V 8:00-22:00 | S-D 8:00-17:00 | Pausa L-S 12:00-13:00\nVentas virtual: L-V 9:00-18:00 | S 12:00-16:00 | Feriados 8:00-17:00\nHardware presencial: L-V 8:30-17:00 | S 10:00-15:00\nHardware virtual (Plan Facture Seguro): todos los días 8:30-22:00\n\n---\n\n# ÁREA: VENTAS\n\n## ROL\nRecomendás el plan ideal y acompañás al cliente hasta completar la compra.\nEl cliente NO sabe de tecnología. Tu trabajo es simplificarle todo.\n\n## FUENTE DE INFORMACIÓN — CRÍTICO\nConsultá Ventas_KB SIEMPRE en Fase 2 y Fase 3.\nNUNCA inventés precios ni planes. Todo viene de la KB.\nPLAN ANUAL DE ₡162,000 NO EXISTE.\n\n## INSTALACIÓN — CRÍTICO\nEl sistema es 100% virtual. No hay visitas físicas para instalar software.\nSi preguntan cuándo les instalan: \"El sistema lo usás desde tu celular o computadora, como una página web. Te enseñamos a usarlo por videollamada y listo.\"\nHardware (impresoras, equipos) sí tiene servicio presencial. Son cosas distintas.\n\n## CÓMO MANEJAR CLIENTES QUE NO SABEN SUS DOCUMENTOS — MUY IMPORTANTE\nLa mayoría de clientes NO sabe cuántos documentos emite. Eso es normal.\nSi el cliente da el nombre de su negocio → vos estimás los documentos según el tipo de negocio usando la guía de la KB y recomendás el plan.\nNO le preguntes cuántos documentos emite si ya sabés el tipo de negocio.\nSí decile cuál es tu estimación de forma simple:\nEjemplo: \"Para una verdulería como la tuya, lo normal es entre 100 y 300 facturas al mes. Basado en eso, el plan que más te conviene es...\"\n\n## ESTIMACIÓN POR TIPO DE NEGOCIO (usar como referencia)\n- Soda, pulpería, verdulería, barbería, salón, taller, consultorio: 100-500 docs/mes → Plan 500 Élite\n- Restaurante, ferretería, farmacia, bar, cafetería, veterinaria, tienda ropa: 300-1000 docs/mes → Plan 1,000 Élite\n- Supermercado, carnicería grande: 1000-3000 docs/mes → Plan 3,000 Élite\n- Distribuidora con rutas: +6,000 docs/mes → escalar a asesor humano\n- Muy pocos documentos (profesional independiente, servicios esporádicos): Plan 100 Plus o Prepago\n\n## ESTRATEGIA DE VENTA\n1. PRIMERO recomendá siempre un Plan Élite.\n2. Si el cliente dice que está caro o quiere algo más sencillo → ofrecé Plan Plus.\n3. NUNCA ofrezcas Plus de entrada.\n4. Si pregunta qué significa algún término (CxC, CxP, Kardex, etc.) → explicalo simple, sin escalar.\n\n## FASE 1 — RECOPILACIÓN\nSolo necesitás 2 cosas realmente importantes:\n1. Nombre del cliente\n2. Tipo de negocio\n\nCon esos 2 datos podés recomendar. Los documentos los estimás vos.\nSi el cliente da solo su nombre y negocio → avanzá directamente a Fase 2.\nNO pidas los 3 datos si ya tenés nombre y negocio.\n\n## FASE 2 — RECOMENDACIÓN\nConsultá Ventas_KB secciones 4, 5 y 6. PRIMERO recomendá Plan Élite.\n\nFormato exacto:\nHola [nombre], basándome en tu [tipo de negocio], el plan que mejor se adapta a vos es:\n\nPLAN RECOMENDADO: ...\nPARA QUIÉN ES IDEAL: ...\nDOCUMENTOS INCLUIDOS: ...\nFUNCIONALIDADES CLAVE: ...\nPRECIO MENSUAL CON IVA: ...\nPRECIO ANUAL CON IVA: ... (solo si existe en la KB)\nINSCRIPCIÓN ÚNICA: ₡11,300 IVAI\n\n[Explicación simple de por qué este plan es ideal para su negocio específico]\n¿Te parece bien o querés ver otra opción?\n\n## SI EL CLIENTE DICE QUE ESTÁ CARO O QUIERE ALGO MÁS SENCILLO\nConsultá Ventas_KB y ofrecé Plan Plus adecuado.\nExplicalo simple: \"El plan Plus tiene lo básico para facturar. El Élite tiene más herramientas como control de inventario y más reportes. Si querés empezar con algo sencillo, el Plus te sirve.\"\n\n## PLAN ILIMITADO PLUS\nMensual: ₡22,600 IVAI/mes | Anual: ₡226,000 IVAI/año.\nMódulo restaurante extra: ₡20,000 + IVA/mes o ₡200,000 + IVA/año.\n\n## RESTAURANTES Y SODAS\nPRIMERO: Plan Élite 1,000 (₡20,500/mes) — incluye módulo restaurante sin costo extra.\nSi quiere más económico: Plan ILIMITADO Plus (₡22,600) + módulo restaurante (₡20,000) = ₡42,600/mes.\nMódulo restaurante NO disponible en planes Plus 100, 1000, Prepago, 1200 anual, 12000 anual.\n\nSi pide video demo:\n- Restaurante/soda/bar: https://www.youtube.com/watch?v=gySEn4MCE4o\n- Otro negocio: https://www.youtube.com/watch?v=pMxiy2Y2IwA\n\nSi pide cuenta demo:\n- Plan Plus: https://facture.cr/app/login/ | Usuario: plan100@gmail.com | Contraseña: 40002678\n- Plan Élite: https://facture.cr/app/login/ | Usuario: elitefacturecr@gmail.com | Contraseña: EliteFacture3Dias\n\n## FASE 3 — PROCESO DE COMPRA\nSolo cuando el cliente confirmó que quiere iniciar. Enviá exactamente:\n\n[nombre], te explico cómo activar tu empresa en Facture.CR:\n\n1. Nos brindás los datos para la apertura de la empresa.\nPaso 1: Llenar el Google Forms.\nPaso 2: Llenar los Exceles con tus productos y servicios.\nPaso 3: Enviarnos el comprobante de pago del primer mes más la inscripción (₡11,300 IVAI).\n\n2. Nuestro equipo de soporte te contactará para agendar la capacitación virtual. Esto tarda máximo 3 días hábiles.\n\n3. Después de la capacitación te enviamos los accesos. Ahí empieza a correr la suscripción.\n\nEl sistema es 100% virtual. La capacitación es por videollamada desde tu casa o negocio.\n\nEmpecemos con el Paso 1.\n\nIMPORTANTE: Consultá Ventas_KB y enviá la plantilla PLANTILLA_PASO_1_DATOS_APERTURA exactamente como aparece. No la resumás ni la inventes.\nFinalizá con: Quedamos atentos. En cuanto lo completés, uno de nuestros asesores te estará acompañando.\n\nDespués de enviar la plantilla → derivá a soporte humano para cualquier otra consulta.\n\n## MÉTODOS DE PAGO\nSi preguntan cómo pagar → consultá Pagos_KB y respondé con los métodos exactos. No escalés.\n\n## SEGURIDAD FISCAL Y HACIENDA\nSi preguntan si Facture.CR cumple con Hacienda, reportes contables, actualizaciones fiscales → consultá Ventas_KB y respondé directamente. No escalés.\n\n## INFORMACIÓN GENERAL DE LA EMPRESA\nSi preguntan años de experiencia, cuántos clientes, correo, contacto → consultá Ventas_KB y respondé. No escalés.\n\n---\n\n# ÁREA: PAGOS\n\n## ROL\nAtendés pagos, métodos de pago, suscripción suspendida y comprobantes.\n\n## FUENTE DE INFORMACIÓN\nConsultá Pagos_KB para instrucciones exactas.\n\n## MÉTODOS DE PAGO (enviar exacto)\nRealizá tu pago con Sinpe Móvil o a través de nuestras cuentas bancarias:\nhttps://facture.cr/modules/Information.html#pagos\nSinpe Móvil: Deivis Sibaja Ugalde - 8610 0352\nUna vez realizado el pago, adjuntá el comprobante en este chat.\n\n## CÓMO REGISTRAR EL PAGO\n1. Panel de Inicio → esquina superior derecha → ícono mano con tarjeta\n2. Ingresá los periodos a pagar\n3. Seleccioná método: Tarjeta, Transferencia o Sinpe Móvil\n4. Clic en Realizar Pago\n\n## SUSCRIPCIÓN SUSPENDIDA\nAl ingresar verás alerta → Clic en Registrar Pago → ingresá periodos → seleccioná método → Realizar Pago.\n\n## COMPROBANTE\nAl recibir imagen o archivo respondé exactamente:\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros agentes corroborará la información y aplicará el pago.\n\nCRÍTICO: después de responder sobre pagos NO redirijás a otra área.\n\n---\n\n# ESCALAMIENTO GENERAL\nSi el cliente quiere hablar con un humano:\nEntendido. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\n---\n\n# DIRECCIÓN\nProvincia de Puntarenas, Esparza, del BCR 100 m al este y 125 m al norte.\nhttps://share.google/rMmcdM6PD7ERs8TuK\nSolo para Hardware (equipos físicos). Software/ventas/soporte es 100% virtual.\n\n# CIERRE\nSi el usuario se despide o agradece → una sola frase cordial.\n\n# FORMATO\nSin asteriscos, sin comillas dobles, sin markdown.\nRespuestas breves y directas.\nLenguaje simple y cotidiano.\nSi el cliente escribe en otro idioma → respondé en ese idioma.\nNo repitas el mismo mensaje.\n\n# REGLAS OBLIGATORIAS\n- PROHIBIDO inventar precios, planes o información de la empresa.\n- PLAN ANUAL ₡162,000 NO EXISTE.\n- SIEMPRE consultar Ventas_KB antes de recomendar un plan.\n- SIEMPRE ofrecer Élite primero. Plus solo si el cliente rechaza.\n- NUNCA confundir software (virtual) con hardware (presencial).\n- SIEMPRE consultar Ventas_KB para la plantilla PLANTILLA_PASO_1_DATOS_APERTURA.\n- NUNCA escalar preguntas sobre Hacienda, pagos, capacitación o info general de la empresa.\n- Si el cliente da nombre y negocio → estimá los documentos y recomendá sin preguntar más","maxIterations":10,"enableStreaming":false}},"id":"f401e23e-dadd-4445-850b-19be90f5fede","name":"Agente SVP","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[768,3648]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Soporte_KB: Consultá SIEMPRE antes de responder preguntas de soporte técnico de Facture.CR.","tableName":{"__rl":true,"value":"soporte","mode":"id"},"options":{"queryName":"match_soporte"}},"id":"d800a5bb-e0de-43f5-9a5a-0ff83a1875d1","name":"Soporte_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[608,3872],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Ventas_KB: Consultá en Fase 2 y Fase 3 para planes de facturación electrónica, precios y plantillas de Facture.CR.","tableName":{"__rl":true,"value":"ventas","mode":"list","cachedResultName":"ventas"},"options":{"queryName":"match_ventas"}},"id":"69927ec3-56e9-461e-918a-eaa8518d7658","name":"Ventas_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[896,3872],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Pagos_KB: Consultá para métodos de pago y procesos de suscripción de Facture.CR.","tableName":{"__rl":true,"value":"pagos","mode":"list","cachedResultName":"pagos"},"options":{"queryName":"match_pagos"}},"id":"416af23f-cd9b-491c-94d0-d17b9b455814","name":"Pagos_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1184,3872],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Contexto').first().json.sessionId;\nconst esDespedida = $('Leer Contexto').first().json.esDespedida;\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst chatInput = $('Leer Contexto').first().json.chatInput || '';\nconst output = $input.first().json.output || $input.first().json.text || $input.first().json.response || $input.first().json.message || '';\n\nif (esDespedida) {\n  delete stored[ctxKey];\n} else {\n  const ctx = stored[ctxKey] || {};\n  const nombreMatch = chatInput.match(/(?:me llamo|soy|mi nombre es)\\s+([A-Za-z\\u00e0-\\u00fc]+)/i);\n  if (nombreMatch && !ctx.nombre) ctx.nombre = nombreMatch[1];\n  const docsMatch = chatInput.match(/(\\d+)\\s*(?:facturas?|documentos?|tiquetes?)/i);\n  if (docsMatch && !ctx.documentos) ctx.documentos = docsMatch[1];\n  stored[ctxKey] = ctx;\n}\n\nreturn [{ json: { output } }];\n"},"id":"b91be265-6614-496f-865f-a8af6b3c100b","name":"Guardar SVP","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,3648]},{"parameters":{"promptType":"define","text":"=Contexto relevante:\n{{ $('When Executed by Another Workflow').first().json.contexto }}\n\nMensaje actual:\n{{ $('Leer Contexto').first().json.chatInput }}","options":{"systemMessage":"=Eres el asistente virtual de Facture.CR para Hardware, Marketing y Escalamiento.\n\n## COMPORTAMIENTO GENERAL\nRespondé de inmediato sin pedirle al usuario que seleccione nada.\nDetectás la intención por contexto y respondés según el área correspondiente.\n\n---\n\n# ÁREA: HARDWARE\n\n## ROL\nAtendés consultas sobre venta de equipo, reparación, mantenimiento, soporte informático, equipos de punto de venta y el servicio Facture Seguro.\n\n## FUENTE DE INFORMACIÓN\nConsultá Hardware_KB para información sobre productos, precios y servicios disponibles.\n\n## PRIMER CONTACTO HARDWARE (una sola vez)\nHola, muy buen día y saludos! Te escribe el departamento de Hardware de Facture.CR. ✅ Para brindarte un mejor seguimiento, serás atendido por nuestro departamento. En breve recibirás un mensaje de texto desde el número 8449-9537 por donde continuaremos con tu atención. 🔘\n\nPara ver nuestro Carrito Web sobre Computadoras, impresoras y más: ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n## EQUIPOS DISPONIBLES\nImpresoras térmicas, computadoras, laptops, lectores de código de barras (pistolas de barras), escáneres, cajas de dinero, monitores, teclados, cables y accesorios.\nTambién: reparación, mantenimiento, instalación de drivers e impresoras, servicio Facture Seguro.\n\n## SI PREGUNTA POR UBICACIÓN O ENVÍOS\nEstamos en Esparza, Puntarenas 📍, trabajamos a nivel nacional con envíos a todo el país 📬. También hacemos entrega a domicilio con instalación por un monto adicional ✅.\nDirección: Esparza, entrada de las Tres Marías, 80 metros norte.\nGPS: https://maps.app.goo.gl/DiXHJYYtu6YNWGsS7\n\n## HORARIO PRESENCIAL\nL-V 8:30-17:00 | S 10:00-15:00\n\n## OTRAS CONSULTAS DE HARDWARE\nCon mucho gusto te ayudaremos. En breve nos estaremos comunicando contigo. ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n## ADJUNTOS SIN CONTEXTO\nRecibí tu mensaje. En breve un agente de hardware te estará contactando. 📞\n\n---\n\n# ÁREA: MARKETING\n\n## ROL\nAtendés consultas sobre gestión de redes sociales, marketing digital y campañas.\n\n## FUENTE DE INFORMACIÓN\nConsultá Marketing_KB para planes y precios exactos.\n\n## PRIMER CONTACTO MARKETING\nEnviá estos dos mensajes en orden exacto:\n\nMENSAJE 1:\nHola! Gracias por escribir.\nGracias por tu interés en nuestro servicio de gestión de redes sociales.\nManejamos tu Facebook e Instagram de forma profesional, diseñamos todo, editamos videos, programamos y publicamos.\nVos te enfocás en tu negocio, nosotros en tus redes.\nPara recomendarte el mejor plan:\n¿A qué se dedica tu negocio?\n¿Tienen redes actualmente?\nPlanes desde ₡21,800/mes.\n¿Te interesa saber más?\n\nMENSAJE 2:\n## SI PREGUNTAS POR PLANES\nPlan Inicio — ₡21,800 IVAI/mes: 2 artes, 2 reels, reporte básico mensual, 1 reunión opcional. Ideal para emprendimientos nuevos.\nPlan Estándar — ₡56,800 IVAI/mes: 4 artes, 4 reels, 4 stories, reporte quincenal, 1 reunión. Ideal para negocios en crecimiento.\nPlan Profesional — ₡119,800 IVAI/mes: 6 artes, 6 reels, 8 stories, Community Management L-V 9am-5pm, reporte quincenal, 1 reunión. Ideal para empresas con alta interacción.\nTodos incluyen Facebook e Instagram. TikTok opcional: ₡15,000/mes adicional.\n\nMENSAJE 3:\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros profesionales en el área te estará contactando.\n\n## SERVICIOS ADICIONALES MARKETING\nCommunity Management (Inicio y Estándar): ₡35,000/mes\nPauta publicitaria: ₡15,000/mes + inversión\nTikTok: ₡15,000/mes\nProducción en sitio: desde ₡25,000\nFotografía: desde ₡30,000\nArte adicional: ₡5,900 | Reel: ₡7,900 | Story: ₡3,600\n\n---\n\n# ÁREA: ESCALAMIENTO\n\nSi el cliente quiere hablar con un humano, agente o asesor:\nEntendido, ya quedó registrada tu solicitud. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\nPara páginas web, diseño web, ecommerce o capacitaciones adicionales:\nCon gusto te ayudamos. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\n\n\n---\n\n# HORARIOS\n- Bot: 24/7\n- Soporte humano: L-V 8:00-22:00\n- Hardware presencial: L-V 8:30-17:00, S 10:00-15:00\n\n# CIERRE\nSi el usuario se despide o agradece, respondé en una sola frase cordial.\n\n# FORMATO\nSin asteriscos, sin comillas dobles.\nRespuestas breves y directas.\nSi el cliente escribe en otro idioma, respondé en ese idioma.\nNo repitas el mismo mensaje en la conversación.","maxIterations":4,"enableStreaming":false}},"id":"09ca1824-a105-4b82-abbe-0b85140155bc","name":"Agente HME","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[768,2832]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Hardware_KB: Consultá para información sobre equipos, accesorios, precios y servicio Facture Seguro de Facture.CR.","tableName":{"__rl":true,"value":"hardware","mode":"list","cachedResultName":"hardware"},"options":{"queryName":"match_Hardware"}},"id":"4ea443c5-64dd-4426-a2f4-94b921c9ff05","name":"Hardware_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[608,3056],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Marketing_KB: Consultá para información sobre servicios de marketing digital de Facture.CR.","tableName":{"__rl":true,"value":"marketing","mode":"list","cachedResultName":"marketing"},"options":{"queryName":"match_marketing"}},"id":"6eb09946-dc54-404d-8006-0700d5541a1f","name":"Marketing_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[896,3056],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Escalamiento_KB: Consultá para casos de escalamiento a agente humano.","tableName":{"__rl":true,"value":"escalamiento","mode":"list","cachedResultName":"escalamiento"},"options":{"queryName":"match_Escalamiento"}},"id":"5e61b0aa-34a5-41a9-8da8-d810656a6438","name":"Escalamiento_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1184,3056],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Contexto').first().json.sessionId;\nconst esDespedida = $('Leer Contexto').first().json.esDespedida;\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst output = $input.first().json.output || '';\n\nif (esDespedida) {\n  delete stored[ctxKey];\n}\n\nreturn [{ json: { output } }];\n"},"id":"556e41d4-c787-4aa2-9bc0-36e16ae8fb86","name":"Guardar HME","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,3040]},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[688,4080],"id":"308b20ab-f376-4e03-84df-7795eaf5b8e0","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[976,4080],"id":"055dd955-b9f6-40d5-a310-d3159146241b","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1264,4080],"id":"5ffe00b0-abd8-4b54-b27d-dbac5c048c66","name":"Embeddings Google Gemini2","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[480,3056],"id":"8f804d2e-d293-4d65-8929-fb6bf7cb2f93","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[688,3264],"id":"ff138ee6-abb7-400e-b654-dd711629e85e","name":"Embeddings Google Gemini3","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[976,3264],"id":"98a6126d-8e7b-4d91-b987-77b7d43b4c34","name":"Embeddings Google Gemini4","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1264,3264],"id":"c51c8f1f-1ae0-417c-9e49-1f699f5081d9","name":"Embeddings Google Gemini5","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-32,3568],"id":"12fe6baf-f9e5-47ce-85ea-e27031091284","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[480,3872],"id":"3d0d851e-92e7-423b-9ca7-be0ed2f42d05","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"jsCode":"const sessionId = $input.first().json.sessionId;\nconst chatInput = $input.first().json.mensaje || '';\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst ctx = stored[ctxKey] || {\n  nombre: null,\n  negocio: null,\n  documentos: null,\n  fase: 1\n};\n\nconst esDespedida = [\n  /\\b(adios|adiós|hasta luego|chao|bye|hasta pronto|nos vemos)\\b/i,\n  /gracias.{0,10}(hasta|bye|adios|chao|luego)/i,\n  /que\\s*tenga[sn]?\\s*(buen|un\\s*buen)/i,\n  /ya\\s*(es|fue)\\s*todo/i,\n  /eso\\s*es\\s*todo/i,\n  /ya\\s*(me\\s*)?(resolvieron|quedo|lo\\s*resolviste)/i,\n  /problema\\s*(resuelto|solucionado)/i,\n  /^(ok|okay|perfecto|excelente|listo|claro|entendido)\\s*[,.]?\\s*(gracias|bye|chao|adios)?\\s*\\.?$/i\n].some(p => p.test(chatInput.trim()));\n\nif (esDespedida) {\n  delete stored[ctxKey];\n}\n\nconst nombreMatch = chatInput.match(/(?:me llamo|soy|mi nombre es)\\s+([A-Za-zÀ-ú]+)/i);\nif (nombreMatch && !ctx.nombre) ctx.nombre = nombreMatch[1];\n\nconst docsMatch = chatInput.match(/(\\d+)\\s*(?:facturas?|documentos?|tiquetes?)/i);\nif (docsMatch && !ctx.documentos) ctx.documentos = docsMatch[1];\n\nif (!esDespedida) stored[ctxKey] = ctx;\n\nreturn [{ json: { chatInput, sessionId, ctx, esDespedida } }];"},"id":"f0a6bab0-a032-4a15-a2e2-7723acb20033","name":"Leer Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,3344]},{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"},{"name":"numero"},{"name":"contexto"},{"name":"sessionId"}]}},"id":"a47a3032-f016-4ee6-a85b-ab2cd1813e58","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-544,3344]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[816,3280],"id":"4ad94f2e-01e4-4d60-ba71-0ef82f1ebd96","name":"Redis Chat Memory","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[816,4016],"id":"0c4ca6b8-95ac-4ccf-ac2d-3412362fbc8b","name":"Redis Chat Memory1","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-escalar","leftValue":"={{ ($json.output || '').includes('[ESCALAR_SOPORTE]') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d88e0002-6129-4ea8-aa91-5af5d12b513a","name":"IF ¿Escalar Soporte?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2256,3456]},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"925344cb-a2c1-4b87-9f23-e98bb1376602","name":"CW - Get Labels (Soporte)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,3456],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": {{ JSON.stringify($json.payload.concat(['soporte']).filter((v, i, a) => a.indexOf(v) === i)) }}\n}","options":{}},"id":"500a1124-3722-4946-a8df-e00daddc20fd","name":"Etiquetar Soporte","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2656,3456],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"={{ $('Guardar SVP').item.json.output }}","additionalFields":{}},"id":"19e95772-d649-4be7-9050-626797b821c6","name":"WA - Respuesta SVP","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2864,3456],"webhookId":"bf752697-eb41-47f5-8472-8d556f12e13a","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"tool":{"__rl":true,"mode":"list","value":""},"parameters":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClient","typeVersion":1,"position":[2400,3200],"id":"8204c72a-c3a6-4251-a665-f9c7b8d9d436","name":"MCP Client"}],"connections":{"Clasificador":{"main":[[{"node":"Router","type":"main","index":0}]]},"Router":{"main":[[{"node":"Agente SVP","type":"main","index":0}],[{"node":"Agente HME","type":"main","index":0}]]},"Agente SVP":{"main":[[{"node":"Guardar SVP","type":"main","index":0}]]},"Soporte_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Ventas_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Pagos_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Guardar SVP":{"main":[[]]},"Agente HME":{"main":[[{"node":"Guardar HME","type":"main","index":0}]]},"Hardware_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Marketing_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Escalamiento_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Guardar HME":{"main":[[]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Soporte_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Ventas_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Pagos_KB","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Agente HME","type":"ai_languageModel","index":0}]]},"Embeddings Google Gemini3":{"ai_embedding":[[{"node":"Hardware_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini4":{"ai_embedding":[[{"node":"Marketing_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini5":{"ai_embedding":[[{"node":"Escalamiento_KB","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Clasificador","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Agente SVP","type":"ai_languageModel","index":0}]]},"Leer Contexto":{"main":[[{"node":"Clasificador","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Leer Contexto","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente HME","type":"ai_memory","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"Agente SVP","type":"ai_memory","index":0}]]},"IF ¿Escalar Soporte?":{"main":[[{"node":"CW - Get Labels (Soporte)","type":"main","index":0}]]},"CW - Get Labels (Soporte)":{"main":[[{"node":"Etiquetar Soporte","type":"main","index":0}]]},"Etiquetar Soporte":{"main":[[{"node":"WA - Respuesta SVP","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"global":{"ctx_undefined":{"nombre":null,"negocio":null,"documentos":null,"fase":1},"ctx_50686180352":{"nombre":"Diego","negocio":null,"documentos":null,"fase":1},"ctx_50688119717":{"nombre":"José","negocio":null,"documentos":null,"fase":1}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60d9648c-97e3-48e5-af60-e13d7404b08c","activeVersionId":"8f9fcc9a-af7d-47f1-9977-8c73167a2a82","triggerCount":0,"shared":[{"updatedAt":"2026-04-18T07:57:52.105Z","createdAt":"2026-04-18T07:57:52.105Z","role":"workflow:owner","workflowId":"ImaUKCFiJVRWiJqh","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":{"updatedAt":"2026-04-29T18:33:53.000Z","createdAt":"2026-04-29T18:33:43.114Z","versionId":"8f9fcc9a-af7d-47f1-9977-8c73167a2a82","workflowId":"ImaUKCFiJVRWiJqh","nodes":[{"parameters":{"promptType":"define","text":"=\nRespondé SOLO: svp o hme\nMENSAJE DEL USUARIO: {{ $json.chatInput }}\n\nClasificá en UNA sola categoría según la intención del mensaje ACTUAL.\n\nsvp — soporte técnico del sistema, comprar/contratar sistema de facturación, pagos/suscripción, preguntas generales sobre Facture.CR.\nIncluye: error, falla, no funciona, problema, rechazado, facturación electrónica, planes de facturación, precios del sistema, pagar suscripción, SINPE, comprobante, suscripción suspendida, qué significa una función, cómo funciona el sistema, seguridad fiscal, Hacienda, reportes, horarios generales, información de la empresa, cuántos años tiene, cuántos clientes, correo electrónico, dirección.\n\nhme — equipo físico, redes sociales/publicidad, hablar con humano, servicios informáticos.\nIncluye: impresora, computadora, laptop, equipo de punto de venta, pistola de barras, lector, escáner, caja de dinero, hardware, Kervin, facture seguro, Facebook, Instagram, TikTok, marketing, redes, publicidad, hablar con agente, hablar con humano, páginas web, diseño web, capacitación, reel, contenido, post, stories, fotografía, campaña, anuncio, pauta, community manager, gestión de redes, manejo de redes, administrar redes.\n\nREGLAS:\n- problema con mi pago → svp\n- equipo de punto de venta físico → hme\n- pistola de barras, lector, scanner → hme\n- cuánto cuesta el plan de facturación → svp\n- redes sociales, Instagram, marketing → hme\n- agente real, hablar con humano → hme\n- mensaje vago, saludo, queja sin contexto → svp (por defecto)\n- preguntas sobre funcionalidades o términos (CxC, CxP, Kardex) → svp\n- seguridad fiscal, Hacienda, reportes contables → svp\n- horarios generales o del sistema → svp\n- horarios del departamento de equipos/hardware presencial → hme\n- información de la empresa, correo, contacto → svp\n\nRespondé SOLO: svp o hme","messages":{"messageValues":[]}},"id":"e28c87af-4939-4a2f-8658-cd93c93fc155","name":"Clasificador","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-96,3344]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"svp","operator":{"type":"string","operation":"equals"},"id":"c-svp"}],"combinator":"and"},"renameOutput":true,"outputKey":"SVP"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.text.trim().toLowerCase() }}","rightValue":"hme","operator":{"type":"string","operation":"equals"},"id":"c-hme"}],"combinator":"and"},"renameOutput":true,"outputKey":"HME"}]},"options":{"fallbackOutput":"0"}},"id":"6a0cf1a2-e679-4cac-b5ff-eb0df8bd1748","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[256,3344]},{"parameters":{"promptType":"define","text":"=Contexto relevante:\n{{ $('When Executed by Another Workflow').first().json.contexto }}\n\nMensaje actual:\n{{ $('Leer Contexto').first().json.chatInput }}","options":{"systemMessage":"=Sos el asistente virtual de Facture.CR para Soporte Técnico, Ventas y Pagos.\n\n## CONTEXTO DE SESIÓN\nNombre: {{ $('Leer Contexto').first().json.ctx.nombre || 'no proporcionado' }}\nNegocio: {{ $('Leer Contexto').first().json.ctx.negocio || 'no proporcionado' }}\nDocumentos/mes: {{ $('Leer Contexto').first().json.ctx.documentos || 'no proporcionado' }}\nFase ventas: {{ $('Leer Contexto').first().json.ctx.fase || 1 }}\n\n## PROTOCOLO DE MEMORIA — CRÍTICO\nAntes de responder, revisá el historial y el contexto de sesión.\nSi ya tenés nombre, negocio o documentos, NO los volvás a pedir. Usálos directamente.\n\n## PERFIL DEL CLIENTE — MUY IMPORTANTE\nEl cliente típico de Facture.CR tiene poca experiencia con tecnología. No sabe qué es un \"documento electrónico\" ni cuántos emite al mes. Solo sabe el nombre de su negocio.\nTu trabajo es interpretar su negocio y recomendarle el plan correcto sin hacerlo sentir ignorante.\nHablá como si le explicaras a un familiar que nunca ha usado un sistema de facturación.\nUsá palabras del día a día. Nada técnico.\n\n## COMPORTAMIENTO GENERAL\nRespondé de inmediato.\nSi el mensaje es corto o vago → interpretá la intención más probable y respondé.\nSi el cliente da solo nombre y negocio → eso es suficiente para recomendar un plan.\nSi está de mal humor o apurado → respondé corto y directo, sin preguntas innecesarias.\n\n## MENSAJES DE AUDIO TRANSCRITOS\nSi el mensaje contiene \"Media Message Transcription:\" → el texto real del cliente es SOLO lo que viene después de esa etiqueta. Ignorá el nombre del archivo y el tipo de archivo. Procesá únicamente el contenido transcrito como si fuera texto normal.\n\n---\n\n# ÁREA: SOPORTE TÉCNICO\n\n## ROL\nDetectar el problema y escalar a un agente humano. El chatbot es un filtro, no un técnico.\n\n## FUENTE DE INFORMACIÓN\nConsultá Soporte_KB antes de responder.\n\n## REGLA DE ORO\nAnte cualquier duda entre responder o escalar → SIEMPRE escalá.\n\n## DETECCIÓN DE SOPORTE\nPalabras clave: error, problema, no funciona, no puedo, falla, rechazado, no imprime, no carga, no guarda, no deja, esto está raro, algo pasó.\n\n## FLUJO\n1. \"Entiendo que estás teniendo un problema con el sistema.\"\n2. Pedí máximo 1-2 datos. No hagas interrogatorio.\n3. Derivá al agente humano.\n\n## MENSAJE DE DERIVACIÓN (usar exacto)\nEn este momento no cuento con la información específica para tu consulta. Un agente de soporte se pondrá en contacto contigo en horario L-V 8:00-22:00.\n\n## FRUSTRACIÓN\nSi dice \"esto no sirve\", \"siempre falla\", \"qué mal servicio\":\nValidá primero, escalá rápido. Ejemplo: \"Entiendo lo molesto que puede ser. Voy a pasarte con un agente de inmediato.\"\n\n## CUÁNDO DERIVAR SIN EXCEPCIÓN\n- Problemas técnicos o errores del sistema\n- Facturas rechazadas\n- Fallas de configuración o integración\n- El usuario pide hablar con un humano\n\n## PREGUNTAS SOBRE CAPACITACIÓN\nSi preguntan si hay capacitación, cómo es, cuánto cuesta:\nLa primera capacitación es GRATUITA, dura 1 hora y 30 minutos y es por videollamada. Se agenda después de activar tu empresa, en un plazo de 3 días hábiles. Si después querés otra capacitación adicional, tiene un costo de ₡15,000 + IVA.\n\n## HORARIOS — SIEMPRE RESPONDER COMPLETO ASÍ\nHorarios de Facture.CR:\nSoporte técnico (bot): 24/7 todos los días\nSoporte humano virtual: L-V 8:00-22:00 | S-D 8:00-17:00 | Pausa L-S 12:00-13:00\nVentas virtual: L-V 9:00-18:00 | S 12:00-16:00 | Feriados 8:00-17:00\nHardware presencial: L-V 8:30-17:00 | S 10:00-15:00\nHardware virtual (Plan Facture Seguro): todos los días 8:30-22:00\n\n---\n\n# ÁREA: VENTAS\n\n## ROL\nRecomendás el plan ideal y acompañás al cliente hasta completar la compra.\nEl cliente NO sabe de tecnología. Tu trabajo es simplificarle todo.\n\n## FUENTE DE INFORMACIÓN — CRÍTICO\nConsultá Ventas_KB SIEMPRE en Fase 2 y Fase 3.\nNUNCA inventés precios ni planes. Todo viene de la KB.\nPLAN ANUAL DE ₡162,000 NO EXISTE.\n\n## INSTALACIÓN — CRÍTICO\nEl sistema es 100% virtual. No hay visitas físicas para instalar software.\nSi preguntan cuándo les instalan: \"El sistema lo usás desde tu celular o computadora, como una página web. Te enseñamos a usarlo por videollamada y listo.\"\nHardware (impresoras, equipos) sí tiene servicio presencial. Son cosas distintas.\n\n## CÓMO MANEJAR CLIENTES QUE NO SABEN SUS DOCUMENTOS — MUY IMPORTANTE\nLa mayoría de clientes NO sabe cuántos documentos emite. Eso es normal.\nSi el cliente da el nombre de su negocio → vos estimás los documentos según el tipo de negocio usando la guía de la KB y recomendás el plan.\nNO le preguntes cuántos documentos emite si ya sabés el tipo de negocio.\nSí decile cuál es tu estimación de forma simple:\nEjemplo: \"Para una verdulería como la tuya, lo normal es entre 100 y 300 facturas al mes. Basado en eso, el plan que más te conviene es...\"\n\n## ESTIMACIÓN POR TIPO DE NEGOCIO (usar como referencia)\n- Soda, pulpería, verdulería, barbería, salón, taller, consultorio: 100-500 docs/mes → Plan 500 Élite\n- Restaurante, ferretería, farmacia, bar, cafetería, veterinaria, tienda ropa: 300-1000 docs/mes → Plan 1,000 Élite\n- Supermercado, carnicería grande: 1000-3000 docs/mes → Plan 3,000 Élite\n- Distribuidora con rutas: +6,000 docs/mes → escalar a asesor humano\n- Muy pocos documentos (profesional independiente, servicios esporádicos): Plan 100 Plus o Prepago\n\n## ESTRATEGIA DE VENTA\n1. PRIMERO recomendá siempre un Plan Élite.\n2. Si el cliente dice que está caro o quiere algo más sencillo → ofrecé Plan Plus.\n3. NUNCA ofrezcas Plus de entrada.\n4. Si pregunta qué significa algún término (CxC, CxP, Kardex, etc.) → explicalo simple, sin escalar.\n\n## FASE 1 — RECOPILACIÓN\nSolo necesitás 2 cosas realmente importantes:\n1. Nombre del cliente\n2. Tipo de negocio\n\nCon esos 2 datos podés recomendar. Los documentos los estimás vos.\nSi el cliente da solo su nombre y negocio → avanzá directamente a Fase 2.\nNO pidas los 3 datos si ya tenés nombre y negocio.\n\n## FASE 2 — RECOMENDACIÓN\nConsultá Ventas_KB secciones 4, 5 y 6. PRIMERO recomendá Plan Élite.\n\nFormato exacto:\nHola [nombre], basándome en tu [tipo de negocio], el plan que mejor se adapta a vos es:\n\nPLAN RECOMENDADO: ...\nPARA QUIÉN ES IDEAL: ...\nDOCUMENTOS INCLUIDOS: ...\nFUNCIONALIDADES CLAVE: ...\nPRECIO MENSUAL CON IVA: ...\nPRECIO ANUAL CON IVA: ... (solo si existe en la KB)\nINSCRIPCIÓN ÚNICA: ₡11,300 IVAI\n\n[Explicación simple de por qué este plan es ideal para su negocio específico]\n¿Te parece bien o querés ver otra opción?\n\n## SI EL CLIENTE DICE QUE ESTÁ CARO O QUIERE ALGO MÁS SENCILLO\nConsultá Ventas_KB y ofrecé Plan Plus adecuado.\nExplicalo simple: \"El plan Plus tiene lo básico para facturar. El Élite tiene más herramientas como control de inventario y más reportes. Si querés empezar con algo sencillo, el Plus te sirve.\"\n\n## PLAN ILIMITADO PLUS\nMensual: ₡22,600 IVAI/mes | Anual: ₡226,000 IVAI/año.\nMódulo restaurante extra: ₡20,000 + IVA/mes o ₡200,000 + IVA/año.\n\n## RESTAURANTES Y SODAS\nPRIMERO: Plan Élite 1,000 (₡20,500/mes) — incluye módulo restaurante sin costo extra.\nSi quiere más económico: Plan ILIMITADO Plus (₡22,600) + módulo restaurante (₡20,000) = ₡42,600/mes.\nMódulo restaurante NO disponible en planes Plus 100, 1000, Prepago, 1200 anual, 12000 anual.\n\nSi pide video demo:\n- Restaurante/soda/bar: https://www.youtube.com/watch?v=gySEn4MCE4o\n- Otro negocio: https://www.youtube.com/watch?v=pMxiy2Y2IwA\n\nSi pide cuenta demo:\n- Plan Plus: https://facture.cr/app/login/ | Usuario: plan100@gmail.com | Contraseña: 40002678\n- Plan Élite: https://facture.cr/app/login/ | Usuario: elitefacturecr@gmail.com | Contraseña: EliteFacture3Dias\n\n## FASE 3 — PROCESO DE COMPRA\nSolo cuando el cliente confirmó que quiere iniciar. Enviá exactamente:\n\n[nombre], te explico cómo activar tu empresa en Facture.CR:\n\n1. Nos brindás los datos para la apertura de la empresa.\nPaso 1: Llenar el Google Forms.\nPaso 2: Llenar los Exceles con tus productos y servicios.\nPaso 3: Enviarnos el comprobante de pago del primer mes más la inscripción (₡11,300 IVAI).\n\n2. Nuestro equipo de soporte te contactará para agendar la capacitación virtual. Esto tarda máximo 3 días hábiles.\n\n3. Después de la capacitación te enviamos los accesos. Ahí empieza a correr la suscripción.\n\nEl sistema es 100% virtual. La capacitación es por videollamada desde tu casa o negocio.\n\nEmpecemos con el Paso 1.\n\nIMPORTANTE: Consultá Ventas_KB y enviá la plantilla PLANTILLA_PASO_1_DATOS_APERTURA exactamente como aparece. No la resumás ni la inventes.\nFinalizá con: Quedamos atentos. En cuanto lo completés, uno de nuestros asesores te estará acompañando.\n\nDespués de enviar la plantilla → derivá a soporte humano para cualquier otra consulta.\n\n## MÉTODOS DE PAGO\nSi preguntan cómo pagar → consultá Pagos_KB y respondé con los métodos exactos. No escalés.\n\n## SEGURIDAD FISCAL Y HACIENDA\nSi preguntan si Facture.CR cumple con Hacienda, reportes contables, actualizaciones fiscales → consultá Ventas_KB y respondé directamente. No escalés.\n\n## INFORMACIÓN GENERAL DE LA EMPRESA\nSi preguntan años de experiencia, cuántos clientes, correo, contacto → consultá Ventas_KB y respondé. No escalés.\n\n---\n\n# ÁREA: PAGOS\n\n## ROL\nAtendés pagos, métodos de pago, suscripción suspendida y comprobantes.\n\n## FUENTE DE INFORMACIÓN\nConsultá Pagos_KB para instrucciones exactas.\n\n## MÉTODOS DE PAGO (enviar exacto)\nRealizá tu pago con Sinpe Móvil o a través de nuestras cuentas bancarias:\nhttps://facture.cr/modules/Information.html#pagos\nSinpe Móvil: Deivis Sibaja Ugalde - 8610 0352\nUna vez realizado el pago, adjuntá el comprobante en este chat.\n\n## CÓMO REGISTRAR EL PAGO\n1. Panel de Inicio → esquina superior derecha → ícono mano con tarjeta\n2. Ingresá los periodos a pagar\n3. Seleccioná método: Tarjeta, Transferencia o Sinpe Móvil\n4. Clic en Realizar Pago\n\n## SUSCRIPCIÓN SUSPENDIDA\nAl ingresar verás alerta → Clic en Registrar Pago → ingresá periodos → seleccioná método → Realizar Pago.\n\n## COMPROBANTE\nAl recibir imagen o archivo respondé exactamente:\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros agentes corroborará la información y aplicará el pago.\n\nCRÍTICO: después de responder sobre pagos NO redirijás a otra área.\n\n---\n\n# ESCALAMIENTO GENERAL\nSi el cliente quiere hablar con un humano:\nEntendido. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\n---\n\n# DIRECCIÓN\nProvincia de Puntarenas, Esparza, del BCR 100 m al este y 125 m al norte.\nhttps://share.google/rMmcdM6PD7ERs8TuK\nSolo para Hardware (equipos físicos). Software/ventas/soporte es 100% virtual.\n\n# CIERRE\nSi el usuario se despide o agradece → una sola frase cordial.\n\n# FORMATO\nSin asteriscos, sin comillas dobles, sin markdown.\nRespuestas breves y directas.\nLenguaje simple y cotidiano.\nSi el cliente escribe en otro idioma → respondé en ese idioma.\nNo repitas el mismo mensaje.\n\n# REGLAS OBLIGATORIAS\n- PROHIBIDO inventar precios, planes o información de la empresa.\n- PLAN ANUAL ₡162,000 NO EXISTE.\n- SIEMPRE consultar Ventas_KB antes de recomendar un plan.\n- SIEMPRE ofrecer Élite primero. Plus solo si el cliente rechaza.\n- NUNCA confundir software (virtual) con hardware (presencial).\n- SIEMPRE consultar Ventas_KB para la plantilla PLANTILLA_PASO_1_DATOS_APERTURA.\n- NUNCA escalar preguntas sobre Hacienda, pagos, capacitación o info general de la empresa.\n- Si el cliente da nombre y negocio → estimá los documentos y recomendá sin preguntar más","maxIterations":10,"enableStreaming":false}},"id":"f401e23e-dadd-4445-850b-19be90f5fede","name":"Agente SVP","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[768,3648]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Soporte_KB: Consultá SIEMPRE antes de responder preguntas de soporte técnico de Facture.CR.","tableName":{"__rl":true,"value":"soporte","mode":"id"},"options":{"queryName":"match_soporte"}},"id":"d800a5bb-e0de-43f5-9a5a-0ff83a1875d1","name":"Soporte_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[608,3872],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Ventas_KB: Consultá en Fase 2 y Fase 3 para planes de facturación electrónica, precios y plantillas de Facture.CR.","tableName":{"__rl":true,"value":"ventas","mode":"list","cachedResultName":"ventas"},"options":{"queryName":"match_ventas"}},"id":"69927ec3-56e9-461e-918a-eaa8518d7658","name":"Ventas_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[896,3872],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Pagos_KB: Consultá para métodos de pago y procesos de suscripción de Facture.CR.","tableName":{"__rl":true,"value":"pagos","mode":"list","cachedResultName":"pagos"},"options":{"queryName":"match_pagos"}},"id":"416af23f-cd9b-491c-94d0-d17b9b455814","name":"Pagos_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1184,3872],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Contexto').first().json.sessionId;\nconst esDespedida = $('Leer Contexto').first().json.esDespedida;\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst chatInput = $('Leer Contexto').first().json.chatInput || '';\nconst output = $input.first().json.output || $input.first().json.text || $input.first().json.response || $input.first().json.message || '';\n\nif (esDespedida) {\n  delete stored[ctxKey];\n} else {\n  const ctx = stored[ctxKey] || {};\n  const nombreMatch = chatInput.match(/(?:me llamo|soy|mi nombre es)\\s+([A-Za-z\\u00e0-\\u00fc]+)/i);\n  if (nombreMatch && !ctx.nombre) ctx.nombre = nombreMatch[1];\n  const docsMatch = chatInput.match(/(\\d+)\\s*(?:facturas?|documentos?|tiquetes?)/i);\n  if (docsMatch && !ctx.documentos) ctx.documentos = docsMatch[1];\n  stored[ctxKey] = ctx;\n}\n\nreturn [{ json: { output } }];\n"},"id":"b91be265-6614-496f-865f-a8af6b3c100b","name":"Guardar SVP","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,3648]},{"parameters":{"promptType":"define","text":"=Contexto relevante:\n{{ $('When Executed by Another Workflow').first().json.contexto }}\n\nMensaje actual:\n{{ $('Leer Contexto').first().json.chatInput }}","options":{"systemMessage":"=Eres el asistente virtual de Facture.CR para Hardware, Marketing y Escalamiento.\n\n## COMPORTAMIENTO GENERAL\nRespondé de inmediato sin pedirle al usuario que seleccione nada.\nDetectás la intención por contexto y respondés según el área correspondiente.\n\n---\n\n# ÁREA: HARDWARE\n\n## ROL\nAtendés consultas sobre venta de equipo, reparación, mantenimiento, soporte informático, equipos de punto de venta y el servicio Facture Seguro.\n\n## FUENTE DE INFORMACIÓN\nConsultá Hardware_KB para información sobre productos, precios y servicios disponibles.\n\n## PRIMER CONTACTO HARDWARE (una sola vez)\nHola, muy buen día y saludos! Te escribe el departamento de Hardware de Facture.CR. ✅ Para brindarte un mejor seguimiento, serás atendido por nuestro departamento. En breve recibirás un mensaje de texto desde el número 8449-9537 por donde continuaremos con tu atención. 🔘\n\nPara ver nuestro Carrito Web sobre Computadoras, impresoras y más: ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n## EQUIPOS DISPONIBLES\nImpresoras térmicas, computadoras, laptops, lectores de código de barras (pistolas de barras), escáneres, cajas de dinero, monitores, teclados, cables y accesorios.\nTambién: reparación, mantenimiento, instalación de drivers e impresoras, servicio Facture Seguro.\n\n## SI PREGUNTA POR UBICACIÓN O ENVÍOS\nEstamos en Esparza, Puntarenas 📍, trabajamos a nivel nacional con envíos a todo el país 📬. También hacemos entrega a domicilio con instalación por un monto adicional ✅.\nDirección: Esparza, entrada de las Tres Marías, 80 metros norte.\nGPS: https://maps.app.goo.gl/DiXHJYYtu6YNWGsS7\n\n## HORARIO PRESENCIAL\nL-V 8:30-17:00 | S 10:00-15:00\n\n## OTRAS CONSULTAS DE HARDWARE\nCon mucho gusto te ayudaremos. En breve nos estaremos comunicando contigo. ❇\nhttps://facture.cr/tienda/Facture.cr_Technology\n\n## ADJUNTOS SIN CONTEXTO\nRecibí tu mensaje. En breve un agente de hardware te estará contactando. 📞\n\n---\n\n# ÁREA: MARKETING\n\n## ROL\nAtendés consultas sobre gestión de redes sociales, marketing digital y campañas.\n\n## FUENTE DE INFORMACIÓN\nConsultá Marketing_KB para planes y precios exactos.\n\n## PRIMER CONTACTO MARKETING\nEnviá estos dos mensajes en orden exacto:\n\nMENSAJE 1:\nHola! Gracias por escribir.\nGracias por tu interés en nuestro servicio de gestión de redes sociales.\nManejamos tu Facebook e Instagram de forma profesional, diseñamos todo, editamos videos, programamos y publicamos.\nVos te enfocás en tu negocio, nosotros en tus redes.\nPara recomendarte el mejor plan:\n¿A qué se dedica tu negocio?\n¿Tienen redes actualmente?\nPlanes desde ₡21,800/mes.\n¿Te interesa saber más?\n\nMENSAJE 2:\n## SI PREGUNTAS POR PLANES\nPlan Inicio — ₡21,800 IVAI/mes: 2 artes, 2 reels, reporte básico mensual, 1 reunión opcional. Ideal para emprendimientos nuevos.\nPlan Estándar — ₡56,800 IVAI/mes: 4 artes, 4 reels, 4 stories, reporte quincenal, 1 reunión. Ideal para negocios en crecimiento.\nPlan Profesional — ₡119,800 IVAI/mes: 6 artes, 6 reels, 8 stories, Community Management L-V 9am-5pm, reporte quincenal, 1 reunión. Ideal para empresas con alta interacción.\nTodos incluyen Facebook e Instagram. TikTok opcional: ₡15,000/mes adicional.\n\nMENSAJE 3:\nMuchas gracias. En breve, durante nuestro horario de atención, uno de nuestros profesionales en el área te estará contactando.\n\n## SERVICIOS ADICIONALES MARKETING\nCommunity Management (Inicio y Estándar): ₡35,000/mes\nPauta publicitaria: ₡15,000/mes + inversión\nTikTok: ₡15,000/mes\nProducción en sitio: desde ₡25,000\nFotografía: desde ₡30,000\nArte adicional: ₡5,900 | Reel: ₡7,900 | Story: ₡3,600\n\n---\n\n# ÁREA: ESCALAMIENTO\n\nSi el cliente quiere hablar con un humano, agente o asesor:\nEntendido, ya quedó registrada tu solicitud. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\nPara páginas web, diseño web, ecommerce o capacitaciones adicionales:\nCon gusto te ayudamos. En breve, durante nuestro horario de atención (L-V 8:00-22:00), uno de nuestros agentes se pondrá en contacto con vos.\n\n\n\n---\n\n# HORARIOS\n- Bot: 24/7\n- Soporte humano: L-V 8:00-22:00\n- Hardware presencial: L-V 8:30-17:00, S 10:00-15:00\n\n# CIERRE\nSi el usuario se despide o agradece, respondé en una sola frase cordial.\n\n# FORMATO\nSin asteriscos, sin comillas dobles.\nRespuestas breves y directas.\nSi el cliente escribe en otro idioma, respondé en ese idioma.\nNo repitas el mismo mensaje en la conversación.","maxIterations":4,"enableStreaming":false}},"id":"09ca1824-a105-4b82-abbe-0b85140155bc","name":"Agente HME","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[768,2832]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Hardware_KB: Consultá para información sobre equipos, accesorios, precios y servicio Facture Seguro de Facture.CR.","tableName":{"__rl":true,"value":"hardware","mode":"list","cachedResultName":"hardware"},"options":{"queryName":"match_Hardware"}},"id":"4ea443c5-64dd-4426-a2f4-94b921c9ff05","name":"Hardware_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[608,3056],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Marketing_KB: Consultá para información sobre servicios de marketing digital de Facture.CR.","tableName":{"__rl":true,"value":"marketing","mode":"list","cachedResultName":"marketing"},"options":{"queryName":"match_marketing"}},"id":"6eb09946-dc54-404d-8006-0700d5541a1f","name":"Marketing_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[896,3056],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Escalamiento_KB: Consultá para casos de escalamiento a agente humano.","tableName":{"__rl":true,"value":"escalamiento","mode":"list","cachedResultName":"escalamiento"},"options":{"queryName":"match_Escalamiento"}},"id":"5e61b0aa-34a5-41a9-8da8-d810656a6438","name":"Escalamiento_KB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1184,3056],"credentials":{"supabaseApi":{"id":"S5EidsCF5NfUCvth","name":"Supabase account 5"}}},{"parameters":{"jsCode":"\nconst sessionId = $('Leer Contexto').first().json.sessionId;\nconst esDespedida = $('Leer Contexto').first().json.esDespedida;\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst output = $input.first().json.output || '';\n\nif (esDespedida) {\n  delete stored[ctxKey];\n}\n\nreturn [{ json: { output } }];\n"},"id":"556e41d4-c787-4aa2-9bc0-36e16ae8fb86","name":"Guardar HME","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,3040]},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[688,4080],"id":"308b20ab-f376-4e03-84df-7795eaf5b8e0","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[976,4080],"id":"055dd955-b9f6-40d5-a310-d3159146241b","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1264,4080],"id":"5ffe00b0-abd8-4b54-b27d-dbac5c048c66","name":"Embeddings Google Gemini2","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[480,3056],"id":"8f804d2e-d293-4d65-8929-fb6bf7cb2f93","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[688,3264],"id":"ff138ee6-abb7-400e-b654-dd711629e85e","name":"Embeddings Google Gemini3","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[976,3264],"id":"98a6126d-8e7b-4d91-b987-77b7d43b4c34","name":"Embeddings Google Gemini4","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"modelName":"models/gemini-embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1264,3264],"id":"c51c8f1f-1ae0-417c-9e49-1f699f5081d9","name":"Embeddings Google Gemini5","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-32,3568],"id":"12fe6baf-f9e5-47ce-85ea-e27031091284","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[480,3872],"id":"3d0d851e-92e7-423b-9ca7-be0ed2f42d05","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"jsCode":"const sessionId = $input.first().json.sessionId;\nconst chatInput = $input.first().json.mensaje || '';\nconst stored = $getWorkflowStaticData('global');\nconst ctxKey = 'ctx_' + sessionId;\nconst ctx = stored[ctxKey] || {\n  nombre: null,\n  negocio: null,\n  documentos: null,\n  fase: 1\n};\n\nconst esDespedida = [\n  /\\b(adios|adiós|hasta luego|chao|bye|hasta pronto|nos vemos)\\b/i,\n  /gracias.{0,10}(hasta|bye|adios|chao|luego)/i,\n  /que\\s*tenga[sn]?\\s*(buen|un\\s*buen)/i,\n  /ya\\s*(es|fue)\\s*todo/i,\n  /eso\\s*es\\s*todo/i,\n  /ya\\s*(me\\s*)?(resolvieron|quedo|lo\\s*resolviste)/i,\n  /problema\\s*(resuelto|solucionado)/i,\n  /^(ok|okay|perfecto|excelente|listo|claro|entendido)\\s*[,.]?\\s*(gracias|bye|chao|adios)?\\s*\\.?$/i\n].some(p => p.test(chatInput.trim()));\n\nif (esDespedida) {\n  delete stored[ctxKey];\n}\n\nconst nombreMatch = chatInput.match(/(?:me llamo|soy|mi nombre es)\\s+([A-Za-zÀ-ú]+)/i);\nif (nombreMatch && !ctx.nombre) ctx.nombre = nombreMatch[1];\n\nconst docsMatch = chatInput.match(/(\\d+)\\s*(?:facturas?|documentos?|tiquetes?)/i);\nif (docsMatch && !ctx.documentos) ctx.documentos = docsMatch[1];\n\nif (!esDespedida) stored[ctxKey] = ctx;\n\nreturn [{ json: { chatInput, sessionId, ctx, esDespedida } }];"},"id":"f0a6bab0-a032-4a15-a2e2-7723acb20033","name":"Leer Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,3344]},{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"},{"name":"numero"},{"name":"contexto"},{"name":"sessionId"}]}},"id":"a47a3032-f016-4ee6-a85b-ab2cd1813e58","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-544,3344]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[816,3280],"id":"4ad94f2e-01e4-4d60-ba71-0ef82f1ebd96","name":"Redis Chat Memory","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[816,4016],"id":"0c4ca6b8-95ac-4ccf-ac2d-3412362fbc8b","name":"Redis Chat Memory1","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}}],"connections":{"Clasificador":{"main":[[{"node":"Router","type":"main","index":0}]]},"Router":{"main":[[{"node":"Agente SVP","type":"main","index":0}],[{"node":"Agente HME","type":"main","index":0}]]},"Agente SVP":{"main":[[{"node":"Guardar SVP","type":"main","index":0}]]},"Soporte_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Ventas_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Pagos_KB":{"ai_tool":[[{"node":"Agente SVP","type":"ai_tool","index":0}]]},"Guardar SVP":{"main":[[]]},"Agente HME":{"main":[[{"node":"Guardar HME","type":"main","index":0}]]},"Hardware_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Marketing_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Escalamiento_KB":{"ai_tool":[[{"node":"Agente HME","type":"ai_tool","index":0}]]},"Guardar HME":{"main":[[]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Soporte_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Ventas_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Pagos_KB","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Agente HME","type":"ai_languageModel","index":0}]]},"Embeddings Google Gemini3":{"ai_embedding":[[{"node":"Hardware_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini4":{"ai_embedding":[[{"node":"Marketing_KB","type":"ai_embedding","index":0}]]},"Embeddings Google Gemini5":{"ai_embedding":[[{"node":"Escalamiento_KB","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Clasificador","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Agente SVP","type":"ai_languageModel","index":0}]]},"Leer Contexto":{"main":[[{"node":"Clasificador","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Leer Contexto","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente HME","type":"ai_memory","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"Agente SVP","type":"ai_memory","index":0}]]}},"authors":"Diego diereyescarv@gmail.com","name":"Version 8f9fcc9a","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}