workflows/SUB - Crear Cita y Notificar.json
{"updatedAt":"2026-05-01T22:41:02.941Z","createdAt":"2026-04-30T17:55:39.164Z","id":"S5GsyxeBViSQwKy1","name":"SUB - Crear Cita y Notificar","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"nombre"},{"name":"telefono"},{"name":"correo"},{"name":"motivo"},{"name":"fecha_inicio"},{"name":"fecha_fin"}]}},"id":"d0a71528-512f-4d6c-ba14-4f57828bffb1","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-928,112]},{"parameters":{"calendar":{"__rl":true,"value":"500da7433b3c9ee1d1435f5b42d359b18a2e6610a34abc33d55d1ca10749d0cf@group.calendar.google.com","mode":"list","cachedResultName":"Pruebas"},"start":"={{ $json.fecha_inicio }}","end":"={{ $json.fecha_fin }}","additionalFields":{"description":"=👤 {{ $json.nombre }}\n📞 {{ $json.telefono }}\n📧 {{ $json.correo }}\n📋 {{ $json.motivo }}","location":"Google Meet / Facture.CR","summary":"=Cita Facture.CR - {{ $json.nombre }}"}},"id":"fa0c9df1-947c-4ae3-82b8-7974537074a5","name":"Crear Evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-688,112],"credentials":{"googleCalendarOAuth2Api":{"id":"LYjOlp4rj31BLzUh","name":"Google Calendar account 2"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c-correo","leftValue":"={{ $('Trigger').first().json.correo }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"ed6ff0e1-04f4-47fa-a32e-28e6719631b9","name":"Tiene Correo?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-448,96]},{"parameters":{"sendTo":"={{ $('Trigger').first().json.correo }}","subject":"Confirmacion de cita - Facture.CR","message":"=<h2>Hola {{ $('Trigger').first().json.nombre }}!</h2>\n<p>Tu cita con <strong>Facture.CR</strong> fue agendada exitosamente.</p>\n<p><strong>Fecha:</strong> {{ DateTime.fromISO($('Trigger').first().json.fecha_inicio).setLocale('es').toFormat(\"cccc d 'de' MMMM yyyy, h:mm a\") }}</p>\n<p><strong>Motivo:</strong> {{ $('Trigger').first().json.motivo }}</p>\n<p>Un asesor te enviara el enlace de la videollamada antes de la cita.</p>\n<p>Si necesitas reagendar, contactanos por WhatsApp.</p>","options":{}},"id":"97ba0788-89c0-4d5f-9849-ebb59fea2ff2","name":"Enviar Confirmacion Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-208,-64],"webhookId":"a81abfcb-19f6-424f-95fb-14c5e46d2776","credentials":{"gmailOAuth2":{"id":"vyZLSj7DY7JD86zX","name":"Gmail account 2 Diego"}}},{"parameters":{"assignments":{"assignments":[{"id":"res-01","name":"resultado","type":"string","value":"=cita_creada"}]},"options":{}},"id":"b5c01e19-8764-4a4d-a51e-be35681beaea","name":"Resultado OK","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,112]},{"parameters":{"assignments":{"assignments":[{"id":"res-02","name":"resultado","type":"string","value":"=error_calendario"}]},"options":{}},"id":"eab1ca4b-7fa3-41a9-95be-5446c376f85d","name":"Resultado Error","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,-160]},{"parameters":{"content":"# Creación de citas con confirmación automática\n\n### Este flujo recibe datos de una cita, la agenda en Google Calendar y, si el usuario tiene correo, envía una confirmación por email. Finalmente, devuelve si la cita fue creada correctamente o si hubo un error.","height":672,"width":1408,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1024,-272],"typeVersion":1,"id":"ae61d6ee-c3ec-4d24-8705-f6535aa9d6a3","name":"Sticky Note"}],"connections":{"Trigger":{"main":[[{"node":"Crear Evento","type":"main","index":0}]]},"Crear Evento":{"main":[[{"node":"Tiene Correo?","type":"main","index":0},{"node":"Resultado Error","type":"main","index":0}]]},"Tiene Correo?":{"main":[[{"node":"Enviar Confirmacion Email","type":"main","index":0}],[{"node":"Resultado OK","type":"main","index":0}]]},"Enviar Confirmacion Email":{"main":[[{"node":"Resultado OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"1f07b56b-8d10-4816-a1dc-457dc5908132","activeVersionId":"62b8c68a-0072-4147-80be-8b991fbd4d0b","triggerCount":0,"shared":[{"updatedAt":"2026-04-30T17:55:39.165Z","createdAt":"2026-04-30T17:55:39.165Z","role":"workflow:owner","workflowId":"S5GsyxeBViSQwKy1","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":{"updatedAt":"2026-04-30T19:26:11.000Z","createdAt":"2026-04-30T19:14:32.574Z","versionId":"62b8c68a-0072-4147-80be-8b991fbd4d0b","workflowId":"S5GsyxeBViSQwKy1","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"nombre"},{"name":"telefono"},{"name":"correo"},{"name":"motivo"},{"name":"fecha_inicio"},{"name":"fecha_fin"}]}},"id":"d0a71528-512f-4d6c-ba14-4f57828bffb1","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-928,112]},{"parameters":{"calendar":{"__rl":true,"value":"500da7433b3c9ee1d1435f5b42d359b18a2e6610a34abc33d55d1ca10749d0cf@group.calendar.google.com","mode":"list","cachedResultName":"Pruebas"},"start":"={{ $json.fecha_inicio }}","end":"={{ $json.fecha_fin }}","additionalFields":{"description":"=👤 {{ $json.nombre }}\n📞 {{ $json.telefono }}\n📧 {{ $json.correo }}\n📋 {{ $json.motivo }}","location":"Google Meet / Facture.CR","summary":"=Cita Facture.CR - {{ $json.nombre }}"}},"id":"fa0c9df1-947c-4ae3-82b8-7974537074a5","name":"Crear Evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-688,112],"credentials":{"googleCalendarOAuth2Api":{"id":"LYjOlp4rj31BLzUh","name":"Google Calendar account 2"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c-correo","leftValue":"={{ $('Trigger').first().json.correo }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"ed6ff0e1-04f4-47fa-a32e-28e6719631b9","name":"Tiene Correo?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-448,96]},{"parameters":{"sendTo":"={{ $('Trigger').first().json.correo }}","subject":"Confirmacion de cita - Facture.CR","message":"=<h2>Hola {{ $('Trigger').first().json.nombre }}!</h2>\n<p>Tu cita con <strong>Facture.CR</strong> fue agendada exitosamente.</p>\n<p><strong>Fecha:</strong> {{ DateTime.fromISO($('Trigger').first().json.fecha_inicio).setLocale('es').toFormat(\"cccc d 'de' MMMM yyyy, h:mm a\") }}</p>\n<p><strong>Motivo:</strong> {{ $('Trigger').first().json.motivo }}</p>\n<p>Un asesor te enviara el enlace de la videollamada antes de la cita.</p>\n<p>Si necesitas reagendar, contactanos por WhatsApp.</p>","options":{}},"id":"97ba0788-89c0-4d5f-9849-ebb59fea2ff2","name":"Enviar Confirmacion Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-208,-64],"webhookId":"a81abfcb-19f6-424f-95fb-14c5e46d2776","credentials":{"gmailOAuth2":{"id":"vyZLSj7DY7JD86zX","name":"Gmail account 2 Diego"}}},{"parameters":{"assignments":{"assignments":[{"id":"res-01","name":"resultado","type":"string","value":"=cita_creada"}]},"options":{}},"id":"b5c01e19-8764-4a4d-a51e-be35681beaea","name":"Resultado OK","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,112]},{"parameters":{"assignments":{"assignments":[{"id":"res-02","name":"resultado","type":"string","value":"=error_calendario"}]},"options":{}},"id":"eab1ca4b-7fa3-41a9-95be-5446c376f85d","name":"Resultado Error","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,-160]}],"connections":{"Trigger":{"main":[[{"node":"Crear Evento","type":"main","index":0}]]},"Crear Evento":{"main":[[{"node":"Tiene Correo?","type":"main","index":0},{"node":"Resultado Error","type":"main","index":0}]]},"Tiene Correo?":{"main":[[{"node":"Enviar Confirmacion Email","type":"main","index":0}],[{"node":"Resultado OK","type":"main","index":0}]]},"Enviar Confirmacion Email":{"main":[[{"node":"Resultado OK","type":"main","index":0}]]}},"authors":"Diego diereyescarv@gmail.com","name":"Version 62b8c68a","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}