workflows/ToDeploy.json
{"updatedAt":"2026-05-02T04:50:21.141Z","createdAt":"2026-04-03T18:47:00.189Z","id":"i9nKzYJPiLpGXrZh","name":"ToDeploy","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS mentour_users (\n    whatsapp_number VARCHAR(25) PRIMARY KEY,\n    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);\nCREATE TABLE IF NOT EXISTS chat_history (\n    -- Unique identifier for each individual message\n    message_id BIGSERIAL PRIMARY KEY,\n\n    -- Link to the user involved in the conversation\n    user_whatsapp_number VARCHAR(25) NOT NULL REFERENCES mentour_users(whatsapp_number) ON DELETE CASCADE,\n\n    -- The text content of the message\n    message_text TEXT NOT NULL,\n\n    -- The exact time the message was sent/received\n    message_timestamp TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n    \n    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);\n\n-- Optimization: A composite index to very quickly retrieve a user's chat history in chronological order.\nCREATE INDEX IF NOT EXISTS idx_chat_history_user_timestamp \nON chat_history (user_whatsapp_number, message_timestamp);","options":{}},"id":"b3444267-0d72-4db6-8701-e5ee33e43423","name":"Create Table chat_history","type":"n8n-nodes-base.postgres","position":[-4256,-608],"typeVersion":2.6,"credentials":{"postgres":{"id":"BZ5q2rgXCNddAxI2","name":"Postgres account"}}},{"parameters":{},"id":"e6675446-b287-466a-b408-b0c35657601d","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-4432,-608],"typeVersion":1},{"parameters":{"operation":"delete","key":"=Chats_{{  $('Global Variables').item.json.number }}"},"id":"475e253a-0795-4485-9d23-b9d0da7dedca","name":"Delete Buffer (chat_history)","type":"n8n-nodes-base.redis","position":[10128,1072],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"d0f3b823-dda9-42e9-936b-4ca4123026ca","name":"history","type":"string","value":"={{ $json.propertyName.slice(-$('Global Variables').item.json.max_chat_history).join('\\n') }}"}]},"options":{}},"id":"3da05c76-e757-4051-aff4-f6695ac80127","name":"Get chat_history","type":"n8n-nodes-base.set","position":[6464,960],"typeVersion":3.4},{"parameters":{},"id":"7d043824-18e7-4412-8937-7189878471f9","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","position":[10128,928],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"f11a017f-dc64-4db4-9836-d13d164a62cf","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ JSON.parse($json.message[$json.message.length - 1]).sessionID }}","rightValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].id }}"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","operator":{"type":"dateTime","operation":"before"},"leftValue":"={{ JSON.parse($json.message[$json.message.length - 1]).date_time }}","rightValue":"={{ $now.minus(parseInt($('Global Variables').item.json.wait_conversation), 'seconds') }}"}],"combinator":"and"},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"id":"73f12138-7991-40da-b695-aea0f79f3734","name":"Buffer (chat_history) Route","type":"n8n-nodes-base.switch","position":[9872,944],"typeVersion":3.2},{"parameters":{"amount":"={{ $('Global Variables').item.json.wait_conversation }}"},"id":"b92e20ef-b156-4560-8e94-f799e529f29c","name":"Wait For end of conversation","type":"n8n-nodes-base.wait","position":[10128,1248],"webhookId":"06711a97-b08d-4552-aab8-868b1b8bbc5c","typeVersion":1.1},{"parameters":{"operation":"push","list":"=Chats_buffer{{  $('Global Variables').item.json.number }}","messageData":"={{ JSON.stringify({\n  sessionID: $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].id,\n  date_time: $now.toISO()\n}) }}\n","tail":true},"id":"cdeec0bb-20ca-4fe3-bac2-067cc4e276c0","name":"Push to Buffer (chat_history)","type":"n8n-nodes-base.redis","position":[9440,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","propertyName":"message","key":"=Chats_buffer{{  $('Global Variables').item.json.number }}","options":{}},"id":"873af712-6a40-4310-ba6e-192e4ea90498","name":"Get From Buffer(chat_history)","type":"n8n-nodes-base.redis","position":[9680,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"delete","key":"=Chats_buffer{{  $('Global Variables').item.json.number }}"},"id":"404c0c54-38b5-4160-989a-dbab9f2f8ec6","name":"Delete Buffer (chat_history)2","type":"n8n-nodes-base.redis","position":[10320,1072],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"chat_history","cachedResultName":"chat_history"},"limit":"={{ $('Global Variables').item.json.max_chat_history }}","where":{"values":[{"column":"user_whatsapp_number","value":"={{ $('Global Variables').item.json.number }}"}]},"options":{"outputColumns":["message_text"]}},"id":"453345ff-9a02-43ae-b9ce-83e928929637","name":"Get chat_history From DataBase","type":"n8n-nodes-base.postgres","position":[5520,1232],"retryOnFail":true,"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message_text"}]},"options":{}},"id":"d50efcac-ffd9-4ef9-ba04-2bc33d9328a0","name":"Aggregate all Messges","type":"n8n-nodes-base.aggregate","position":[5712,1232],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"761329c9-499f-4328-bc11-835edcfd003c","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.propertyName[0] }}","rightValue":""}]},"options":{}},"id":"075e21fe-d737-4270-96de-9368e9de4397","name":"chat_history In Buffer?","type":"n8n-nodes-base.if","position":[5344,976],"typeVersion":2.2},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"={{ $json.message_text.join('\\n') }}","tail":true},"id":"80d53177-55ec-4e20-8883-c7fd8170714a","name":"Push to chat_history","type":"n8n-nodes-base.redis","position":[6128,1136],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"=.","tail":true},"id":"537cadab-53d7-4c16-819f-3d0545b231c9","name":"Push first message to chat_history","type":"n8n-nodes-base.redis","position":[6128,1328],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","key":"=Chats_{{  $('Global Variables').item.json.number }}","options":{}},"id":"79388516-9be2-4a33-9a1a-aa8f193ed5c1","name":"Get chat_history1","type":"n8n-nodes-base.redis","position":[5104,976],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"18946671-190b-43d9-a88f-810184127ed2","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message_text }}","rightValue":""}]},"options":{}},"id":"475083e9-b53c-41ea-83ba-c978566e3fa4","name":"chat_history in DataBase?","type":"n8n-nodes-base.if","position":[5920,1232],"typeVersion":2.3},{"parameters":{"promptType":"define","text":"=<Chat_History>\n{{ $json.history }}\n</Chat_History>\n\n<Current_User_Input>\n{{ $('Get Message').item.json.message }}\n</Current_User_Input>","messages":{"messageValues":[{"message":"=Sos un extractor de contexto silencioso para el sistema de atención de Facture.CR.\nNO sos un asistente. NO respondés preguntas. NO das consejos. NO generás información nueva.\n\nTu único trabajo: leer el <Chat_History> y extraer hechos concretos ya mencionados\nque sean útiles para que el agente activo procese el <Current_User_Input>.\n\nDATOS RELEVANTES A EXTRAER (solo si ya fueron mencionados):\n- Nombre del cliente\n- Tipo de negocio o actividad comercial\n- Cantidad de documentos/facturas por mes\n- Plan actual o plan de interés\n- Problema técnico reportado (error, falla, qué no funciona)\n- Estado de pago o suscripción\n- Equipo físico de interés (impresora, computadora, etc.)\n- Fase en la que estaba la conversación (cotizando, por comprar, con problema activo)\n- Preguntas anteriores que quedaron sin resolver\n\nDOMINIOS DE LOS AGENTES (extraé solo lo relevante al agente activo):\n- SVP (Soporte, Ventas, Pagos): problemas técnicos, planes de facturación, pagos, suscripción\n- HME (Hardware, Marketing, Escalamiento): equipos físicos, redes sociales, solicitudes de agente humano\n\nREGLAS ESTRICTAS:\n- Extraé ÚNICAMENTE hechos ya presentes en el historial. Nunca inventés ni asumir.\n- Si el agente ya respondió algo → NO lo incluyas como contexto.\n- Si el mensaje actual no depende del historial → escribí exactamente: (vacío)\n- Máximo 3 oraciones. Solo texto plano, sin listas ni formato.\n- Nunca expliques, nunca resumás, nunca le respondás al usuario.\n\nIDIOMA: Respondé siempre en el mismo idioma del <Chat_History>."}]},"batching":{}},"id":"65c29b89-d0ab-4f7a-8082-00aa63116857","name":"Context Refiner","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[6800,960],"typeVersion":1.7},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}","tail":true},"id":"c0bcee8c-ed40-40fb-9b17-b9ab9057817a","name":"Push message chat_history (User And Agent)","type":"n8n-nodes-base.redis","position":[8288,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"chat_history","cachedResultName":"chat_history"},"columns":{"value":{"message_text":"=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}","user_whatsapp_number":"={{ $('Global Variables').item.json.number }}"},"schema":[{"id":"message_id","type":"number","display":true,"removed":true,"required":false,"displayName":"message_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_whatsapp_number","type":"string","display":true,"required":true,"displayName":"user_whatsapp_number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"message_text","type":"string","display":true,"required":true,"displayName":"message_text","defaultMatch":false,"canBeUsedToMatch":true},{"id":"message_timestamp","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"message_timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"created_at","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"created_at","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"67201295-5cef-4b35-9e64-06d36d3a4229","name":"Add Messages to chat_history (User And Agent)","type":"n8n-nodes-base.postgres","position":[8800,960],"typeVersion":2.6,"credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO mentour_users (whatsapp_number)\nVALUES ('{{ $('Global Variables').item.json.number }}')\nON CONFLICT (whatsapp_number) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8512,960],"id":"64609cd3-908a-4569-a7cf-7db4e51a6c68","name":"Execute a SQL query","credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"b594f1da-51e8-47a4-a636-7928a73b69f8","name":"message","type":"string","value":"={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}"}]},"options":{}},"id":"1027f746-5282-431e-879e-d7860fb79b8b","name":"Normalize Buffer","type":"n8n-nodes-base.set","position":[4192,976],"typeVersion":3.4},{"parameters":{},"id":"35c57c5c-f7bb-4985-890c-52dffbb12a8a","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[3984,816],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"f6d7accb-8ef6-4c41-9b0a-9e0b4301dffd","name":"message","type":"string","value":"={{ $json.message || $json.chatInput }}"}]},"options":{}},"id":"c1f2decb-65dd-4974-a952-d18d38cdf967","name":"Get Message","type":"n8n-nodes-base.set","position":[4544,976],"typeVersion":3.4},{"parameters":{"amount":"={{ $('Global Variables').item.json.wait_buffer }}"},"id":"cb9737f6-f3dc-4d03-848d-01625c3d65f0","name":"Wait For User Other Fast Message","type":"n8n-nodes-base.wait","position":[3984,1136],"webhookId":"9b345d41-1595-4bc3-bb98-64e44682aa43","typeVersion":1.1},{"parameters":{"operation":"pdf","options":{}},"id":"a0b47f4c-68f4-41be-ba14-0eceab5a447a","name":"Extract from PDF","type":"n8n-nodes-base.extractFromFile","position":[1184,2240],"typeVersion":1},{"parameters":{"resource":"audio","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"text":"# Transcribe verbatim the spoken content of this audio. \n\n# Output ONLY the transcribed text, nothing else.\n\n# No analysis, no descriptions, no metadata.\n\n# If no speech is detected, output: [No speech detected]","inputType":"binary","options":{}},"id":"b3c86f99-6c05-43e1-a9cb-681ff5cb1cb1","name":"Analyze audio","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1232,1920],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"=No fue posible procesar el archivo. Tipo de archivo no compatible."}]},"options":{}},"id":"fce151fb-79a7-4f2b-9c8a-0ccdc23e46b8","name":"get_error_message","type":"n8n-nodes-base.set","position":[1280,2400],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"24b93984-e305-4c11-a856-5fa0bfaaaa79","name":"data","type":"string","value":"={{ $json.text }}"}]},"options":{}},"id":"d6990173-c297-4a13-88b7-dbc7dc04565f","name":"Normalize PDF","type":"n8n-nodes-base.set","position":[1584,2224],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"333a436f-c087-4250-a181-40657874959b","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.text }}","rightValue":""}]},"options":{}},"id":"ee90cd02-0edc-40f7-8abd-c024afb36f69","name":"Text?","type":"n8n-nodes-base.if","position":[1360,2240],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"eb807b26-c415-42d2-9cef-707825d6fa82","name":"message","type":"string","value":"={{ $json.message }}"}]},"options":{}},"id":"a8436a2a-b8d9-477c-8760-102197c34920","name":"Normalize input","type":"n8n-nodes-base.set","position":[3200,960],"typeVersion":3.4},{"parameters":{"resource":"video","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"text":"### IDENTITY & CORE MISSION\nYou are Scrutator, a world-class multimedia analysis engine. Your sole purpose is to deconstruct any given video file into its most fundamental visual, auditory, and temporal components, providing a single, comprehensive, and hyper-detailed textual description. Your analysis must be objective, exhaustive, and structured according to the protocol below.\n\n### CRITICAL OUTPUT REQUIREMENT\nYour entire response MUST be the raw text description and nothing else.\n- DO NOT include preambles like \"Here is the analysis of the video.\"\n- DO NOT use markdown formatting like headers or bolding.\n- DO NOT apologize for limitations or mention that you are an AI.\n- Your output must begin directly with the analysis.\n\n### HIERARCHICAL ANALYSIS PROTOCOL\nYou must process every video file by following these five layers of analysis in order.\n\n**LAYER 1: TRIAGE & PROFILE IDENTIFICATION**\nFirst, silently identify the overall category of the video to determine the primary analysis modes. Categories include: [User Instruction/Vlog], [Document Scan/Presentation], [Food/Cooking Demo], [Cinematic/Narrative Clip], [Event Recording], [Environmental Scene]. State the identified category at the beginning of your description. Example: \"Category: User Instruction/Vlog.\"\n\n**LAYER 2: DUAL-STREAM DECONSTRUCTION (VISUAL & AUDITORY)**\nAnalyze the visual and audio streams in parallel, noting their interplay.\n\n**A. VISUAL STREAM ANALYSIS:**\nApply the full image analysis protocol to the video's visual content. Describe how these elements **evolve or change throughout the video's duration**.\n*   **Primary Subject(s):** Identify and analyze the main subjects (e.g., a person, a plate of food, a document).\n    *   **If Food:** Identify the dish, all ingredients, cooking methods, and portion size. Describe any actions performed on the food (e.g., \"slicing,\" \"sautéing,\" \"plating\").\n    *   **If Document/Receipt:** State that a document is present and that a full OCR transcription will follow in the audio stream analysis if the user reads it, or in the temporal analysis if it's held up to the camera.\n    *   **If Person:** Describe demographics, appearance, clothing, and actions.\n*   **Background & Context:** Detail the environment, secondary objects, and their spatial relationships.\n\n**B. AUDITORY STREAM ANALYSIS:**\nApply the full audio analysis protocol to the video's soundtrack.\n*   **Primary Content:**\n    *   **If Human Speech:** Provide a **verbatim transcription** with speaker diarization (\"Speaker 1:\", \"Speaker 2:\"). Analyze each speaker's vocal profile, emotional tone, and pragmatic intent (e.g., \"The user's intent is to issue a direct command to the agent\").\n    *   **If Music:** Identify genre, instrumentation, and mood.\n    *   **If Environmental Sounds:** Catalog all distinct sound sources.\n*   **Acoustic Environment & Technical Quality:** Describe background noise, reverberation, and recording quality.\n\n**LAYER 3: TEMPORAL & MOTION ANALYSIS (THE NARRATIVE OF CHANGE)**\nThis is the most critical layer for video. Deconstruct the sequence of events over time.\n*   **Scene & Shot Log:** Create a chronological log of events. Use timestamps to denote significant changes in action, subject, or camera angle.\n    *   **Format Example:**\n        `[00:00-00:03] - Close-up shot of a hand holding a grocery receipt. The camera is slightly shaky.`\n        `[00:04-00:09] - The user (Speaker 1) begins reading the items from the receipt aloud. The camera pans down the list of items.`\n        `[00:10-00:12] - Cut to a wide shot of the kitchen counter, showing the grocery items mentioned.`\n        `[00:13-00:15] - The user points to a carton of orange juice and asks a question.`\n*   **Object & Subject Tracking:** Describe the movement and actions of the primary subjects. (e.g., \"The user walks from the left to the right of the frame, placing a milk carton on the table.\").\n*   **Camera Work:** Describe all camera movements (e.g., \"static tripod shot,\" \"handheld with noticeable shake,\" \"slow pan left,\" \"quick zoom-in on the product label\").\n*   **Editing & Post-Production:** Identify editing techniques. Describe the pacing (e.g., \"fast-paced with quick cuts,\" \"long, uninterrupted take\"), transitions (e.g., \"hard cut,\" \"fade to black,\" \"dissolve\"), and any on-screen graphics, text overlays, or subtitles.\n\n**LAYER 4: TECHNICAL FILE ANALYSIS**\nBriefly describe the technical characteristics of the video file itself.\n*   **Video Quality:** Infer the resolution and clarity (e.g., \"High-definition 1080p,\" \"Standard-definition 480p,\" \"low-resolution, heavily compressed\").\n*   **Frame Rate:** Describe the motion smoothness (e.g., \"smooth 30/60fps,\" \"choppy/low frame rate\").\n*   **Audio-Visual Sync:** Confirm if the audio and video are properly synchronized.\n\n**LAYER 5: INFERENCE & SYNTHESIS**\nConclude with a holistic synthesis of all layers. What is the overall story, context, and purpose of this video?\n*   **Example (User Instruction):** \"This is a user-generated instructional video, recorded on a smartphone. The user is providing a multi-modal command by both showing a receipt and verbally asking the agent to process specific items from it. The intent is direct and task-oriented.\"\n*   **Example (Cooking Demo):** \"This is a segment from a well-edited cooking tutorial. The combination of close-up shots, clear vocal instructions, and background music is designed to be educational and engaging.\"\n*   **Example (Event Recording):** \"This is an amateur, handheld recording of a live music performance in a small, crowded venue, capturing both the performance and the audience's reaction.\"","inputType":"binary","options":{}},"id":"c9e35ef7-455f-46ce-a77a-9a2e205f7eed","name":"Analyze video","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1232,2080],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"}]},"options":{}},"id":"7ad599b4-8f70-4941-a963-271552f87ff8","name":"get_message (Video)","type":"n8n-nodes-base.set","position":[1408,2080],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"}]},"options":{}},"id":"bec4d299-1fd5-4837-8fba-977409a8919f","name":"get_message (Audio)","type":"n8n-nodes-base.set","position":[1408,1920],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media description: {{ $json.content.parts[0].text }}"}]},"options":{}},"id":"ac701142-fd49-4892-896c-3a0d9f5cf004","name":"get_message (Image)","type":"n8n-nodes-base.set","position":[1408,1760],"typeVersion":3.4},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"id":"b7a11657-78e5-4b15-9a1a-b6c282d84664","name":"Analyze Image","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1232,1760],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1536,336],"id":"89909cf5-13da-4e83-992d-2e4b9d2557ef","name":"No Operation, do  nothing"},{"parameters":{},"id":"6b20076a-3e61-406e-ba5c-dabc117626a8","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-4672,1840]},{"parameters":{"jsCode":"const error = $input.first().json;\n\nconst workflowName = error.workflow?.name || 'Desconocido';\nconst nodeName = error.execution?.lastNodeExecuted || 'Desconocido';\nconst errorMessage = error.execution?.error?.message || 'Error desconocido';\nconst number = error.execution?.data?.resultData?.runData?.['Global Variables']?.[0]?.data?.main?.[0]?.[0]?.json?.number || null;\n\nreturn [{ json: { workflowName, nodeName, errorMessage, number } }];"},"id":"8f98e601-bdec-4a3f-814e-abb26d99cf26","name":"Extraer Datos del Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4448,1840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-number","leftValue":"={{ $json.number }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d93f5dde-96b7-499c-a1f6-d9f6736166f0","name":"¿Tiene número?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4224,1840]},{"parameters":{"resource":"messages-api","instanceName":"Facture","remoteJid":"={{ $json.number }}","messageText":"En este momento estoy teniendo dificultades técnicas. Por favor intentá de nuevo en unos minutos. Si el problema persiste, un agente humano te atenderá en horario L-V 8:00-22:00.","options_message":{}},"id":"ab12f421-7047-4452-bba8-3c8dc3d9e8d6","name":"Enviar Mensaje de Error","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4000,1728],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"log-error","name":"log","type":"string","value":"={{ 'Workflow: ' + $json.workflowName + ' | Nodo: ' + $json.nodeName + ' | Error: ' + $json.errorMessage }}"}]},"options":{}},"id":"4ac9426a-3dee-48d3-8861-296017f5cca6","name":"Log Sin Número","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4000,1952]},{"parameters":{"assignments":{"assignments":[{"id":"801ec600-22ad-4a94-a2b4-ae72eb271df0","name":"message","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].text.body }}"}]},"options":{}},"id":"ee213751-7103-4375-b387-0dd56f9e0cb1","name":"get_message (text)","type":"n8n-nodes-base.set","position":[2016,400],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"19c07b89-e324-4a51-a966-cadca8b657ee","leftValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}","rightValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.display_phone_number }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"966fd219-7c62-4cf2-bae8-aa4bff0d4a89","name":"Verifica quien escribe","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1328,448]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f11a017f-dc64-4db4-9836-d13d164a62cf","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ JSON.parse($json.message.last()).sessionID }}","rightValue":"={{ $('Global Variables').item.json.message_id }}"}]},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","operator":{"type":"dateTime","operation":"before"},"leftValue":"={{ JSON.parse($json.message.last()).date_time }}","rightValue":"={{ $now.minus($('Global Variables').item.json.wait_buffer, 'seconds') }}"}]},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"id":"7db9833c-d590-4338-9fcd-c088fb461bb6","name":"Buffer Route1","type":"n8n-nodes-base.switch","position":[3744,960],"typeVersion":3.2},{"parameters":{"operation":"get","propertyName":"message","key":"=WA_{{ $('Global Variables').item.json.number }}","options":{}},"id":"8f52bf15-3201-4423-b3b6-da3a59913566","name":"Get From Buffer","type":"n8n-nodes-base.redis","position":[3552,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"delete","key":"=WA_{{ $('Global Variables').item.json.number }}"},"id":"5bd37bf5-2b64-40d9-b49d-badd4f75b139","name":"Delete Buffer","type":"n8n-nodes-base.redis","position":[3984,976],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"push","list":"=WA_{{ $('Global Variables').item.json.number }}","messageData":"={{ JSON.stringify({\n  message: $('Normalize input').item.json.message,\n  sessionID: $('Global Variables').item.json.message_id,\n  date_time: $now.toISO()\n}) }}","tail":true},"id":"fbe4c080-e58f-4e0d-9f4c-69235e0b0c2c","name":"Push to Buffer","type":"n8n-nodes-base.redis","position":[3344,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"unsupported-001","name":"message","type":"string","value":"=Lo sentimos, no puedo procesar el tipo de mensaje '{{ $('Global Variables').item.json.message_type }}'. Por favor enviá texto, imagen, audio, video o documento."}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,592],"id":"0476c850-72ea-4edd-921f-0e6a71a3c490","name":"Unsupported Type"},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $('Global Variables').item.json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,784],"id":"42462749-35c8-4c8d-bc6a-12ab6ad168c3","name":"Descargar Media","credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,784],"id":"68f40011-0057-42ff-963f-83f65498f3b8","name":"Fetch Binary","credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"text-rule","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"text"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"image-rule","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"image"}],"combinator":"and"},"renameOutput":true,"outputKey":"Media"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"audio-rule","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"audio"}],"combinator":"and"},"renameOutput":true,"outputKey":"Media"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"video-rule","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"video"}],"combinator":"and"},"renameOutput":true,"outputKey":"Media"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"document-rule","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"document"}],"combinator":"and"},"renameOutput":true,"outputKey":"Media"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Unsupported"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1632,416],"id":"a2030c35-965e-4e5d-8fd6-92274266c1ff","name":"Message Type2"},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  const mimetype = $('Descargar Media').first().json.mime_type || '';\n\n  let fileTypeCategory = 'other';\n\n  switch (true) {\n    case mimetype.startsWith('image/'):\n      fileTypeCategory = 'image';\n      break;\n    case mimetype.startsWith('audio/'):\n      fileTypeCategory = 'audio';\n      break;\n    case mimetype.startsWith('video/'):\n      fileTypeCategory = 'video';\n      break;\n    case mimetype === 'application/pdf':\n      fileTypeCategory = 'pdf';\n      break;\n    case mimetype === 'application/vnd.ms-excel':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':\n    case mimetype === 'application/vnd.oasis.opendocument.spreadsheet':\n      fileTypeCategory = 'spreadsheet';\n      break;\n    case mimetype === 'application/msword':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':\n      fileTypeCategory = 'document';\n      break;\n    case mimetype === 'text/plain':\n      fileTypeCategory = 'text';\n      break;\n    case mimetype === 'text/csv':\n      fileTypeCategory = 'csv';\n      break;\n    case mimetype === 'application/json':\n      fileTypeCategory = 'json';\n      break;\n  }\n\n  // Agregar al json sin tocar el binario\n  item.json.fileTypeCategory = fileTypeCategory;\n  item.json.mime_type = mimetype;\n\n  // Asegurarse que el binario se llame 'data' como espera Gemini\n  if (item.binary) {\n    const binaryKeys = Object.keys(item.binary);\n    if (binaryKeys.length > 0 && !item.binary.data) {\n      item.binary.data = item.binary[binaryKeys[0]];\n    }\n    // Actualizar el mimeType en el binario también\n    if (item.binary.data) {\n      item.binary.data.mimeType = mimetype;\n    }\n  }\n\n  results.push(item);\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,784],"id":"3d9a7b4a-0c05-436c-b619-8692cf3f8e3b","name":"Get Mime Type"},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Agent Response').item.json.phone_number_id }}","recipientPhoneNumber":"={{ $('Agent Response').item.json.number }}","textBody":"={{ $('Agent Response').item.json.reponse }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[7824,960],"id":"590f22ed-ba9d-47ed-9227-15fd3aec8249","name":"Send Response","webhookId":"9ed847a3-0cb9-4f65-b5a3-d21ca6227700","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0f4cdb2c-9407-4783-83c6-4440faa74f00","name":"reponse","type":"string","value":"={{ $json.output }}"},{"id":"0f4cdb2c-9407-4783-83c6-4440faa74f01","name":"phone_number_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}"},{"id":"0f4cdb2c-9407-4783-83c6-4440faa74f02","name":"number","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7552,960],"id":"9425270e-bfdb-41b2-be70-58eaade6660b","name":"Agent Response"},{"parameters":{"workflowId":{"__rl":true,"value":"ob6cswMhK39VC6KG","mode":"list","cachedResultUrl":"/workflow/ob6cswMhK39VC6KG","cachedResultName":"Cerebro Facture.CR"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('Get Message').item.json.message }}","numero":"={{ $('Global Variables').item.json.number }}","contexto":"={{ $json.text }}","sessionId":"={{ $('Global Variables').item.json.number }}","historial":"={{ $('Get chat_history').item.json.history }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contexto","displayName":"contexto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"historial","displayName":"historial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7216,960],"id":"1e411ea4-1f5a-4243-9bbd-7627638d81ec","name":"Cerebro - SubFlow"},{"parameters":{"httpMethod":"POST","path":"chatwoot-events","options":{"noResponseBody":true}},"id":"71c55b55-edb3-4bd1-aeb5-94a5df3fbb7e","name":"Webhook Chatwoot","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4704,1088],"webhookId":"ce348afb-a9c6-4c55-9213-5ea983ccc59b"},{"parameters":{"assignments":{"assignments":[{"id":"cw-extract-1","name":"conversation_id","type":"number","value":"={{ $json.body.conversation?.id || $json.body.id }}"},{"id":"cw-extract-2","name":"event","type":"string","value":"={{ $json.body.event }}"},{"id":"cw-extract-3","name":"status","type":"string","value":"={{ $json.body.status || $json.body.conversation?.status || '' }}"},{"id":"cw-extract-4","name":"message_type","type":"string","value":"={{ $json.body.message_type || '' }}"},{"id":"cw-extract-5","name":"sender_type","type":"string","value":"={{ $json.body.sender?.type || '' }}"},{"id":"cw-extract-6","name":"private","type":"boolean","value":"={{ $json.body.private === true }}"},{"id":"257a41fc-67cf-4dcf-ab7f-26c7a99cc312","name":"num_tel","value":"={{ ($json.body.conversation?.meta?.sender?.phone_number || $json.body.meta?.sender?.phone_number || '').replace('+', '') }}","type":"string"}]},"options":{}},"id":"fe44d2de-fc99-4355-8285-77ddb7fe8ba8","name":"Extraer Datos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4416,1088]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"rule-status-changed","leftValue":"={{ $json.event }}","rightValue":"conversation_status_changed","operator":{"type":"string","operation":"equals"}},{"id":"rule-resolved","leftValue":"={{ $json.status }}","rightValue":"resolved","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Resuelto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"rule-status-open","leftValue":"={{ $json.event }}","rightValue":"conversation_status_changed","operator":{"type":"string","operation":"equals"}},{"id":"rule-open","leftValue":"={{ $json.status }}","rightValue":"open","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Abierto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"rule-agent-message","leftValue":"={{ $json.event }}","rightValue":"message_created","operator":{"type":"string","operation":"equals"}},{"id":"rule-agent-type","leftValue":"={{ $json.sender_type }}","rightValue":"user","operator":{"type":"string","operation":"equals"}},{"id":"rule-agent-outgoing","leftValue":"={{ $json.message_type }}","rightValue":"outgoing","operator":{"type":"string","operation":"equals"}},{"id":"rule-not-private","leftValue":"={{ $json.private }}","rightValue":false,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agente Escribe"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Ignorar"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4160,1056],"id":"3ffbd230-1dbb-4ff1-949f-a545335be270","name":"Switch"},{"parameters":{"operation":"set","key":"=cw_blocked_{{ $json.conversation_id }}","value":"blocked","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3824,1008],"id":"c462fd5d-6bed-4da1-a40a-ab907f8a9671","name":"Bloquear Bot","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"send","phoneNumberId":"=1100479569817593","recipientPhoneNumber":"={{ $('Webhook Chatwoot').item.json.body.conversation.meta.sender.phone_number.replace('+', '') }}","textBody":"={{ $('Webhook Chatwoot').item.json.body.content }}","additionalFields":{}},"id":"0200eb30-a81d-4cb7-a167-10beb63a0f9c","name":"CW - Enviar Mensaje Agente a WA","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-3824,1184],"webhookId":"6d2b84bd-55b1-457e-a964-75930aed3904","credentials":{"whatsAppApi":{"id":"qrh7CkQ2IWdP3zNe","name":"WhatsApp account 2"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3952,1360],"id":"f46cb80b-2ab7-4283-94d4-a9925c43603a","name":"Ignorar Evento"},{"parameters":{"operation":"delete","key":"=cw_blocked_{{ $json.conversation_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3968,832],"id":"7c6402e0-b7f3-402f-906a-8136e83bf9c8","name":"Desbloquear Bot","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"ok\" }","options":{"responseCode":200}},"id":"d7eb2b73-4bff-4c10-81ab-0b2b9150bf7f","name":"Confirmar recepción","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-4448,112]},{"parameters":{"httpMethod":"POST","path":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14/webhook","responseMode":"responseNode","options":{}},"id":"1354303b-3867-4e8e-a1dc-318ff7b01064","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4672,112],"webhookId":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14"},{"parameters":{"url":"https://chatwoot.larqcr.com/api/v1/accounts/8/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Global Variables').item.json.number }}"},{"name":"include_contacts","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3520,96],"id":"17c40fac-1e05-4780-b02d-d2af972afe9f","name":"CW - Buscar Contacto","credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"contact-exists","leftValue":"={{ $json.payload.filter(c => c.phone_number === '+' + $('Global Variables').item.json.number).length > 0 }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3312,96],"id":"90a28cf1-7111-485d-bfe7-8b32203534ea","name":"CW - ¿Contacto Existe?"},{"parameters":{"method":"POST","url":"https://chatwoot.larqcr.com/api/v1/accounts/8/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Webhook').item.json.body.entry[0].changes[0].value.contacts[0].profile.name || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\",\n  \"phone_number\": \"{{ '+' + $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3088,240],"id":"2448ce8f-c9cc-409f-84ea-8097430dafe6","name":"CW - Crear Contacto","credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"assignments":{"assignments":[{"id":"set-contact-id-new","name":"contact_id","type":"number","value":"={{ $json.payload.contact.id }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2864,240],"id":"683dd5bf-6e95-4284-b576-560d50e90356","name":"CW - Set Contact ID (Nuevo)"},{"parameters":{"assignments":{"assignments":[{"id":"set-contact-id-existing","name":"contact_id","type":"number","value":"={{ $json.payload[0].id }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3040,-32],"id":"c7b24e5e-8ba5-4099-a641-42debfe144e8","name":"CW - Set Contact ID (Existente)"},{"parameters":{"assignments":{"assignments":[{"id":"bf06bbd5-2ca4-4aa9-bc9a-825a570791ae","name":"number","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}"},{"id":"d350a635-82ed-4373-9725-706c1dcf9cf5","name":"wait_buffer","type":"string","value":"5"},{"id":"ef7dd1c1-0925-416b-b73e-79ee3ee11e81","name":"wait_conversation","type":"string","value":"300"},{"id":"07b5fd03-4ef0-4e59-b4ef-a354dc2b6893","name":"max_chat_history","type":"string","value":"3"},{"id":"a1b2c3d4-0000-0000-0000-000000000001","name":"message_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].id }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000002","name":"message_type","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].type }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000003","name":"phone_number_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000004","name":"media_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].image?.id || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].audio?.id || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].video?.id || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].document?.id || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].sticker?.id || '' }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000005","name":"media_caption","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].image?.caption || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].video?.caption || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].document?.caption || '' }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000006","name":"media_filename","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].document?.filename || '' }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4112,112],"id":"9d6d6833-06ee-4254-b925-3daa43cd8905","name":"Global Variables"},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/contacts/{{ $json.contact_id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"7329a24d-9005-4b2d-8e4a-a33d617d145b","name":"CW - Buscar Conversación Abierta","type":"n8n-nodes-base.httpRequest","position":[-2656,80],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"combinator":"and","conditions":[{"id":"filter-has-messages","leftValue":"={{ $('Confirmar recepción').item.json.body.entry[0].changes[0].value.messages }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"filter-no-status","leftValue":"={{ $('Confirmar recepción').item.json.body.entry[0].changes[0].value.statuses }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}]},"options":{}},"id":"2a41d028-e2a8-4e0c-a689-9abe027015fc","name":"Es un mensaje?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3728,112]},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"={{ $('Global Variables').item.json.media_caption ? 'Caption: ' + $('Global Variables').item.json.media_caption + '\\n' : '' }}{{ $('Global Variables').item.json.media_filename ? 'Nombre de archivo: ' + $('Global Variables').item.json.media_filename + '\\n' : '' }}Tipo: {{ $json.fileTypeCategory }}\\nContenido:\\n{{ $json.data }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2912,960],"id":"4a710b72-b731-4c54-92d5-ed5cc5be7b96","name":"get_message (File message)"},{"parameters":{"assignments":{"assignments":[{"id":"c7a2b3e4-f5d6-4e78-90ab-1c2d3e4f5g6h","name":"data_para_clasificar","type":"string","value":"={{ $('get_message (File message) - Imagenes').item.json.message }}"}]},"options":{}},"id":"4c7aef05-0bd7-4dc6-8146-940023d210f7","name":"Preparar Datos Archivo","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3792,1984]},{"parameters":{"prompt":"=Eres un clasificador estricto para el sistema de atención al cliente de Facture.CR.\n\nAnaliza el siguiente contenido y clasifícalo en UNA de estas dos categorías:\n\n## PAGOS\nUsar SOLO si el contenido muestra o describe CLARAMENTE alguno de estos elementos:\n- Una transferencia bancaria completada (número de transacción, monto, fecha, banco origen/destino)\n- Un comprobante de SINPE Móvil (número de teléfono, monto, confirmación)\n- Una factura o recibo de pago emitido\n- Una captura de pantalla de una aplicación bancaria mostrando un movimiento o confirmación de pago\n- Un estado de cuenta con transacciones\n\nNO clasificar como PAGOS si:\n- La imagen está en blanco, borrosa o no se distingue contenido claro\n- El contenido es solo texto genérico sin datos de transacción\n- Hay dudas sobre si realmente es un comprobante\n\n## SOPORTE\nUsar en TODOS los demás casos, incluyendo:\n- Errores técnicos o mensajes de error\n- Preguntas sobre el uso de la plataforma\n- Imágenes que no son claramente comprobantes de pago\n- Contenido ambiguo o poco claro\n- Cualquier duda general\n\nContenido a clasificar:\n\"{{ $json.data_para_clasificar }}\"\n\nResponde ÚNICAMENTE con una de estas dos palabras: pagos o soporte"},"id":"2f4ce4d1-e160-4c4c-9308-e49a01217cc4","name":"Clasificador Multimedia","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1,"position":[4672,1984]},{"parameters":{"options":{"temperature":0,"topK":8,"topP":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4704,2176],"id":"fe255ada-9ce4-40cf-a780-ce035f10fe59","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-pagos","leftValue":"={{ ($json.output || $json.text || $json.response || '').toLowerCase().trim() }}","rightValue":"pagos","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"49ddbb4c-c028-46b1-b2f1-439994eb6d20","name":"¿Es Pagos o Soporte?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[5008,1984]},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Hemos recibido tu comprobante y lo estamos procesando. En breve te confirmaremos.\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{}},"id":"c7a6d1cc-ced0-461a-8587-568b4d7891b1","name":"Mensaje Pagos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5216,1840],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Hemos enviado tu consulta a nuestro equipo de soporte. Pronto se pondrán en contacto con vos.\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{}},"id":"c357126f-ce35-419a-b0fe-02d2c133c8a6","name":"Mensaje Soporte","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5216,2128],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"assignments":{"assignments":[{"id":"set-conv-id","name":"conversation_id","type":"number","value":"={{ $json.conversation_id }}"},{"id":"set-contact-id-final","name":"contact_id","type":"number","value":"={{ $json.contact_id }}"}]},"options":{}},"id":"aef08a04-0d12-43e3-8709-d5f0552f7d09","name":"CW - Set Conversation ID","type":"n8n-nodes-base.set","position":[-1376,64],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"conv-abierta","leftValue":"={{ $json.payload.filter(c => c.inbox_id === 2).length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"9051e5db-d3a6-48b4-a3d5-b454c6c9a435","name":"CW - ¿Conversación Abierta?","type":"n8n-nodes-base.if","position":[-2144,80],"typeVersion":2.3},{"parameters":{"assignments":{"assignments":[{"id":"set-conv-nueva","name":"conversation_id","type":"number","value":"={{ $json.id }}"},{"id":"set-contact-nueva","name":"contact_id","type":"number","value":"={{ $json.meta.sender.id }}"}]},"options":{}},"id":"faeed7ff-a94b-4bc7-9006-5e8e29b1a2e1","name":"CW - Set Conv ID (Nueva)","type":"n8n-nodes-base.set","position":[-1584,240],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://chatwoot.larqcr.com/api/v1/accounts/8/conversations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"inbox_id","value":"2"},{"name":"contact_id","value":"={{ $('CW - Set Contact ID (Existente)').isExecuted ? $('CW - Set Contact ID (Existente)').item.json.contact_id : $('CW - Set Contact ID (Nuevo)').item.json.contact_id }}"}]},"options":{}},"id":"8a3fe6da-7eee-401d-9c40-bc0b2e10088b","name":"CW - Crear Conversación Nueva","type":"n8n-nodes-base.httpRequest","position":[-1824,240],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"8XkwN4lfdLWf3I4w","name":"Chatwoot_token"}}},{"parameters":{"assignments":{"assignments":[{"id":"set-conv-existente","name":"conversation_id","type":"number","value":"={{$json.payload.filter(c => c.inbox_id === 2).sort((a,b) => b.id - a.id)[0].id}}"},{"id":"set-contact-existente","name":"contact_id","type":"number","value":"={{$json.payload.filter(c => c.inbox_id === 2).sort((a,b) => b.id - a.id)[0].meta.sender.id}}"}]},"options":{}},"id":"243d474e-bba5-4f4f-8be4-ec58593e57fa","name":"CW - Set Conv ID (Existente)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1776,-64]},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Global Variables').item.json.message_type === 'text' ? $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].text.body : '[Mensaje multimedia]' }}"},{"name":"message_type","value":"incoming"},{"name":"private","value":"false"}]},"options":{}},"id":"01c321df-a4bd-4564-8bb5-1d9f4e340640","name":"CW - Registrar Mensaje Usuario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-912,-80],"credentials":{"httpHeaderAuth":{"id":"8XkwN4lfdLWf3I4w","name":"Chatwoot_token"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message_type","value":"incoming"},{"name":"private","value":"false"},{"name":"content","value":"={{ $('Global Variables').item.json.media_caption || '' }}"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"id":"54a87901-42c3-456c-9484-8157a292429b","name":"CW - Upload Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,784],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"1919febf-c06b-41d1-a02c-1082f2e444e4","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Get Mime Type').item.json.fileTypeCategory }}","rightValue":"image"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"51250085-0cb5-4442-b711-d7ef71c3c927","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Get Mime Type').item.json.fileTypeCategory }}","rightValue":"audio"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"886256b8-5fa1-470a-a161-24a3d9d28285","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Get Mime Type').item.json.fileTypeCategory }}","rightValue":"video"}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"4988d14f-4e3f-4494-96b0-a1a9d70a2787","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Get Mime Type').item.json.fileTypeCategory }}","rightValue":"pdf"}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"}]},"options":{"fallbackOutput":"extra"}},"id":"894ec2ef-466e-4b71-a237-5c9d0e8bdd45","name":"Media Type","type":"n8n-nodes-base.switch","position":[864,2144],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"={{ $('Global Variables').item.json.media_caption ? 'Caption: ' + $('Global Variables').item.json.media_caption + '\\n' : '' }}{{ $('Global Variables').item.json.media_filename ? 'Nombre de archivo: ' + $('Global Variables').item.json.media_filename + '\\n' : '' }}Tipo: {{ $json.fileTypeCategory }}\\nContenido:\\n{{ $json.data }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,2000],"id":"c54b3c98-b754-4d5d-a944-7bc98d582314","name":"get_message (File message) - Imagenes"},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"Hemos recibido tu comprobante y lo estamos procesando. En breve te confirmaremos.","additionalFields":{}},"id":"c8f3839b-67e2-49ee-be34-24aec9364c59","name":"WA - Mensaje Pagos","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[5840,1840],"webhookId":"aa46963b-33ec-48a5-a450-3782c269612a","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"Hemos enviado tu consulta a nuestro equipo de soporte. Pronto se pondrán en contacto con vos.","additionalFields":{}},"id":"d17567c0-2110-4f9c-a00f-4ee9567d4921","name":"WA - Mensaje Soporte","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[5840,2128],"webhookId":"bbeff662-ef8d-4b1c-9ed2-00ad42a2869f","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"19fde453-ca90-448f-b63a-87fc6783e988","name":"CW - Get Labels (Pagos)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5408,1840],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": {{ JSON.stringify($json.payload.concat(['pagos']).filter((v, i, a) => a.indexOf(v) === i)) }}\n}","options":{}},"id":"9512442a-759d-4d23-beb3-5fa74b4bffa6","name":"Etiquetar Pagos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5632,1840],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"71fc6c06-cffc-4488-952c-5834de9336bd","name":"CW - Get Labels (Soporte)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5408,2128],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": {{ JSON.stringify($json.payload.concat(['soporte']).filter((v, i, a) => a.indexOf(v) === i)) }}\n}","options":{}},"id":"fed586d3-54e6-4d1e-9b6f-f7dac49fd97b","name":"Etiquetar Soporte","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5632,2128],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"combinator":"and","conditions":[{"id":"rule-pdf","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"pdf"}]},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"combinator":"and","conditions":[{"id":"rule-video","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"video"}]},"renameOutput":true,"outputKey":"Video"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Imagen"}},"id":"70804d4e-f95b-4525-8563-a3019c578185","name":"Media Message Type","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2864,1984]},{"parameters":{"assignments":{"assignments":[{"id":"msg-pdf-001","name":"message","type":"string","value":"={{ $('Global Variables').item.json.media_caption ? 'Caption: ' + $('Global Variables').item.json.media_caption + '\\n' : '' }}{{ $('Global Variables').item.json.media_filename ? 'Nombre de archivo: ' + $('Global Variables').item.json.media_filename + '\\n' : '' }}Tipo: {{ $json.fileTypeCategory }}\\nContenido:\\n{{ $json.data }}"},{"id":"msg-pdf-002","name":"wa_message","type":"string","value":"Hemos recibido tu documento. Lo analizaremos y te responderemos en breve."}]},"options":{}},"id":"33e3db6d-714c-406d-8ec5-bb337bf8cf30","name":"get_message (PDF)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3056,1760]},{"parameters":{"assignments":{"assignments":[{"id":"msg-video-001","name":"message","type":"string","value":"={{ $('Global Variables').item.json.media_caption ? 'Caption: ' + $('Global Variables').item.json.media_caption + '\\n' : '' }}{{ $('Global Variables').item.json.media_filename ? 'Nombre de archivo: ' + $('Global Variables').item.json.media_filename + '\\n' : '' }}Tipo: {{ $json.fileTypeCategory }}\\nContenido:\\n{{ $json.data }}"},{"id":"msg-video-002","name":"wa_message","type":"string","value":"Hemos recibido tu video. Lo analizaremos y te responderemos en breve."}]},"options":{}},"id":"55a67299-4f27-405f-8c51-a65307a5f331","name":"get_message (Video rama)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3056,1984]},{"parameters":{"assignments":{"assignments":[{"id":"msg-img-001","name":"message","type":"string","value":"={{ $('Global Variables').item.json.media_caption ? 'Caption: ' + $('Global Variables').item.json.media_caption + '\\n' : '' }}{{ $('Global Variables').item.json.media_filename ? 'Nombre de archivo: ' + $('Global Variables').item.json.media_filename + '\\n' : '' }}Tipo: {{ $json.fileTypeCategory }}\\nContenido:\\n{{ $json.data }}"},{"id":"msg-img-002","name":"wa_message","type":"string","value":""}]},"options":{}},"id":"aa71d41b-992a-4345-b4e2-30677cc8ca5a","name":"get_message (Imagen rama)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3056,2240]},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Recibimos tu PDF, lo estamos analizando.\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{}},"id":"7c210752-dd3d-4735-8c9e-37a7ce2e45ad","name":"Mensaje PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,1760],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"Recibimos tu PDF, lo estamos analizando.","additionalFields":{}},"id":"31d876a1-98e6-4f00-8cef-a29fce944acf","name":"WA - Mensaje PDF","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3456,1760],"webhookId":"bbeff662-ef8d-4b1c-9ed2-00ad42a2869f","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Recibimos tu video, lo estamos analizando.\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{}},"id":"2f5605ee-1530-45d1-aa8b-a47741a65c05","name":"Mensaje Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,1984],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"Recibimos tu video, lo estamos analizando.","additionalFields":{}},"id":"ffdb15c7-e74d-42df-8e0e-7d961a72a5e5","name":"WA - Mensaje Video","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3456,1984],"webhookId":"bbeff662-ef8d-4b1c-9ed2-00ad42a2869f","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Recibimos tu imagen, lo estamos analizando.\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{}},"id":"b86ea63d-994f-4fd7-8cb2-78f1320e4ee5","name":"Mensaje Imagen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,2240],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"Recibimos tu imagen, lo estamos analizando.","additionalFields":{}},"id":"c5512c0b-bbb9-45ad-a7c0-02fea20cc5d3","name":"WA - Mensaje Imagen","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3456,2240],"webhookId":"bbeff662-ef8d-4b1c-9ed2-00ad42a2869f","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Agent Response').item.json.reponse }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"id":"02d8c105-3620-46f9-ada0-955ce79ac1af","name":"CW - Registrar Respuesta Bot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8032,960],"credentials":{"httpHeaderAuth":{"id":"8XkwN4lfdLWf3I4w","name":"Chatwoot_token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"is-blocked","leftValue":"={{ $json.propertyName }}","rightValue":"blocked","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-304,80],"id":"d782f06b-3756-463d-bd09-15b3760c5ca1","name":"CW - ¿Bot Bloqueado?"},{"parameters":{"operation":"get","key":"=cw_blocked_{{ $json.conversation_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-512,80],"id":"b50e74dc-9a75-44d9-ad01-266531b9f5e2","name":"CW - Verificar Bloqueo","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"pass-conv-id","name":"conversation_id","type":"number","value":"={{ $('CW - Set Conversation ID').item.json.conversation_id }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-704,80],"id":"22cde11f-b024-47c5-914d-664d7fb4f56d","name":"CW - Pasar Conv ID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"is-media","leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"text","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[144,32],"id":"3c9f7cc0-09c9-41c9-b5ca-64414b58863d","name":"¿Es Media? (Bloqueado)"},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $('Global Variables').item.json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,16],"id":"775cd931-bc35-4f7e-82f4-fe34c4f0be98","name":"Descargar Media (Bloqueado)","credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,16],"id":"fb8f54f4-1948-4615-a703-3c19f7083573","name":"Fetch Binary (Bloqueado)","credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  const mimetype = $('Descargar Media (Bloqueado)').first().json.mime_type || '';\n\n  let fileTypeCategory = 'other';\n\n  switch (true) {\n    case mimetype.startsWith('image/'):\n      fileTypeCategory = 'image';\n      break;\n    case mimetype.startsWith('audio/'):\n      fileTypeCategory = 'audio';\n      break;\n    case mimetype.startsWith('video/'):\n      fileTypeCategory = 'video';\n      break;\n    case mimetype === 'application/pdf':\n      fileTypeCategory = 'pdf';\n      break;\n    case mimetype === 'application/vnd.ms-excel':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':\n    case mimetype === 'application/vnd.oasis.opendocument.spreadsheet':\n      fileTypeCategory = 'spreadsheet';\n      break;\n    case mimetype === 'application/msword':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':\n      fileTypeCategory = 'document';\n      break;\n    case mimetype === 'text/plain':\n      fileTypeCategory = 'text';\n      break;\n    case mimetype === 'text/csv':\n      fileTypeCategory = 'csv';\n      break;\n    case mimetype === 'application/json':\n      fileTypeCategory = 'json';\n      break;\n  }\n\n  item.json.fileTypeCategory = fileTypeCategory;\n  item.json.mime_type = mimetype;\n\n  if (item.binary) {\n    const binaryKeys = Object.keys(item.binary);\n    if (binaryKeys.length > 0 && !item.binary.data) {\n      item.binary.data = item.binary[binaryKeys[0]];\n    }\n    if (item.binary.data) {\n      item.binary.data.mimeType = mimetype;\n    }\n  }\n\n  results.push(item);\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,16],"id":"578a2bd0-c0d7-482e-9e19-826a9c0a77b6","name":"Get Mime Type (Bloqueado)"},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message_type","value":"incoming"},{"name":"private","value":"false"},{"name":"content","value":"={{ $('Global Variables').item.json.media_caption || '' }}"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"id":"58499236-29b6-4c86-acb0-f7805197d713","name":"CW - Upload Media (Bloqueado)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,16],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"is-text","leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1152,64],"id":"6c6ca80c-69d0-4a15-bb24-fec58fb23f63","name":"¿Es Texto?"},{"parameters":{"workflowId":{"__rl":true,"value":"r3kFVYPzold6KCka","mode":"list","cachedResultUrl":"/workflow/r3kFVYPzold6KCka","cachedResultName":"Chatwoot - Etiquetado Automático"},"workflowInputs":{"mappingMode":"defineBelow","value":{"number":"={{ $('Global Variables').item.json.number }}","user_message":"={{ $('Get Message').item.json.message }}","agent_response":"={{ $json.output }}","conversation_id":"={{ $('CW - Set Conversation ID').item.json.conversation_id }}"},"matchingColumns":[],"schema":[{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"agent_response","displayName":"agent_response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7552,1136],"id":"b423536f-8c50-4d68-afe4-cb0e04a62514","name":"Etiquetar Tema - SubFlow"},{"parameters":{"content":"# Administrador del ciclo de vida de la caché\n\n### Mantiene la conversación activa en Redis durante un período específico (por ejemplo, 300 s) después del último mensaje para garantizar una recuperación de alta velocidad.","height":640,"width":1184,"color":6},"id":"0866466e-b477-4b57-a04f-6af1d9fd6162","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[9328,816],"typeVersion":1},{"parameters":{"content":"# Refinamiento y generación de contexto\n### 1. **Agente refinador:** Resume el historial de chat para ahorrar tokens y reducir la pérdida de contexto.\n\n### 2. **Agente principal:** Genera la respuesta final.\n\n### 3. **Sincronización:** Guarda la interacción tanto en PostgreSQL como en el búfer de Redis.","height":640,"width":2448,"color":6},"id":"38cb9420-91ce-4190-9f68-3bf76110aaeb","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[6672,816],"typeVersion":1},{"parameters":{"content":"# Recuperación de memoria híbrida\n### Estrategia de búsqueda optimizada: Primero consulta Redis (caché rápida) para ver el historial reciente. Si está vacío, recurre a PostgreSQL (almacenamiento permanente).","height":720,"width":1600,"color":6},"id":"1caae2f4-2feb-4424-b43b-ccc6e8364083","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[5008,800],"typeVersion":1},{"parameters":{"content":"# Clasificador Multimedia de Mensajes — Facture.CR\n\n### Recibe el contenido de un mensaje entrante (texto o imagen) y usa Google Gemini para clasificarlo como **pagos** o **soporte**. Según el resultado, envía un mensaje de respuesta automático por WhatsApp y en Chatwoot, y etiqueta la conversación con la categoría correspondiente.","height":752,"width":1424,"color":6},"type":"n8n-nodes-base.stickyNote","position":[4640,1680],"typeVersion":1,"id":"fcdbd123-986e-4899-a41b-546ea3274473","name":"Sticky Note1"},{"parameters":{"content":"# Enrutador de Mensajes Multimedia — Facture.CR\n\n### Detecta el tipo de archivo adjunto recibido (PDF, video o imagen) y envía un mensaje de acuse de recibo tanto por WhatsApp como en Chatwoot, notificando al usuario que el archivo está siendo analizado antes de pasarlo al flujo de clasificación.","height":880,"width":1680,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2480,1616],"typeVersion":1,"id":"b14eca54-9e36-4516-b651-10968a311fe0","name":"Sticky Note3"},{"parameters":{"content":"# Analizador Multimedia con Gemini\n\n### Identifica el tipo de archivo recibido (imagen, audio, video o PDF) y lo procesa con Google Gemini 2.5 Flash según corresponda: analiza imágenes, transcribe audios, describe videos en detalle y extrae texto de PDFs, normalizando el resultado en un campo unificado para su uso posterior.","height":1104,"width":1328,"color":6},"id":"d10f88ae-f60d-4ae5-801e-ca4ed1c73369","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[752,1568],"typeVersion":1},{"parameters":{"content":"# Almacenamiento inteligente de entrada\n### Utiliza Redis para:\n### 1. Agrupar **archivos de álbum** en una sola entrada.\n### 2. Retrasar **los mensajes de texto** (espera X segundos) para evitar respuestas fragmentadas de la IA.","height":896,"width":2080,"color":6},"id":"0939b3c7-7c06-4926-85fc-41a591dec74f","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2816,640],"typeVersion":1},{"parameters":{"content":"# Receptor y Procesador de Mensajes WhatsApp\n\n### Recibe mensajes entrantes de WhatsApp, verifica que no sean enviados por el propio número, y los enruta según su tipo (texto, imagen, audio, video o documento). Para los archivos multimedia, descarga el binario desde la API de Meta, detecta el MIME type y lo sube como adjunto a la conversación correspondiente en Chatwoot.","height":960,"width":1376,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1248,32],"typeVersion":1,"id":"87632dbb-773e-466b-83dd-f21f7b452788","name":"Sticky Note10"},{"parameters":{"content":"# Manejador de Mensajes con Bot Bloqueado\n\n### Detecta si el bot está bloqueado en la conversación de Chatwoot y, de ser así, verifica si el mensaje entrante de WhatsApp contiene un archivo multimedia. En caso afirmativo, lo descarga desde la API de Meta, detecta su MIME type y lo sube directamente a la conversación en Chatwoot sin pasar por el flujo de automatización normal.","height":512,"width":1040,"color":6},"type":"n8n-nodes-base.stickyNote","position":[112,-192],"typeVersion":1,"id":"95c6c9b1-d0a9-4a78-990c-c5db8e38a71d","name":"Sticky Note2"},{"parameters":{"content":"# Gestión de Contactos y Conversaciones en Chatwoot\n\n### Verifica si el webhook corresponde a un mensaje real, busca o crea el contacto en Chatwoot según el número de WhatsApp, localiza o crea la conversación activa en el inbox correcto, registra el mensaje entrante, y finalmente consulta Redis para determinar si el bot está bloqueado en esa conversación antes de continuar el flujo.","height":720,"width":3664,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3760,-160],"typeVersion":1,"id":"333aafa6-8513-477c-a7e8-b5f8263a4bc0","name":"Sticky Note4"},{"parameters":{"content":"# Webhook de Entrada y Variables Globales — WhatsApp\n\n### Recibe el webhook de la API de WhatsApp, responde inmediatamente con un HTTP 200 para confirmar la recepción, y extrae en variables globales los datos clave del mensaje (número, tipo, ID de media, caption, nombre de archivo y parámetros de configuración) para su uso en el resto del flujo.","height":624,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-4720,-128],"typeVersion":1,"id":"a570274f-3c59-446a-966d-a7244d26bfb9","name":"Sticky Note11"},{"parameters":{"content":"# Inicialización de Base de Datos — Chat History\n\n### Se ejecuta manualmente para crear las tablas `mentour_users` y `chat_history` en PostgreSQL, junto con un índice compuesto para optimizar la consulta del historial por usuario y fecha. Solo necesita correrse una vez al configurar el sistema.","height":496,"width":880,"color":3},"id":"87f28462-c2c5-42d2-bb7c-cb5b2d60f894","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-4736,-848],"typeVersion":1},{"parameters":{"content":"# Listener de Eventos Chatwoot — Control del Bot\n\n### Escucha eventos del webhook de Chatwoot y los enruta según su tipo: si la conversación se resuelve, elimina el bloqueo del bot en Redis; si se reabre, lo bloquea por 24 horas; si un agente envía un mensaje saliente, lo reenvía directamente al usuario por WhatsApp; cualquier otro evento se ignora.","height":816,"width":1296,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4816,704],"typeVersion":1,"id":"9a5f3eb6-1ce2-49da-9ef3-0e770ab2235c","name":"Sticky Note12"},{"parameters":{"content":"# Manejador Global de Errores\n\n### Captura errores de cualquier flujo, extrae el nombre del workflow, el nodo fallido, el mensaje de error y el número de WhatsApp del usuario afectado. Si tiene número asociado continúa hacia una acción de notificación; si no, registra el error en un log para revisión.","height":576,"width":1296,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4816,1600],"typeVersion":1,"id":"1c60e150-1e7f-492c-ae66-16011f0666f2","name":"Sticky Note13"},{"parameters":{"options":{"temperature":0.2,"topK":10,"topP":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[6816,1120],"id":"c8d80c56-3580-4525-93d2-0eb47590ca1d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Create Table chat_history","type":"main","index":0}]]},"Delete Buffer (chat_history)":{"main":[[{"node":"Delete Buffer (chat_history)2","type":"main","index":0}]]},"Get chat_history":{"main":[[{"node":"Context Refiner","type":"main","index":0}]]},"Buffer (chat_history) Route":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Delete Buffer (chat_history)","type":"main","index":0}],[{"node":"Wait For end of conversation","type":"main","index":0}]]},"Wait For end of conversation":{"main":[[{"node":"Get From Buffer(chat_history)","type":"main","index":0}]]},"Push to Buffer (chat_history)":{"main":[[{"node":"Get From Buffer(chat_history)","type":"main","index":0}]]},"Get From Buffer(chat_history)":{"main":[[{"node":"Buffer (chat_history) Route","type":"main","index":0}]]},"Get chat_history From DataBase":{"main":[[{"node":"Aggregate all Messges","type":"main","index":0}]]},"Aggregate all Messges":{"main":[[{"node":"chat_history in DataBase?","type":"main","index":0}]]},"chat_history In Buffer?":{"main":[[{"node":"Get chat_history","type":"main","index":0}],[{"node":"Get chat_history From DataBase","type":"main","index":0}]]},"Push to chat_history":{"main":[[{"node":"Get chat_history","type":"main","index":0}]]},"Push first message to chat_history":{"main":[[{"node":"Get chat_history","type":"main","index":0}]]},"Get chat_history1":{"main":[[{"node":"chat_history In Buffer?","type":"main","index":0}]]},"chat_history in DataBase?":{"main":[[{"node":"Push to chat_history","type":"main","index":0}],[{"node":"Push first message to chat_history","type":"main","index":0}]]},"Context Refiner":{"main":[[{"node":"Cerebro - SubFlow","type":"main","index":0}]]},"Push message chat_history (User And Agent)":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Add Messages to chat_history (User And Agent)":{"main":[[{"node":"Push to Buffer (chat_history)","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Add Messages to chat_history (User And Agent)","type":"main","index":0}]]},"Normalize Buffer":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Get Message":{"main":[[{"node":"Get chat_history1","type":"main","index":0}]]},"Wait For User Other Fast Message":{"main":[[{"node":"Get From Buffer","type":"main","index":0}]]},"Extract from PDF":{"main":[[{"node":"Text?","type":"main","index":0}]]},"Analyze audio":{"main":[[{"node":"get_message (Audio)","type":"main","index":0}]]},"get_error_message":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Normalize PDF":{"main":[[{"node":"get_message (File message) - Imagenes","type":"main","index":0}]]},"Text?":{"main":[[{"node":"Normalize PDF","type":"main","index":0}]]},"Normalize input":{"main":[[{"node":"Push to Buffer","type":"main","index":0}]]},"Analyze video":{"main":[[{"node":"get_message (Video)","type":"main","index":0}]]},"get_message (Video)":{"main":[[{"node":"get_message (File message) - Imagenes","type":"main","index":0}]]},"get_message (Audio)":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"get_message (Image)":{"main":[[{"node":"get_message (File message) - Imagenes","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"get_message (Image)","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Extraer Datos del Error","type":"main","index":0}]]},"Extraer Datos del Error":{"main":[[{"node":"¿Tiene número?","type":"main","index":0}]]},"¿Tiene número?":{"main":[[{"node":"Enviar Mensaje de Error","type":"main","index":0}],[{"node":"Log Sin Número","type":"main","index":0}]]},"get_message (text)":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Verifica quien escribe":{"main":[[{"node":"No Operation, do  nothing","type":"main","index":0}],[{"node":"Message Type2","type":"main","index":0}]]},"Buffer Route1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Delete Buffer","type":"main","index":0}],[{"node":"Wait For User Other Fast Message","type":"main","index":0}]]},"Get From Buffer":{"main":[[{"node":"Buffer Route1","type":"main","index":0}]]},"Delete Buffer":{"main":[[{"node":"Normalize Buffer","type":"main","index":0}]]},"Push to Buffer":{"main":[[{"node":"Get From Buffer","type":"main","index":0}]]},"Descargar Media":{"main":[[{"node":"Fetch Binary","type":"main","index":0}]]},"Fetch Binary":{"main":[[{"node":"Get Mime Type","type":"main","index":0}]]},"Message Type2":{"main":[[{"node":"get_message (text)","type":"main","index":0}],[{"node":"Descargar Media","type":"main","index":0}],[{"node":"Descargar Media","type":"main","index":0}],[{"node":"Descargar Media","type":"main","index":0}],[{"node":"Descargar Media","type":"main","index":0}],[{"node":"Unsupported Type","type":"main","index":0}]]},"Get Mime Type":{"main":[[{"node":"CW - Upload Media","type":"main","index":0},{"node":"Media Type","type":"main","index":0}]]},"Send Response":{"main":[[{"node":"CW - Registrar Respuesta Bot","type":"main","index":0}]]},"Agent Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Cerebro - SubFlow":{"main":[[{"node":"Agent Response","type":"main","index":0},{"node":"Etiquetar Tema - SubFlow","type":"main","index":0}]]},"Webhook Chatwoot":{"main":[[{"node":"Extraer Datos","type":"main","index":0}]]},"Extraer Datos":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Desbloquear Bot","type":"main","index":0}],[{"node":"Bloquear Bot","type":"main","index":0}],[{"node":"CW - Enviar Mensaje Agente a WA","type":"main","index":0}],[{"node":"Ignorar Evento","type":"main","index":0}]]},"Confirmar recepción":{"main":[[{"node":"Global Variables","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Confirmar recepción","type":"main","index":0}]]},"CW - Buscar Contacto":{"main":[[{"node":"CW - ¿Contacto Existe?","type":"main","index":0}]]},"CW - ¿Contacto Existe?":{"main":[[{"node":"CW - Set Contact ID (Existente)","type":"main","index":0}],[{"node":"CW - Crear Contacto","type":"main","index":0}]]},"CW - Crear Contacto":{"main":[[{"node":"CW - Set Contact ID (Nuevo)","type":"main","index":0}]]},"CW - Set Contact ID (Nuevo)":{"main":[[{"node":"CW - Buscar Conversación Abierta","type":"main","index":0}]]},"CW - Set Contact ID (Existente)":{"main":[[{"node":"CW - Buscar Conversación Abierta","type":"main","index":0}]]},"Global Variables":{"main":[[{"node":"Es un mensaje?","type":"main","index":0}]]},"CW - Buscar Conversación Abierta":{"main":[[{"node":"CW - ¿Conversación Abierta?","type":"main","index":0}]]},"Es un mensaje?":{"main":[[{"node":"CW - Buscar Contacto","type":"main","index":0}]]},"get_message (File message)":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Preparar Datos Archivo":{"main":[[{"node":"Clasificador Multimedia","type":"main","index":0}]]},"Clasificador Multimedia":{"main":[[{"node":"¿Es Pagos o Soporte?","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Clasificador Multimedia","type":"ai_languageModel","index":0}]]},"¿Es Pagos o Soporte?":{"main":[[{"node":"Mensaje Pagos","type":"main","index":0}],[{"node":"Mensaje Soporte","type":"main","index":0}]]},"Mensaje Pagos":{"main":[[{"node":"CW - Get Labels (Pagos)","type":"main","index":0}]]},"Mensaje Soporte":{"main":[[{"node":"CW - Get Labels (Soporte)","type":"main","index":0}]]},"CW - Set Conversation ID":{"main":[[{"node":"¿Es Texto?","type":"main","index":0}]]},"CW - ¿Conversación Abierta?":{"main":[[{"node":"CW - Set Conv ID (Existente)","type":"main","index":0}],[{"node":"CW - Crear Conversación Nueva","type":"main","index":0}]]},"CW - Set Conv ID (Nueva)":{"main":[[{"node":"CW - Set Conversation ID","type":"main","index":0}]]},"CW - Crear Conversación Nueva":{"main":[[{"node":"CW - Set Conv ID (Nueva)","type":"main","index":0}]]},"CW - Set Conv ID (Existente)":{"main":[[{"node":"CW - Set Conversation ID","type":"main","index":0}]]},"CW - Registrar Mensaje Usuario":{"main":[[{"node":"CW - Pasar Conv ID","type":"main","index":0}]]},"CW - Upload Media":{"main":[[]]},"Media Type":{"main":[[{"node":"Analyze Image","type":"main","index":0}],[{"node":"Analyze audio","type":"main","index":0}],[{"node":"Analyze video","type":"main","index":0}],[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"get_error_message","type":"main","index":0}]]},"get_message (File message) - Imagenes":{"main":[[{"node":"Media Message Type","type":"main","index":0}]]},"CW - Get Labels (Pagos)":{"main":[[{"node":"Etiquetar Pagos","type":"main","index":0}]]},"CW - Get Labels (Soporte)":{"main":[[{"node":"Etiquetar Soporte","type":"main","index":0}]]},"Etiquetar Soporte":{"main":[[{"node":"WA - Mensaje Soporte","type":"main","index":0}]]},"Etiquetar Pagos":{"main":[[{"node":"WA - Mensaje Pagos","type":"main","index":0}]]},"Media Message Type":{"main":[[{"node":"get_message (PDF)","type":"main","index":0}],[{"node":"get_message (Video rama)","type":"main","index":0}],[{"node":"get_message (Imagen rama)","type":"main","index":0}]]},"get_message (Video rama)":{"main":[[{"node":"Mensaje Video","type":"main","index":0}]]},"Mensaje PDF":{"main":[[{"node":"WA - Mensaje PDF","type":"main","index":0}]]},"Mensaje Video":{"main":[[{"node":"WA - Mensaje Video","type":"main","index":0}]]},"Mensaje Imagen":{"main":[[{"node":"WA - Mensaje Imagen","type":"main","index":0}]]},"WA - Mensaje Imagen":{"main":[[{"node":"Preparar Datos Archivo","type":"main","index":0}]]},"WA - Mensaje Video":{"main":[[{"node":"Preparar Datos Archivo","type":"main","index":0}]]},"WA - Mensaje PDF":{"main":[[{"node":"Preparar Datos Archivo","type":"main","index":0}]]},"get_message (PDF)":{"main":[[{"node":"Mensaje PDF","type":"main","index":0}]]},"get_message (Imagen rama)":{"main":[[{"node":"Mensaje Imagen","type":"main","index":0}]]},"CW - Registrar Respuesta Bot":{"main":[[{"node":"Push message chat_history (User And Agent)","type":"main","index":0}]]},"CW - ¿Bot Bloqueado?":{"main":[[{"node":"¿Es Media? (Bloqueado)","type":"main","index":0}],[{"node":"Verifica quien escribe","type":"main","index":0}]]},"CW - Verificar Bloqueo":{"main":[[{"node":"CW - ¿Bot Bloqueado?","type":"main","index":0}]]},"CW - Pasar Conv ID":{"main":[[{"node":"CW - Verificar Bloqueo","type":"main","index":0}]]},"¿Es Media? (Bloqueado)":{"main":[[{"node":"Descargar Media (Bloqueado)","type":"main","index":0}]]},"Descargar Media (Bloqueado)":{"main":[[{"node":"Fetch Binary (Bloqueado)","type":"main","index":0}]]},"Fetch Binary (Bloqueado)":{"main":[[{"node":"Get Mime Type (Bloqueado)","type":"main","index":0}]]},"Get Mime Type (Bloqueado)":{"main":[[{"node":"CW - Upload Media (Bloqueado)","type":"main","index":0}]]},"¿Es Texto?":{"main":[[{"node":"CW - Registrar Mensaje Usuario","type":"main","index":0}],[{"node":"CW - Pasar Conv ID","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Context Refiner","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b1835967-bcb9-4a4e-8434-67c1d448c095","activeVersionId":"b1835967-bcb9-4a4e-8434-67c1d448c095","triggerCount":2,"shared":[{"updatedAt":"2026-04-03T18:47:00.193Z","createdAt":"2026-04-03T18:47:00.193Z","role":"workflow:owner","workflowId":"i9nKzYJPiLpGXrZh","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":{"updatedAt":"2026-05-02T04:54:57.000Z","createdAt":"2026-05-02T04:50:21.144Z","versionId":"b1835967-bcb9-4a4e-8434-67c1d448c095","workflowId":"i9nKzYJPiLpGXrZh","nodes":[{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS mentour_users (\n    whatsapp_number VARCHAR(25) PRIMARY KEY,\n    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);\nCREATE TABLE IF NOT EXISTS chat_history (\n    -- Unique identifier for each individual message\n    message_id BIGSERIAL PRIMARY KEY,\n\n    -- Link to the user involved in the conversation\n    user_whatsapp_number VARCHAR(25) NOT NULL REFERENCES mentour_users(whatsapp_number) ON DELETE CASCADE,\n\n    -- The text content of the message\n    message_text TEXT NOT NULL,\n\n    -- The exact time the message was sent/received\n    message_timestamp TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n    \n    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);\n\n-- Optimization: A composite index to very quickly retrieve a user's chat history in chronological order.\nCREATE INDEX IF NOT EXISTS idx_chat_history_user_timestamp \nON chat_history (user_whatsapp_number, message_timestamp);","options":{}},"id":"b3444267-0d72-4db6-8701-e5ee33e43423","name":"Create Table chat_history","type":"n8n-nodes-base.postgres","position":[-4256,-608],"typeVersion":2.6,"credentials":{"postgres":{"id":"BZ5q2rgXCNddAxI2","name":"Postgres account"}}},{"parameters":{},"id":"e6675446-b287-466a-b408-b0c35657601d","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[-4432,-608],"typeVersion":1},{"parameters":{"operation":"delete","key":"=Chats_{{  $('Global Variables').item.json.number }}"},"id":"475e253a-0795-4485-9d23-b9d0da7dedca","name":"Delete Buffer (chat_history)","type":"n8n-nodes-base.redis","position":[10128,1072],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"d0f3b823-dda9-42e9-936b-4ca4123026ca","name":"history","type":"string","value":"={{ $json.propertyName.slice(-$('Global Variables').item.json.max_chat_history).join('\\n') }}"}]},"options":{}},"id":"3da05c76-e757-4051-aff4-f6695ac80127","name":"Get chat_history","type":"n8n-nodes-base.set","position":[6464,960],"typeVersion":3.4},{"parameters":{},"id":"7d043824-18e7-4412-8937-7189878471f9","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","position":[10128,928],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"f11a017f-dc64-4db4-9836-d13d164a62cf","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ JSON.parse($json.message[$json.message.length - 1]).sessionID }}","rightValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].id }}"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","operator":{"type":"dateTime","operation":"before"},"leftValue":"={{ JSON.parse($json.message[$json.message.length - 1]).date_time }}","rightValue":"={{ $now.minus(parseInt($('Global Variables').item.json.wait_conversation), 'seconds') }}"}],"combinator":"and"},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"id":"73f12138-7991-40da-b695-aea0f79f3734","name":"Buffer (chat_history) Route","type":"n8n-nodes-base.switch","position":[9872,944],"typeVersion":3.2},{"parameters":{"amount":"={{ $('Global Variables').item.json.wait_conversation }}"},"id":"b92e20ef-b156-4560-8e94-f799e529f29c","name":"Wait For end of conversation","type":"n8n-nodes-base.wait","position":[10128,1248],"webhookId":"06711a97-b08d-4552-aab8-868b1b8bbc5c","typeVersion":1.1},{"parameters":{"operation":"push","list":"=Chats_buffer{{  $('Global Variables').item.json.number }}","messageData":"={{ JSON.stringify({\n  sessionID: $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].id,\n  date_time: $now.toISO()\n}) }}\n","tail":true},"id":"cdeec0bb-20ca-4fe3-bac2-067cc4e276c0","name":"Push to Buffer (chat_history)","type":"n8n-nodes-base.redis","position":[9440,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","propertyName":"message","key":"=Chats_buffer{{  $('Global Variables').item.json.number }}","options":{}},"id":"873af712-6a40-4310-ba6e-192e4ea90498","name":"Get From Buffer(chat_history)","type":"n8n-nodes-base.redis","position":[9680,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"delete","key":"=Chats_buffer{{  $('Global Variables').item.json.number }}"},"id":"404c0c54-38b5-4160-989a-dbab9f2f8ec6","name":"Delete Buffer (chat_history)2","type":"n8n-nodes-base.redis","position":[10320,1072],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"chat_history","cachedResultName":"chat_history"},"limit":"={{ $('Global Variables').item.json.max_chat_history }}","where":{"values":[{"column":"user_whatsapp_number","value":"={{ $('Global Variables').item.json.number }}"}]},"options":{"outputColumns":["message_text"]}},"id":"453345ff-9a02-43ae-b9ce-83e928929637","name":"Get chat_history From DataBase","type":"n8n-nodes-base.postgres","position":[5520,1232],"retryOnFail":true,"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message_text"}]},"options":{}},"id":"d50efcac-ffd9-4ef9-ba04-2bc33d9328a0","name":"Aggregate all Messges","type":"n8n-nodes-base.aggregate","position":[5712,1232],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"761329c9-499f-4328-bc11-835edcfd003c","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.propertyName[0] }}","rightValue":""}]},"options":{}},"id":"075e21fe-d737-4270-96de-9368e9de4397","name":"chat_history In Buffer?","type":"n8n-nodes-base.if","position":[5344,976],"typeVersion":2.2},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"={{ $json.message_text.join('\\n') }}","tail":true},"id":"80d53177-55ec-4e20-8883-c7fd8170714a","name":"Push to chat_history","type":"n8n-nodes-base.redis","position":[6128,1136],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"=.","tail":true},"id":"537cadab-53d7-4c16-819f-3d0545b231c9","name":"Push first message to chat_history","type":"n8n-nodes-base.redis","position":[6128,1328],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","key":"=Chats_{{  $('Global Variables').item.json.number }}","options":{}},"id":"79388516-9be2-4a33-9a1a-aa8f193ed5c1","name":"Get chat_history1","type":"n8n-nodes-base.redis","position":[5104,976],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"18946671-190b-43d9-a88f-810184127ed2","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message_text }}","rightValue":""}]},"options":{}},"id":"475083e9-b53c-41ea-83ba-c978566e3fa4","name":"chat_history in DataBase?","type":"n8n-nodes-base.if","position":[5920,1232],"typeVersion":2.3},{"parameters":{"promptType":"define","text":"=<Chat_History>\n{{ $json.history }}\n</Chat_History>\n\n<Current_User_Input>\n{{ $('Get Message').item.json.message }}\n</Current_User_Input>","messages":{"messageValues":[{"message":"=Sos un extractor de contexto silencioso para el sistema de atención de Facture.CR.\nNO sos un asistente. NO respondés preguntas. NO das consejos. NO generás información nueva.\n\nTu único trabajo: leer el <Chat_History> y extraer hechos concretos ya mencionados\nque sean útiles para que el agente activo procese el <Current_User_Input>.\n\nDATOS RELEVANTES A EXTRAER (solo si ya fueron mencionados):\n- Nombre del cliente\n- Tipo de negocio o actividad comercial\n- Cantidad de documentos/facturas por mes\n- Plan actual o plan de interés\n- Problema técnico reportado (error, falla, qué no funciona)\n- Estado de pago o suscripción\n- Equipo físico de interés (impresora, computadora, etc.)\n- Fase en la que estaba la conversación (cotizando, por comprar, con problema activo)\n- Preguntas anteriores que quedaron sin resolver\n\nDOMINIOS DE LOS AGENTES (extraé solo lo relevante al agente activo):\n- SVP (Soporte, Ventas, Pagos): problemas técnicos, planes de facturación, pagos, suscripción\n- HME (Hardware, Marketing, Escalamiento): equipos físicos, redes sociales, solicitudes de agente humano\n\nREGLAS ESTRICTAS:\n- Extraé ÚNICAMENTE hechos ya presentes en el historial. Nunca inventés ni asumir.\n- Si el agente ya respondió algo → NO lo incluyas como contexto.\n- Si el mensaje actual no depende del historial → escribí exactamente: (vacío)\n- Máximo 3 oraciones. Solo texto plano, sin listas ni formato.\n- Nunca expliques, nunca resumás, nunca le respondás al usuario.\n\nIDIOMA: Respondé siempre en el mismo idioma del <Chat_History>."}]},"batching":{}},"id":"65c29b89-d0ab-4f7a-8082-00aa63116857","name":"Context Refiner","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[6800,960],"typeVersion":1.7},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}","tail":true},"id":"c0bcee8c-ed40-40fb-9b17-b9ab9057817a","name":"Push message chat_history (User And Agent)","type":"n8n-nodes-base.redis","position":[8288,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"chat_history","cachedResultName":"chat_history"},"columns":{"value":{"message_text":"=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}","user_whatsapp_number":"={{ $('Global Variables').item.json.number }}"},"schema":[{"id":"message_id","type":"number","display":true,"removed":true,"required":false,"displayName":"message_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_whatsapp_number","type":"string","display":true,"required":true,"displayName":"user_whatsapp_number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"message_text","type":"string","display":true,"required":true,"displayName":"message_text","defaultMatch":false,"canBeUsedToMatch":true},{"id":"message_timestamp","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"message_timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"created_at","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"created_at","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"67201295-5cef-4b35-9e64-06d36d3a4229","name":"Add Messages to chat_history (User And Agent)","type":"n8n-nodes-base.postgres","position":[8800,960],"typeVersion":2.6,"credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO mentour_users (whatsapp_number)\nVALUES ('{{ $('Global Variables').item.json.number }}')\nON CONFLICT (whatsapp_number) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8512,960],"id":"64609cd3-908a-4569-a7cf-7db4e51a6c68","name":"Execute a SQL query","credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"b594f1da-51e8-47a4-a636-7928a73b69f8","name":"message","type":"string","value":"={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}"}]},"options":{}},"id":"1027f746-5282-431e-879e-d7860fb79b8b","name":"Normalize Buffer","type":"n8n-nodes-base.set","position":[4192,976],"typeVersion":3.4},{"parameters":{},"id":"35c57c5c-f7bb-4985-890c-52dffbb12a8a","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[3984,816],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"f6d7accb-8ef6-4c41-9b0a-9e0b4301dffd","name":"message","type":"string","value":"={{ $json.message || $json.chatInput }}"}]},"options":{}},"id":"c1f2decb-65dd-4974-a952-d18d38cdf967","name":"Get Message","type":"n8n-nodes-base.set","position":[4544,976],"typeVersion":3.4},{"parameters":{"amount":"={{ $('Global Variables').item.json.wait_buffer }}"},"id":"cb9737f6-f3dc-4d03-848d-01625c3d65f0","name":"Wait For User Other Fast Message","type":"n8n-nodes-base.wait","position":[3984,1136],"webhookId":"9b345d41-1595-4bc3-bb98-64e44682aa43","typeVersion":1.1},{"parameters":{"operation":"pdf","options":{}},"id":"a0b47f4c-68f4-41be-ba14-0eceab5a447a","name":"Extract from PDF","type":"n8n-nodes-base.extractFromFile","position":[1184,2240],"typeVersion":1},{"parameters":{"resource":"audio","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"text":"# Transcribe verbatim the spoken content of this audio. \n\n# Output ONLY the transcribed text, nothing else.\n\n# No analysis, no descriptions, no metadata.\n\n# If no speech is detected, output: [No speech detected]","inputType":"binary","options":{}},"id":"b3c86f99-6c05-43e1-a9cb-681ff5cb1cb1","name":"Analyze audio","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1232,1920],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"=No fue posible procesar el archivo. Tipo de archivo no compatible."}]},"options":{}},"id":"fce151fb-79a7-4f2b-9c8a-0ccdc23e46b8","name":"get_error_message","type":"n8n-nodes-base.set","position":[1280,2400],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"24b93984-e305-4c11-a856-5fa0bfaaaa79","name":"data","type":"string","value":"={{ $json.text }}"}]},"options":{}},"id":"d6990173-c297-4a13-88b7-dbc7dc04565f","name":"Normalize PDF","type":"n8n-nodes-base.set","position":[1584,2224],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"333a436f-c087-4250-a181-40657874959b","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.text }}","rightValue":""}]},"options":{}},"id":"ee90cd02-0edc-40f7-8abd-c024afb36f69","name":"Text?","type":"n8n-nodes-base.if","position":[1360,2240],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"eb807b26-c415-42d2-9cef-707825d6fa82","name":"message","type":"string","value":"={{ $json.message }}"}]},"options":{}},"id":"a8436a2a-b8d9-477c-8760-102197c34920","name":"Normalize input","type":"n8n-nodes-base.set","position":[3200,960],"typeVersion":3.4},{"parameters":{"resource":"video","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"text":"### IDENTITY & CORE MISSION\nYou are Scrutator, a world-class multimedia analysis engine. Your sole purpose is to deconstruct any given video file into its most fundamental visual, auditory, and temporal components, providing a single, comprehensive, and hyper-detailed textual description. Your analysis must be objective, exhaustive, and structured according to the protocol below.\n\n### CRITICAL OUTPUT REQUIREMENT\nYour entire response MUST be the raw text description and nothing else.\n- DO NOT include preambles like \"Here is the analysis of the video.\"\n- DO NOT use markdown formatting like headers or bolding.\n- DO NOT apologize for limitations or mention that you are an AI.\n- Your output must begin directly with the analysis.\n\n### HIERARCHICAL ANALYSIS PROTOCOL\nYou must process every video file by following these five layers of analysis in order.\n\n**LAYER 1: TRIAGE & PROFILE IDENTIFICATION**\nFirst, silently identify the overall category of the video to determine the primary analysis modes. Categories include: [User Instruction/Vlog], [Document Scan/Presentation], [Food/Cooking Demo], [Cinematic/Narrative Clip], [Event Recording], [Environmental Scene]. State the identified category at the beginning of your description. Example: \"Category: User Instruction/Vlog.\"\n\n**LAYER 2: DUAL-STREAM DECONSTRUCTION (VISUAL & AUDITORY)**\nAnalyze the visual and audio streams in parallel, noting their interplay.\n\n**A. VISUAL STREAM ANALYSIS:**\nApply the full image analysis protocol to the video's visual content. Describe how these elements **evolve or change throughout the video's duration**.\n*   **Primary Subject(s):** Identify and analyze the main subjects (e.g., a person, a plate of food, a document).\n    *   **If Food:** Identify the dish, all ingredients, cooking methods, and portion size. Describe any actions performed on the food (e.g., \"slicing,\" \"sautéing,\" \"plating\").\n    *   **If Document/Receipt:** State that a document is present and that a full OCR transcription will follow in the audio stream analysis if the user reads it, or in the temporal analysis if it's held up to the camera.\n    *   **If Person:** Describe demographics, appearance, clothing, and actions.\n*   **Background & Context:** Detail the environment, secondary objects, and their spatial relationships.\n\n**B. AUDITORY STREAM ANALYSIS:**\nApply the full audio analysis protocol to the video's soundtrack.\n*   **Primary Content:**\n    *   **If Human Speech:** Provide a **verbatim transcription** with speaker diarization (\"Speaker 1:\", \"Speaker 2:\"). Analyze each speaker's vocal profile, emotional tone, and pragmatic intent (e.g., \"The user's intent is to issue a direct command to the agent\").\n    *   **If Music:** Identify genre, instrumentation, and mood.\n    *   **If Environmental Sounds:** Catalog all distinct sound sources.\n*   **Acoustic Environment & Technical Quality:** Describe background noise, reverberation, and recording quality.\n\n**LAYER 3: TEMPORAL & MOTION ANALYSIS (THE NARRATIVE OF CHANGE)**\nThis is the most critical layer for video. Deconstruct the sequence of events over time.\n*   **Scene & Shot Log:** Create a chronological log of events. Use timestamps to denote significant changes in action, subject, or camera angle.\n    *   **Format Example:**\n        `[00:00-00:03] - Close-up shot of a hand holding a grocery receipt. The camera is slightly shaky.`\n        `[00:04-00:09] - The user (Speaker 1) begins reading the items from the receipt aloud. The camera pans down the list of items.`\n        `[00:10-00:12] - Cut to a wide shot of the kitchen counter, showing the grocery items mentioned.`\n        `[00:13-00:15] - The user points to a carton of orange juice and asks a question.`\n*   **Object & Subject Tracking:** Describe the movement and actions of the primary subjects. (e.g., \"The user walks from the left to the right of the frame, placing a milk carton on the table.\").\n*   **Camera Work:** Describe all camera movements (e.g., \"static tripod shot,\" \"handheld with noticeable shake,\" \"slow pan left,\" \"quick zoom-in on the product label\").\n*   **Editing & Post-Production:** Identify editing techniques. Describe the pacing (e.g., \"fast-paced with quick cuts,\" \"long, uninterrupted take\"), transitions (e.g., \"hard cut,\" \"fade to black,\" \"dissolve\"), and any on-screen graphics, text overlays, or subtitles.\n\n**LAYER 4: TECHNICAL FILE ANALYSIS**\nBriefly describe the technical characteristics of the video file itself.\n*   **Video Quality:** Infer the resolution and clarity (e.g., \"High-definition 1080p,\" \"Standard-definition 480p,\" \"low-resolution, heavily compressed\").\n*   **Frame Rate:** Describe the motion smoothness (e.g., \"smooth 30/60fps,\" \"choppy/low frame rate\").\n*   **Audio-Visual Sync:** Confirm if the audio and video are properly synchronized.\n\n**LAYER 5: INFERENCE & SYNTHESIS**\nConclude with a holistic synthesis of all layers. What is the overall story, context, and purpose of this video?\n*   **Example (User Instruction):** \"This is a user-generated instructional video, recorded on a smartphone. The user is providing a multi-modal command by both showing a receipt and verbally asking the agent to process specific items from it. The intent is direct and task-oriented.\"\n*   **Example (Cooking Demo):** \"This is a segment from a well-edited cooking tutorial. The combination of close-up shots, clear vocal instructions, and background music is designed to be educational and engaging.\"\n*   **Example (Event Recording):** \"This is an amateur, handheld recording of a live music performance in a small, crowded venue, capturing both the performance and the audience's reaction.\"","inputType":"binary","options":{}},"id":"c9e35ef7-455f-46ce-a77a-9a2e205f7eed","name":"Analyze video","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1232,2080],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"nllWk5SDJS6pZw3u","name":"Api cliente"}}},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"}]},"options":{}},"id":"7ad599b4-8f70-4941-a963-271552f87ff8","name":"get_message (Video)","type":"n8n-nodes-base.set","position":[1408,2080],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"}]},"options":{}},"id":"bec4d299-1fd5-4837-8fba-977409a8919f","name":"get_message (Audio)","type":"n8n-nodes-base.set","position":[1408,1920],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media description: {{ $json.content.parts[0].text }}"}]},"options":{}},"id":"ac701142-fd49-4892-896c-3a0d9f5cf004","name":"get_message (Image)","type":"n8n-nodes-base.set","position":[1408,1760],"typeVersion":3.4},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"id":"b7a11657-78e5-4b15-9a1a-b6c282d84664","name":"Analyze Image","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1232,1760],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1536,336],"id":"89909cf5-13da-4e83-992d-2e4b9d2557ef","name":"No Operation, do  nothing"},{"parameters":{},"id":"6b20076a-3e61-406e-ba5c-dabc117626a8","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-4672,1840]},{"parameters":{"jsCode":"const error = $input.first().json;\n\nconst workflowName = error.workflow?.name || 'Desconocido';\nconst nodeName = error.execution?.lastNodeExecuted || 'Desconocido';\nconst errorMessage = error.execution?.error?.message || 'Error desconocido';\nconst number = error.execution?.data?.resultData?.runData?.['Global Variables']?.[0]?.data?.main?.[0]?.[0]?.json?.number || null;\n\nreturn [{ json: { workflowName, nodeName, errorMessage, number } }];"},"id":"8f98e601-bdec-4a3f-814e-abb26d99cf26","name":"Extraer Datos del Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4448,1840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-number","leftValue":"={{ $json.number }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d93f5dde-96b7-499c-a1f6-d9f6736166f0","name":"¿Tiene número?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4224,1840]},{"parameters":{"resource":"messages-api","instanceName":"Facture","remoteJid":"={{ $json.number }}","messageText":"En este momento estoy teniendo dificultades técnicas. Por favor intentá de nuevo en unos minutos. Si el problema persiste, un agente humano te atenderá en horario L-V 8:00-22:00.","options_message":{}},"id":"ab12f421-7047-4452-bba8-3c8dc3d9e8d6","name":"Enviar Mensaje de Error","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4000,1728],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"log-error","name":"log","type":"string","value":"={{ 'Workflow: ' + $json.workflowName + ' | Nodo: ' + $json.nodeName + ' | Error: ' + $json.errorMessage }}"}]},"options":{}},"id":"4ac9426a-3dee-48d3-8861-296017f5cca6","name":"Log Sin Número","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4000,1952]},{"parameters":{"assignments":{"assignments":[{"id":"801ec600-22ad-4a94-a2b4-ae72eb271df0","name":"message","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].text.body }}"}]},"options":{}},"id":"ee213751-7103-4375-b387-0dd56f9e0cb1","name":"get_message (text)","type":"n8n-nodes-base.set","position":[2016,400],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"19c07b89-e324-4a51-a966-cadca8b657ee","leftValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}","rightValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.display_phone_number }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"966fd219-7c62-4cf2-bae8-aa4bff0d4a89","name":"Verifica quien escribe","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1328,448]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f11a017f-dc64-4db4-9836-d13d164a62cf","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ JSON.parse($json.message.last()).sessionID }}","rightValue":"={{ $('Global Variables').item.json.message_id }}"}]},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","operator":{"type":"dateTime","operation":"before"},"leftValue":"={{ JSON.parse($json.message.last()).date_time }}","rightValue":"={{ $now.minus($('Global Variables').item.json.wait_buffer, 'seconds') }}"}]},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"id":"7db9833c-d590-4338-9fcd-c088fb461bb6","name":"Buffer Route1","type":"n8n-nodes-base.switch","position":[3744,960],"typeVersion":3.2},{"parameters":{"operation":"get","propertyName":"message","key":"=WA_{{ $('Global Variables').item.json.number }}","options":{}},"id":"8f52bf15-3201-4423-b3b6-da3a59913566","name":"Get From Buffer","type":"n8n-nodes-base.redis","position":[3552,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"delete","key":"=WA_{{ $('Global Variables').item.json.number }}"},"id":"5bd37bf5-2b64-40d9-b49d-badd4f75b139","name":"Delete Buffer","type":"n8n-nodes-base.redis","position":[3984,976],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"push","list":"=WA_{{ $('Global Variables').item.json.number }}","messageData":"={{ JSON.stringify({\n  message: $('Normalize input').item.json.message,\n  sessionID: $('Global Variables').item.json.message_id,\n  date_time: $now.toISO()\n}) }}","tail":true},"id":"fbe4c080-e58f-4e0d-9f4c-69235e0b0c2c","name":"Push to Buffer","type":"n8n-nodes-base.redis","position":[3344,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"unsupported-001","name":"message","type":"string","value":"=Lo sentimos, no puedo procesar el tipo de mensaje '{{ $('Global Variables').item.json.message_type }}'. Por favor enviá texto, imagen, audio, video o documento."}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,592],"id":"0476c850-72ea-4edd-921f-0e6a71a3c490","name":"Unsupported Type"},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $('Global Variables').item.json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,784],"id":"42462749-35c8-4c8d-bc6a-12ab6ad168c3","name":"Descargar Media","credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,784],"id":"68f40011-0057-42ff-963f-83f65498f3b8","name":"Fetch Binary","credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"text-rule","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"text"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"image-rule","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"image"}],"combinator":"and"},"renameOutput":true,"outputKey":"Media"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"audio-rule","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"audio"}],"combinator":"and"},"renameOutput":true,"outputKey":"Media"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"video-rule","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"video"}],"combinator":"and"},"renameOutput":true,"outputKey":"Media"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"document-rule","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"document"}],"combinator":"and"},"renameOutput":true,"outputKey":"Media"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Unsupported"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1632,416],"id":"a2030c35-965e-4e5d-8fd6-92274266c1ff","name":"Message Type2"},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  const mimetype = $('Descargar Media').first().json.mime_type || '';\n\n  let fileTypeCategory = 'other';\n\n  switch (true) {\n    case mimetype.startsWith('image/'):\n      fileTypeCategory = 'image';\n      break;\n    case mimetype.startsWith('audio/'):\n      fileTypeCategory = 'audio';\n      break;\n    case mimetype.startsWith('video/'):\n      fileTypeCategory = 'video';\n      break;\n    case mimetype === 'application/pdf':\n      fileTypeCategory = 'pdf';\n      break;\n    case mimetype === 'application/vnd.ms-excel':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':\n    case mimetype === 'application/vnd.oasis.opendocument.spreadsheet':\n      fileTypeCategory = 'spreadsheet';\n      break;\n    case mimetype === 'application/msword':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':\n      fileTypeCategory = 'document';\n      break;\n    case mimetype === 'text/plain':\n      fileTypeCategory = 'text';\n      break;\n    case mimetype === 'text/csv':\n      fileTypeCategory = 'csv';\n      break;\n    case mimetype === 'application/json':\n      fileTypeCategory = 'json';\n      break;\n  }\n\n  // Agregar al json sin tocar el binario\n  item.json.fileTypeCategory = fileTypeCategory;\n  item.json.mime_type = mimetype;\n\n  // Asegurarse que el binario se llame 'data' como espera Gemini\n  if (item.binary) {\n    const binaryKeys = Object.keys(item.binary);\n    if (binaryKeys.length > 0 && !item.binary.data) {\n      item.binary.data = item.binary[binaryKeys[0]];\n    }\n    // Actualizar el mimeType en el binario también\n    if (item.binary.data) {\n      item.binary.data.mimeType = mimetype;\n    }\n  }\n\n  results.push(item);\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,784],"id":"3d9a7b4a-0c05-436c-b619-8692cf3f8e3b","name":"Get Mime Type"},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Agent Response').item.json.phone_number_id }}","recipientPhoneNumber":"={{ $('Agent Response').item.json.number }}","textBody":"={{ $('Agent Response').item.json.reponse }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[7824,960],"id":"590f22ed-ba9d-47ed-9227-15fd3aec8249","name":"Send Response","webhookId":"9ed847a3-0cb9-4f65-b5a3-d21ca6227700","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0f4cdb2c-9407-4783-83c6-4440faa74f00","name":"reponse","type":"string","value":"={{ $json.output }}"},{"id":"0f4cdb2c-9407-4783-83c6-4440faa74f01","name":"phone_number_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}"},{"id":"0f4cdb2c-9407-4783-83c6-4440faa74f02","name":"number","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7552,960],"id":"9425270e-bfdb-41b2-be70-58eaade6660b","name":"Agent Response"},{"parameters":{"workflowId":{"__rl":true,"value":"ob6cswMhK39VC6KG","mode":"list","cachedResultUrl":"/workflow/ob6cswMhK39VC6KG","cachedResultName":"Cerebro Facture.CR"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('Get Message').item.json.message }}","numero":"={{ $('Global Variables').item.json.number }}","contexto":"={{ $json.text }}","sessionId":"={{ $('Global Variables').item.json.number }}","historial":"={{ $('Get chat_history').item.json.history }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contexto","displayName":"contexto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"historial","displayName":"historial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7216,960],"id":"1e411ea4-1f5a-4243-9bbd-7627638d81ec","name":"Cerebro - SubFlow"},{"parameters":{"httpMethod":"POST","path":"chatwoot-events","options":{"noResponseBody":true}},"id":"71c55b55-edb3-4bd1-aeb5-94a5df3fbb7e","name":"Webhook Chatwoot","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4704,1088],"webhookId":"ce348afb-a9c6-4c55-9213-5ea983ccc59b"},{"parameters":{"assignments":{"assignments":[{"id":"cw-extract-1","name":"conversation_id","type":"number","value":"={{ $json.body.conversation?.id || $json.body.id }}"},{"id":"cw-extract-2","name":"event","type":"string","value":"={{ $json.body.event }}"},{"id":"cw-extract-3","name":"status","type":"string","value":"={{ $json.body.status || $json.body.conversation?.status || '' }}"},{"id":"cw-extract-4","name":"message_type","type":"string","value":"={{ $json.body.message_type || '' }}"},{"id":"cw-extract-5","name":"sender_type","type":"string","value":"={{ $json.body.sender?.type || '' }}"},{"id":"cw-extract-6","name":"private","type":"boolean","value":"={{ $json.body.private === true }}"},{"id":"257a41fc-67cf-4dcf-ab7f-26c7a99cc312","name":"num_tel","value":"={{ ($json.body.conversation?.meta?.sender?.phone_number || $json.body.meta?.sender?.phone_number || '').replace('+', '') }}","type":"string"}]},"options":{}},"id":"fe44d2de-fc99-4355-8285-77ddb7fe8ba8","name":"Extraer Datos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4416,1088]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"rule-status-changed","leftValue":"={{ $json.event }}","rightValue":"conversation_status_changed","operator":{"type":"string","operation":"equals"}},{"id":"rule-resolved","leftValue":"={{ $json.status }}","rightValue":"resolved","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Resuelto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"rule-status-open","leftValue":"={{ $json.event }}","rightValue":"conversation_status_changed","operator":{"type":"string","operation":"equals"}},{"id":"rule-open","leftValue":"={{ $json.status }}","rightValue":"open","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Abierto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"rule-agent-message","leftValue":"={{ $json.event }}","rightValue":"message_created","operator":{"type":"string","operation":"equals"}},{"id":"rule-agent-type","leftValue":"={{ $json.sender_type }}","rightValue":"user","operator":{"type":"string","operation":"equals"}},{"id":"rule-agent-outgoing","leftValue":"={{ $json.message_type }}","rightValue":"outgoing","operator":{"type":"string","operation":"equals"}},{"id":"rule-not-private","leftValue":"={{ $json.private }}","rightValue":false,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agente Escribe"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Ignorar"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4160,1056],"id":"3ffbd230-1dbb-4ff1-949f-a545335be270","name":"Switch"},{"parameters":{"operation":"set","key":"=cw_blocked_{{ $json.conversation_id }}","value":"blocked","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3824,1008],"id":"c462fd5d-6bed-4da1-a40a-ab907f8a9671","name":"Bloquear Bot","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"send","phoneNumberId":"=1100479569817593","recipientPhoneNumber":"={{ $('Webhook Chatwoot').item.json.body.conversation.meta.sender.phone_number.replace('+', '') }}","textBody":"={{ $('Webhook Chatwoot').item.json.body.content }}","additionalFields":{}},"id":"0200eb30-a81d-4cb7-a167-10beb63a0f9c","name":"CW - Enviar Mensaje Agente a WA","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-3824,1184],"webhookId":"6d2b84bd-55b1-457e-a964-75930aed3904","credentials":{"whatsAppApi":{"id":"qrh7CkQ2IWdP3zNe","name":"WhatsApp account 2"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3952,1360],"id":"f46cb80b-2ab7-4283-94d4-a9925c43603a","name":"Ignorar Evento"},{"parameters":{"operation":"delete","key":"=cw_blocked_{{ $json.conversation_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3968,832],"id":"7c6402e0-b7f3-402f-906a-8136e83bf9c8","name":"Desbloquear Bot","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"ok\" }","options":{"responseCode":200}},"id":"d7eb2b73-4bff-4c10-81ab-0b2b9150bf7f","name":"Confirmar recepción","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-4448,112]},{"parameters":{"httpMethod":"POST","path":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14/webhook","responseMode":"responseNode","options":{}},"id":"1354303b-3867-4e8e-a1dc-318ff7b01064","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4672,112],"webhookId":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14"},{"parameters":{"url":"https://chatwoot.larqcr.com/api/v1/accounts/8/contacts/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Global Variables').item.json.number }}"},{"name":"include_contacts","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3520,96],"id":"17c40fac-1e05-4780-b02d-d2af972afe9f","name":"CW - Buscar Contacto","credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"contact-exists","leftValue":"={{ $json.payload.filter(c => c.phone_number === '+' + $('Global Variables').item.json.number).length > 0 }}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3312,96],"id":"90a28cf1-7111-485d-bfe7-8b32203534ea","name":"CW - ¿Contacto Existe?"},{"parameters":{"method":"POST","url":"https://chatwoot.larqcr.com/api/v1/accounts/8/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Webhook').item.json.body.entry[0].changes[0].value.contacts[0].profile.name || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\",\n  \"phone_number\": \"{{ '+' + $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3088,240],"id":"2448ce8f-c9cc-409f-84ea-8097430dafe6","name":"CW - Crear Contacto","credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"assignments":{"assignments":[{"id":"set-contact-id-new","name":"contact_id","type":"number","value":"={{ $json.payload.contact.id }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2864,240],"id":"683dd5bf-6e95-4284-b576-560d50e90356","name":"CW - Set Contact ID (Nuevo)"},{"parameters":{"assignments":{"assignments":[{"id":"set-contact-id-existing","name":"contact_id","type":"number","value":"={{ $json.payload[0].id }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3040,-32],"id":"c7b24e5e-8ba5-4099-a641-42debfe144e8","name":"CW - Set Contact ID (Existente)"},{"parameters":{"assignments":{"assignments":[{"id":"bf06bbd5-2ca4-4aa9-bc9a-825a570791ae","name":"number","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}"},{"id":"d350a635-82ed-4373-9725-706c1dcf9cf5","name":"wait_buffer","type":"string","value":"5"},{"id":"ef7dd1c1-0925-416b-b73e-79ee3ee11e81","name":"wait_conversation","type":"string","value":"300"},{"id":"07b5fd03-4ef0-4e59-b4ef-a354dc2b6893","name":"max_chat_history","type":"string","value":"3"},{"id":"a1b2c3d4-0000-0000-0000-000000000001","name":"message_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].id }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000002","name":"message_type","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].type }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000003","name":"phone_number_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000004","name":"media_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].image?.id || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].audio?.id || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].video?.id || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].document?.id || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].sticker?.id || '' }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000005","name":"media_caption","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].image?.caption || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].video?.caption || $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].document?.caption || '' }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000006","name":"media_filename","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].document?.filename || '' }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4112,112],"id":"9d6d6833-06ee-4254-b925-3daa43cd8905","name":"Global Variables"},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/contacts/{{ $json.contact_id }}/conversations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"7329a24d-9005-4b2d-8e4a-a33d617d145b","name":"CW - Buscar Conversación Abierta","type":"n8n-nodes-base.httpRequest","position":[-2656,80],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"combinator":"and","conditions":[{"id":"filter-has-messages","leftValue":"={{ $('Confirmar recepción').item.json.body.entry[0].changes[0].value.messages }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"filter-no-status","leftValue":"={{ $('Confirmar recepción').item.json.body.entry[0].changes[0].value.statuses }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}]},"options":{}},"id":"2a41d028-e2a8-4e0c-a689-9abe027015fc","name":"Es un mensaje?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3728,112]},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"={{ $('Global Variables').item.json.media_caption ? 'Caption: ' + $('Global Variables').item.json.media_caption + '\\n' : '' }}{{ $('Global Variables').item.json.media_filename ? 'Nombre de archivo: ' + $('Global Variables').item.json.media_filename + '\\n' : '' }}Tipo: {{ $json.fileTypeCategory }}\\nContenido:\\n{{ $json.data }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2912,960],"id":"4a710b72-b731-4c54-92d5-ed5cc5be7b96","name":"get_message (File message)"},{"parameters":{"assignments":{"assignments":[{"id":"c7a2b3e4-f5d6-4e78-90ab-1c2d3e4f5g6h","name":"data_para_clasificar","type":"string","value":"={{ $('get_message (File message) - Imagenes').item.json.message }}"}]},"options":{}},"id":"4c7aef05-0bd7-4dc6-8146-940023d210f7","name":"Preparar Datos Archivo","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3792,1984]},{"parameters":{"prompt":"=Eres un clasificador estricto para el sistema de atención al cliente de Facture.CR.\n\nAnaliza el siguiente contenido y clasifícalo en UNA de estas dos categorías:\n\n## PAGOS\nUsar SOLO si el contenido muestra o describe CLARAMENTE alguno de estos elementos:\n- Una transferencia bancaria completada (número de transacción, monto, fecha, banco origen/destino)\n- Un comprobante de SINPE Móvil (número de teléfono, monto, confirmación)\n- Una factura o recibo de pago emitido\n- Una captura de pantalla de una aplicación bancaria mostrando un movimiento o confirmación de pago\n- Un estado de cuenta con transacciones\n\nNO clasificar como PAGOS si:\n- La imagen está en blanco, borrosa o no se distingue contenido claro\n- El contenido es solo texto genérico sin datos de transacción\n- Hay dudas sobre si realmente es un comprobante\n\n## SOPORTE\nUsar en TODOS los demás casos, incluyendo:\n- Errores técnicos o mensajes de error\n- Preguntas sobre el uso de la plataforma\n- Imágenes que no son claramente comprobantes de pago\n- Contenido ambiguo o poco claro\n- Cualquier duda general\n\nContenido a clasificar:\n\"{{ $json.data_para_clasificar }}\"\n\nResponde ÚNICAMENTE con una de estas dos palabras: pagos o soporte"},"id":"2f4ce4d1-e160-4c4c-9308-e49a01217cc4","name":"Clasificador Multimedia","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1,"position":[4672,1984]},{"parameters":{"options":{"temperature":0,"topK":8,"topP":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4704,2176],"id":"fe255ada-9ce4-40cf-a780-ce035f10fe59","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-pagos","leftValue":"={{ ($json.output || $json.text || $json.response || '').toLowerCase().trim() }}","rightValue":"pagos","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"49ddbb4c-c028-46b1-b2f1-439994eb6d20","name":"¿Es Pagos o Soporte?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[5008,1984]},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Hemos recibido tu comprobante y lo estamos procesando. En breve te confirmaremos.\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{}},"id":"c7a6d1cc-ced0-461a-8587-568b4d7891b1","name":"Mensaje Pagos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5216,1840],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Hemos enviado tu consulta a nuestro equipo de soporte. Pronto se pondrán en contacto con vos.\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{}},"id":"c357126f-ce35-419a-b0fe-02d2c133c8a6","name":"Mensaje Soporte","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5216,2128],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"assignments":{"assignments":[{"id":"set-conv-id","name":"conversation_id","type":"number","value":"={{ $json.conversation_id }}"},{"id":"set-contact-id-final","name":"contact_id","type":"number","value":"={{ $json.contact_id }}"}]},"options":{}},"id":"aef08a04-0d12-43e3-8709-d5f0552f7d09","name":"CW - Set Conversation ID","type":"n8n-nodes-base.set","position":[-1376,64],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"conv-abierta","leftValue":"={{ $json.payload.filter(c => c.inbox_id === 2).length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"9051e5db-d3a6-48b4-a3d5-b454c6c9a435","name":"CW - ¿Conversación Abierta?","type":"n8n-nodes-base.if","position":[-2144,80],"typeVersion":2.3},{"parameters":{"assignments":{"assignments":[{"id":"set-conv-nueva","name":"conversation_id","type":"number","value":"={{ $json.id }}"},{"id":"set-contact-nueva","name":"contact_id","type":"number","value":"={{ $json.meta.sender.id }}"}]},"options":{}},"id":"faeed7ff-a94b-4bc7-9006-5e8e29b1a2e1","name":"CW - Set Conv ID (Nueva)","type":"n8n-nodes-base.set","position":[-1584,240],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://chatwoot.larqcr.com/api/v1/accounts/8/conversations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"inbox_id","value":"2"},{"name":"contact_id","value":"={{ $('CW - Set Contact ID (Existente)').isExecuted ? $('CW - Set Contact ID (Existente)').item.json.contact_id : $('CW - Set Contact ID (Nuevo)').item.json.contact_id }}"}]},"options":{}},"id":"8a3fe6da-7eee-401d-9c40-bc0b2e10088b","name":"CW - Crear Conversación Nueva","type":"n8n-nodes-base.httpRequest","position":[-1824,240],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"8XkwN4lfdLWf3I4w","name":"Chatwoot_token"}}},{"parameters":{"assignments":{"assignments":[{"id":"set-conv-existente","name":"conversation_id","type":"number","value":"={{$json.payload.filter(c => c.inbox_id === 2).sort((a,b) => b.id - a.id)[0].id}}"},{"id":"set-contact-existente","name":"contact_id","type":"number","value":"={{$json.payload.filter(c => c.inbox_id === 2).sort((a,b) => b.id - a.id)[0].meta.sender.id}}"}]},"options":{}},"id":"243d474e-bba5-4f4f-8be4-ec58593e57fa","name":"CW - Set Conv ID (Existente)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1776,-64]},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Global Variables').item.json.message_type === 'text' ? $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].text.body : '[Mensaje multimedia]' }}"},{"name":"message_type","value":"incoming"},{"name":"private","value":"false"}]},"options":{}},"id":"01c321df-a4bd-4564-8bb5-1d9f4e340640","name":"CW - Registrar Mensaje Usuario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-912,-80],"credentials":{"httpHeaderAuth":{"id":"8XkwN4lfdLWf3I4w","name":"Chatwoot_token"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message_type","value":"incoming"},{"name":"private","value":"false"},{"name":"content","value":"={{ $('Global Variables').item.json.media_caption || '' }}"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"id":"54a87901-42c3-456c-9484-8157a292429b","name":"CW - Upload Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,784],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"1919febf-c06b-41d1-a02c-1082f2e444e4","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Get Mime Type').item.json.fileTypeCategory }}","rightValue":"image"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"51250085-0cb5-4442-b711-d7ef71c3c927","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Get Mime Type').item.json.fileTypeCategory }}","rightValue":"audio"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"886256b8-5fa1-470a-a161-24a3d9d28285","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Get Mime Type').item.json.fileTypeCategory }}","rightValue":"video"}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"4988d14f-4e3f-4494-96b0-a1a9d70a2787","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Get Mime Type').item.json.fileTypeCategory }}","rightValue":"pdf"}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"}]},"options":{"fallbackOutput":"extra"}},"id":"894ec2ef-466e-4b71-a237-5c9d0e8bdd45","name":"Media Type","type":"n8n-nodes-base.switch","position":[864,2144],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"={{ $('Global Variables').item.json.media_caption ? 'Caption: ' + $('Global Variables').item.json.media_caption + '\\n' : '' }}{{ $('Global Variables').item.json.media_filename ? 'Nombre de archivo: ' + $('Global Variables').item.json.media_filename + '\\n' : '' }}Tipo: {{ $json.fileTypeCategory }}\\nContenido:\\n{{ $json.data }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,2000],"id":"c54b3c98-b754-4d5d-a944-7bc98d582314","name":"get_message (File message) - Imagenes"},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"Hemos recibido tu comprobante y lo estamos procesando. En breve te confirmaremos.","additionalFields":{}},"id":"c8f3839b-67e2-49ee-be34-24aec9364c59","name":"WA - Mensaje Pagos","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[5840,1840],"webhookId":"aa46963b-33ec-48a5-a450-3782c269612a","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"Hemos enviado tu consulta a nuestro equipo de soporte. Pronto se pondrán en contacto con vos.","additionalFields":{}},"id":"d17567c0-2110-4f9c-a00f-4ee9567d4921","name":"WA - Mensaje Soporte","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[5840,2128],"webhookId":"bbeff662-ef8d-4b1c-9ed2-00ad42a2869f","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"19fde453-ca90-448f-b63a-87fc6783e988","name":"CW - Get Labels (Pagos)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5408,1840],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": {{ JSON.stringify($json.payload.concat(['pagos']).filter((v, i, a) => a.indexOf(v) === i)) }}\n}","options":{}},"id":"9512442a-759d-4d23-beb3-5fa74b4bffa6","name":"Etiquetar Pagos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5632,1840],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"71fc6c06-cffc-4488-952c-5834de9336bd","name":"CW - Get Labels (Soporte)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5408,2128],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": {{ JSON.stringify($json.payload.concat(['soporte']).filter((v, i, a) => a.indexOf(v) === i)) }}\n}","options":{}},"id":"fed586d3-54e6-4d1e-9b6f-f7dac49fd97b","name":"Etiquetar Soporte","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5632,2128],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"combinator":"and","conditions":[{"id":"rule-pdf","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"pdf"}]},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"combinator":"and","conditions":[{"id":"rule-video","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"video"}]},"renameOutput":true,"outputKey":"Video"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Imagen"}},"id":"70804d4e-f95b-4525-8563-a3019c578185","name":"Media Message Type","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2864,1984]},{"parameters":{"assignments":{"assignments":[{"id":"msg-pdf-001","name":"message","type":"string","value":"={{ $('Global Variables').item.json.media_caption ? 'Caption: ' + $('Global Variables').item.json.media_caption + '\\n' : '' }}{{ $('Global Variables').item.json.media_filename ? 'Nombre de archivo: ' + $('Global Variables').item.json.media_filename + '\\n' : '' }}Tipo: {{ $json.fileTypeCategory }}\\nContenido:\\n{{ $json.data }}"},{"id":"msg-pdf-002","name":"wa_message","type":"string","value":"Hemos recibido tu documento. Lo analizaremos y te responderemos en breve."}]},"options":{}},"id":"33e3db6d-714c-406d-8ec5-bb337bf8cf30","name":"get_message (PDF)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3056,1760]},{"parameters":{"assignments":{"assignments":[{"id":"msg-video-001","name":"message","type":"string","value":"={{ $('Global Variables').item.json.media_caption ? 'Caption: ' + $('Global Variables').item.json.media_caption + '\\n' : '' }}{{ $('Global Variables').item.json.media_filename ? 'Nombre de archivo: ' + $('Global Variables').item.json.media_filename + '\\n' : '' }}Tipo: {{ $json.fileTypeCategory }}\\nContenido:\\n{{ $json.data }}"},{"id":"msg-video-002","name":"wa_message","type":"string","value":"Hemos recibido tu video. Lo analizaremos y te responderemos en breve."}]},"options":{}},"id":"55a67299-4f27-405f-8c51-a65307a5f331","name":"get_message (Video rama)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3056,1984]},{"parameters":{"assignments":{"assignments":[{"id":"msg-img-001","name":"message","type":"string","value":"={{ $('Global Variables').item.json.media_caption ? 'Caption: ' + $('Global Variables').item.json.media_caption + '\\n' : '' }}{{ $('Global Variables').item.json.media_filename ? 'Nombre de archivo: ' + $('Global Variables').item.json.media_filename + '\\n' : '' }}Tipo: {{ $json.fileTypeCategory }}\\nContenido:\\n{{ $json.data }}"},{"id":"msg-img-002","name":"wa_message","type":"string","value":""}]},"options":{}},"id":"aa71d41b-992a-4345-b4e2-30677cc8ca5a","name":"get_message (Imagen rama)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3056,2240]},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Recibimos tu PDF, lo estamos analizando.\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{}},"id":"7c210752-dd3d-4735-8c9e-37a7ce2e45ad","name":"Mensaje PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,1760],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"Recibimos tu PDF, lo estamos analizando.","additionalFields":{}},"id":"31d876a1-98e6-4f00-8cef-a29fce944acf","name":"WA - Mensaje PDF","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3456,1760],"webhookId":"bbeff662-ef8d-4b1c-9ed2-00ad42a2869f","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Recibimos tu video, lo estamos analizando.\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{}},"id":"2f5605ee-1530-45d1-aa8b-a47741a65c05","name":"Mensaje Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,1984],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"Recibimos tu video, lo estamos analizando.","additionalFields":{}},"id":"ffdb15c7-e74d-42df-8e0e-7d961a72a5e5","name":"WA - Mensaje Video","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3456,1984],"webhookId":"bbeff662-ef8d-4b1c-9ed2-00ad42a2869f","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Recibimos tu imagen, lo estamos analizando.\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{}},"id":"b86ea63d-994f-4fd7-8cb2-78f1320e4ee5","name":"Mensaje Imagen","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,2240],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"Recibimos tu imagen, lo estamos analizando.","additionalFields":{}},"id":"c5512c0b-bbb9-45ad-a7c0-02fea20cc5d3","name":"WA - Mensaje Imagen","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3456,2240],"webhookId":"bbeff662-ef8d-4b1c-9ed2-00ad42a2869f","credentials":{"whatsAppApi":{"id":"XR6ZH7BhzGeSu9kB","name":"WhatsApp account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Agent Response').item.json.reponse }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"id":"02d8c105-3620-46f9-ada0-955ce79ac1af","name":"CW - Registrar Respuesta Bot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8032,960],"credentials":{"httpHeaderAuth":{"id":"8XkwN4lfdLWf3I4w","name":"Chatwoot_token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"is-blocked","leftValue":"={{ $json.propertyName }}","rightValue":"blocked","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-304,80],"id":"d782f06b-3756-463d-bd09-15b3760c5ca1","name":"CW - ¿Bot Bloqueado?"},{"parameters":{"operation":"get","key":"=cw_blocked_{{ $json.conversation_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-512,80],"id":"b50e74dc-9a75-44d9-ad01-266531b9f5e2","name":"CW - Verificar Bloqueo","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"pass-conv-id","name":"conversation_id","type":"number","value":"={{ $('CW - Set Conversation ID').item.json.conversation_id }}"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-704,80],"id":"22cde11f-b024-47c5-914d-664d7fb4f56d","name":"CW - Pasar Conv ID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"is-media","leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"text","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[144,32],"id":"3c9f7cc0-09c9-41c9-b5ca-64414b58863d","name":"¿Es Media? (Bloqueado)"},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $('Global Variables').item.json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,16],"id":"775cd931-bc35-4f7e-82f4-fe34c4f0be98","name":"Descargar Media (Bloqueado)","credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,16],"id":"fb8f54f4-1948-4615-a703-3c19f7083573","name":"Fetch Binary (Bloqueado)","credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  const mimetype = $('Descargar Media (Bloqueado)').first().json.mime_type || '';\n\n  let fileTypeCategory = 'other';\n\n  switch (true) {\n    case mimetype.startsWith('image/'):\n      fileTypeCategory = 'image';\n      break;\n    case mimetype.startsWith('audio/'):\n      fileTypeCategory = 'audio';\n      break;\n    case mimetype.startsWith('video/'):\n      fileTypeCategory = 'video';\n      break;\n    case mimetype === 'application/pdf':\n      fileTypeCategory = 'pdf';\n      break;\n    case mimetype === 'application/vnd.ms-excel':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':\n    case mimetype === 'application/vnd.oasis.opendocument.spreadsheet':\n      fileTypeCategory = 'spreadsheet';\n      break;\n    case mimetype === 'application/msword':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':\n      fileTypeCategory = 'document';\n      break;\n    case mimetype === 'text/plain':\n      fileTypeCategory = 'text';\n      break;\n    case mimetype === 'text/csv':\n      fileTypeCategory = 'csv';\n      break;\n    case mimetype === 'application/json':\n      fileTypeCategory = 'json';\n      break;\n  }\n\n  item.json.fileTypeCategory = fileTypeCategory;\n  item.json.mime_type = mimetype;\n\n  if (item.binary) {\n    const binaryKeys = Object.keys(item.binary);\n    if (binaryKeys.length > 0 && !item.binary.data) {\n      item.binary.data = item.binary[binaryKeys[0]];\n    }\n    if (item.binary.data) {\n      item.binary.data.mimeType = mimetype;\n    }\n  }\n\n  results.push(item);\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,16],"id":"578a2bd0-c0d7-482e-9e19-826a9c0a77b6","name":"Get Mime Type (Bloqueado)"},{"parameters":{"method":"POST","url":"=https://chatwoot.larqcr.com/api/v1/accounts/8/conversations/{{ $('CW - Set Conversation ID').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"message_type","value":"incoming"},{"name":"private","value":"false"},{"name":"content","value":"={{ $('Global Variables').item.json.media_caption || '' }}"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"id":"58499236-29b6-4c86-acb0-f7805197d713","name":"CW - Upload Media (Bloqueado)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,16],"credentials":{"httpHeaderAuth":{"id":"pATyz8aXtFw1DDNO","name":"Chatwoot Token"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"is-text","leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1152,64],"id":"6c6ca80c-69d0-4a15-bb24-fec58fb23f63","name":"¿Es Texto?"},{"parameters":{"workflowId":{"__rl":true,"value":"r3kFVYPzold6KCka","mode":"list","cachedResultUrl":"/workflow/r3kFVYPzold6KCka","cachedResultName":"Chatwoot - Etiquetado Automático"},"workflowInputs":{"mappingMode":"defineBelow","value":{"number":"={{ $('Global Variables').item.json.number }}","user_message":"={{ $('Get Message').item.json.message }}","agent_response":"={{ $json.output }}","conversation_id":"={{ $('CW - Set Conversation ID').item.json.conversation_id }}"},"matchingColumns":[],"schema":[{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"agent_response","displayName":"agent_response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7552,1136],"id":"b423536f-8c50-4d68-afe4-cb0e04a62514","name":"Etiquetar Tema - SubFlow"},{"parameters":{"content":"# Administrador del ciclo de vida de la caché\n\n### Mantiene la conversación activa en Redis durante un período específico (por ejemplo, 300 s) después del último mensaje para garantizar una recuperación de alta velocidad.","height":640,"width":1184,"color":6},"id":"0866466e-b477-4b57-a04f-6af1d9fd6162","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[9328,816],"typeVersion":1},{"parameters":{"content":"# Refinamiento y generación de contexto\n### 1. **Agente refinador:** Resume el historial de chat para ahorrar tokens y reducir la pérdida de contexto.\n\n### 2. **Agente principal:** Genera la respuesta final.\n\n### 3. **Sincronización:** Guarda la interacción tanto en PostgreSQL como en el búfer de Redis.","height":640,"width":2448,"color":6},"id":"38cb9420-91ce-4190-9f68-3bf76110aaeb","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[6672,816],"typeVersion":1},{"parameters":{"content":"# Recuperación de memoria híbrida\n### Estrategia de búsqueda optimizada: Primero consulta Redis (caché rápida) para ver el historial reciente. Si está vacío, recurre a PostgreSQL (almacenamiento permanente).","height":720,"width":1600,"color":6},"id":"1caae2f4-2feb-4424-b43b-ccc6e8364083","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[5008,800],"typeVersion":1},{"parameters":{"content":"# Clasificador Multimedia de Mensajes — Facture.CR\n\n### Recibe el contenido de un mensaje entrante (texto o imagen) y usa Google Gemini para clasificarlo como **pagos** o **soporte**. Según el resultado, envía un mensaje de respuesta automático por WhatsApp y en Chatwoot, y etiqueta la conversación con la categoría correspondiente.","height":752,"width":1424,"color":6},"type":"n8n-nodes-base.stickyNote","position":[4640,1680],"typeVersion":1,"id":"fcdbd123-986e-4899-a41b-546ea3274473","name":"Sticky Note1"},{"parameters":{"content":"# Enrutador de Mensajes Multimedia — Facture.CR\n\n### Detecta el tipo de archivo adjunto recibido (PDF, video o imagen) y envía un mensaje de acuse de recibo tanto por WhatsApp como en Chatwoot, notificando al usuario que el archivo está siendo analizado antes de pasarlo al flujo de clasificación.","height":880,"width":1680,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2480,1616],"typeVersion":1,"id":"b14eca54-9e36-4516-b651-10968a311fe0","name":"Sticky Note3"},{"parameters":{"content":"# Analizador Multimedia con Gemini\n\n### Identifica el tipo de archivo recibido (imagen, audio, video o PDF) y lo procesa con Google Gemini 2.5 Flash según corresponda: analiza imágenes, transcribe audios, describe videos en detalle y extrae texto de PDFs, normalizando el resultado en un campo unificado para su uso posterior.","height":1104,"width":1328,"color":6},"id":"d10f88ae-f60d-4ae5-801e-ca4ed1c73369","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[752,1568],"typeVersion":1},{"parameters":{"content":"# Almacenamiento inteligente de entrada\n### Utiliza Redis para:\n### 1. Agrupar **archivos de álbum** en una sola entrada.\n### 2. Retrasar **los mensajes de texto** (espera X segundos) para evitar respuestas fragmentadas de la IA.","height":896,"width":2080,"color":6},"id":"0939b3c7-7c06-4926-85fc-41a591dec74f","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2816,640],"typeVersion":1},{"parameters":{"content":"# Receptor y Procesador de Mensajes WhatsApp\n\n### Recibe mensajes entrantes de WhatsApp, verifica que no sean enviados por el propio número, y los enruta según su tipo (texto, imagen, audio, video o documento). Para los archivos multimedia, descarga el binario desde la API de Meta, detecta el MIME type y lo sube como adjunto a la conversación correspondiente en Chatwoot.","height":960,"width":1376,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1248,32],"typeVersion":1,"id":"87632dbb-773e-466b-83dd-f21f7b452788","name":"Sticky Note10"},{"parameters":{"content":"# Manejador de Mensajes con Bot Bloqueado\n\n### Detecta si el bot está bloqueado en la conversación de Chatwoot y, de ser así, verifica si el mensaje entrante de WhatsApp contiene un archivo multimedia. En caso afirmativo, lo descarga desde la API de Meta, detecta su MIME type y lo sube directamente a la conversación en Chatwoot sin pasar por el flujo de automatización normal.","height":512,"width":1040,"color":6},"type":"n8n-nodes-base.stickyNote","position":[112,-192],"typeVersion":1,"id":"95c6c9b1-d0a9-4a78-990c-c5db8e38a71d","name":"Sticky Note2"},{"parameters":{"content":"# Gestión de Contactos y Conversaciones en Chatwoot\n\n### Verifica si el webhook corresponde a un mensaje real, busca o crea el contacto en Chatwoot según el número de WhatsApp, localiza o crea la conversación activa en el inbox correcto, registra el mensaje entrante, y finalmente consulta Redis para determinar si el bot está bloqueado en esa conversación antes de continuar el flujo.","height":720,"width":3664,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3760,-160],"typeVersion":1,"id":"333aafa6-8513-477c-a7e8-b5f8263a4bc0","name":"Sticky Note4"},{"parameters":{"content":"# Webhook de Entrada y Variables Globales — WhatsApp\n\n### Recibe el webhook de la API de WhatsApp, responde inmediatamente con un HTTP 200 para confirmar la recepción, y extrae en variables globales los datos clave del mensaje (número, tipo, ID de media, caption, nombre de archivo y parámetros de configuración) para su uso en el resto del flujo.","height":624,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-4720,-128],"typeVersion":1,"id":"a570274f-3c59-446a-966d-a7244d26bfb9","name":"Sticky Note11"},{"parameters":{"content":"# Inicialización de Base de Datos — Chat History\n\n### Se ejecuta manualmente para crear las tablas `mentour_users` y `chat_history` en PostgreSQL, junto con un índice compuesto para optimizar la consulta del historial por usuario y fecha. Solo necesita correrse una vez al configurar el sistema.","height":496,"width":880,"color":3},"id":"87f28462-c2c5-42d2-bb7c-cb5b2d60f894","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-4736,-848],"typeVersion":1},{"parameters":{"content":"# Listener de Eventos Chatwoot — Control del Bot\n\n### Escucha eventos del webhook de Chatwoot y los enruta según su tipo: si la conversación se resuelve, elimina el bloqueo del bot en Redis; si se reabre, lo bloquea por 24 horas; si un agente envía un mensaje saliente, lo reenvía directamente al usuario por WhatsApp; cualquier otro evento se ignora.","height":816,"width":1296,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4816,704],"typeVersion":1,"id":"9a5f3eb6-1ce2-49da-9ef3-0e770ab2235c","name":"Sticky Note12"},{"parameters":{"content":"# Manejador Global de Errores\n\n### Captura errores de cualquier flujo, extrae el nombre del workflow, el nodo fallido, el mensaje de error y el número de WhatsApp del usuario afectado. Si tiene número asociado continúa hacia una acción de notificación; si no, registra el error en un log para revisión.","height":576,"width":1296,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4816,1600],"typeVersion":1,"id":"1c60e150-1e7f-492c-ae66-16011f0666f2","name":"Sticky Note13"},{"parameters":{"options":{"temperature":0.2,"topK":10,"topP":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[6816,1120],"id":"c8d80c56-3580-4525-93d2-0eb47590ca1d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"LVCnW17z5gOXQnKk","name":"Facture API"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Create Table chat_history","type":"main","index":0}]]},"Delete Buffer (chat_history)":{"main":[[{"node":"Delete Buffer (chat_history)2","type":"main","index":0}]]},"Get chat_history":{"main":[[{"node":"Context Refiner","type":"main","index":0}]]},"Buffer (chat_history) Route":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Delete Buffer (chat_history)","type":"main","index":0}],[{"node":"Wait For end of conversation","type":"main","index":0}]]},"Wait For end of conversation":{"main":[[{"node":"Get From Buffer(chat_history)","type":"main","index":0}]]},"Push to Buffer (chat_history)":{"main":[[{"node":"Get From Buffer(chat_history)","type":"main","index":0}]]},"Get From Buffer(chat_history)":{"main":[[{"node":"Buffer (chat_history) Route","type":"main","index":0}]]},"Get chat_history From DataBase":{"main":[[{"node":"Aggregate all Messges","type":"main","index":0}]]},"Aggregate all Messges":{"main":[[{"node":"chat_history in DataBase?","type":"main","index":0}]]},"chat_history In Buffer?":{"main":[[{"node":"Get chat_history","type":"main","index":0}],[{"node":"Get chat_history From DataBase","type":"main","index":0}]]},"Push to chat_history":{"main":[[{"node":"Get chat_history","type":"main","index":0}]]},"Push first message to chat_history":{"main":[[{"node":"Get chat_history","type":"main","index":0}]]},"Get chat_history1":{"main":[[{"node":"chat_history In Buffer?","type":"main","index":0}]]},"chat_history in DataBase?":{"main":[[{"node":"Push to chat_history","type":"main","index":0}],[{"node":"Push first message to chat_history","type":"main","index":0}]]},"Context Refiner":{"main":[[{"node":"Cerebro - SubFlow","type":"main","index":0}]]},"Push message chat_history (User And Agent)":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Add Messages to chat_history (User And Agent)":{"main":[[{"node":"Push to Buffer (chat_history)","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Add Messages to chat_history (User And Agent)","type":"main","index":0}]]},"Normalize Buffer":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Get Message":{"main":[[{"node":"Get chat_history1","type":"main","index":0}]]},"Wait For User Other Fast Message":{"main":[[{"node":"Get From Buffer","type":"main","index":0}]]},"Extract from PDF":{"main":[[{"node":"Text?","type":"main","index":0}]]},"Analyze audio":{"main":[[{"node":"get_message (Audio)","type":"main","index":0}]]},"get_error_message":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Normalize PDF":{"main":[[{"node":"get_message (File message) - Imagenes","type":"main","index":0}]]},"Text?":{"main":[[{"node":"Normalize PDF","type":"main","index":0}]]},"Normalize input":{"main":[[{"node":"Push to Buffer","type":"main","index":0}]]},"Analyze video":{"main":[[{"node":"get_message (Video)","type":"main","index":0}]]},"get_message (Video)":{"main":[[{"node":"get_message (File message) - Imagenes","type":"main","index":0}]]},"get_message (Audio)":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"get_message (Image)":{"main":[[{"node":"get_message (File message) - Imagenes","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"get_message (Image)","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Extraer Datos del Error","type":"main","index":0}]]},"Extraer Datos del Error":{"main":[[{"node":"¿Tiene número?","type":"main","index":0}]]},"¿Tiene número?":{"main":[[{"node":"Enviar Mensaje de Error","type":"main","index":0}],[{"node":"Log Sin Número","type":"main","index":0}]]},"get_message (text)":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Verifica quien escribe":{"main":[[{"node":"No Operation, do  nothing","type":"main","index":0}],[{"node":"Message Type2","type":"main","index":0}]]},"Buffer Route1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Delete Buffer","type":"main","index":0}],[{"node":"Wait For User Other Fast Message","type":"main","index":0}]]},"Get From Buffer":{"main":[[{"node":"Buffer Route1","type":"main","index":0}]]},"Delete Buffer":{"main":[[{"node":"Normalize Buffer","type":"main","index":0}]]},"Push to Buffer":{"main":[[{"node":"Get From Buffer","type":"main","index":0}]]},"Descargar Media":{"main":[[{"node":"Fetch Binary","type":"main","index":0}]]},"Fetch Binary":{"main":[[{"node":"Get Mime Type","type":"main","index":0}]]},"Message Type2":{"main":[[{"node":"get_message (text)","type":"main","index":0}],[{"node":"Descargar Media","type":"main","index":0}],[{"node":"Descargar Media","type":"main","index":0}],[{"node":"Descargar Media","type":"main","index":0}],[{"node":"Descargar Media","type":"main","index":0}],[{"node":"Unsupported Type","type":"main","index":0}]]},"Get Mime Type":{"main":[[{"node":"CW - Upload Media","type":"main","index":0},{"node":"Media Type","type":"main","index":0}]]},"Send Response":{"main":[[{"node":"CW - Registrar Respuesta Bot","type":"main","index":0}]]},"Agent Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Cerebro - SubFlow":{"main":[[{"node":"Agent Response","type":"main","index":0},{"node":"Etiquetar Tema - SubFlow","type":"main","index":0}]]},"Webhook Chatwoot":{"main":[[{"node":"Extraer Datos","type":"main","index":0}]]},"Extraer Datos":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Desbloquear Bot","type":"main","index":0}],[{"node":"Bloquear Bot","type":"main","index":0}],[{"node":"CW - Enviar Mensaje Agente a WA","type":"main","index":0}],[{"node":"Ignorar Evento","type":"main","index":0}]]},"Confirmar recepción":{"main":[[{"node":"Global Variables","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Confirmar recepción","type":"main","index":0}]]},"CW - Buscar Contacto":{"main":[[{"node":"CW - ¿Contacto Existe?","type":"main","index":0}]]},"CW - ¿Contacto Existe?":{"main":[[{"node":"CW - Set Contact ID (Existente)","type":"main","index":0}],[{"node":"CW - Crear Contacto","type":"main","index":0}]]},"CW - Crear Contacto":{"main":[[{"node":"CW - Set Contact ID (Nuevo)","type":"main","index":0}]]},"CW - Set Contact ID (Nuevo)":{"main":[[{"node":"CW - Buscar Conversación Abierta","type":"main","index":0}]]},"CW - Set Contact ID (Existente)":{"main":[[{"node":"CW - Buscar Conversación Abierta","type":"main","index":0}]]},"Global Variables":{"main":[[{"node":"Es un mensaje?","type":"main","index":0}]]},"CW - Buscar Conversación Abierta":{"main":[[{"node":"CW - ¿Conversación Abierta?","type":"main","index":0}]]},"Es un mensaje?":{"main":[[{"node":"CW - Buscar Contacto","type":"main","index":0}]]},"get_message (File message)":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Preparar Datos Archivo":{"main":[[{"node":"Clasificador Multimedia","type":"main","index":0}]]},"Clasificador Multimedia":{"main":[[{"node":"¿Es Pagos o Soporte?","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Clasificador Multimedia","type":"ai_languageModel","index":0}]]},"¿Es Pagos o Soporte?":{"main":[[{"node":"Mensaje Pagos","type":"main","index":0}],[{"node":"Mensaje Soporte","type":"main","index":0}]]},"Mensaje Pagos":{"main":[[{"node":"CW - Get Labels (Pagos)","type":"main","index":0}]]},"Mensaje Soporte":{"main":[[{"node":"CW - Get Labels (Soporte)","type":"main","index":0}]]},"CW - Set Conversation ID":{"main":[[{"node":"¿Es Texto?","type":"main","index":0}]]},"CW - ¿Conversación Abierta?":{"main":[[{"node":"CW - Set Conv ID (Existente)","type":"main","index":0}],[{"node":"CW - Crear Conversación Nueva","type":"main","index":0}]]},"CW - Set Conv ID (Nueva)":{"main":[[{"node":"CW - Set Conversation ID","type":"main","index":0}]]},"CW - Crear Conversación Nueva":{"main":[[{"node":"CW - Set Conv ID (Nueva)","type":"main","index":0}]]},"CW - Set Conv ID (Existente)":{"main":[[{"node":"CW - Set Conversation ID","type":"main","index":0}]]},"CW - Registrar Mensaje Usuario":{"main":[[{"node":"CW - Pasar Conv ID","type":"main","index":0}]]},"CW - Upload Media":{"main":[[]]},"Media Type":{"main":[[{"node":"Analyze Image","type":"main","index":0}],[{"node":"Analyze audio","type":"main","index":0}],[{"node":"Analyze video","type":"main","index":0}],[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"get_error_message","type":"main","index":0}]]},"get_message (File message) - Imagenes":{"main":[[{"node":"Media Message Type","type":"main","index":0}]]},"CW - Get Labels (Pagos)":{"main":[[{"node":"Etiquetar Pagos","type":"main","index":0}]]},"CW - Get Labels (Soporte)":{"main":[[{"node":"Etiquetar Soporte","type":"main","index":0}]]},"Etiquetar Soporte":{"main":[[{"node":"WA - Mensaje Soporte","type":"main","index":0}]]},"Etiquetar Pagos":{"main":[[{"node":"WA - Mensaje Pagos","type":"main","index":0}]]},"Media Message Type":{"main":[[{"node":"get_message (PDF)","type":"main","index":0}],[{"node":"get_message (Video rama)","type":"main","index":0}],[{"node":"get_message (Imagen rama)","type":"main","index":0}]]},"get_message (Video rama)":{"main":[[{"node":"Mensaje Video","type":"main","index":0}]]},"Mensaje PDF":{"main":[[{"node":"WA - Mensaje PDF","type":"main","index":0}]]},"Mensaje Video":{"main":[[{"node":"WA - Mensaje Video","type":"main","index":0}]]},"Mensaje Imagen":{"main":[[{"node":"WA - Mensaje Imagen","type":"main","index":0}]]},"WA - Mensaje Imagen":{"main":[[{"node":"Preparar Datos Archivo","type":"main","index":0}]]},"WA - Mensaje Video":{"main":[[{"node":"Preparar Datos Archivo","type":"main","index":0}]]},"WA - Mensaje PDF":{"main":[[{"node":"Preparar Datos Archivo","type":"main","index":0}]]},"get_message (PDF)":{"main":[[{"node":"Mensaje PDF","type":"main","index":0}]]},"get_message (Imagen rama)":{"main":[[{"node":"Mensaje Imagen","type":"main","index":0}]]},"CW - Registrar Respuesta Bot":{"main":[[{"node":"Push message chat_history (User And Agent)","type":"main","index":0}]]},"CW - ¿Bot Bloqueado?":{"main":[[{"node":"¿Es Media? (Bloqueado)","type":"main","index":0}],[{"node":"Verifica quien escribe","type":"main","index":0}]]},"CW - Verificar Bloqueo":{"main":[[{"node":"CW - ¿Bot Bloqueado?","type":"main","index":0}]]},"CW - Pasar Conv ID":{"main":[[{"node":"CW - Verificar Bloqueo","type":"main","index":0}]]},"¿Es Media? (Bloqueado)":{"main":[[{"node":"Descargar Media (Bloqueado)","type":"main","index":0}]]},"Descargar Media (Bloqueado)":{"main":[[{"node":"Fetch Binary (Bloqueado)","type":"main","index":0}]]},"Fetch Binary (Bloqueado)":{"main":[[{"node":"Get Mime Type (Bloqueado)","type":"main","index":0}]]},"Get Mime Type (Bloqueado)":{"main":[[{"node":"CW - Upload Media (Bloqueado)","type":"main","index":0}]]},"¿Es Texto?":{"main":[[{"node":"CW - Registrar Mensaje Usuario","type":"main","index":0}],[{"node":"CW - Pasar Conv ID","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Context Refiner","type":"ai_languageModel","index":0}]]}},"authors":"Diego diereyescarv@gmail.com","name":"Version b1835967","description":"","autosaved":true},"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}