workflows/toDeploy - Agente WhatsApp + Citas Google Calendar.json
{"updatedAt":"2026-04-26T02:45:11.525Z","createdAt":"2026-04-03T18:47:00.189Z","id":"i9nKzYJPiLpGXrZh","name":"toDeploy - Agente WhatsApp + Citas Google Calendar","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $json.Name }}","remoteJid":"={{ $json.Number }}","messageId":"={{ $json.ID }}"},"id":"1067d131-0dc8-4e3b-be0f-be13f8473e6f","name":"Read Messages","type":"n8n-nodes-evolution-api.evolutionApi","position":[1888,-672],"typeVersion":1,"credentials":{"evolutionApi":{"id":"j76R7wOdNBRPVdNm","name":"Evolution account"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $json.Name }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $json.ID }}","remoteJid":"={{ $json.Number }}"},"id":"d17fcd7e-a82f-4e92-b3a5-f79739082161","name":"Open session","type":"n8n-nodes-evolution-api.evolutionApi","position":[1888,-864],"typeVersion":1,"credentials":{"evolutionApi":{"id":"j76R7wOdNBRPVdNm","name":"Evolution account"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('When Executed by Another Workflow').item.json.Name }}","remoteJid":"={{ $('When Executed by Another Workflow').item.json.Number }}","delay":10200},"id":"659f4396-3fd2-4087-ac1c-cf6041342ff5","name":"Writting...","type":"n8n-nodes-evolution-api.evolutionApi","position":[2096,-480],"typeVersion":1,"credentials":{"evolutionApi":{"id":"j76R7wOdNBRPVdNm","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS mentour_users (\n    whatsapp_number VARCHAR(25) PRIMARY KEY,\n    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);\nCREATE TABLE IF NOT EXISTS chat_history (\n    -- Unique identifier for each individual message\n    message_id BIGSERIAL PRIMARY KEY,\n\n    -- Link to the user involved in the conversation\n    user_whatsapp_number VARCHAR(25) NOT NULL REFERENCES mentour_users(whatsapp_number) ON DELETE CASCADE,\n\n    -- The text content of the message\n    message_text TEXT NOT NULL,\n\n    -- The exact time the message was sent/received\n    message_timestamp TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n    \n    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);\n\n-- Optimization: A composite index to very quickly retrieve a user's chat history in chronological order.\nCREATE INDEX IF NOT EXISTS idx_chat_history_user_timestamp \nON chat_history (user_whatsapp_number, message_timestamp);","options":{}},"id":"b3444267-0d72-4db6-8701-e5ee33e43423","name":"Create Table chat_history","type":"n8n-nodes-base.postgres","position":[1776,-1200],"typeVersion":2.6,"credentials":{"postgres":{"id":"BZ5q2rgXCNddAxI2","name":"Postgres account"}}},{"parameters":{},"id":"e6675446-b287-466a-b408-b0c35657601d","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[1600,-1200],"typeVersion":1},{"parameters":{"workflowInputs":{"values":[{"name":"Name"},{"name":"Number"},{"name":"ID"}]}},"id":"fc4819e4-bb1b-4612-80c0-a3d952d64b29","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1648,-656],"typeVersion":1.1},{"parameters":{},"id":"14ab269e-1df8-425e-8194-28bc9fa0e526","name":"Wait","type":"n8n-nodes-base.wait","position":[1888,-480],"webhookId":"65187612-7e5b-4a76-8465-7bd694e3e172","typeVersion":1.1},{"parameters":{"content":"## 1. Database Setup\nCreates the `chat_history` table in PostgreSQL. Execute this node manually **once** before activating the workflow.","height":320,"width":512,"color":7},"id":"ce3c124d-71f3-4eab-b8f7-17a1e4295f4e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1520,-1328],"typeVersion":1},{"parameters":{"content":"## 2. Parallel UX Handling\nManages user experience (Read receipts, 'Typing...' status) in parallel using a sub-workflow to avoid adding latency to the main AI processing logic.","height":688,"width":832,"color":7},"id":"37791d47-b025-4162-90b2-dd56f64dbe95","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1520,-960],"typeVersion":1},{"parameters":{"content":"## Advanced Evolution API Agent with Redis Buffering & Context Refinement\n\nThis production-ready template builds a high-performance WhatsApp chatbot using Evolution API. It solves common AI bot issues—latency, fragmented messages, and token costs—by implementing a hybrid memory architecture (Redis + PostgreSQL) and a multi-stage AI pipeline.\n\n### How it works\n1. **Parallel Ingestion:** The workflow triggers on new messages via Evolution API. A parallel branch immediately handles \"typing...\" status and read receipts to optimize perceived latency.\n2. **Intelligent Buffering:** Incoming messages are routed to Redis buffers. The system distinguishes between **Media Albums** (waiting for all files) and **Rapid Texts** (debouncing inputs for 5s) to consolidate user intent into a single prompt.\n3. **Hybrid Memory Retrieval:** Chat history is fetched from Redis (hot cache) for speed. If the cache expires, it falls back to PostgreSQL (persistent storage).\n4. **Context Optimization:** A fast \"Context Refiner\" model distills the chat history, passing only relevant context to the Main Agent. This prevents \"context rot\" and reduces token costs.\n5. **Execution & Sync:** The Main Agent generates the response. Finally, the conversation is saved to PostgreSQL and refreshed in the Redis cache.\n\n### Setup\n**Install the Node:** Go to `Settings &gt; Community Nodes` in n8n and install `n8n-nodes-evolution-api`.\n**Credentials:** Configure credentials for Redis, PostgreSQL, and your AI provider (e.g., OpenAI/Gemini).\n**Database:** Execute the \"Create Table\" node once to initialize the `chat_history` table in PostgreSQL.\n**Evolution API:** Set your `instanceName` and `apikey` in the Webhook node.\n**Configuration:** Adjust parameters in the \"Global Variables\" node (Buffer Wait Time, Cache TTL, History Limit).\n-Models:** Select a fast model for the Context Refiner and a capable model for the Main Agent.","height":1024,"width":614},"id":"2f282bd4-f072-4327-a55c-286455b8bbd2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[768,-1424],"typeVersion":1},{"parameters":{"operation":"delete","key":"=Chats_{{  $('Global Variables').item.json.number }}"},"id":"f1e8da49-8f2e-42d6-b1ec-8e8bbea2905e","name":"Delete Buffer (chat_history)","type":"n8n-nodes-base.redis","position":[10240,1216],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"d0f3b823-dda9-42e9-936b-4ca4123026ca","name":"history","type":"string","value":"={{ $json.propertyName.slice(-$('Global Variables').item.json.max_chat_history).join('\\n') }}"}]},"options":{}},"id":"5fc09a47-f694-45a7-b77a-127753d4b6ee","name":"Get chat_history","type":"n8n-nodes-base.set","position":[6448,1104],"typeVersion":3.4},{"parameters":{},"id":"9ce1f0ea-f907-40b4-95a5-fb1b5ac72690","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","position":[10240,1072],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f11a017f-dc64-4db4-9836-d13d164a62cf","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ JSON.parse($json.message.last()).sessionID }}","rightValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","operator":{"type":"dateTime","operation":"before"},"leftValue":"={{ JSON.parse($json.message.last()).date_time }}","rightValue":"={{ $now.minus($('Global Variables').item.json.wait_conversation, 'seconds') }}"}]},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"id":"7f09d459-bede-4e2b-bdae-a62274aa475a","name":"Buffer (chat_history) Route","type":"n8n-nodes-base.switch","position":[9984,1088],"typeVersion":3.2},{"parameters":{"amount":"={{ $('Global Variables').item.json.wait_conversation }}"},"id":"e0881479-ea32-44c4-98bd-08d7b5cb4074","name":"Wait For end of conversation","type":"n8n-nodes-base.wait","position":[10240,1392],"webhookId":"06711a97-b08d-4552-aab8-868b1b8bbc5c","typeVersion":1.1},{"parameters":{"operation":"push","list":"=Chats_buffer{{  $('Global Variables').item.json.number }}","messageData":"={{ JSON.stringify({\n  sessionID : $('Webhook').item.json.body.data.key.id,\n  date_time : $node[\"Webhook\"].json.body.data.messageTimestamp.toDateTime('s')\n}) }}\n","tail":true},"id":"1412b38d-76a8-4e58-a8a4-252920eaa15a","name":"Push to Buffer (chat_history)","type":"n8n-nodes-base.redis","position":[9552,1104],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","propertyName":"message","key":"=Chats_buffer{{  $('Global Variables').item.json.number }}","options":{}},"id":"43588410-147d-4180-8484-643036637168","name":"Get From Buffer(chat_history)","type":"n8n-nodes-base.redis","position":[9792,1104],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"delete","key":"=Chats_buffer{{  $('Global Variables').item.json.number }}"},"id":"2cbf6907-d255-4c9d-ae9a-e24be32f2cba","name":"Delete Buffer (chat_history)2","type":"n8n-nodes-base.redis","position":[10432,1216],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"chat_history","cachedResultName":"chat_history"},"limit":"={{ $('Global Variables').item.json.max_chat_history }}","where":{"values":[{"column":"user_whatsapp_number","value":"={{ $('Global Variables').item.json.number }}"}]},"options":{"outputColumns":["message_text"]}},"id":"5566098c-ea7e-44fa-8efa-b5622747f83e","name":"Get chat_history From DataBase","type":"n8n-nodes-base.postgres","position":[5504,1376],"retryOnFail":true,"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message_text"}]},"options":{}},"id":"6284ae73-a25d-4a3b-83fe-f555f71f2428","name":"Aggregate all Messges","type":"n8n-nodes-base.aggregate","position":[5696,1376],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"761329c9-499f-4328-bc11-835edcfd003c","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.propertyName[0] }}","rightValue":""}]},"options":{}},"id":"b5d2eef2-5234-4730-92c1-9d365d7bc8c1","name":"chat_history In Buffer?","type":"n8n-nodes-base.if","position":[5328,1120],"typeVersion":2.2},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"={{ $json.message_text.join('\\n') }}","tail":true},"id":"ee603bee-8dfb-407a-95f1-f5ce12eb7017","name":"Push to chat_history","type":"n8n-nodes-base.redis","position":[6112,1280],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"=.","tail":true},"id":"54d80349-07d8-4c3b-ad2f-1c738cf0d30d","name":"Push first message to chat_history","type":"n8n-nodes-base.redis","position":[6112,1472],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","key":"=Chats_{{  $('Global Variables').item.json.number }}","options":{}},"id":"5e9333d8-d1f3-425f-8119-a327511f2cea","name":"Get chat_history1","type":"n8n-nodes-base.redis","position":[5088,1120],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"18946671-190b-43d9-a88f-810184127ed2","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message_text }}","rightValue":""}]},"options":{}},"id":"64537221-a4dd-4140-a9c5-ef66a8422880","name":"chat_history in DataBase?","type":"n8n-nodes-base.if","position":[5904,1376],"typeVersion":2.3},{"parameters":{"content":"## 6. Hybrid Memory Retrieval\nOptimized fetch strategy: Checks Redis (fast cache) for recent history first. If empty, falls back to PostgreSQL (permanent storage).","height":720,"width":1600,"color":7},"id":"c5c3b38a-f6d4-400a-b50d-a6d0c8e68511","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[5024,976],"typeVersion":1},{"parameters":{"content":"## 8. Cache Lifecycle Manager\nKeeps the conversation active in Redis for a specific duration (e.g., 300s) after the last message to ensure high-speed retrieval.","height":640,"width":1184,"color":7},"id":"99b13ac4-fa84-4cdd-b47c-c99588c1c23a","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[9472,960],"typeVersion":1},{"parameters":{"promptType":"define","text":"=<Chat_History>\n{{ $json.history }}\n</Chat_History>\n\n<Current_User_Input>\n{{ $('Get Message').item.json.message }}\n</Current_User_Input>","messages":{"messageValues":[{"message":"=# SYSTEM ROLE\nYou are a Context Retrieval Processor for a customer service system. \nYou are a backend component, NOT a conversational assistant.\n\n# CONTEXT\nThe system handles WhatsApp conversations for Facture.CR, a billing \nplatform. Conversations may involve multiple specialized agents: \nSoporte, Ventas, Pagos, Hardware, Marketing, Escalamiento.\n\n# INPUTS\n1. <CHAT_HISTORY>: Previous conversation turns with format \n   \"User: ... / Agent: ...\"\n2. <CURRENT_INPUT>: The user's latest message.\n3. <ACTIVE_AGENT>: The agent currently handling the conversation.\n\n# OBJECTIVE\nExtract ONLY the facts from <CHAT_HISTORY> that are directly \nrelevant to answering <CURRENT_INPUT> within the scope of \n<ACTIVE_AGENT>.\n\n# RULES\n1. If input is a greeting or standalone question with no \n   historical dependency → return empty string.\n2. Only extract context relevant to the ACTIVE_AGENT's domain.\n   Ignore history from other agent domains.\n3. Resolve pronouns (\"it\", \"that one\", \"the same\") using history.\n4. Connect file references to their extracted data.\n5. Ignore pleasantries and metadata.\n6. Maximum output: 3-5 sentences of pure facts.\n7. Never mention agent names, workflow names, or internal systems.\n\n# OUTPUT\nPlain text facts only. Empty string if nothing relevant.\n\n# LANGUAGE Always output in the same language as the <CHAT_HISTORY> content."}]},"batching":{}},"id":"3d884da7-132a-445c-89e4-e8b71d5d76d7","name":"Context Refiner","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[6832,1104],"typeVersion":1.7},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}","tail":true},"id":"d913e2c8-f255-4ba4-95b7-e46fcdf857e6","name":"Push message chat_history (User And Agent)","type":"n8n-nodes-base.redis","position":[8400,1104],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"chat_history","cachedResultName":"chat_history"},"columns":{"value":{"message_text":"=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}","user_whatsapp_number":"={{ $('Global Variables').item.json.number }}"},"schema":[{"id":"message_id","type":"number","display":true,"removed":true,"required":false,"displayName":"message_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_whatsapp_number","type":"string","display":true,"required":true,"displayName":"user_whatsapp_number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"message_text","type":"string","display":true,"required":true,"displayName":"message_text","defaultMatch":false,"canBeUsedToMatch":true},{"id":"message_timestamp","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"message_timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"created_at","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"created_at","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"5fe20734-9be6-45be-ab77-ce5bf8e8fec6","name":"Add Messages to chat_history (User And Agent)","type":"n8n-nodes-base.postgres","position":[8912,1104],"typeVersion":2.6,"credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"content":"## 7. Context Refinement & Generation\n1. **Refiner Agent:** Summarizes chat history to save tokens and reduce context rot.\n2. **Main Agent:** Generates the final response.\n3. **Sync:** Saves the interaction to both PostgreSQL and the Redis buffer.","height":608,"width":2448,"color":7},"id":"9f6c5394-7576-4cea-a897-49146bb7aee6","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[6752,896],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"INSERT INTO mentour_users (whatsapp_number)\nVALUES ('{{ $('Global Variables').item.json.number }}')\nON CONFLICT (whatsapp_number) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8624,1104],"id":"dd76e202-f0be-4dc3-92bb-51a77e6f9190","name":"Execute a SQL query","credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{"maxTokens":1000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[6848,1360],"id":"25c60fc0-e6d2-460d-aef6-44646f88be12","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"workflowId":{"__rl":true,"value":"r3kFVYPzold6KCka","mode":"list","cachedResultUrl":"/workflow/r3kFVYPzold6KCka","cachedResultName":"Chatwoot - Etiquetado Automático"},"workflowInputs":{"mappingMode":"defineBelow","value":{"number":"={{ $('Global Variables').item.json.number }}","user_message":"={{ $('Get Message').item.json.message }}","agent_response":"={{ $('Agent Response').item.json.reponse }}"},"matchingColumns":[],"schema":[{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"agent_response","displayName":"agent_response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[8048,736],"id":"6e6ea862-1f72-4d76-8894-2e7d3c8376b1","name":"Chatwoot - Etiquetado Automático"},{"parameters":{"assignments":{"assignments":[{"id":"b594f1da-51e8-47a4-a636-7928a73b69f8","name":"message","type":"string","value":"={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}"}]},"options":{}},"id":"e3b105fb-c78e-4828-88d4-7820bdc544d4","name":"Normalize Buffer","type":"n8n-nodes-base.set","position":[4400,1296],"typeVersion":3.4},{"parameters":{},"id":"6e56a335-9d30-4b79-a9e0-cf64747d5d7d","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[4192,1136],"typeVersion":1},{"parameters":{"operation":"push","list":"=Media_{{  $('Global Variables').item.json.number }}","messageData":"={{ ($('Webhook').item.json.body.data.message.albumMessage.expectedImageCount + $('Webhook').item.json.body.data.message.albumMessage.expectedVideoCount).toString() }}","tail":true},"id":"351bcddd-f2cb-4f0c-99e2-3e59b58ae645","name":"Push to Buffer (AlbumGroup)","type":"n8n-nodes-base.redis","position":[2080,592],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","key":"=Media_{{  $('Global Variables').item.json.number }}","options":{}},"id":"eb96e6ac-80ec-4955-95af-411860d2a27e","name":"Check AlbumGroup","type":"n8n-nodes-base.redis","position":[3152,1296],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"push","list":"=Media_{{  $('Global Variables').item.json.number }}","messageData":"={{ $('Normalize input').item.json.message }}","tail":true},"id":"b5d908f6-18ee-4f22-b94a-757b13698612","name":"Push Media to Buffer","type":"n8n-nodes-base.redis","position":[3568,976],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"131b95f2-cb9f-4d8c-9c2b-ca94383322dd","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.propertyName.length-1 }}","rightValue":"={{ parseInt($json.propertyName[0]) }}"}]},"options":{}},"id":"e7ce2384-45dd-4558-a6d5-318cb7784de5","name":"Completed?","type":"n8n-nodes-base.if","position":[3968,976],"typeVersion":2.2},{"parameters":{"operation":"delete","key":"=Media_{{  $('Global Variables').item.json.number }}"},"id":"cb01f474-c76e-4dd4-b50a-6ea774753355","name":"Delete Media Buffer","type":"n8n-nodes-base.redis","position":[4192,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"b594f1da-51e8-47a4-a636-7928a73b69f8","name":"message","type":"string","value":"={{ $json.propertyName.slice(1).join('\\n') }}"}]},"options":{}},"id":"63db01b7-8c98-4b0c-a27f-30026371b47a","name":"Normalize MediaGroup Buffer","type":"n8n-nodes-base.set","position":[4400,960],"typeVersion":3.4},{"parameters":{"operation":"get","key":"=Media_{{  $('Global Variables').item.json.number }}","options":{}},"id":"c6fdddfd-8614-4735-a891-a23cfc968b8c","name":"Get Album From Buffer","type":"n8n-nodes-base.redis","position":[3776,976],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9062d3ba-1151-472f-95e0-42f54cbfb929","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.propertyName }}","rightValue":""}]},"options":{}},"id":"4dd029a2-5c13-4121-a35b-4d78e15867fe","name":"Album?","type":"n8n-nodes-base.if","position":[3360,1120],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"f6d7accb-8ef6-4c41-9b0a-9e0b4301dffd","name":"message","type":"string","value":"={{ $json.message || $json.chatInput }}"}]},"options":{}},"id":"a4728a9e-d3e2-4f09-a6cf-285951761002","name":"Get Message","type":"n8n-nodes-base.set","position":[4688,1120],"typeVersion":3.4},{"parameters":{"amount":"={{ $('Global Variables').item.json.wait_buffer }}"},"id":"a5477219-2922-4140-b95d-b363e0366e32","name":"Wait For User Other Fast Message","type":"n8n-nodes-base.wait","position":[4192,1456],"webhookId":"9b345d41-1595-4bc3-bb98-64e44682aa43","typeVersion":1.1},{"parameters":{"operation":"fromJson","options":{}},"id":"15332cc4-f9f6-4ff7-aa91-5c4c3f61e0d5","name":"Extract from JSON","type":"n8n-nodes-base.extractFromFile","position":[1280,2272],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"9573be8a-cd22-4580-b451-c36799b23e6c","name":"Extract from PDF","type":"n8n-nodes-base.extractFromFile","position":[1280,2448],"typeVersion":1},{"parameters":{"resource":"audio","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"text":"# Transcribe verbatim the spoken content of this audio. \n\n# Output ONLY the transcribed text, nothing else.\n\n# No analysis, no descriptions, no metadata.\n\n# If no speech is detected, output: [No speech detected]","inputType":"binary","options":{}},"id":"8b4059e9-e710-4f9b-9d01-580f72ed5207","name":"Analyze audio","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1280,1968],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"PLbZSbWgTnpFS3jY","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"={{ $('Descargar Media').item.json.data?.caption ? \"Captions: \" + $('Descargar Media').item.json.data.caption : \"\" }}\nFile name:{{ $('Descargar Media').item.json.data.fileName }}\nFile type:{{ $('Get Mime Type').item.json.fileTypeCategory }}\nExtracted data from file:\n{{ $json.data }}"}]},"options":{}},"id":"732c5431-2d68-4ff7-ae99-8f53d9d6ed01","name":"get_message (File message)","type":"n8n-nodes-base.set","position":[2112,2256],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"=It was not possible to process the file.File type not supported."}]},"options":{}},"id":"60c7c243-2ed1-42d0-8641-edebb866f9e0","name":"get_error_message","type":"n8n-nodes-base.set","position":[1376,2608],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"24b93984-e305-4c11-a856-5fa0bfaaaa79","name":"data","type":"string","value":"={{ $json.data }}"}]},"options":{}},"id":"e1fbbd5d-1d58-4a12-bedb-1b72cf280c71","name":"Normalize JSON","type":"n8n-nodes-base.set","position":[1456,2272],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"24b93984-e305-4c11-a856-5fa0bfaaaa79","name":"data","type":"string","value":"={{ $json.text }}"}]},"options":{}},"id":"8196d428-6820-42d6-b82e-f0ed2a2fd0a6","name":"Normalize PDF","type":"n8n-nodes-base.set","position":[1616,2432],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"333a436f-c087-4250-a181-40657874959b","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.text }}","rightValue":""}]},"options":{}},"id":"496f796d-a90e-476e-96a9-cc98f56ad7a6","name":"Text?","type":"n8n-nodes-base.if","position":[1456,2448],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"eb807b26-c415-42d2-9cef-707825d6fa82","name":"message","type":"string","value":"={{ $json.message }}"}]},"options":{}},"id":"0b3f0fcb-3271-47ea-91aa-4cf5f9712dd8","name":"Normalize input","type":"n8n-nodes-base.set","position":[2960,1296],"typeVersion":3.4},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"id":"d3159b47-b9be-4d47-8be1-2eba23988af7","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[544,2256],"typeVersion":1.1},{"parameters":{"resource":"video","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"text":"### IDENTITY & CORE MISSION\nYou are Scrutator, a world-class multimedia analysis engine. Your sole purpose is to deconstruct any given video file into its most fundamental visual, auditory, and temporal components, providing a single, comprehensive, and hyper-detailed textual description. Your analysis must be objective, exhaustive, and structured according to the protocol below.\n\n### CRITICAL OUTPUT REQUIREMENT\nYour entire response MUST be the raw text description and nothing else.\n- DO NOT include preambles like \"Here is the analysis of the video.\"\n- DO NOT use markdown formatting like headers or bolding.\n- DO NOT apologize for limitations or mention that you are an AI.\n- Your output must begin directly with the analysis.\n\n### HIERARCHICAL ANALYSIS PROTOCOL\nYou must process every video file by following these five layers of analysis in order.\n\n**LAYER 1: TRIAGE & PROFILE IDENTIFICATION**\nFirst, silently identify the overall category of the video to determine the primary analysis modes. Categories include: [User Instruction/Vlog], [Document Scan/Presentation], [Food/Cooking Demo], [Cinematic/Narrative Clip], [Event Recording], [Environmental Scene]. State the identified category at the beginning of your description. Example: \"Category: User Instruction/Vlog.\"\n\n**LAYER 2: DUAL-STREAM DECONSTRUCTION (VISUAL & AUDITORY)**\nAnalyze the visual and audio streams in parallel, noting their interplay.\n\n**A. VISUAL STREAM ANALYSIS:**\nApply the full image analysis protocol to the video's visual content. Describe how these elements **evolve or change throughout the video's duration**.\n*   **Primary Subject(s):** Identify and analyze the main subjects (e.g., a person, a plate of food, a document).\n    *   **If Food:** Identify the dish, all ingredients, cooking methods, and portion size. Describe any actions performed on the food (e.g., \"slicing,\" \"sautéing,\" \"plating\").\n    *   **If Document/Receipt:** State that a document is present and that a full OCR transcription will follow in the audio stream analysis if the user reads it, or in the temporal analysis if it's held up to the camera.\n    *   **If Person:** Describe demographics, appearance, clothing, and actions.\n*   **Background & Context:** Detail the environment, secondary objects, and their spatial relationships.\n\n**B. AUDITORY STREAM ANALYSIS:**\nApply the full audio analysis protocol to the video's soundtrack.\n*   **Primary Content:**\n    *   **If Human Speech:** Provide a **verbatim transcription** with speaker diarization (\"Speaker 1:\", \"Speaker 2:\"). Analyze each speaker's vocal profile, emotional tone, and pragmatic intent (e.g., \"The user's intent is to issue a direct command to the agent\").\n    *   **If Music:** Identify genre, instrumentation, and mood.\n    *   **If Environmental Sounds:** Catalog all distinct sound sources.\n*   **Acoustic Environment & Technical Quality:** Describe background noise, reverberation, and recording quality.\n\n**LAYER 3: TEMPORAL & MOTION ANALYSIS (THE NARRATIVE OF CHANGE)**\nThis is the most critical layer for video. Deconstruct the sequence of events over time.\n*   **Scene & Shot Log:** Create a chronological log of events. Use timestamps to denote significant changes in action, subject, or camera angle.\n    *   **Format Example:**\n        `[00:00-00:03] - Close-up shot of a hand holding a grocery receipt. The camera is slightly shaky.`\n        `[00:04-00:09] - The user (Speaker 1) begins reading the items from the receipt aloud. The camera pans down the list of items.`\n        `[00:10-00:12] - Cut to a wide shot of the kitchen counter, showing the grocery items mentioned.`\n        `[00:13-00:15] - The user points to a carton of orange juice and asks a question.`\n*   **Object & Subject Tracking:** Describe the movement and actions of the primary subjects. (e.g., \"The user walks from the left to the right of the frame, placing a milk carton on the table.\").\n*   **Camera Work:** Describe all camera movements (e.g., \"static tripod shot,\" \"handheld with noticeable shake,\" \"slow pan left,\" \"quick zoom-in on the product label\").\n*   **Editing & Post-Production:** Identify editing techniques. Describe the pacing (e.g., \"fast-paced with quick cuts,\" \"long, uninterrupted take\"), transitions (e.g., \"hard cut,\" \"fade to black,\" \"dissolve\"), and any on-screen graphics, text overlays, or subtitles.\n\n**LAYER 4: TECHNICAL FILE ANALYSIS**\nBriefly describe the technical characteristics of the video file itself.\n*   **Video Quality:** Infer the resolution and clarity (e.g., \"High-definition 1080p,\" \"Standard-definition 480p,\" \"low-resolution, heavily compressed\").\n*   **Frame Rate:** Describe the motion smoothness (e.g., \"smooth 30/60fps,\" \"choppy/low frame rate\").\n*   **Audio-Visual Sync:** Confirm if the audio and video are properly synchronized.\n\n**LAYER 5: INFERENCE & SYNTHESIS**\nConclude with a holistic synthesis of all layers. What is the overall story, context, and purpose of this video?\n*   **Example (User Instruction):** \"This is a user-generated instructional video, recorded on a smartphone. The user is providing a multi-modal command by both showing a receipt and verbally asking the agent to process specific items from it. The intent is direct and task-oriented.\"\n*   **Example (Cooking Demo):** \"This is a segment from a well-edited cooking tutorial. The combination of close-up shots, clear vocal instructions, and background music is designed to be educational and engaging.\"\n*   **Example (Event Recording):** \"This is an amateur, handheld recording of a live music performance in a small, crowded venue, capturing both the performance and the audience's reaction.\"","inputType":"binary","options":{}},"id":"034acb34-5f45-4140-b459-9a461ab96b86","name":"Analyze video","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1280,2128],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"PLbZSbWgTnpFS3jY","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"}]},"options":{}},"id":"b67f05e1-0c1c-4db2-81b9-e0fcbb712793","name":"get_message (Video)","type":"n8n-nodes-base.set","position":[1456,2128],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"}]},"options":{}},"id":"f9099bf5-4ccb-4239-ac64-38655d338646","name":"get_message (Audio)","type":"n8n-nodes-base.set","position":[1456,1968],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media description: {{ $json.content.parts[0].text }}"}]},"options":{}},"id":"ac443e7d-8708-4930-b173-8d26e693b8ed","name":"get_message (Image)","type":"n8n-nodes-base.set","position":[1456,1808],"typeVersion":3.4},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  // --- IMPORTANTE ---\n  // Asumimos que el MIME type está en esta ruta.\n  // ¡Verifica que 'item.json.data.mimetype' es correcto para tus datos!\n  // Podría ser 'item.json.mimetype' o similar.\n  const mimetype = $('Descargar Media').first().json.data.mimetype || '';\n\n  let fileTypeCategory = 'other'; // Valor por defecto para tipos no reconocidos\n\n  // Usamos switch(true) para evaluar diferentes condiciones basadas en el mimetype\n  switch (true) {\n    // === Imágenes ===\n    case mimetype.startsWith('image/'):\n      fileTypeCategory = 'image';\n      break;\n\n    // === Audio ===\n    // Incluye mp3 ('audio/mpeg'), ogg, wav, etc.\n    case mimetype.startsWith('audio/'):\n      fileTypeCategory = 'audio';\n      break;\n\n    // === Video ===\n    // Incluye mp4, webm, mov ('video/quicktime'), etc.\n    case mimetype.startsWith('video/'):\n      fileTypeCategory = 'video';\n      break;\n\n    // === Documentos de Texto y Ofimática ===\n    case mimetype === 'application/pdf':\n      fileTypeCategory = 'pdf';\n      break;\n    \n    // Spreadsheets (Excel, ODS, etc.)\n    case mimetype === 'application/vnd.ms-excel':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':\n    case mimetype === 'application/vnd.oasis.opendocument.spreadsheet':\n      fileTypeCategory = 'spreadsheet';\n      break;\n\n    // Word Documents\n    case mimetype === 'application/msword':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':\n      fileTypeCategory = 'document';\n      break;\n    \n    // Archivos de texto plano (txt, md, log)\n    case mimetype === 'text/plain':\n      fileTypeCategory = 'text';\n      break;\n\n    case mimetype === 'text/csv':\n      fileTypeCategory = 'csv';\n      break;\n\n    case mimetype === 'text/html':\n      fileTypeCategory = 'html';\n      break;\n    \n    case mimetype === 'application/rtf':\n      fileTypeCategory = 'rtf';\n      break;\n\n    // === Datos Estructurados ===\n    case mimetype === 'application/json':\n      fileTypeCategory = 'json';\n      break;\n\n    case mimetype === 'application/xml':\n    case mimetype === 'text/xml':\n      fileTypeCategory = 'xml';\n      break;\n\n    // === Otros ===\n    case mimetype === 'text/calendar': // para .ics\n      fileTypeCategory = 'ics';\n      break;\n  }\n\n  // Añadimos la nueva propiedad 'fileTypeCategory' al objeto json del item\n  item.json.fileTypeCategory = fileTypeCategory;\n  \n  // Añadimos el item modificado al array de resultados\n  results.push(item);\n}\n\n// Devolvemos el array con todos los items modificados\nreturn results;"},"id":"6b1c901e-cdf7-43e0-8134-b6f2e3be4bb1","name":"Get Mime Type","type":"n8n-nodes-base.code","position":[720,2256],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1919febf-c06b-41d1-a02c-1082f2e444e4","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51250085-0cb5-4442-b711-d7ef71c3c927","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"886256b8-5fa1-470a-a161-24a3d9d28285","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"video"}]},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f09cd376-96df-4f3d-9218-6a918715335a","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"json"}]},"renameOutput":true,"outputKey":"json"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4988d14f-4e3f-4494-96b0-a1a9d70a2787","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"pdf"}]},"renameOutput":true,"outputKey":"pdf"}]},"options":{"fallbackOutput":"extra"}},"id":"2c98b997-ad24-4f13-80c9-c1cf49e30f92","name":"Media Type","type":"n8n-nodes-base.switch","position":[912,2192],"typeVersion":3.2},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash-lite","cachedResultName":"models/gemini-2.5-flash-lite"},"inputType":"binary","options":{}},"id":"4735aaa8-ecee-46a0-b27c-409f55045628","name":"Analyze Image","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1280,1808],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"PLbZSbWgTnpFS3jY","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"content":"## 3. Webhook & Configuration\nReceives the Evolution API payload and defines global variables (Buffer wait time, Cache duration, History limit).","height":1536,"width":1584,"color":7},"id":"c47aa308-affd-4ee1-ae7f-c6d4e2d94eb0","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1408,80],"typeVersion":1},{"parameters":{"content":"## 4. Media Normalization\nDetects media types (Images, Audio, Documents) and downloads/converts them into a format compatible with the AI Agent.","height":1104,"width":1856,"color":7},"id":"a4b99ce7-6971-4dfc-a31c-6a84264a5c8b","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[432,1664],"typeVersion":1},{"parameters":{"content":"## 5. Smart Input Buffering\nUses Redis to:\n1. Group **Album files** into a single input.\n2. Debounce **Text messages** (waits X seconds) to prevent fragmented AI responses.","height":912,"width":2080,"color":7},"id":"3da9aa0b-d1f3-404a-a483-3b8433a7519e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2864,768],"typeVersion":1},{"parameters":{"content":"## Core Configuration\nControl the buffering and memory logic here:\n\n*   **wait_buffer**: The debounce window (in seconds). The workflow waits this long for subsequent text messages to group them into a single AI prompt.\n*   **wait_conversation**: Redis TTL (in seconds). How long the active conversation stays in the \"Hot Cache\" after the last message.\n*   **max_chat_history**: The hard limit of past messages to fetch from PostgreSQL (Cold Storage) when the cache is empty.","height":464,"width":400,"color":3},"id":"20d400e4-032d-440f-bbee-5c5e765a30cb","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-448,192],"typeVersion":1},{"parameters":{"content":"Desactivar y Activar bot\n\nEste flujo:\n\nRecibe un mensaje (Webhook)\nVerifica quién lo envió\nRevisa si el bot está bloqueado temporalmente\nDetecta si es texto o multimedia (como álbum de fotos/videos)\nProcesa el contenido según el tipo","height":816,"width":1424,"color":7},"type":"n8n-nodes-base.stickyNote","position":[896,144],"typeVersion":1,"id":"0be092a8-743b-4ca3-9b26-f9ce3fc02f4d","name":"Sticky Note10"},{"parameters":{"httpMethod":"POST","path":"chatwoot-events","options":{"noResponseBody":true}},"id":"0308ca6c-13f5-4edc-b5b8-4c8ced1db455","name":"Webhook Chatwoot","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1296,800],"webhookId":"ce348afb-a9c6-4c55-9213-5ea983ccc59b"},{"parameters":{"assignments":{"assignments":[{"id":"a3","name":"conversation_status","type":"string","value":"={{ $json.body.conversation?.meta?.status || $json.body.status || '' }}"},{"id":"a4","name":"redis_key","type":"string","value":"={{ $json.body.id }}"}]},"options":{}},"id":"afa7cffc-7ce2-4440-a60a-36d2423cde11","name":"Extraer Datos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,800]},{"parameters":{"operation":"delete","key":"={{ $json.redis_key }}"},"id":"c0fc910b-e1be-414c-95e1-9714d94ebef3","name":"Desbloquear Bot","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-560,688],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e013fcc2-f9db-4f94-a479-e5a6a237bcba","leftValue":"={{ $json.conversation_status }}","rightValue":"resolved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Resuelto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"32a28ab6-040f-4cfb-82ad-a2a2565178a0","leftValue":"={{ $json.conversation_status }}","rightValue":"open","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Abierto"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-816,784],"id":"4d0f97fd-bc49-4b93-b104-e960988d4226","name":"Switch"},{"parameters":{},"id":"79b4b2c1-b0c8-4fa2-8b59-9ce2c3a998fc","name":"Ignorar Evento2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-560,976]},{"parameters":{"operation":"set","key":"={{ $json.redis_key }}","value":"blocked-bot"},"id":"e84332d2-3085-49e0-aa1f-568edc5aa433","name":"Bloquear  Bot","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-560,848],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","propertyName":"bot-state","key":"={{ $('Webhook').item.json.body.data?.chatwootConversationId?.toString() || '' }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1264,736],"id":"cb4ca568-2616-4e95-9eb2-82c5191429b3","name":"Verifica el bloqueo","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"19c07b89-e324-4a51-a966-cadca8b657ee","leftValue":"={{ $json['bot-state'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1472,736],"id":"b1ab0fb4-15e7-47e2-830b-bd1d89f5deac","name":"verifica el estado de la sesion"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1872,160],"id":"821e3301-329d-4909-a95f-a93830008076","name":"No Operation, do  nothing"},{"parameters":{"workflowId":{"__rl":true,"value":"ImaUKCFiJVRWiJqh","mode":"list","cachedResultUrl":"/workflow/ImaUKCFiJVRWiJqh","cachedResultName":"partes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('Get Message').item.json.message }}","numero":"={{ $('Global Variables').item.json.number }}","contexto":"={{ $json.text }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contexto","displayName":"contexto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7296,1104],"id":"454d1a1c-f945-47fd-85f6-cc49b02a64c2","name":"Cerebro - SubFlow"},{"parameters":{},"id":"44125292-5ad3-430d-9836-98f019787f40","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1248,1280]},{"parameters":{"jsCode":"const error = $input.first().json;\n\nconst workflowName = error.workflow?.name || 'Desconocido';\nconst nodeName = error.execution?.lastNodeExecuted || 'Desconocido';\nconst errorMessage = error.execution?.error?.message || 'Error desconocido';\nconst number = error.execution?.data?.resultData?.runData?.['Global Variables']?.[0]?.data?.main?.[0]?.[0]?.json?.number || null;\n\nreturn [{ json: { workflowName, nodeName, errorMessage, number } }];"},"id":"d61040d2-fa76-4a33-8ace-99d940269238","name":"Extraer Datos del Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1024,1280]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-number","leftValue":"={{ $json.number }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6b553565-6a10-4112-8349-44e553cbb9f8","name":"¿Tiene número?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-800,1280]},{"parameters":{"resource":"messages-api","instanceName":"Facture","remoteJid":"={{ $json.number }}","messageText":"En este momento estoy teniendo dificultades técnicas. Por favor intentá de nuevo en unos minutos. Si el problema persiste, un agente humano te atenderá en horario L-V 8:00-22:00.","options_message":{}},"id":"20279ee1-0ca6-4637-b674-0610afb3bc6e","name":"Enviar Mensaje de Error","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-576,1168],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"log-error","name":"log","type":"string","value":"={{ 'Workflow: ' + $json.workflowName + ' | Nodo: ' + $json.nodeName + ' | Error: ' + $json.errorMessage }}"}]},"options":{}},"id":"4ad4f4da-bf79-42e1-92ba-0846bb866c31","name":"Log Sin Número","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,1392]},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"ok\" }","options":{"responseCode":200}},"id":"9916e89e-130a-433d-ac65-d571d2344367","name":"Confirmar recepción","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-1136,512]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"filter-message","leftValue":"={{ $json.body.entry[0].changes[0].value.messages[0].id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0d311685-ed2b-46ce-abb8-4de761f67984","name":"Es un mensaje?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-912,512]},{"parameters":{"assignments":{"assignments":[{"id":"bf06bbd5-2ca4-4aa9-bc9a-825a570791ae","name":"number","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}"},{"id":"d350a635-82ed-4373-9725-706c1dcf9cf5","name":"wait_buffer","type":"string","value":"5"},{"id":"ef7dd1c1-0925-416b-b73e-79ee3ee11e81","name":"wait_conversation","type":"string","value":"300"},{"id":"07b5fd03-4ef0-4e59-b4ef-a354dc2b6893","name":"max_chat_history","type":"string","value":"6"},{"id":"a1b2c3d4-0000-0000-0000-000000000001","name":"message_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].id }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000002","name":"message_type","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].type }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000003","name":"phone_number_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}"}]},"options":{}},"id":"7d50162d-b03d-47fe-94b8-1966d9f6357a","name":"Global Variables","type":"n8n-nodes-base.set","position":[-336,496],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a33f66d8-1bd1-400b-b1ce-c2513f57bdb3","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5b401571-7d2c-4c5e-bb2e-06e2d683402a","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"AlbumMessage"}]},"options":{"fallbackOutput":"extra"}},"id":"76a001d4-8088-4f7a-ad33-04aa99663c1c","name":"Message Type","type":"n8n-nodes-base.switch","position":[1792,576],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"801ec600-22ad-4a94-a2b4-ae72eb271df0","name":"message","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].text.body }}"}]},"options":{}},"id":"9b7681e9-39b8-4054-9649-e0424eae5eeb","name":"get_message (text)","type":"n8n-nodes-base.set","position":[2096,368],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"19c07b89-e324-4a51-a966-cadca8b657ee","leftValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}","rightValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.display_phone_number }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"e448cc7a-ce3e-475a-a491-6199862296d0","name":"Verifica quien escribe","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[976,496]},{"parameters":{"httpMethod":"POST","path":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14/webhook","responseMode":"responseNode","options":{}},"id":"51dda902-b93f-4985-bc5f-04e2036c68d7","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1360,512],"webhookId":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f11a017f-dc64-4db4-9836-d13d164a62cf","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ JSON.parse($json.message.last()).sessionID }}","rightValue":"={{ $('Global Variables').item.json.message_id }}"}]},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","operator":{"type":"dateTime","operation":"before"},"leftValue":"={{ JSON.parse($json.message.last()).date_time }}","rightValue":"={{ $now.minus($('Global Variables').item.json.wait_buffer, 'seconds') }}"}]},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"id":"fa449dbc-3810-43d3-824c-43114658b9c0","name":"Buffer Route1","type":"n8n-nodes-base.switch","position":[3952,1280],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"0f4cdb2c-9407-4783-83c6-4440faa74f00","name":"reponse","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"3898ffdc-fe31-4e82-a5bb-8af8c076d050","name":"Agent Response","type":"n8n-nodes-base.set","position":[7696,1104],"typeVersion":3.4},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Global Variables').item.json.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"={{ $('Agent Response').item.json.reponse }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[8032,1104],"id":"242585ec-f8e1-434d-ad51-f149649572a9","name":"Send Response","webhookId":"078fe469-fed6-4a39-90c6-2ebead2093cc","credentials":{"whatsAppApi":{"id":"b0QcmC1rsO22xO8F","name":"WhatsApp account"}}},{"parameters":{"operation":"get","propertyName":"message","key":"=WA_{{ $('Global Variables').item.json.number }}","options":{}},"id":"ed454bdf-f939-4deb-9ecc-bd7278349bad","name":"Get From Buffer","type":"n8n-nodes-base.redis","position":[3760,1280],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"delete","key":"=WA_{{ $('Global Variables').item.json.number }}"},"id":"2dabd278-fe3d-4fe1-9964-01b3ae4c980b","name":"Delete Buffer","type":"n8n-nodes-base.redis","position":[4192,1296],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"push","list":"=WA_{{ $('Global Variables').item.json.number }}","messageData":"={{ JSON.stringify({\n  message: $('Normalize input').item.json.message,\n  sessionID: $('Global Variables').item.json.message_id,\n  date_time: $now.toISO()\n}) }}","tail":true},"id":"815c5ec2-12cf-4251-951d-705e6ad46b02","name":"Push to Buffer","type":"n8n-nodes-base.redis","position":[3568,1248],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"url":"=https://graph.facebook.com/v19.0/{{ $('Global Variables').item.json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"98033c22-0fd7-4a6b-a7b3-574d456a0906","name":"Descargar Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,784],"credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"84d93b6a-0fac-402c-b6dd-203551ab7eb3","name":"Fetch Binary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,784],"credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"assignments":{"assignments":[{"id":"mime-pass-001","name":"data","type":"string","value":"={{ $('Descargar Media').item.json.mime_type }}"}]},"options":{}},"id":"10d4b6d2-0cdf-4d72-b6ca-7024f3f7b055","name":"Set Mime Type","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,784]}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Create Table chat_history","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Open session","type":"main","index":0},{"node":"Read Messages","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Writting...","type":"main","index":0}]]},"Delete Buffer (chat_history)":{"main":[[{"node":"Delete Buffer (chat_history)2","type":"main","index":0}]]},"Get chat_history":{"main":[[{"node":"Context Refiner","type":"main","index":0}]]},"Buffer (chat_history) Route":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Delete Buffer (chat_history)","type":"main","index":0}],[{"node":"Wait For end of conversation","type":"main","index":0}]]},"Wait For end of conversation":{"main":[[{"node":"Get From Buffer(chat_history)","type":"main","index":0}]]},"Push to Buffer (chat_history)":{"main":[[{"node":"Get From Buffer(chat_history)","type":"main","index":0}]]},"Get From Buffer(chat_history)":{"main":[[{"node":"Buffer (chat_history) Route","type":"main","index":0}]]},"Get chat_history From DataBase":{"main":[[{"node":"Aggregate all Messges","type":"main","index":0}]]},"Aggregate all Messges":{"main":[[{"node":"chat_history in DataBase?","type":"main","index":0}]]},"chat_history In Buffer?":{"main":[[{"node":"Get chat_history","type":"main","index":0}],[{"node":"Get chat_history From DataBase","type":"main","index":0}]]},"Push to chat_history":{"main":[[{"node":"Get chat_history","type":"main","index":0}]]},"Push first message to chat_history":{"main":[[{"node":"Get chat_history","type":"main","index":0}]]},"Get chat_history1":{"main":[[{"node":"chat_history In Buffer?","type":"main","index":0}]]},"chat_history in DataBase?":{"main":[[{"node":"Push to chat_history","type":"main","index":0}],[{"node":"Push first message to chat_history","type":"main","index":0}]]},"Context Refiner":{"main":[[{"node":"Cerebro - SubFlow","type":"main","index":0}]]},"Push message chat_history (User And Agent)":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Add Messages to chat_history (User And Agent)":{"main":[[{"node":"Push to Buffer (chat_history)","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Add Messages to chat_history (User And Agent)","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Context Refiner","type":"ai_languageModel","index":0}]]},"Chatwoot - Etiquetado Automático":{"main":[[]]},"Normalize Buffer":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Check AlbumGroup":{"main":[[{"node":"Album?","type":"main","index":0}]]},"Push Media to Buffer":{"main":[[{"node":"Get Album From Buffer","type":"main","index":0}]]},"Completed?":{"main":[[{"node":"Delete Media Buffer","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Delete Media Buffer":{"main":[[{"node":"Normalize MediaGroup Buffer","type":"main","index":0}]]},"Normalize MediaGroup Buffer":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Get Album From Buffer":{"main":[[{"node":"Completed?","type":"main","index":0}]]},"Album?":{"main":[[{"node":"Push Media to Buffer","type":"main","index":0}],[{"node":"Push to Buffer","type":"main","index":0}]]},"Get Message":{"main":[[{"node":"Get chat_history1","type":"main","index":0}]]},"Wait For User Other Fast Message":{"main":[[{"node":"Get From Buffer","type":"main","index":0}]]},"Extract from JSON":{"main":[[{"node":"Normalize JSON","type":"main","index":0}]]},"Extract from PDF":{"main":[[{"node":"Text?","type":"main","index":0}]]},"Analyze audio":{"main":[[{"node":"get_message (Audio)","type":"main","index":0}]]},"get_message (File message)":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"get_error_message":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Normalize JSON":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"Normalize PDF":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"Text?":{"main":[[{"node":"Normalize PDF","type":"main","index":0}],[{"node":"get_message (File message)","type":"main","index":0}]]},"Normalize input":{"main":[[{"node":"Check AlbumGroup","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Get Mime Type","type":"main","index":0}]]},"Analyze video":{"main":[[{"node":"get_message (Video)","type":"main","index":0}]]},"get_message (Video)":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"get_message (Audio)":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"get_message (Image)":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"Get Mime Type":{"main":[[{"node":"Media Type","type":"main","index":0}]]},"Media Type":{"main":[[{"node":"Analyze Image","type":"main","index":0}],[{"node":"Analyze audio","type":"main","index":0}],[{"node":"Analyze video","type":"main","index":0}],[{"node":"Extract from JSON","type":"main","index":0}],[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"get_error_message","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"get_message (Image)","type":"main","index":0}]]},"Webhook Chatwoot":{"main":[[{"node":"Extraer Datos","type":"main","index":0}]]},"Extraer Datos":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Desbloquear Bot","type":"main","index":0}],[{"node":"Bloquear  Bot","type":"main","index":0}],[{"node":"Ignorar Evento2","type":"main","index":0}]]},"Verifica el bloqueo":{"main":[[{"node":"verifica el estado de la sesion","type":"main","index":0}]]},"Cerebro - SubFlow":{"main":[[{"node":"Agent Response","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Extraer Datos del Error","type":"main","index":0}]]},"Extraer Datos del Error":{"main":[[{"node":"¿Tiene número?","type":"main","index":0}]]},"¿Tiene número?":{"main":[[{"node":"Enviar Mensaje de Error","type":"main","index":0}],[{"node":"Log Sin Número","type":"main","index":0}]]},"Confirmar recepción":{"main":[[{"node":"Es un mensaje?","type":"main","index":0}]]},"Es un mensaje?":{"main":[[{"node":"Global Variables","type":"main","index":0}]]},"Global Variables":{"main":[[{"node":"Verifica quien escribe","type":"main","index":0}]]},"Message Type":{"main":[[{"node":"get_message (text)","type":"main","index":0}],[{"node":"Push to Buffer (AlbumGroup)","type":"main","index":0}],[{"node":"Descargar Media","type":"main","index":0}]]},"get_message (text)":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Verifica quien escribe":{"main":[[{"node":"No Operation, do  nothing","type":"main","index":0}],[{"node":"Message Type","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Confirmar recepción","type":"main","index":0}]]},"Buffer Route1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Delete Buffer","type":"main","index":0}],[{"node":"Wait For User Other Fast Message","type":"main","index":0}]]},"Agent Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Send Response":{"main":[[{"node":"Push message chat_history (User And Agent)","type":"main","index":0}]]},"Delete Buffer":{"main":[[{"node":"Normalize Buffer","type":"main","index":0}]]},"Get From Buffer":{"main":[[{"node":"Buffer Route1","type":"main","index":0}]]},"Push to Buffer":{"main":[[{"node":"Get From Buffer","type":"main","index":0}]]},"Descargar Media":{"main":[[{"node":"Fetch Binary","type":"main","index":0}]]},"Fetch Binary":{"main":[[{"node":"Set Mime Type","type":"main","index":0}]]},"Set Mime Type":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"67b50dbf-29ad-4f89-b00b-4bc02354ce02","activeVersionId":"67b50dbf-29ad-4f89-b00b-4bc02354ce02","triggerCount":2,"shared":[{"updatedAt":"2026-04-03T18:47:00.193Z","createdAt":"2026-04-03T18:47:00.193Z","role":"workflow:owner","workflowId":"i9nKzYJPiLpGXrZh","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":{"updatedAt":"2026-04-26T02:45:12.000Z","createdAt":"2026-04-26T02:45:11.527Z","versionId":"67b50dbf-29ad-4f89-b00b-4bc02354ce02","workflowId":"i9nKzYJPiLpGXrZh","nodes":[{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $json.Name }}","remoteJid":"={{ $json.Number }}","messageId":"={{ $json.ID }}"},"id":"1067d131-0dc8-4e3b-be0f-be13f8473e6f","name":"Read Messages","type":"n8n-nodes-evolution-api.evolutionApi","position":[1888,-672],"typeVersion":1,"credentials":{"evolutionApi":{"id":"j76R7wOdNBRPVdNm","name":"Evolution account"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $json.Name }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $json.ID }}","remoteJid":"={{ $json.Number }}"},"id":"d17fcd7e-a82f-4e92-b3a5-f79739082161","name":"Open session","type":"n8n-nodes-evolution-api.evolutionApi","position":[1888,-864],"typeVersion":1,"credentials":{"evolutionApi":{"id":"j76R7wOdNBRPVdNm","name":"Evolution account"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('When Executed by Another Workflow').item.json.Name }}","remoteJid":"={{ $('When Executed by Another Workflow').item.json.Number }}","delay":10200},"id":"659f4396-3fd2-4087-ac1c-cf6041342ff5","name":"Writting...","type":"n8n-nodes-evolution-api.evolutionApi","position":[2096,-480],"typeVersion":1,"credentials":{"evolutionApi":{"id":"j76R7wOdNBRPVdNm","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS mentour_users (\n    whatsapp_number VARCHAR(25) PRIMARY KEY,\n    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);\nCREATE TABLE IF NOT EXISTS chat_history (\n    -- Unique identifier for each individual message\n    message_id BIGSERIAL PRIMARY KEY,\n\n    -- Link to the user involved in the conversation\n    user_whatsapp_number VARCHAR(25) NOT NULL REFERENCES mentour_users(whatsapp_number) ON DELETE CASCADE,\n\n    -- The text content of the message\n    message_text TEXT NOT NULL,\n\n    -- The exact time the message was sent/received\n    message_timestamp TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n    \n    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);\n\n-- Optimization: A composite index to very quickly retrieve a user's chat history in chronological order.\nCREATE INDEX IF NOT EXISTS idx_chat_history_user_timestamp \nON chat_history (user_whatsapp_number, message_timestamp);","options":{}},"id":"b3444267-0d72-4db6-8701-e5ee33e43423","name":"Create Table chat_history","type":"n8n-nodes-base.postgres","position":[1776,-1200],"typeVersion":2.6,"credentials":{"postgres":{"id":"BZ5q2rgXCNddAxI2","name":"Postgres account"}}},{"parameters":{},"id":"e6675446-b287-466a-b408-b0c35657601d","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[1600,-1200],"typeVersion":1},{"parameters":{"workflowInputs":{"values":[{"name":"Name"},{"name":"Number"},{"name":"ID"}]}},"id":"fc4819e4-bb1b-4612-80c0-a3d952d64b29","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1648,-656],"typeVersion":1.1},{"parameters":{},"id":"14ab269e-1df8-425e-8194-28bc9fa0e526","name":"Wait","type":"n8n-nodes-base.wait","position":[1888,-480],"webhookId":"65187612-7e5b-4a76-8465-7bd694e3e172","typeVersion":1.1},{"parameters":{"content":"## 1. Database Setup\nCreates the `chat_history` table in PostgreSQL. Execute this node manually **once** before activating the workflow.","height":320,"width":512,"color":7},"id":"ce3c124d-71f3-4eab-b8f7-17a1e4295f4e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1520,-1328],"typeVersion":1},{"parameters":{"content":"## 2. Parallel UX Handling\nManages user experience (Read receipts, 'Typing...' status) in parallel using a sub-workflow to avoid adding latency to the main AI processing logic.","height":688,"width":832,"color":7},"id":"37791d47-b025-4162-90b2-dd56f64dbe95","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1520,-960],"typeVersion":1},{"parameters":{"content":"## Advanced Evolution API Agent with Redis Buffering & Context Refinement\n\nThis production-ready template builds a high-performance WhatsApp chatbot using Evolution API. It solves common AI bot issues—latency, fragmented messages, and token costs—by implementing a hybrid memory architecture (Redis + PostgreSQL) and a multi-stage AI pipeline.\n\n### How it works\n1. **Parallel Ingestion:** The workflow triggers on new messages via Evolution API. A parallel branch immediately handles \"typing...\" status and read receipts to optimize perceived latency.\n2. **Intelligent Buffering:** Incoming messages are routed to Redis buffers. The system distinguishes between **Media Albums** (waiting for all files) and **Rapid Texts** (debouncing inputs for 5s) to consolidate user intent into a single prompt.\n3. **Hybrid Memory Retrieval:** Chat history is fetched from Redis (hot cache) for speed. If the cache expires, it falls back to PostgreSQL (persistent storage).\n4. **Context Optimization:** A fast \"Context Refiner\" model distills the chat history, passing only relevant context to the Main Agent. This prevents \"context rot\" and reduces token costs.\n5. **Execution & Sync:** The Main Agent generates the response. Finally, the conversation is saved to PostgreSQL and refreshed in the Redis cache.\n\n### Setup\n**Install the Node:** Go to `Settings &gt; Community Nodes` in n8n and install `n8n-nodes-evolution-api`.\n**Credentials:** Configure credentials for Redis, PostgreSQL, and your AI provider (e.g., OpenAI/Gemini).\n**Database:** Execute the \"Create Table\" node once to initialize the `chat_history` table in PostgreSQL.\n**Evolution API:** Set your `instanceName` and `apikey` in the Webhook node.\n**Configuration:** Adjust parameters in the \"Global Variables\" node (Buffer Wait Time, Cache TTL, History Limit).\n-Models:** Select a fast model for the Context Refiner and a capable model for the Main Agent.","height":1024,"width":614},"id":"2f282bd4-f072-4327-a55c-286455b8bbd2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[768,-1424],"typeVersion":1},{"parameters":{"operation":"delete","key":"=Chats_{{  $('Global Variables').item.json.number }}"},"id":"f1e8da49-8f2e-42d6-b1ec-8e8bbea2905e","name":"Delete Buffer (chat_history)","type":"n8n-nodes-base.redis","position":[10240,1216],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"d0f3b823-dda9-42e9-936b-4ca4123026ca","name":"history","type":"string","value":"={{ $json.propertyName.slice(-$('Global Variables').item.json.max_chat_history).join('\\n') }}"}]},"options":{}},"id":"5fc09a47-f694-45a7-b77a-127753d4b6ee","name":"Get chat_history","type":"n8n-nodes-base.set","position":[6448,1104],"typeVersion":3.4},{"parameters":{},"id":"9ce1f0ea-f907-40b4-95a5-fb1b5ac72690","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","position":[10240,1072],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f11a017f-dc64-4db4-9836-d13d164a62cf","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ JSON.parse($json.message.last()).sessionID }}","rightValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","operator":{"type":"dateTime","operation":"before"},"leftValue":"={{ JSON.parse($json.message.last()).date_time }}","rightValue":"={{ $now.minus($('Global Variables').item.json.wait_conversation, 'seconds') }}"}]},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"id":"7f09d459-bede-4e2b-bdae-a62274aa475a","name":"Buffer (chat_history) Route","type":"n8n-nodes-base.switch","position":[9984,1088],"typeVersion":3.2},{"parameters":{"amount":"={{ $('Global Variables').item.json.wait_conversation }}"},"id":"e0881479-ea32-44c4-98bd-08d7b5cb4074","name":"Wait For end of conversation","type":"n8n-nodes-base.wait","position":[10240,1392],"webhookId":"06711a97-b08d-4552-aab8-868b1b8bbc5c","typeVersion":1.1},{"parameters":{"operation":"push","list":"=Chats_buffer{{  $('Global Variables').item.json.number }}","messageData":"={{ JSON.stringify({\n  sessionID : $('Webhook').item.json.body.data.key.id,\n  date_time : $node[\"Webhook\"].json.body.data.messageTimestamp.toDateTime('s')\n}) }}\n","tail":true},"id":"1412b38d-76a8-4e58-a8a4-252920eaa15a","name":"Push to Buffer (chat_history)","type":"n8n-nodes-base.redis","position":[9552,1104],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","propertyName":"message","key":"=Chats_buffer{{  $('Global Variables').item.json.number }}","options":{}},"id":"43588410-147d-4180-8484-643036637168","name":"Get From Buffer(chat_history)","type":"n8n-nodes-base.redis","position":[9792,1104],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"delete","key":"=Chats_buffer{{  $('Global Variables').item.json.number }}"},"id":"2cbf6907-d255-4c9d-ae9a-e24be32f2cba","name":"Delete Buffer (chat_history)2","type":"n8n-nodes-base.redis","position":[10432,1216],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"chat_history","cachedResultName":"chat_history"},"limit":"={{ $('Global Variables').item.json.max_chat_history }}","where":{"values":[{"column":"user_whatsapp_number","value":"={{ $('Global Variables').item.json.number }}"}]},"options":{"outputColumns":["message_text"]}},"id":"5566098c-ea7e-44fa-8efa-b5622747f83e","name":"Get chat_history From DataBase","type":"n8n-nodes-base.postgres","position":[5504,1376],"retryOnFail":true,"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message_text"}]},"options":{}},"id":"6284ae73-a25d-4a3b-83fe-f555f71f2428","name":"Aggregate all Messges","type":"n8n-nodes-base.aggregate","position":[5696,1376],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"761329c9-499f-4328-bc11-835edcfd003c","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.propertyName[0] }}","rightValue":""}]},"options":{}},"id":"b5d2eef2-5234-4730-92c1-9d365d7bc8c1","name":"chat_history In Buffer?","type":"n8n-nodes-base.if","position":[5328,1120],"typeVersion":2.2},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"={{ $json.message_text.join('\\n') }}","tail":true},"id":"ee603bee-8dfb-407a-95f1-f5ce12eb7017","name":"Push to chat_history","type":"n8n-nodes-base.redis","position":[6112,1280],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"=.","tail":true},"id":"54d80349-07d8-4c3b-ad2f-1c738cf0d30d","name":"Push first message to chat_history","type":"n8n-nodes-base.redis","position":[6112,1472],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","key":"=Chats_{{  $('Global Variables').item.json.number }}","options":{}},"id":"5e9333d8-d1f3-425f-8119-a327511f2cea","name":"Get chat_history1","type":"n8n-nodes-base.redis","position":[5088,1120],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"18946671-190b-43d9-a88f-810184127ed2","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message_text }}","rightValue":""}]},"options":{}},"id":"64537221-a4dd-4140-a9c5-ef66a8422880","name":"chat_history in DataBase?","type":"n8n-nodes-base.if","position":[5904,1376],"typeVersion":2.3},{"parameters":{"content":"## 6. Hybrid Memory Retrieval\nOptimized fetch strategy: Checks Redis (fast cache) for recent history first. If empty, falls back to PostgreSQL (permanent storage).","height":720,"width":1600,"color":7},"id":"c5c3b38a-f6d4-400a-b50d-a6d0c8e68511","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[5024,976],"typeVersion":1},{"parameters":{"content":"## 8. Cache Lifecycle Manager\nKeeps the conversation active in Redis for a specific duration (e.g., 300s) after the last message to ensure high-speed retrieval.","height":640,"width":1184,"color":7},"id":"99b13ac4-fa84-4cdd-b47c-c99588c1c23a","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[9472,960],"typeVersion":1},{"parameters":{"promptType":"define","text":"=<Chat_History>\n{{ $json.history }}\n</Chat_History>\n\n<Current_User_Input>\n{{ $('Get Message').item.json.message }}\n</Current_User_Input>","messages":{"messageValues":[{"message":"=# SYSTEM ROLE\nYou are a Context Retrieval Processor for a customer service system. \nYou are a backend component, NOT a conversational assistant.\n\n# CONTEXT\nThe system handles WhatsApp conversations for Facture.CR, a billing \nplatform. Conversations may involve multiple specialized agents: \nSoporte, Ventas, Pagos, Hardware, Marketing, Escalamiento.\n\n# INPUTS\n1. <CHAT_HISTORY>: Previous conversation turns with format \n   \"User: ... / Agent: ...\"\n2. <CURRENT_INPUT>: The user's latest message.\n3. <ACTIVE_AGENT>: The agent currently handling the conversation.\n\n# OBJECTIVE\nExtract ONLY the facts from <CHAT_HISTORY> that are directly \nrelevant to answering <CURRENT_INPUT> within the scope of \n<ACTIVE_AGENT>.\n\n# RULES\n1. If input is a greeting or standalone question with no \n   historical dependency → return empty string.\n2. Only extract context relevant to the ACTIVE_AGENT's domain.\n   Ignore history from other agent domains.\n3. Resolve pronouns (\"it\", \"that one\", \"the same\") using history.\n4. Connect file references to their extracted data.\n5. Ignore pleasantries and metadata.\n6. Maximum output: 3-5 sentences of pure facts.\n7. Never mention agent names, workflow names, or internal systems.\n\n# OUTPUT\nPlain text facts only. Empty string if nothing relevant.\n\n# LANGUAGE Always output in the same language as the <CHAT_HISTORY> content."}]},"batching":{}},"id":"3d884da7-132a-445c-89e4-e8b71d5d76d7","name":"Context Refiner","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[6832,1104],"typeVersion":1.7},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}","tail":true},"id":"d913e2c8-f255-4ba4-95b7-e46fcdf857e6","name":"Push message chat_history (User And Agent)","type":"n8n-nodes-base.redis","position":[8400,1104],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"chat_history","cachedResultName":"chat_history"},"columns":{"value":{"message_text":"=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}","user_whatsapp_number":"={{ $('Global Variables').item.json.number }}"},"schema":[{"id":"message_id","type":"number","display":true,"removed":true,"required":false,"displayName":"message_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_whatsapp_number","type":"string","display":true,"required":true,"displayName":"user_whatsapp_number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"message_text","type":"string","display":true,"required":true,"displayName":"message_text","defaultMatch":false,"canBeUsedToMatch":true},{"id":"message_timestamp","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"message_timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"created_at","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"created_at","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"5fe20734-9be6-45be-ab77-ce5bf8e8fec6","name":"Add Messages to chat_history (User And Agent)","type":"n8n-nodes-base.postgres","position":[8912,1104],"typeVersion":2.6,"credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"content":"## 7. Context Refinement & Generation\n1. **Refiner Agent:** Summarizes chat history to save tokens and reduce context rot.\n2. **Main Agent:** Generates the final response.\n3. **Sync:** Saves the interaction to both PostgreSQL and the Redis buffer.","height":608,"width":2448,"color":7},"id":"9f6c5394-7576-4cea-a897-49146bb7aee6","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[6752,896],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"INSERT INTO mentour_users (whatsapp_number)\nVALUES ('{{ $('Global Variables').item.json.number }}')\nON CONFLICT (whatsapp_number) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8624,1104],"id":"dd76e202-f0be-4dc3-92bb-51a77e6f9190","name":"Execute a SQL query","credentials":{"postgres":{"id":"EDOqA1fyJqok2vJm","name":"Postgres account 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{"maxTokens":1000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[6848,1360],"id":"25c60fc0-e6d2-460d-aef6-44646f88be12","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"workflowId":{"__rl":true,"value":"r3kFVYPzold6KCka","mode":"list","cachedResultUrl":"/workflow/r3kFVYPzold6KCka","cachedResultName":"Chatwoot - Etiquetado Automático"},"workflowInputs":{"mappingMode":"defineBelow","value":{"number":"={{ $('Global Variables').item.json.number }}","user_message":"={{ $('Get Message').item.json.message }}","agent_response":"={{ $('Agent Response').item.json.reponse }}"},"matchingColumns":[],"schema":[{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"agent_response","displayName":"agent_response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[8048,736],"id":"6e6ea862-1f72-4d76-8894-2e7d3c8376b1","name":"Chatwoot - Etiquetado Automático"},{"parameters":{"assignments":{"assignments":[{"id":"b594f1da-51e8-47a4-a636-7928a73b69f8","name":"message","type":"string","value":"={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}"}]},"options":{}},"id":"e3b105fb-c78e-4828-88d4-7820bdc544d4","name":"Normalize Buffer","type":"n8n-nodes-base.set","position":[4400,1296],"typeVersion":3.4},{"parameters":{},"id":"6e56a335-9d30-4b79-a9e0-cf64747d5d7d","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[4192,1136],"typeVersion":1},{"parameters":{"operation":"push","list":"=Media_{{  $('Global Variables').item.json.number }}","messageData":"={{ ($('Webhook').item.json.body.data.message.albumMessage.expectedImageCount + $('Webhook').item.json.body.data.message.albumMessage.expectedVideoCount).toString() }}","tail":true},"id":"351bcddd-f2cb-4f0c-99e2-3e59b58ae645","name":"Push to Buffer (AlbumGroup)","type":"n8n-nodes-base.redis","position":[2080,592],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","key":"=Media_{{  $('Global Variables').item.json.number }}","options":{}},"id":"eb96e6ac-80ec-4955-95af-411860d2a27e","name":"Check AlbumGroup","type":"n8n-nodes-base.redis","position":[3152,1296],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"push","list":"=Media_{{  $('Global Variables').item.json.number }}","messageData":"={{ $('Normalize input').item.json.message }}","tail":true},"id":"b5d908f6-18ee-4f22-b94a-757b13698612","name":"Push Media to Buffer","type":"n8n-nodes-base.redis","position":[3568,976],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"131b95f2-cb9f-4d8c-9c2b-ca94383322dd","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.propertyName.length-1 }}","rightValue":"={{ parseInt($json.propertyName[0]) }}"}]},"options":{}},"id":"e7ce2384-45dd-4558-a6d5-318cb7784de5","name":"Completed?","type":"n8n-nodes-base.if","position":[3968,976],"typeVersion":2.2},{"parameters":{"operation":"delete","key":"=Media_{{  $('Global Variables').item.json.number }}"},"id":"cb01f474-c76e-4dd4-b50a-6ea774753355","name":"Delete Media Buffer","type":"n8n-nodes-base.redis","position":[4192,960],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"b594f1da-51e8-47a4-a636-7928a73b69f8","name":"message","type":"string","value":"={{ $json.propertyName.slice(1).join('\\n') }}"}]},"options":{}},"id":"63db01b7-8c98-4b0c-a27f-30026371b47a","name":"Normalize MediaGroup Buffer","type":"n8n-nodes-base.set","position":[4400,960],"typeVersion":3.4},{"parameters":{"operation":"get","key":"=Media_{{  $('Global Variables').item.json.number }}","options":{}},"id":"c6fdddfd-8614-4735-a891-a23cfc968b8c","name":"Get Album From Buffer","type":"n8n-nodes-base.redis","position":[3776,976],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9062d3ba-1151-472f-95e0-42f54cbfb929","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.propertyName }}","rightValue":""}]},"options":{}},"id":"4dd029a2-5c13-4121-a35b-4d78e15867fe","name":"Album?","type":"n8n-nodes-base.if","position":[3360,1120],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"f6d7accb-8ef6-4c41-9b0a-9e0b4301dffd","name":"message","type":"string","value":"={{ $json.message || $json.chatInput }}"}]},"options":{}},"id":"a4728a9e-d3e2-4f09-a6cf-285951761002","name":"Get Message","type":"n8n-nodes-base.set","position":[4688,1120],"typeVersion":3.4},{"parameters":{"amount":"={{ $('Global Variables').item.json.wait_buffer }}"},"id":"a5477219-2922-4140-b95d-b363e0366e32","name":"Wait For User Other Fast Message","type":"n8n-nodes-base.wait","position":[4192,1456],"webhookId":"9b345d41-1595-4bc3-bb98-64e44682aa43","typeVersion":1.1},{"parameters":{"operation":"fromJson","options":{}},"id":"15332cc4-f9f6-4ff7-aa91-5c4c3f61e0d5","name":"Extract from JSON","type":"n8n-nodes-base.extractFromFile","position":[1280,2272],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"9573be8a-cd22-4580-b451-c36799b23e6c","name":"Extract from PDF","type":"n8n-nodes-base.extractFromFile","position":[1280,2448],"typeVersion":1},{"parameters":{"resource":"audio","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"text":"# Transcribe verbatim the spoken content of this audio. \n\n# Output ONLY the transcribed text, nothing else.\n\n# No analysis, no descriptions, no metadata.\n\n# If no speech is detected, output: [No speech detected]","inputType":"binary","options":{}},"id":"8b4059e9-e710-4f9b-9d01-580f72ed5207","name":"Analyze audio","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1280,1968],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"PLbZSbWgTnpFS3jY","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"={{ $('Descargar Media').item.json.data?.caption ? \"Captions: \" + $('Descargar Media').item.json.data.caption : \"\" }}\nFile name:{{ $('Descargar Media').item.json.data.fileName }}\nFile type:{{ $('Get Mime Type').item.json.fileTypeCategory }}\nExtracted data from file:\n{{ $json.data }}"}]},"options":{}},"id":"732c5431-2d68-4ff7-ae99-8f53d9d6ed01","name":"get_message (File message)","type":"n8n-nodes-base.set","position":[2112,2256],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"=It was not possible to process the file.File type not supported."}]},"options":{}},"id":"60c7c243-2ed1-42d0-8641-edebb866f9e0","name":"get_error_message","type":"n8n-nodes-base.set","position":[1376,2608],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"24b93984-e305-4c11-a856-5fa0bfaaaa79","name":"data","type":"string","value":"={{ $json.data }}"}]},"options":{}},"id":"e1fbbd5d-1d58-4a12-bedb-1b72cf280c71","name":"Normalize JSON","type":"n8n-nodes-base.set","position":[1456,2272],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"24b93984-e305-4c11-a856-5fa0bfaaaa79","name":"data","type":"string","value":"={{ $json.text }}"}]},"options":{}},"id":"8196d428-6820-42d6-b82e-f0ed2a2fd0a6","name":"Normalize PDF","type":"n8n-nodes-base.set","position":[1616,2432],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"333a436f-c087-4250-a181-40657874959b","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.text }}","rightValue":""}]},"options":{}},"id":"496f796d-a90e-476e-96a9-cc98f56ad7a6","name":"Text?","type":"n8n-nodes-base.if","position":[1456,2448],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"eb807b26-c415-42d2-9cef-707825d6fa82","name":"message","type":"string","value":"={{ $json.message }}"}]},"options":{}},"id":"0b3f0fcb-3271-47ea-91aa-4cf5f9712dd8","name":"Normalize input","type":"n8n-nodes-base.set","position":[2960,1296],"typeVersion":3.4},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"id":"d3159b47-b9be-4d47-8be1-2eba23988af7","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[544,2256],"typeVersion":1.1},{"parameters":{"resource":"video","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"text":"### IDENTITY & CORE MISSION\nYou are Scrutator, a world-class multimedia analysis engine. Your sole purpose is to deconstruct any given video file into its most fundamental visual, auditory, and temporal components, providing a single, comprehensive, and hyper-detailed textual description. Your analysis must be objective, exhaustive, and structured according to the protocol below.\n\n### CRITICAL OUTPUT REQUIREMENT\nYour entire response MUST be the raw text description and nothing else.\n- DO NOT include preambles like \"Here is the analysis of the video.\"\n- DO NOT use markdown formatting like headers or bolding.\n- DO NOT apologize for limitations or mention that you are an AI.\n- Your output must begin directly with the analysis.\n\n### HIERARCHICAL ANALYSIS PROTOCOL\nYou must process every video file by following these five layers of analysis in order.\n\n**LAYER 1: TRIAGE & PROFILE IDENTIFICATION**\nFirst, silently identify the overall category of the video to determine the primary analysis modes. Categories include: [User Instruction/Vlog], [Document Scan/Presentation], [Food/Cooking Demo], [Cinematic/Narrative Clip], [Event Recording], [Environmental Scene]. State the identified category at the beginning of your description. Example: \"Category: User Instruction/Vlog.\"\n\n**LAYER 2: DUAL-STREAM DECONSTRUCTION (VISUAL & AUDITORY)**\nAnalyze the visual and audio streams in parallel, noting their interplay.\n\n**A. VISUAL STREAM ANALYSIS:**\nApply the full image analysis protocol to the video's visual content. Describe how these elements **evolve or change throughout the video's duration**.\n*   **Primary Subject(s):** Identify and analyze the main subjects (e.g., a person, a plate of food, a document).\n    *   **If Food:** Identify the dish, all ingredients, cooking methods, and portion size. Describe any actions performed on the food (e.g., \"slicing,\" \"sautéing,\" \"plating\").\n    *   **If Document/Receipt:** State that a document is present and that a full OCR transcription will follow in the audio stream analysis if the user reads it, or in the temporal analysis if it's held up to the camera.\n    *   **If Person:** Describe demographics, appearance, clothing, and actions.\n*   **Background & Context:** Detail the environment, secondary objects, and their spatial relationships.\n\n**B. AUDITORY STREAM ANALYSIS:**\nApply the full audio analysis protocol to the video's soundtrack.\n*   **Primary Content:**\n    *   **If Human Speech:** Provide a **verbatim transcription** with speaker diarization (\"Speaker 1:\", \"Speaker 2:\"). Analyze each speaker's vocal profile, emotional tone, and pragmatic intent (e.g., \"The user's intent is to issue a direct command to the agent\").\n    *   **If Music:** Identify genre, instrumentation, and mood.\n    *   **If Environmental Sounds:** Catalog all distinct sound sources.\n*   **Acoustic Environment & Technical Quality:** Describe background noise, reverberation, and recording quality.\n\n**LAYER 3: TEMPORAL & MOTION ANALYSIS (THE NARRATIVE OF CHANGE)**\nThis is the most critical layer for video. Deconstruct the sequence of events over time.\n*   **Scene & Shot Log:** Create a chronological log of events. Use timestamps to denote significant changes in action, subject, or camera angle.\n    *   **Format Example:**\n        `[00:00-00:03] - Close-up shot of a hand holding a grocery receipt. The camera is slightly shaky.`\n        `[00:04-00:09] - The user (Speaker 1) begins reading the items from the receipt aloud. The camera pans down the list of items.`\n        `[00:10-00:12] - Cut to a wide shot of the kitchen counter, showing the grocery items mentioned.`\n        `[00:13-00:15] - The user points to a carton of orange juice and asks a question.`\n*   **Object & Subject Tracking:** Describe the movement and actions of the primary subjects. (e.g., \"The user walks from the left to the right of the frame, placing a milk carton on the table.\").\n*   **Camera Work:** Describe all camera movements (e.g., \"static tripod shot,\" \"handheld with noticeable shake,\" \"slow pan left,\" \"quick zoom-in on the product label\").\n*   **Editing & Post-Production:** Identify editing techniques. Describe the pacing (e.g., \"fast-paced with quick cuts,\" \"long, uninterrupted take\"), transitions (e.g., \"hard cut,\" \"fade to black,\" \"dissolve\"), and any on-screen graphics, text overlays, or subtitles.\n\n**LAYER 4: TECHNICAL FILE ANALYSIS**\nBriefly describe the technical characteristics of the video file itself.\n*   **Video Quality:** Infer the resolution and clarity (e.g., \"High-definition 1080p,\" \"Standard-definition 480p,\" \"low-resolution, heavily compressed\").\n*   **Frame Rate:** Describe the motion smoothness (e.g., \"smooth 30/60fps,\" \"choppy/low frame rate\").\n*   **Audio-Visual Sync:** Confirm if the audio and video are properly synchronized.\n\n**LAYER 5: INFERENCE & SYNTHESIS**\nConclude with a holistic synthesis of all layers. What is the overall story, context, and purpose of this video?\n*   **Example (User Instruction):** \"This is a user-generated instructional video, recorded on a smartphone. The user is providing a multi-modal command by both showing a receipt and verbally asking the agent to process specific items from it. The intent is direct and task-oriented.\"\n*   **Example (Cooking Demo):** \"This is a segment from a well-edited cooking tutorial. The combination of close-up shots, clear vocal instructions, and background music is designed to be educational and engaging.\"\n*   **Example (Event Recording):** \"This is an amateur, handheld recording of a live music performance in a small, crowded venue, capturing both the performance and the audience's reaction.\"","inputType":"binary","options":{}},"id":"034acb34-5f45-4140-b459-9a461ab96b86","name":"Analyze video","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1280,2128],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"PLbZSbWgTnpFS3jY","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"}]},"options":{}},"id":"b67f05e1-0c1c-4db2-81b9-e0fcbb712793","name":"get_message (Video)","type":"n8n-nodes-base.set","position":[1456,2128],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"}]},"options":{}},"id":"f9099bf5-4ccb-4239-ac64-38655d338646","name":"get_message (Audio)","type":"n8n-nodes-base.set","position":[1456,1968],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media description: {{ $json.content.parts[0].text }}"}]},"options":{}},"id":"ac443e7d-8708-4930-b173-8d26e693b8ed","name":"get_message (Image)","type":"n8n-nodes-base.set","position":[1456,1808],"typeVersion":3.4},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  // --- IMPORTANTE ---\n  // Asumimos que el MIME type está en esta ruta.\n  // ¡Verifica que 'item.json.data.mimetype' es correcto para tus datos!\n  // Podría ser 'item.json.mimetype' o similar.\n  const mimetype = $('Descargar Media').first().json.data.mimetype || '';\n\n  let fileTypeCategory = 'other'; // Valor por defecto para tipos no reconocidos\n\n  // Usamos switch(true) para evaluar diferentes condiciones basadas en el mimetype\n  switch (true) {\n    // === Imágenes ===\n    case mimetype.startsWith('image/'):\n      fileTypeCategory = 'image';\n      break;\n\n    // === Audio ===\n    // Incluye mp3 ('audio/mpeg'), ogg, wav, etc.\n    case mimetype.startsWith('audio/'):\n      fileTypeCategory = 'audio';\n      break;\n\n    // === Video ===\n    // Incluye mp4, webm, mov ('video/quicktime'), etc.\n    case mimetype.startsWith('video/'):\n      fileTypeCategory = 'video';\n      break;\n\n    // === Documentos de Texto y Ofimática ===\n    case mimetype === 'application/pdf':\n      fileTypeCategory = 'pdf';\n      break;\n    \n    // Spreadsheets (Excel, ODS, etc.)\n    case mimetype === 'application/vnd.ms-excel':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':\n    case mimetype === 'application/vnd.oasis.opendocument.spreadsheet':\n      fileTypeCategory = 'spreadsheet';\n      break;\n\n    // Word Documents\n    case mimetype === 'application/msword':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':\n      fileTypeCategory = 'document';\n      break;\n    \n    // Archivos de texto plano (txt, md, log)\n    case mimetype === 'text/plain':\n      fileTypeCategory = 'text';\n      break;\n\n    case mimetype === 'text/csv':\n      fileTypeCategory = 'csv';\n      break;\n\n    case mimetype === 'text/html':\n      fileTypeCategory = 'html';\n      break;\n    \n    case mimetype === 'application/rtf':\n      fileTypeCategory = 'rtf';\n      break;\n\n    // === Datos Estructurados ===\n    case mimetype === 'application/json':\n      fileTypeCategory = 'json';\n      break;\n\n    case mimetype === 'application/xml':\n    case mimetype === 'text/xml':\n      fileTypeCategory = 'xml';\n      break;\n\n    // === Otros ===\n    case mimetype === 'text/calendar': // para .ics\n      fileTypeCategory = 'ics';\n      break;\n  }\n\n  // Añadimos la nueva propiedad 'fileTypeCategory' al objeto json del item\n  item.json.fileTypeCategory = fileTypeCategory;\n  \n  // Añadimos el item modificado al array de resultados\n  results.push(item);\n}\n\n// Devolvemos el array con todos los items modificados\nreturn results;"},"id":"6b1c901e-cdf7-43e0-8134-b6f2e3be4bb1","name":"Get Mime Type","type":"n8n-nodes-base.code","position":[720,2256],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1919febf-c06b-41d1-a02c-1082f2e444e4","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51250085-0cb5-4442-b711-d7ef71c3c927","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"886256b8-5fa1-470a-a161-24a3d9d28285","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"video"}]},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f09cd376-96df-4f3d-9218-6a918715335a","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"json"}]},"renameOutput":true,"outputKey":"json"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4988d14f-4e3f-4494-96b0-a1a9d70a2787","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"pdf"}]},"renameOutput":true,"outputKey":"pdf"}]},"options":{"fallbackOutput":"extra"}},"id":"2c98b997-ad24-4f13-80c9-c1cf49e30f92","name":"Media Type","type":"n8n-nodes-base.switch","position":[912,2192],"typeVersion":3.2},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash-lite","cachedResultName":"models/gemini-2.5-flash-lite"},"inputType":"binary","options":{}},"id":"4735aaa8-ecee-46a0-b27c-409f55045628","name":"Analyze Image","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1280,1808],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"PLbZSbWgTnpFS3jY","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"content":"## 3. Webhook & Configuration\nReceives the Evolution API payload and defines global variables (Buffer wait time, Cache duration, History limit).","height":1536,"width":1584,"color":7},"id":"c47aa308-affd-4ee1-ae7f-c6d4e2d94eb0","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1408,80],"typeVersion":1},{"parameters":{"content":"## 4. Media Normalization\nDetects media types (Images, Audio, Documents) and downloads/converts them into a format compatible with the AI Agent.","height":1104,"width":1856,"color":7},"id":"a4b99ce7-6971-4dfc-a31c-6a84264a5c8b","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[432,1664],"typeVersion":1},{"parameters":{"content":"## 5. Smart Input Buffering\nUses Redis to:\n1. Group **Album files** into a single input.\n2. Debounce **Text messages** (waits X seconds) to prevent fragmented AI responses.","height":912,"width":2080,"color":7},"id":"3da9aa0b-d1f3-404a-a483-3b8433a7519e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2864,768],"typeVersion":1},{"parameters":{"content":"## Core Configuration\nControl the buffering and memory logic here:\n\n*   **wait_buffer**: The debounce window (in seconds). The workflow waits this long for subsequent text messages to group them into a single AI prompt.\n*   **wait_conversation**: Redis TTL (in seconds). How long the active conversation stays in the \"Hot Cache\" after the last message.\n*   **max_chat_history**: The hard limit of past messages to fetch from PostgreSQL (Cold Storage) when the cache is empty.","height":464,"width":400,"color":3},"id":"20d400e4-032d-440f-bbee-5c5e765a30cb","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-448,192],"typeVersion":1},{"parameters":{"content":"Desactivar y Activar bot\n\nEste flujo:\n\nRecibe un mensaje (Webhook)\nVerifica quién lo envió\nRevisa si el bot está bloqueado temporalmente\nDetecta si es texto o multimedia (como álbum de fotos/videos)\nProcesa el contenido según el tipo","height":816,"width":1424,"color":7},"type":"n8n-nodes-base.stickyNote","position":[896,144],"typeVersion":1,"id":"0be092a8-743b-4ca3-9b26-f9ce3fc02f4d","name":"Sticky Note10"},{"parameters":{"httpMethod":"POST","path":"chatwoot-events","options":{"noResponseBody":true}},"id":"0308ca6c-13f5-4edc-b5b8-4c8ced1db455","name":"Webhook Chatwoot","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1296,800],"webhookId":"ce348afb-a9c6-4c55-9213-5ea983ccc59b"},{"parameters":{"assignments":{"assignments":[{"id":"a3","name":"conversation_status","type":"string","value":"={{ $json.body.conversation?.meta?.status || $json.body.status || '' }}"},{"id":"a4","name":"redis_key","type":"string","value":"={{ $json.body.id }}"}]},"options":{}},"id":"afa7cffc-7ce2-4440-a60a-36d2423cde11","name":"Extraer Datos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,800]},{"parameters":{"operation":"delete","key":"={{ $json.redis_key }}"},"id":"c0fc910b-e1be-414c-95e1-9714d94ebef3","name":"Desbloquear Bot","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-560,688],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e013fcc2-f9db-4f94-a479-e5a6a237bcba","leftValue":"={{ $json.conversation_status }}","rightValue":"resolved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Resuelto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"32a28ab6-040f-4cfb-82ad-a2a2565178a0","leftValue":"={{ $json.conversation_status }}","rightValue":"open","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Abierto"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-816,784],"id":"4d0f97fd-bc49-4b93-b104-e960988d4226","name":"Switch"},{"parameters":{},"id":"79b4b2c1-b0c8-4fa2-8b59-9ce2c3a998fc","name":"Ignorar Evento2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-560,976]},{"parameters":{"operation":"set","key":"={{ $json.redis_key }}","value":"blocked-bot"},"id":"e84332d2-3085-49e0-aa1f-568edc5aa433","name":"Bloquear  Bot","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-560,848],"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","propertyName":"bot-state","key":"={{ $('Webhook').item.json.body.data?.chatwootConversationId?.toString() || '' }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1264,736],"id":"cb4ca568-2616-4e95-9eb2-82c5191429b3","name":"Verifica el bloqueo","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"19c07b89-e324-4a51-a966-cadca8b657ee","leftValue":"={{ $json['bot-state'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1472,736],"id":"b1ab0fb4-15e7-47e2-830b-bd1d89f5deac","name":"verifica el estado de la sesion"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1872,160],"id":"821e3301-329d-4909-a95f-a93830008076","name":"No Operation, do  nothing"},{"parameters":{"workflowId":{"__rl":true,"value":"ImaUKCFiJVRWiJqh","mode":"list","cachedResultUrl":"/workflow/ImaUKCFiJVRWiJqh","cachedResultName":"partes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('Get Message').item.json.message }}","numero":"={{ $('Global Variables').item.json.number }}","contexto":"={{ $json.text }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contexto","displayName":"contexto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7296,1104],"id":"454d1a1c-f945-47fd-85f6-cc49b02a64c2","name":"Cerebro - SubFlow"},{"parameters":{},"id":"44125292-5ad3-430d-9836-98f019787f40","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1248,1280]},{"parameters":{"jsCode":"const error = $input.first().json;\n\nconst workflowName = error.workflow?.name || 'Desconocido';\nconst nodeName = error.execution?.lastNodeExecuted || 'Desconocido';\nconst errorMessage = error.execution?.error?.message || 'Error desconocido';\nconst number = error.execution?.data?.resultData?.runData?.['Global Variables']?.[0]?.data?.main?.[0]?.[0]?.json?.number || null;\n\nreturn [{ json: { workflowName, nodeName, errorMessage, number } }];"},"id":"d61040d2-fa76-4a33-8ace-99d940269238","name":"Extraer Datos del Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1024,1280]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-number","leftValue":"={{ $json.number }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6b553565-6a10-4112-8349-44e553cbb9f8","name":"¿Tiene número?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-800,1280]},{"parameters":{"resource":"messages-api","instanceName":"Facture","remoteJid":"={{ $json.number }}","messageText":"En este momento estoy teniendo dificultades técnicas. Por favor intentá de nuevo en unos minutos. Si el problema persiste, un agente humano te atenderá en horario L-V 8:00-22:00.","options_message":{}},"id":"20279ee1-0ca6-4637-b674-0610afb3bc6e","name":"Enviar Mensaje de Error","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-576,1168],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"log-error","name":"log","type":"string","value":"={{ 'Workflow: ' + $json.workflowName + ' | Nodo: ' + $json.nodeName + ' | Error: ' + $json.errorMessage }}"}]},"options":{}},"id":"4ad4f4da-bf79-42e1-92ba-0846bb866c31","name":"Log Sin Número","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,1392]},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"ok\" }","options":{"responseCode":200}},"id":"9916e89e-130a-433d-ac65-d571d2344367","name":"Confirmar recepción","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-1136,512]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"filter-message","leftValue":"={{ $json.body.entry[0].changes[0].value.messages[0].id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0d311685-ed2b-46ce-abb8-4de761f67984","name":"Es un mensaje?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-912,512]},{"parameters":{"assignments":{"assignments":[{"id":"bf06bbd5-2ca4-4aa9-bc9a-825a570791ae","name":"number","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}"},{"id":"d350a635-82ed-4373-9725-706c1dcf9cf5","name":"wait_buffer","type":"string","value":"5"},{"id":"ef7dd1c1-0925-416b-b73e-79ee3ee11e81","name":"wait_conversation","type":"string","value":"300"},{"id":"07b5fd03-4ef0-4e59-b4ef-a354dc2b6893","name":"max_chat_history","type":"string","value":"6"},{"id":"a1b2c3d4-0000-0000-0000-000000000001","name":"message_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].id }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000002","name":"message_type","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].type }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000003","name":"phone_number_id","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}"}]},"options":{}},"id":"7d50162d-b03d-47fe-94b8-1966d9f6357a","name":"Global Variables","type":"n8n-nodes-base.set","position":[-336,496],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a33f66d8-1bd1-400b-b1ce-c2513f57bdb3","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"version":2,"caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5b401571-7d2c-4c5e-bb2e-06e2d683402a","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Global Variables').item.json.message_type }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"AlbumMessage"}]},"options":{"fallbackOutput":"extra"}},"id":"76a001d4-8088-4f7a-ad33-04aa99663c1c","name":"Message Type","type":"n8n-nodes-base.switch","position":[1792,576],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"801ec600-22ad-4a94-a2b4-ae72eb271df0","name":"message","type":"string","value":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].text.body }}"}]},"options":{}},"id":"9b7681e9-39b8-4054-9649-e0424eae5eeb","name":"get_message (text)","type":"n8n-nodes-base.set","position":[2096,368],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"19c07b89-e324-4a51-a966-cadca8b657ee","leftValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].from }}","rightValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.metadata.display_phone_number }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"e448cc7a-ce3e-475a-a491-6199862296d0","name":"Verifica quien escribe","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[976,496]},{"parameters":{"httpMethod":"POST","path":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14/webhook","responseMode":"responseNode","options":{}},"id":"51dda902-b93f-4985-bc5f-04e2036c68d7","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1360,512],"webhookId":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f11a017f-dc64-4db4-9836-d13d164a62cf","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ JSON.parse($json.message.last()).sessionID }}","rightValue":"={{ $('Global Variables').item.json.message_id }}"}]},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","operator":{"type":"dateTime","operation":"before"},"leftValue":"={{ JSON.parse($json.message.last()).date_time }}","rightValue":"={{ $now.minus($('Global Variables').item.json.wait_buffer, 'seconds') }}"}]},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"id":"fa449dbc-3810-43d3-824c-43114658b9c0","name":"Buffer Route1","type":"n8n-nodes-base.switch","position":[3952,1280],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"0f4cdb2c-9407-4783-83c6-4440faa74f00","name":"reponse","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"3898ffdc-fe31-4e82-a5bb-8af8c076d050","name":"Agent Response","type":"n8n-nodes-base.set","position":[7696,1104],"typeVersion":3.4},{"parameters":{"operation":"send","phoneNumberId":"={{ $('Global Variables').item.json.phone_number_id }}","recipientPhoneNumber":"={{ $('Global Variables').item.json.number }}","textBody":"={{ $('Agent Response').item.json.reponse }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[8032,1104],"id":"242585ec-f8e1-434d-ad51-f149649572a9","name":"Send Response","webhookId":"078fe469-fed6-4a39-90c6-2ebead2093cc","credentials":{"whatsAppApi":{"id":"b0QcmC1rsO22xO8F","name":"WhatsApp account"}}},{"parameters":{"operation":"get","propertyName":"message","key":"=WA_{{ $('Global Variables').item.json.number }}","options":{}},"id":"ed454bdf-f939-4deb-9ecc-bd7278349bad","name":"Get From Buffer","type":"n8n-nodes-base.redis","position":[3760,1280],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"delete","key":"=WA_{{ $('Global Variables').item.json.number }}"},"id":"2dabd278-fe3d-4fe1-9964-01b3ae4c980b","name":"Delete Buffer","type":"n8n-nodes-base.redis","position":[4192,1296],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"push","list":"=WA_{{ $('Global Variables').item.json.number }}","messageData":"={{ JSON.stringify({\n  message: $('Normalize input').item.json.message,\n  sessionID: $('Global Variables').item.json.message_id,\n  date_time: $now.toISO()\n}) }}","tail":true},"id":"815c5ec2-12cf-4251-951d-705e6ad46b02","name":"Push to Buffer","type":"n8n-nodes-base.redis","position":[3568,1248],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"url":"=https://graph.facebook.com/v19.0/{{ $('Global Variables').item.json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"98033c22-0fd7-4a6b-a7b3-574d456a0906","name":"Descargar Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,784],"credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"84d93b6a-0fac-402c-b6dd-203551ab7eb3","name":"Fetch Binary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,784],"credentials":{"httpHeaderAuth":{"id":"dFmnzzAEhDqitIow","name":"Authorization"}}},{"parameters":{"assignments":{"assignments":[{"id":"mime-pass-001","name":"data","type":"string","value":"={{ $('Descargar Media').item.json.mime_type }}"}]},"options":{}},"id":"10d4b6d2-0cdf-4d72-b6ca-7024f3f7b055","name":"Set Mime Type","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,784]}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Create Table chat_history","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Open session","type":"main","index":0},{"node":"Read Messages","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Writting...","type":"main","index":0}]]},"Delete Buffer (chat_history)":{"main":[[{"node":"Delete Buffer (chat_history)2","type":"main","index":0}]]},"Get chat_history":{"main":[[{"node":"Context Refiner","type":"main","index":0}]]},"Buffer (chat_history) Route":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Delete Buffer (chat_history)","type":"main","index":0}],[{"node":"Wait For end of conversation","type":"main","index":0}]]},"Wait For end of conversation":{"main":[[{"node":"Get From Buffer(chat_history)","type":"main","index":0}]]},"Push to Buffer (chat_history)":{"main":[[{"node":"Get From Buffer(chat_history)","type":"main","index":0}]]},"Get From Buffer(chat_history)":{"main":[[{"node":"Buffer (chat_history) Route","type":"main","index":0}]]},"Get chat_history From DataBase":{"main":[[{"node":"Aggregate all Messges","type":"main","index":0}]]},"Aggregate all Messges":{"main":[[{"node":"chat_history in DataBase?","type":"main","index":0}]]},"chat_history In Buffer?":{"main":[[{"node":"Get chat_history","type":"main","index":0}],[{"node":"Get chat_history From DataBase","type":"main","index":0}]]},"Push to chat_history":{"main":[[{"node":"Get chat_history","type":"main","index":0}]]},"Push first message to chat_history":{"main":[[{"node":"Get chat_history","type":"main","index":0}]]},"Get chat_history1":{"main":[[{"node":"chat_history In Buffer?","type":"main","index":0}]]},"chat_history in DataBase?":{"main":[[{"node":"Push to chat_history","type":"main","index":0}],[{"node":"Push first message to chat_history","type":"main","index":0}]]},"Context Refiner":{"main":[[{"node":"Cerebro - SubFlow","type":"main","index":0}]]},"Push message chat_history (User And Agent)":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Add Messages to chat_history (User And Agent)":{"main":[[{"node":"Push to Buffer (chat_history)","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Add Messages to chat_history (User And Agent)","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Context Refiner","type":"ai_languageModel","index":0}]]},"Chatwoot - Etiquetado Automático":{"main":[[]]},"Normalize Buffer":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Check AlbumGroup":{"main":[[{"node":"Album?","type":"main","index":0}]]},"Push Media to Buffer":{"main":[[{"node":"Get Album From Buffer","type":"main","index":0}]]},"Completed?":{"main":[[{"node":"Delete Media Buffer","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Delete Media Buffer":{"main":[[{"node":"Normalize MediaGroup Buffer","type":"main","index":0}]]},"Normalize MediaGroup Buffer":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Get Album From Buffer":{"main":[[{"node":"Completed?","type":"main","index":0}]]},"Album?":{"main":[[{"node":"Push Media to Buffer","type":"main","index":0}],[{"node":"Push to Buffer","type":"main","index":0}]]},"Get Message":{"main":[[{"node":"Get chat_history1","type":"main","index":0}]]},"Wait For User Other Fast Message":{"main":[[{"node":"Get From Buffer","type":"main","index":0}]]},"Extract from JSON":{"main":[[{"node":"Normalize JSON","type":"main","index":0}]]},"Extract from PDF":{"main":[[{"node":"Text?","type":"main","index":0}]]},"Analyze audio":{"main":[[{"node":"get_message (Audio)","type":"main","index":0}]]},"get_message (File message)":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"get_error_message":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Normalize JSON":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"Normalize PDF":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"Text?":{"main":[[{"node":"Normalize PDF","type":"main","index":0}],[{"node":"get_message (File message)","type":"main","index":0}]]},"Normalize input":{"main":[[{"node":"Check AlbumGroup","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Get Mime Type","type":"main","index":0}]]},"Analyze video":{"main":[[{"node":"get_message (Video)","type":"main","index":0}]]},"get_message (Video)":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"get_message (Audio)":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"get_message (Image)":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"Get Mime Type":{"main":[[{"node":"Media Type","type":"main","index":0}]]},"Media Type":{"main":[[{"node":"Analyze Image","type":"main","index":0}],[{"node":"Analyze audio","type":"main","index":0}],[{"node":"Analyze video","type":"main","index":0}],[{"node":"Extract from JSON","type":"main","index":0}],[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"get_error_message","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"get_message (Image)","type":"main","index":0}]]},"Webhook Chatwoot":{"main":[[{"node":"Extraer Datos","type":"main","index":0}]]},"Extraer Datos":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Desbloquear Bot","type":"main","index":0}],[{"node":"Bloquear  Bot","type":"main","index":0}],[{"node":"Ignorar Evento2","type":"main","index":0}]]},"Verifica el bloqueo":{"main":[[{"node":"verifica el estado de la sesion","type":"main","index":0}]]},"Cerebro - SubFlow":{"main":[[{"node":"Agent Response","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Extraer Datos del Error","type":"main","index":0}]]},"Extraer Datos del Error":{"main":[[{"node":"¿Tiene número?","type":"main","index":0}]]},"¿Tiene número?":{"main":[[{"node":"Enviar Mensaje de Error","type":"main","index":0}],[{"node":"Log Sin Número","type":"main","index":0}]]},"Confirmar recepción":{"main":[[{"node":"Es un mensaje?","type":"main","index":0}]]},"Es un mensaje?":{"main":[[{"node":"Global Variables","type":"main","index":0}]]},"Global Variables":{"main":[[{"node":"Verifica quien escribe","type":"main","index":0}]]},"Message Type":{"main":[[{"node":"get_message (text)","type":"main","index":0}],[{"node":"Push to Buffer (AlbumGroup)","type":"main","index":0}],[{"node":"Descargar Media","type":"main","index":0}]]},"get_message (text)":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Verifica quien escribe":{"main":[[{"node":"No Operation, do  nothing","type":"main","index":0}],[{"node":"Message Type","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Confirmar recepción","type":"main","index":0}]]},"Buffer Route1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Delete Buffer","type":"main","index":0}],[{"node":"Wait For User Other Fast Message","type":"main","index":0}]]},"Agent Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Send Response":{"main":[[{"node":"Push message chat_history (User And Agent)","type":"main","index":0}]]},"Delete Buffer":{"main":[[{"node":"Normalize Buffer","type":"main","index":0}]]},"Get From Buffer":{"main":[[{"node":"Buffer Route1","type":"main","index":0}]]},"Push to Buffer":{"main":[[{"node":"Get From Buffer","type":"main","index":0}]]},"Descargar Media":{"main":[[{"node":"Fetch Binary","type":"main","index":0}]]},"Fetch Binary":{"main":[[{"node":"Set Mime Type","type":"main","index":0}]]},"Set Mime Type":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"authors":"Diego diereyescarv@gmail.com","name":"Version 67b50dbf","description":"","autosaved":false},"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}