workflows/toDeploy - Agente WhatsApp + Citas Google Calendar.json
{"updatedAt":"2026-04-18T07:45:27.235Z","createdAt":"2026-04-03T18:47:00.189Z","id":"i9nKzYJPiLpGXrZh","name":"toDeploy - Agente WhatsApp + Citas Google Calendar","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"delete","key":"=Chats_{{  $('Global Variables').item.json.number }}"},"id":"c633b57c-cf26-44e4-9d1c-6bcc603d4e92","name":"Delete Buffer (chat_history)","type":"n8n-nodes-base.redis","position":[9872,1488],"typeVersion":1,"credentials":{"redis":{"id":"evKysoxa4T3gaY84","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d0f3b823-dda9-42e9-936b-4ca4123026ca","name":"history","type":"string","value":"={{ $json.propertyName.slice(-$('Global Variables').item.json.max_chat_history).join('\\n') }}"}]},"options":{}},"id":"6d1a955a-c4ee-469a-a508-a85a884d7d1f","name":"Get chat_history","type":"n8n-nodes-base.set","position":[6080,1376],"typeVersion":3.4},{"parameters":{},"id":"e8bd0987-2f16-460e-a6fd-42d34b32d649","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","position":[9872,1344],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f11a017f-dc64-4db4-9836-d13d164a62cf","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ JSON.parse($json.message.last()).sessionID }}","rightValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","operator":{"type":"dateTime","operation":"before"},"leftValue":"={{ JSON.parse($json.message.last()).date_time }}","rightValue":"={{ $now.minus($('Global Variables').item.json.wait_conversation, 'seconds') }}"}]},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"id":"f1d8b70e-f0a5-4581-8cd4-5d71101778b5","name":"Buffer (chat_history) Route","type":"n8n-nodes-base.switch","position":[9616,1360],"typeVersion":3.2},{"parameters":{"amount":"={{ $('Global Variables').item.json.wait_conversation }}"},"id":"b59379ac-ff99-44f7-b640-b1592f7ab416","name":"Wait For end of conversation","type":"n8n-nodes-base.wait","position":[9872,1664],"webhookId":"06711a97-b08d-4552-aab8-868b1b8bbc5c","typeVersion":1.1},{"parameters":{"operation":"push","list":"=Chats_buffer{{  $('Global Variables').item.json.number }}","messageData":"={{ JSON.stringify({\n  sessionID : $('Webhook').item.json.body.data.key.id,\n  date_time : $node[\"Webhook\"].json.body.data.messageTimestamp.toDateTime('s')\n}) }}\n","tail":true},"id":"c160310e-5de5-4207-a87a-763a314cda7b","name":"Push to Buffer (chat_history)","type":"n8n-nodes-base.redis","position":[9184,1376],"typeVersion":1,"credentials":{"redis":{"id":"evKysoxa4T3gaY84","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"message","key":"=Chats_buffer{{  $('Global Variables').item.json.number }}","options":{}},"id":"9d9cc0fd-3401-4828-9c18-4be3d31ec079","name":"Get From Buffer(chat_history)","type":"n8n-nodes-base.redis","position":[9424,1376],"typeVersion":1,"credentials":{"redis":{"id":"evKysoxa4T3gaY84","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=Chats_buffer{{  $('Global Variables').item.json.number }}"},"id":"cf5411e0-010f-42c6-984d-9db368254930","name":"Delete Buffer (chat_history)2","type":"n8n-nodes-base.redis","position":[10064,1488],"typeVersion":1,"credentials":{"redis":{"id":"evKysoxa4T3gaY84","name":"Redis account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $json.Name }}","remoteJid":"={{ $json.Number }}","messageId":"={{ $json.ID }}"},"id":"1067d131-0dc8-4e3b-be0f-be13f8473e6f","name":"Read Messages","type":"n8n-nodes-evolution-api.evolutionApi","position":[1888,-672],"typeVersion":1,"credentials":{"evolutionApi":{"id":"j76R7wOdNBRPVdNm","name":"Evolution account"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $json.Name }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $json.ID }}","remoteJid":"={{ $json.Number }}"},"id":"d17fcd7e-a82f-4e92-b3a5-f79739082161","name":"Open session","type":"n8n-nodes-evolution-api.evolutionApi","position":[1888,-864],"typeVersion":1,"credentials":{"evolutionApi":{"id":"j76R7wOdNBRPVdNm","name":"Evolution account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"chat_history","cachedResultName":"chat_history"},"limit":"={{ $('Global Variables').item.json.max_chat_history }}","where":{"values":[{"column":"user_whatsapp_number","value":"={{ $('Global Variables').item.json.number }}"}]},"options":{"outputColumns":["message_text"]}},"id":"60b5bd9d-aeff-4248-a0cc-34caa8c1ba8b","name":"Get chat_history From DataBase","type":"n8n-nodes-base.postgres","position":[5136,1648],"retryOnFail":true,"typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"BZ5q2rgXCNddAxI2","name":"Postgres account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message_text"}]},"options":{}},"id":"dd5bfc52-5598-4ea1-bbde-c4b31fd68698","name":"Aggregate all Messges","type":"n8n-nodes-base.aggregate","position":[5328,1648],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"761329c9-499f-4328-bc11-835edcfd003c","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.propertyName[0] }}","rightValue":""}]},"options":{}},"id":"481e40d7-4f00-4802-8256-8f4255574a90","name":"chat_history In Buffer?","type":"n8n-nodes-base.if","position":[4960,1392],"typeVersion":2.2},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('When Executed by Another Workflow').item.json.Name }}","remoteJid":"={{ $('When Executed by Another Workflow').item.json.Number }}","delay":10200},"id":"659f4396-3fd2-4087-ac1c-cf6041342ff5","name":"Writting...","type":"n8n-nodes-evolution-api.evolutionApi","position":[2096,-480],"typeVersion":1,"credentials":{"evolutionApi":{"id":"j76R7wOdNBRPVdNm","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS mentour_users (\n    whatsapp_number VARCHAR(25) PRIMARY KEY,\n    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);\nCREATE TABLE IF NOT EXISTS chat_history (\n    -- Unique identifier for each individual message\n    message_id BIGSERIAL PRIMARY KEY,\n\n    -- Link to the user involved in the conversation\n    user_whatsapp_number VARCHAR(25) NOT NULL REFERENCES mentour_users(whatsapp_number) ON DELETE CASCADE,\n\n    -- The text content of the message\n    message_text TEXT NOT NULL,\n\n    -- The exact time the message was sent/received\n    message_timestamp TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n    \n    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);\n\n-- Optimization: A composite index to very quickly retrieve a user's chat history in chronological order.\nCREATE INDEX IF NOT EXISTS idx_chat_history_user_timestamp \nON chat_history (user_whatsapp_number, message_timestamp);","options":{}},"id":"b3444267-0d72-4db6-8701-e5ee33e43423","name":"Create Table chat_history","type":"n8n-nodes-base.postgres","position":[1776,-1200],"typeVersion":2.6,"credentials":{"postgres":{"id":"BZ5q2rgXCNddAxI2","name":"Postgres account"}}},{"parameters":{},"id":"e6675446-b287-466a-b408-b0c35657601d","name":"When clicking ‘Execute workflow’","type":"n8n-nodes-base.manualTrigger","position":[1600,-1200],"typeVersion":1},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"={{ $json.message_text.join('\\n') }}","tail":true},"id":"84fee49e-2ec6-4fd6-b5d3-9f42ad7f18b5","name":"Push to chat_history","type":"n8n-nodes-base.redis","position":[5744,1552],"typeVersion":1,"credentials":{"redis":{"id":"evKysoxa4T3gaY84","name":"Redis account"}}},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"=.","tail":true},"id":"5ab7000a-c059-46fe-b864-b8eb16f5165c","name":"Push first message to chat_history","type":"n8n-nodes-base.redis","position":[5744,1744],"typeVersion":1,"credentials":{"redis":{"id":"evKysoxa4T3gaY84","name":"Redis account"}}},{"parameters":{"operation":"get","key":"=Chats_{{  $('Global Variables').item.json.number }}","options":{}},"id":"ce4eb7fe-64ba-43fe-befc-b08ac4154c13","name":"Get chat_history1","type":"n8n-nodes-base.redis","position":[4720,1392],"typeVersion":1,"credentials":{"redis":{"id":"evKysoxa4T3gaY84","name":"Redis account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Name"},{"name":"Number"},{"name":"ID"}]}},"id":"fc4819e4-bb1b-4612-80c0-a3d952d64b29","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1648,-656],"typeVersion":1.1},{"parameters":{},"id":"14ab269e-1df8-425e-8194-28bc9fa0e526","name":"Wait","type":"n8n-nodes-base.wait","position":[1888,-480],"webhookId":"65187612-7e5b-4a76-8465-7bd694e3e172","typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"18946671-190b-43d9-a88f-810184127ed2","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message_text }}","rightValue":""}]},"options":{}},"id":"02c65faf-3d0c-4b97-82b9-f238c9ac3c71","name":"chat_history in DataBase?","type":"n8n-nodes-base.if","position":[5536,1648],"typeVersion":2.3},{"parameters":{"content":"## 1. Database Setup\nCreates the `chat_history` table in PostgreSQL. Execute this node manually **once** before activating the workflow.","height":320,"width":512,"color":7},"id":"ce3c124d-71f3-4eab-b8f7-17a1e4295f4e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1520,-1328],"typeVersion":1},{"parameters":{"content":"## 2. Parallel UX Handling\nManages user experience (Read receipts, 'Typing...' status) in parallel using a sub-workflow to avoid adding latency to the main AI processing logic.","height":688,"width":832,"color":7},"id":"37791d47-b025-4162-90b2-dd56f64dbe95","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1520,-960],"typeVersion":1},{"parameters":{"content":"## 6. Hybrid Memory Retrieval\nOptimized fetch strategy: Checks Redis (fast cache) for recent history first. If empty, falls back to PostgreSQL (permanent storage).","height":720,"width":1600,"color":7},"id":"59acbd49-d9a7-4125-922f-cac1a32b0eb6","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[4656,1248],"typeVersion":1},{"parameters":{"content":"## 8. Cache Lifecycle Manager\nKeeps the conversation active in Redis for a specific duration (e.g., 300s) after the last message to ensure high-speed retrieval.","height":640,"width":1184,"color":7},"id":"cf5cd1be-a5e8-48f1-acc0-53f21967da90","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[9104,1232],"typeVersion":1},{"parameters":{"content":"## Advanced Evolution API Agent with Redis Buffering & Context Refinement\n\nThis production-ready template builds a high-performance WhatsApp chatbot using Evolution API. It solves common AI bot issues—latency, fragmented messages, and token costs—by implementing a hybrid memory architecture (Redis + PostgreSQL) and a multi-stage AI pipeline.\n\n### How it works\n1. **Parallel Ingestion:** The workflow triggers on new messages via Evolution API. A parallel branch immediately handles \"typing...\" status and read receipts to optimize perceived latency.\n2. **Intelligent Buffering:** Incoming messages are routed to Redis buffers. The system distinguishes between **Media Albums** (waiting for all files) and **Rapid Texts** (debouncing inputs for 5s) to consolidate user intent into a single prompt.\n3. **Hybrid Memory Retrieval:** Chat history is fetched from Redis (hot cache) for speed. If the cache expires, it falls back to PostgreSQL (persistent storage).\n4. **Context Optimization:** A fast \"Context Refiner\" model distills the chat history, passing only relevant context to the Main Agent. This prevents \"context rot\" and reduces token costs.\n5. **Execution & Sync:** The Main Agent generates the response. Finally, the conversation is saved to PostgreSQL and refreshed in the Redis cache.\n\n### Setup\n**Install the Node:** Go to `Settings &gt; Community Nodes` in n8n and install `n8n-nodes-evolution-api`.\n**Credentials:** Configure credentials for Redis, PostgreSQL, and your AI provider (e.g., OpenAI/Gemini).\n**Database:** Execute the \"Create Table\" node once to initialize the `chat_history` table in PostgreSQL.\n**Evolution API:** Set your `instanceName` and `apikey` in the Webhook node.\n**Configuration:** Adjust parameters in the \"Global Variables\" node (Buffer Wait Time, Cache TTL, History Limit).\n-Models:** Select a fast model for the Context Refiner and a capable model for the Main Agent.","height":1024,"width":614},"id":"2f282bd4-f072-4327-a55c-286455b8bbd2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[768,-1424],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"0f4cdb2c-9407-4783-83c6-4440faa74f00","name":"reponse","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"73fdff56-803a-444c-be6b-912c0a758957","name":"Agent Response","type":"n8n-nodes-base.set","position":[7328,1376],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"=<Chat_History>\n{{ $json.history }}\n</Chat_History>\n\n<Current_User_Input>\n{{ $('Get Message').item.json.message }}\n</Current_User_Input>","messages":{"messageValues":[{"message":"=# SYSTEM ROLE\nYou are a Context Retrieval Processor for a customer service system. \nYou are a backend component, NOT a conversational assistant.\n\n# CONTEXT\nThe system handles WhatsApp conversations for Facture.CR, a billing \nplatform. Conversations may involve multiple specialized agents: \nSoporte, Ventas, Pagos, Hardware, Marketing, Escalamiento.\n\n# INPUTS\n1. <CHAT_HISTORY>: Previous conversation turns with format \n   \"User: ... / Agent: ...\"\n2. <CURRENT_INPUT>: The user's latest message.\n3. <ACTIVE_AGENT>: The agent currently handling the conversation.\n\n# OBJECTIVE\nExtract ONLY the facts from <CHAT_HISTORY> that are directly \nrelevant to answering <CURRENT_INPUT> within the scope of \n<ACTIVE_AGENT>.\n\n# RULES\n1. If input is a greeting or standalone question with no \n   historical dependency → return empty string.\n2. Only extract context relevant to the ACTIVE_AGENT's domain.\n   Ignore history from other agent domains.\n3. Resolve pronouns (\"it\", \"that one\", \"the same\") using history.\n4. Connect file references to their extracted data.\n5. Ignore pleasantries and metadata.\n6. Maximum output: 3-5 sentences of pure facts.\n7. Never mention agent names, workflow names, or internal systems.\n\n# OUTPUT\nPlain text facts only. Empty string if nothing relevant.\n\n# LANGUAGE Always output in the same language as the <CHAT_HISTORY> content."}]},"batching":{}},"id":"33ee73c0-c899-4419-91b5-86c805edfb22","name":"Context Refiner","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[6464,1376],"typeVersion":1.7},{"parameters":{"operation":"push","list":"=Chats_{{ $('Global Variables').item.json.number }}","messageData":"=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}","tail":true},"id":"faea0f3d-cbeb-411b-bf94-805cc3eff162","name":"Push message chat_history (User And Agent)","type":"n8n-nodes-base.redis","position":[8032,1376],"typeVersion":1,"credentials":{"redis":{"id":"evKysoxa4T3gaY84","name":"Redis account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":"chat_history","cachedResultName":"chat_history"},"columns":{"value":{"message_text":"=User: {{ $('Get Message').item.json.message }}\nAgent: {{ $('Agent Response').item.json.reponse }}","user_whatsapp_number":"={{ $('Global Variables').item.json.number }}"},"schema":[{"id":"message_id","type":"number","display":true,"removed":true,"required":false,"displayName":"message_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_whatsapp_number","type":"string","display":true,"required":true,"displayName":"user_whatsapp_number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"message_text","type":"string","display":true,"required":true,"displayName":"message_text","defaultMatch":false,"canBeUsedToMatch":true},{"id":"message_timestamp","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"message_timestamp","defaultMatch":false,"canBeUsedToMatch":true},{"id":"created_at","type":"dateTime","display":true,"removed":true,"required":false,"displayName":"created_at","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"77446662-2656-4ac2-8417-c501968603fb","name":"Add Messages to chat_history (User And Agent)","type":"n8n-nodes-base.postgres","position":[8544,1376],"typeVersion":2.6,"credentials":{"postgres":{"id":"BZ5q2rgXCNddAxI2","name":"Postgres account"}}},{"parameters":{"content":"## 7. Context Refinement & Generation\n1. **Refiner Agent:** Summarizes chat history to save tokens and reduce context rot.\n2. **Main Agent:** Generates the final response.\n3. **Sync:** Saves the interaction to both PostgreSQL and the Redis buffer.","height":608,"width":2448,"color":7},"id":"7e5723b3-a282-4d64-970a-bacec915bede","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[6384,1168],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"INSERT INTO mentour_users (whatsapp_number)\nVALUES ('{{ $('Global Variables').item.json.number }}')\nON CONFLICT (whatsapp_number) DO NOTHING;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[8256,1376],"id":"1759cb24-acb8-4458-8809-1e80883c860a","name":"Execute a SQL query","credentials":{"postgres":{"id":"BZ5q2rgXCNddAxI2","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{"maxTokens":1000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[6480,1632],"id":"349ce952-7d0a-4c39-a7b4-092ed6a72796","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"P7wzzOAiVqYiH8u9","name":"OpenAI account"}}},{"parameters":{"resource":"messages-api","instanceName":"Facture","remoteJid":"={{  $('Global Variables').item.json.number }}","messageText":"={{ $json.reponse }}","options_message":{}},"id":"23f0d54c-7532-4743-9a4c-63322048cd2e","name":"Send Response","type":"n8n-nodes-evolution-api.evolutionApi","position":[7568,1376],"typeVersion":1,"alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"j76R7wOdNBRPVdNm","name":"Evolution account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"r3kFVYPzold6KCka","mode":"list","cachedResultUrl":"/workflow/r3kFVYPzold6KCka","cachedResultName":"Chatwoot - Etiquetado Automático"},"workflowInputs":{"mappingMode":"defineBelow","value":{"number":"={{ $('Global Variables').item.json.number }}","user_message":"={{ $('Get Message').item.json.message }}","agent_response":"={{ $('Agent Response').item.json.reponse }}"},"matchingColumns":[],"schema":[{"id":"number","displayName":"number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"agent_response","displayName":"agent_response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7808,1376],"id":"26f4067f-f48e-484e-9fb9-19b2861fa8e8","name":"Chatwoot - Etiquetado Automático"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"id":"cfb4dfe6-f2ea-43f1-a9eb-e053797f337b","name":"Descargar Media","type":"n8n-nodes-evolution-api.evolutionApi","position":[1728,1008],"typeVersion":1,"credentials":{"evolutionApi":{"id":"cCItwgQis1yKCMlu","name":"Evolution account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"801ec600-22ad-4a94-a2b4-ae72eb271df0","name":"message","type":"string","value":"={{ $('Webhook').item.json.body.data.message.conversation }}"}]},"options":{}},"id":"cac65b37-1460-49d9-b0ed-2ed0856c74fb","name":"get_message (text)","type":"n8n-nodes-base.set","position":[1744,656],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a33f66d8-1bd1-400b-b1ce-c2513f57bdb3","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","rightValue":""}]},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5b401571-7d2c-4c5e-bb2e-06e2d683402a","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"albumMessage"}]},"renameOutput":true,"outputKey":"AlbumMessage"}]},"options":{"fallbackOutput":"extra"}},"id":"1d3e7c21-7497-4e6a-bacd-ba7f299a60ae","name":"Message Type","type":"n8n-nodes-base.switch","position":[1520,848],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"bf06bbd5-2ca4-4aa9-bc9a-825a570791ae","name":"number","type":"string","value":"={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}"},{"id":"d350a635-82ed-4373-9725-706c1dcf9cf5","name":"wait_buffer","type":"string","value":"5"},{"id":"ef7dd1c1-0925-416b-b73e-79ee3ee11e81","name":"wait_conversation","type":"string","value":"300"},{"id":"07b5fd03-4ef0-4e59-b4ef-a354dc2b6893","name":"max_chat_history","type":"string","value":"6"}]},"options":{}},"id":"ee93bf9b-e09a-4fad-9451-84920fdebdd2","name":"Global Variables","type":"n8n-nodes-base.set","position":[-720,768],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f11a017f-dc64-4db4-9836-d13d164a62cf","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ JSON.parse($json.message.last()).sessionID }}","rightValue":"={{ $('Webhook').item.json.body.data.key.id }}"}]},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4fca4c39-e8bf-490b-8e2e-176c95d9156e","operator":{"type":"dateTime","operation":"before"},"leftValue":"={{ JSON.parse($json.message.last()).date_time }}","rightValue":"={{ $now.minus($('Global Variables').item.json.wait_buffer, 'seconds') }}"}]},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"id":"2a56c8ca-f5a5-4cc2-9abd-d43d33fefbaf","name":"Buffer Route","type":"n8n-nodes-base.switch","position":[3600,1552],"typeVersion":3.2},{"parameters":{"operation":"push","list":"={{  $('Global Variables').item.json.number }}","messageData":"={{ JSON.stringify({\n  message   : $json.message || ($('get_message (File message)').first()?.json?.message ?? ''),\n  sessionID : $('Webhook').item.json.body.data.key.id,\n  date_time : $node[\"Webhook\"].json.body.data.messageTimestamp.toDateTime('s')\n}) }}","tail":true},"id":"28b45501-3d37-4cd7-a1ea-4e8094918134","name":"Push to Buffer","type":"n8n-nodes-base.redis","position":[3200,1568],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","propertyName":"message","key":"={{  $('Global Variables').item.json.number }}","options":{}},"id":"29b87e08-a4bd-4aa2-94bb-2746c0ec7e7d","name":"Get From Buffer","type":"n8n-nodes-base.redis","position":[3408,1568],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"delete","key":"={{  $('Global Variables').item.json.number }}"},"id":"58338534-3f78-4754-aa27-418ab9370bbd","name":"Delete Buffer","type":"n8n-nodes-base.redis","position":[3824,1568],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"b594f1da-51e8-47a4-a636-7928a73b69f8","name":"message","type":"string","value":"={{ $json.message.map(m => JSON.parse(m).message).join('\\n') }}"}]},"options":{}},"id":"4ab7d1d5-ee50-40bc-b73e-7110f7cef498","name":"Normalize Buffer","type":"n8n-nodes-base.set","position":[4032,1568],"typeVersion":3.4},{"parameters":{},"id":"758de6dc-58c1-435a-9c69-69b68194a44a","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[3824,1408],"typeVersion":1},{"parameters":{"operation":"push","list":"=Media_{{  $('Global Variables').item.json.number }}","messageData":"={{ ($('Webhook').item.json.body.data.message.albumMessage.expectedImageCount + $('Webhook').item.json.body.data.message.albumMessage.expectedVideoCount).toString() }}","tail":true},"id":"902ab1a6-b7d0-45bb-a7e7-db7e2e15f5f5","name":"Push to Buffer (AlbumGroup)","type":"n8n-nodes-base.redis","position":[1712,832],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"get","key":"=Media_{{  $('Global Variables').item.json.number }}","options":{}},"id":"7478fd46-24fe-4a99-8992-c275afa673f0","name":"Check AlbumGroup","type":"n8n-nodes-base.redis","position":[2784,1568],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"operation":"push","list":"=Media_{{  $('Global Variables').item.json.number }}","messageData":"={{ $('Normalize input').item.json.message }}","tail":true},"id":"5928b299-2c78-42f9-9399-68d67a4a3621","name":"Push Media to Buffer","type":"n8n-nodes-base.redis","position":[3200,1248],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"131b95f2-cb9f-4d8c-9c2b-ca94383322dd","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.propertyName.length-1 }}","rightValue":"={{ parseInt($json.propertyName[0]) }}"}]},"options":{}},"id":"dbcc86ce-e4ff-4ba9-9c54-84954205a2ed","name":"Completed?","type":"n8n-nodes-base.if","position":[3600,1248],"typeVersion":2.2},{"parameters":{"operation":"delete","key":"=Media_{{  $('Global Variables').item.json.number }}"},"id":"5982ab06-7a9d-4c21-be1e-b1d3f237f871","name":"Delete Media Buffer","type":"n8n-nodes-base.redis","position":[3824,1232],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"b594f1da-51e8-47a4-a636-7928a73b69f8","name":"message","type":"string","value":"={{ $json.propertyName.slice(1).join('\\n') }}"}]},"options":{}},"id":"c57490ad-0d11-4e59-be16-f3bb0d0301eb","name":"Normalize MediaGroup Buffer","type":"n8n-nodes-base.set","position":[4032,1232],"typeVersion":3.4},{"parameters":{"operation":"get","key":"=Media_{{  $('Global Variables').item.json.number }}","options":{}},"id":"addd8fe8-365a-4999-a099-01298b019727","name":"Get Album From Buffer","type":"n8n-nodes-base.redis","position":[3408,1248],"typeVersion":1,"credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9062d3ba-1151-472f-95e0-42f54cbfb929","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.propertyName }}","rightValue":""}]},"options":{}},"id":"d203ab72-60c5-43ee-965d-f578acab52bb","name":"Album?","type":"n8n-nodes-base.if","position":[2992,1392],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"f6d7accb-8ef6-4c41-9b0a-9e0b4301dffd","name":"message","type":"string","value":"={{ $json.message || $json.chatInput }}"}]},"options":{}},"id":"db254490-01a6-4ab6-8b63-bcf601edba7f","name":"Get Message","type":"n8n-nodes-base.set","position":[4320,1392],"typeVersion":3.4},{"parameters":{"amount":"={{ $('Global Variables').item.json.wait_buffer }}"},"id":"f2893ec2-a0ec-439c-93e0-c38b47979d67","name":"Wait For User Other Fast Message","type":"n8n-nodes-base.wait","position":[3824,1728],"webhookId":"9b345d41-1595-4bc3-bb98-64e44682aa43","typeVersion":1.1},{"parameters":{"httpMethod":"POST","path":"a/event/messages-upsert","options":{}},"id":"8b5062c6-6173-4a27-ad8c-a0f303e5cd8b","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-1712,768],"webhookId":"814266db-b844-4119-8860-4ed59ab5ea18","typeVersion":2.1},{"parameters":{"operation":"fromJson","options":{}},"id":"60c1a45b-6f7d-4473-98bc-f7b74a1f51ee","name":"Extract from JSON","type":"n8n-nodes-base.extractFromFile","position":[912,2544],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"563fbbfb-5a2e-484d-9f81-9931d54f9190","name":"Extract from PDF","type":"n8n-nodes-base.extractFromFile","position":[912,2720],"typeVersion":1},{"parameters":{"resource":"audio","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"text":"# Transcribe verbatim the spoken content of this audio. \n\n# Output ONLY the transcribed text, nothing else.\n\n# No analysis, no descriptions, no metadata.\n\n# If no speech is detected, output: [No speech detected]","inputType":"binary","options":{}},"id":"d119f2a3-4646-4cc6-97b0-2c43029fef18","name":"Analyze audio","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[912,2240],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"1QFNIQQSWFpwk0L7","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"={{ $('Descargar Media').item.json.data?.caption ? \"Captions: \" + $('Descargar Media').item.json.data.caption : \"\" }}\nFile name:{{ $('Descargar Media').item.json.data.fileName }}\nFile type:{{ $('Get Mime Type').item.json.fileTypeCategory }}\nExtracted data from file:\n{{ $json.data }}"}]},"options":{}},"id":"4c927371-6880-4b8a-84ea-4bdd68c39a76","name":"get_message (File message)","type":"n8n-nodes-base.set","position":[1744,2528],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"message","type":"string","value":"=It was not possible to process the file.File type not supported."}]},"options":{}},"id":"e788d732-e6c9-47e7-80fe-ad99c71e1503","name":"get_error_message","type":"n8n-nodes-base.set","position":[1008,2880],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"24b93984-e305-4c11-a856-5fa0bfaaaa79","name":"data","type":"string","value":"={{ $json.data }}"}]},"options":{}},"id":"2e272d0f-331e-4e24-8f27-3b765ef67e55","name":"Normalize JSON","type":"n8n-nodes-base.set","position":[1088,2544],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"24b93984-e305-4c11-a856-5fa0bfaaaa79","name":"data","type":"string","value":"={{ $json.text }}"}]},"options":{}},"id":"960eb300-8540-4596-8bff-66b5575b48a6","name":"Normalize PDF","type":"n8n-nodes-base.set","position":[1248,2704],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"333a436f-c087-4250-a181-40657874959b","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.text }}","rightValue":""}]},"options":{}},"id":"bafc3f9a-5ed7-4e3f-aa30-e75cb476e0dc","name":"Text?","type":"n8n-nodes-base.if","position":[1088,2720],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"eb807b26-c415-42d2-9cef-707825d6fa82","name":"message","type":"string","value":"={{ $json.message }}"}]},"options":{}},"id":"1241873f-3fea-4e33-9830-96dd8950a62b","name":"Normalize input","type":"n8n-nodes-base.set","position":[2592,1568],"typeVersion":3.4},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"id":"d3ee3a89-39af-4cc6-9808-40ea12e47485","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[176,2528],"typeVersion":1.1},{"parameters":{"resource":"video","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash","cachedResultName":"models/gemini-2.5-flash"},"text":"### IDENTITY & CORE MISSION\nYou are Scrutator, a world-class multimedia analysis engine. Your sole purpose is to deconstruct any given video file into its most fundamental visual, auditory, and temporal components, providing a single, comprehensive, and hyper-detailed textual description. Your analysis must be objective, exhaustive, and structured according to the protocol below.\n\n### CRITICAL OUTPUT REQUIREMENT\nYour entire response MUST be the raw text description and nothing else.\n- DO NOT include preambles like \"Here is the analysis of the video.\"\n- DO NOT use markdown formatting like headers or bolding.\n- DO NOT apologize for limitations or mention that you are an AI.\n- Your output must begin directly with the analysis.\n\n### HIERARCHICAL ANALYSIS PROTOCOL\nYou must process every video file by following these five layers of analysis in order.\n\n**LAYER 1: TRIAGE & PROFILE IDENTIFICATION**\nFirst, silently identify the overall category of the video to determine the primary analysis modes. Categories include: [User Instruction/Vlog], [Document Scan/Presentation], [Food/Cooking Demo], [Cinematic/Narrative Clip], [Event Recording], [Environmental Scene]. State the identified category at the beginning of your description. Example: \"Category: User Instruction/Vlog.\"\n\n**LAYER 2: DUAL-STREAM DECONSTRUCTION (VISUAL & AUDITORY)**\nAnalyze the visual and audio streams in parallel, noting their interplay.\n\n**A. VISUAL STREAM ANALYSIS:**\nApply the full image analysis protocol to the video's visual content. Describe how these elements **evolve or change throughout the video's duration**.\n*   **Primary Subject(s):** Identify and analyze the main subjects (e.g., a person, a plate of food, a document).\n    *   **If Food:** Identify the dish, all ingredients, cooking methods, and portion size. Describe any actions performed on the food (e.g., \"slicing,\" \"sautéing,\" \"plating\").\n    *   **If Document/Receipt:** State that a document is present and that a full OCR transcription will follow in the audio stream analysis if the user reads it, or in the temporal analysis if it's held up to the camera.\n    *   **If Person:** Describe demographics, appearance, clothing, and actions.\n*   **Background & Context:** Detail the environment, secondary objects, and their spatial relationships.\n\n**B. AUDITORY STREAM ANALYSIS:**\nApply the full audio analysis protocol to the video's soundtrack.\n*   **Primary Content:**\n    *   **If Human Speech:** Provide a **verbatim transcription** with speaker diarization (\"Speaker 1:\", \"Speaker 2:\"). Analyze each speaker's vocal profile, emotional tone, and pragmatic intent (e.g., \"The user's intent is to issue a direct command to the agent\").\n    *   **If Music:** Identify genre, instrumentation, and mood.\n    *   **If Environmental Sounds:** Catalog all distinct sound sources.\n*   **Acoustic Environment & Technical Quality:** Describe background noise, reverberation, and recording quality.\n\n**LAYER 3: TEMPORAL & MOTION ANALYSIS (THE NARRATIVE OF CHANGE)**\nThis is the most critical layer for video. Deconstruct the sequence of events over time.\n*   **Scene & Shot Log:** Create a chronological log of events. Use timestamps to denote significant changes in action, subject, or camera angle.\n    *   **Format Example:**\n        `[00:00-00:03] - Close-up shot of a hand holding a grocery receipt. The camera is slightly shaky.`\n        `[00:04-00:09] - The user (Speaker 1) begins reading the items from the receipt aloud. The camera pans down the list of items.`\n        `[00:10-00:12] - Cut to a wide shot of the kitchen counter, showing the grocery items mentioned.`\n        `[00:13-00:15] - The user points to a carton of orange juice and asks a question.`\n*   **Object & Subject Tracking:** Describe the movement and actions of the primary subjects. (e.g., \"The user walks from the left to the right of the frame, placing a milk carton on the table.\").\n*   **Camera Work:** Describe all camera movements (e.g., \"static tripod shot,\" \"handheld with noticeable shake,\" \"slow pan left,\" \"quick zoom-in on the product label\").\n*   **Editing & Post-Production:** Identify editing techniques. Describe the pacing (e.g., \"fast-paced with quick cuts,\" \"long, uninterrupted take\"), transitions (e.g., \"hard cut,\" \"fade to black,\" \"dissolve\"), and any on-screen graphics, text overlays, or subtitles.\n\n**LAYER 4: TECHNICAL FILE ANALYSIS**\nBriefly describe the technical characteristics of the video file itself.\n*   **Video Quality:** Infer the resolution and clarity (e.g., \"High-definition 1080p,\" \"Standard-definition 480p,\" \"low-resolution, heavily compressed\").\n*   **Frame Rate:** Describe the motion smoothness (e.g., \"smooth 30/60fps,\" \"choppy/low frame rate\").\n*   **Audio-Visual Sync:** Confirm if the audio and video are properly synchronized.\n\n**LAYER 5: INFERENCE & SYNTHESIS**\nConclude with a holistic synthesis of all layers. What is the overall story, context, and purpose of this video?\n*   **Example (User Instruction):** \"This is a user-generated instructional video, recorded on a smartphone. The user is providing a multi-modal command by both showing a receipt and verbally asking the agent to process specific items from it. The intent is direct and task-oriented.\"\n*   **Example (Cooking Demo):** \"This is a segment from a well-edited cooking tutorial. The combination of close-up shots, clear vocal instructions, and background music is designed to be educational and engaging.\"\n*   **Example (Event Recording):** \"This is an amateur, handheld recording of a live music performance in a small, crowded venue, capturing both the performance and the audience's reaction.\"","inputType":"binary","options":{}},"id":"985c7494-d463-478b-8c5f-297c90f60fd3","name":"Analyze video","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[912,2400],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"1QFNIQQSWFpwk0L7","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"}]},"options":{}},"id":"c76b66bc-ac54-4267-a4c9-b0acddb567e2","name":"get_message (Video)","type":"n8n-nodes-base.set","position":[1088,2400],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media Message Transcription:{{ $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text }}"}]},"options":{}},"id":"91772923-2d46-446b-a1b5-fe06b64abdbf","name":"get_message (Audio)","type":"n8n-nodes-base.set","position":[1088,2240],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d8935452-fe20-469d-a68d-1aad056cb8dd","name":"data","type":"string","value":"=Media description: {{ $json.content.parts[0].text }}"}]},"options":{}},"id":"3a87543b-162a-4a19-99b6-cb9389a75640","name":"get_message (Image)","type":"n8n-nodes-base.set","position":[1088,2080],"typeVersion":3.4},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n  // --- IMPORTANTE ---\n  // Asumimos que el MIME type está en esta ruta.\n  // ¡Verifica que 'item.json.data.mimetype' es correcto para tus datos!\n  // Podría ser 'item.json.mimetype' o similar.\n  const mimetype = $('Descargar Media').first().json.data.mimetype || '';\n\n  let fileTypeCategory = 'other'; // Valor por defecto para tipos no reconocidos\n\n  // Usamos switch(true) para evaluar diferentes condiciones basadas en el mimetype\n  switch (true) {\n    // === Imágenes ===\n    case mimetype.startsWith('image/'):\n      fileTypeCategory = 'image';\n      break;\n\n    // === Audio ===\n    // Incluye mp3 ('audio/mpeg'), ogg, wav, etc.\n    case mimetype.startsWith('audio/'):\n      fileTypeCategory = 'audio';\n      break;\n\n    // === Video ===\n    // Incluye mp4, webm, mov ('video/quicktime'), etc.\n    case mimetype.startsWith('video/'):\n      fileTypeCategory = 'video';\n      break;\n\n    // === Documentos de Texto y Ofimática ===\n    case mimetype === 'application/pdf':\n      fileTypeCategory = 'pdf';\n      break;\n    \n    // Spreadsheets (Excel, ODS, etc.)\n    case mimetype === 'application/vnd.ms-excel':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':\n    case mimetype === 'application/vnd.oasis.opendocument.spreadsheet':\n      fileTypeCategory = 'spreadsheet';\n      break;\n\n    // Word Documents\n    case mimetype === 'application/msword':\n    case mimetype === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':\n      fileTypeCategory = 'document';\n      break;\n    \n    // Archivos de texto plano (txt, md, log)\n    case mimetype === 'text/plain':\n      fileTypeCategory = 'text';\n      break;\n\n    case mimetype === 'text/csv':\n      fileTypeCategory = 'csv';\n      break;\n\n    case mimetype === 'text/html':\n      fileTypeCategory = 'html';\n      break;\n    \n    case mimetype === 'application/rtf':\n      fileTypeCategory = 'rtf';\n      break;\n\n    // === Datos Estructurados ===\n    case mimetype === 'application/json':\n      fileTypeCategory = 'json';\n      break;\n\n    case mimetype === 'application/xml':\n    case mimetype === 'text/xml':\n      fileTypeCategory = 'xml';\n      break;\n\n    // === Otros ===\n    case mimetype === 'text/calendar': // para .ics\n      fileTypeCategory = 'ics';\n      break;\n  }\n\n  // Añadimos la nueva propiedad 'fileTypeCategory' al objeto json del item\n  item.json.fileTypeCategory = fileTypeCategory;\n  \n  // Añadimos el item modificado al array de resultados\n  results.push(item);\n}\n\n// Devolvemos el array con todos los items modificados\nreturn results;"},"id":"84cbaaac-5cd1-4da8-b9a5-a45e7dc3888d","name":"Get Mime Type","type":"n8n-nodes-base.code","position":[352,2528],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1919febf-c06b-41d1-a02c-1082f2e444e4","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51250085-0cb5-4442-b711-d7ef71c3c927","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"886256b8-5fa1-470a-a161-24a3d9d28285","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"video"}]},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f09cd376-96df-4f3d-9218-6a918715335a","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"json"}]},"renameOutput":true,"outputKey":"json"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"4988d14f-4e3f-4494-96b0-a1a9d70a2787","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileTypeCategory }}","rightValue":"pdf"}]},"renameOutput":true,"outputKey":"pdf"}]},"options":{"fallbackOutput":"extra"}},"id":"c5befbbb-88e6-43d7-8f80-c81a7b546f65","name":"Media Type","type":"n8n-nodes-base.switch","position":[544,2464],"typeVersion":3.2},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"models/gemini-2.5-flash-lite","cachedResultName":"models/gemini-2.5-flash-lite"},"inputType":"binary","options":{}},"id":"9c7e1b4c-612c-40f8-95fd-feb808ab0778","name":"Analyze Image","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[912,2080],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"1QFNIQQSWFpwk0L7","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"workflowId":{"__rl":true,"value":"YGBbBh6mWoQUMhEp","mode":"list","cachedResultUrl":"/workflow/YGBbBh6mWoQUMhEp","cachedResultName":"toDeploy - Agente WhatsApp + Citas Google Calendar"},"workflowInputs":{"value":{"ID":"={{ $('Webhook').item.json.body.data.key.id }}","Name":"={{ $('Webhook').item.json.body.instance }}","Number":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},"schema":[{"id":"Name","type":"string","display":true,"removed":false,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Number","type":"string","display":true,"removed":false,"required":false,"displayName":"Number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"ID","type":"string","display":true,"removed":false,"required":false,"displayName":"ID","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"id":"17a5ba01-1dcc-4622-b4de-1408e5900de0","name":"Parallel Writing status","type":"n8n-nodes-base.executeWorkflow","position":[-1424,576],"typeVersion":1.3,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"content":"## 3. Webhook & Configuration\nReceives the Evolution API payload and defines global variables (Buffer wait time, Cache duration, History limit).","height":1536,"width":1584,"color":7},"id":"5ba60cd4-b273-44f4-968f-689ee11dfcde","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1792,384],"typeVersion":1},{"parameters":{"content":"## 4. Media Normalization\nDetects media types (Images, Audio, Documents) and downloads/converts them into a format compatible with the AI Agent.","height":1104,"width":1856,"color":7},"id":"394d5032-8eb0-4ffc-b65a-147b97f02262","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[64,1936],"typeVersion":1},{"parameters":{"content":"## 5. Smart Input Buffering\nUses Redis to:\n1. Group **Album files** into a single input.\n2. Debounce **Text messages** (waits X seconds) to prevent fragmented AI responses.","height":912,"width":2080,"color":7},"id":"d369d264-447e-4042-a95d-b63868d671b3","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2496,1040],"typeVersion":1},{"parameters":{"content":"## Core Configuration\nControl the buffering and memory logic here:\n\n*   **wait_buffer**: The debounce window (in seconds). The workflow waits this long for subsequent text messages to group them into a single AI prompt.\n*   **wait_conversation**: Redis TTL (in seconds). How long the active conversation stays in the \"Hot Cache\" after the last message.\n*   **max_chat_history**: The hard limit of past messages to fetch from PostgreSQL (Cold Storage) when the cache is empty.","height":464,"width":400,"color":3},"id":"42205ce3-2156-4864-bc18-a3d8ab0afdc6","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-832,496],"typeVersion":1},{"parameters":{"content":"Desactivar y Activar bot\n\nEste flujo:\n\nRecibe un mensaje (Webhook)\nVerifica quién lo envió\nRevisa si el bot está bloqueado temporalmente\nDetecta si es texto o multimedia (como álbum de fotos/videos)\nProcesa el contenido según el tipo","height":816,"width":1424,"color":7},"type":"n8n-nodes-base.stickyNote","position":[624,304],"typeVersion":1,"id":"614112ba-3405-4e06-b7b5-c1e4dd0c1edf","name":"Sticky Note10"},{"parameters":{"httpMethod":"POST","path":"chatwoot-events","options":{"noResponseBody":true}},"id":"47a65bb6-e641-4fe6-9e32-2053f63e5ba0","name":"Webhook Chatwoot","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1680,1104],"webhookId":"ce348afb-a9c6-4c55-9213-5ea983ccc59b"},{"parameters":{"assignments":{"assignments":[{"id":"a3","name":"conversation_status","type":"string","value":"={{ $json.body.conversation?.meta?.status || $json.body.status || '' }}"},{"id":"a4","name":"redis_key","type":"string","value":"={{ $json.body.id }}"}]},"options":{}},"id":"845f896a-ca26-4136-8f21-c3ff458ab1b8","name":"Extraer Datos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,1104]},{"parameters":{"operation":"delete","key":"={{ $json.redis_key }}"},"id":"381213c1-f347-43fc-ad07-8c319e5cfeb2","name":"Desbloquear Bot","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-944,992],"credentials":{"redis":{"id":"evKysoxa4T3gaY84","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e013fcc2-f9db-4f94-a479-e5a6a237bcba","leftValue":"={{ $json.conversation_status }}","rightValue":"resolved","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Resuelto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"32a28ab6-040f-4cfb-82ad-a2a2565178a0","leftValue":"={{ $json.conversation_status }}","rightValue":"open","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Abierto"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1200,1088],"id":"39897a61-55bb-462f-a0ec-ebc3b9bea7c8","name":"Switch"},{"parameters":{},"id":"465c44ca-416d-463b-b134-bb07a40ccb72","name":"Ignorar Evento2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-944,1280]},{"parameters":{"operation":"set","key":"={{ $json.redis_key }}","value":"blocked-bot"},"id":"376cf789-d6a6-4e93-832d-c4714a24037c","name":"Bloquear  Bot","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-944,1152],"credentials":{"redis":{"id":"evKysoxa4T3gaY84","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"19c07b89-e324-4a51-a966-cadca8b657ee","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe.toString() }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[672,768],"id":"d4c0b435-d662-48b5-b187-1d89710c8bc4","name":"Verifica quien escribe"},{"parameters":{"operation":"get","propertyName":"bot-state","key":"={{ $('Webhook').item.json.body.data?.chatwootConversationId?.toString() || '' }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[864,848],"id":"8a8bb325-20a2-463f-ac22-3233acb30e38","name":"Verifica el bloqueo","credentials":{"redis":{"id":"3G0GgCOjSru4AjFR","name":"Redis account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"19c07b89-e324-4a51-a966-cadca8b657ee","leftValue":"={{ $json['bot-state'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1072,848],"id":"9dcbc443-2101-418d-9b36-0fcbc8e333cd","name":"verifica el estado de la sesion"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1504,432],"id":"11003fa2-6d93-4441-85dd-737c84083809","name":"No Operation, do  nothing"},{"parameters":{"workflowId":{"__rl":true,"value":"JX2A70JRGw2NaacX","mode":"list","cachedResultUrl":"/workflow/JX2A70JRGw2NaacX","cachedResultName":"Cerebro - Subflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('Get Message').item.json.message }}","numero":"={{ $('Global Variables').item.json.number }}","contexto":"={{ $json.text }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contexto","displayName":"contexto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[6928,1376],"id":"53202947-f2ff-451b-9a06-253a6f69639d","name":"Cerebro - SubFlow"},{"parameters":{},"id":"1cd1bba3-aa36-4d02-a772-76c470f15ad5","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1632,1584]},{"parameters":{"jsCode":"const error = $input.first().json;\n\nconst workflowName = error.workflow?.name || 'Desconocido';\nconst nodeName = error.execution?.lastNodeExecuted || 'Desconocido';\nconst errorMessage = error.execution?.error?.message || 'Error desconocido';\nconst number = error.execution?.data?.resultData?.runData?.['Global Variables']?.[0]?.data?.main?.[0]?.[0]?.json?.number || null;\n\nreturn [{ json: { workflowName, nodeName, errorMessage, number } }];"},"id":"e9a62ab6-19cd-428a-84aa-341ef20a4a8e","name":"Extraer Datos del Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1408,1584]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-number","leftValue":"={{ $json.number }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"41a5b7b6-dbf9-4d02-b821-2c526b87fc54","name":"¿Tiene número?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1184,1584]},{"parameters":{"resource":"messages-api","instanceName":"Facture","remoteJid":"={{ $json.number }}","messageText":"En este momento estoy teniendo dificultades técnicas. Por favor intentá de nuevo en unos minutos. Si el problema persiste, un agente humano te atenderá en horario L-V 8:00-22:00.","options_message":{}},"id":"871e5a5e-0cea-4a88-bf0c-6477cf99d3b6","name":"Enviar Mensaje de Error","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-960,1472],"credentials":{"evolutionApi":{"id":"cCItwgQis1yKCMlu","name":"Evolution account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"log-error","name":"log","type":"string","value":"={{ 'Workflow: ' + $json.workflowName + ' | Nodo: ' + $json.nodeName + ' | Error: ' + $json.errorMessage }}"}]},"options":{}},"id":"02c21d2a-d01f-4d00-a00b-962ff011a485","name":"Log Sin Número","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,1696]}],"connections":{"Delete Buffer (chat_history)":{"main":[[{"node":"Delete Buffer (chat_history)2","type":"main","index":0}]]},"Get chat_history":{"main":[[{"node":"Context Refiner","type":"main","index":0}]]},"Buffer (chat_history) Route":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Delete Buffer (chat_history)","type":"main","index":0}],[{"node":"Wait For end of conversation","type":"main","index":0}]]},"Wait For end of conversation":{"main":[[{"node":"Get From Buffer(chat_history)","type":"main","index":0}]]},"Push to Buffer (chat_history)":{"main":[[{"node":"Get From Buffer(chat_history)","type":"main","index":0}]]},"Get From Buffer(chat_history)":{"main":[[{"node":"Buffer (chat_history) Route","type":"main","index":0}]]},"Get chat_history From DataBase":{"main":[[{"node":"Aggregate all Messges","type":"main","index":0}]]},"Aggregate all Messges":{"main":[[{"node":"chat_history in DataBase?","type":"main","index":0}]]},"chat_history In Buffer?":{"main":[[{"node":"Get chat_history","type":"main","index":0}],[{"node":"Get chat_history From DataBase","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Create Table chat_history","type":"main","index":0}]]},"Push to chat_history":{"main":[[{"node":"Get chat_history","type":"main","index":0}]]},"Push first message to chat_history":{"main":[[{"node":"Get chat_history","type":"main","index":0}]]},"Get chat_history1":{"main":[[{"node":"chat_history In Buffer?","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Open session","type":"main","index":0},{"node":"Read Messages","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Writting...","type":"main","index":0}]]},"chat_history in DataBase?":{"main":[[{"node":"Push to chat_history","type":"main","index":0}],[{"node":"Push first message to chat_history","type":"main","index":0}]]},"Agent Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Context Refiner":{"main":[[{"node":"Cerebro - SubFlow","type":"main","index":0}]]},"Push message chat_history (User And Agent)":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Add Messages to chat_history (User And Agent)":{"main":[[{"node":"Push to Buffer (chat_history)","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Add Messages to chat_history (User And Agent)","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Context Refiner","type":"ai_languageModel","index":0}]]},"Send Response":{"main":[[{"node":"Chatwoot - Etiquetado Automático","type":"main","index":0}]]},"Chatwoot - Etiquetado Automático":{"main":[[{"node":"Push message chat_history (User And Agent)","type":"main","index":0}]]},"Descargar Media":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"get_message (text)":{"main":[[{"node":"Push to Buffer","type":"main","index":0}]]},"Message Type":{"main":[[{"node":"get_message (text)","type":"main","index":0}],[{"node":"Push to Buffer (AlbumGroup)","type":"main","index":0}],[{"node":"Descargar Media","type":"main","index":0}]]},"Global Variables":{"main":[[{"node":"Verifica quien escribe","type":"main","index":0}]]},"Buffer Route":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Delete Buffer","type":"main","index":0}],[{"node":"Wait For User Other Fast Message","type":"main","index":0}]]},"Push to Buffer":{"main":[[{"node":"Get From Buffer","type":"main","index":0}]]},"Get From Buffer":{"main":[[{"node":"Buffer Route","type":"main","index":0}]]},"Delete Buffer":{"main":[[{"node":"Normalize Buffer","type":"main","index":0}]]},"Normalize Buffer":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Check AlbumGroup":{"main":[[{"node":"Album?","type":"main","index":0}]]},"Push Media to Buffer":{"main":[[{"node":"Get Album From Buffer","type":"main","index":0}]]},"Completed?":{"main":[[{"node":"Delete Media Buffer","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Delete Media Buffer":{"main":[[{"node":"Normalize MediaGroup Buffer","type":"main","index":0}]]},"Normalize MediaGroup Buffer":{"main":[[{"node":"Get Message","type":"main","index":0}]]},"Get Album From Buffer":{"main":[[{"node":"Completed?","type":"main","index":0}]]},"Album?":{"main":[[{"node":"Push Media to Buffer","type":"main","index":0}],[{"node":"Push to Buffer","type":"main","index":0}]]},"Wait For User Other Fast Message":{"main":[[{"node":"Get From Buffer","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Global Variables","type":"main","index":0},{"node":"Parallel Writing status","type":"main","index":0}]]},"Extract from JSON":{"main":[[{"node":"Normalize JSON","type":"main","index":0}]]},"Extract from PDF":{"main":[[{"node":"Text?","type":"main","index":0}]]},"Analyze audio":{"main":[[{"node":"get_message (Audio)","type":"main","index":0}]]},"get_message (File message)":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"get_error_message":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Normalize JSON":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"Normalize PDF":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"Text?":{"main":[[{"node":"Normalize PDF","type":"main","index":0}],[{"node":"get_message (File message)","type":"main","index":0}]]},"Normalize input":{"main":[[{"node":"Check AlbumGroup","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Get Mime Type","type":"main","index":0}]]},"Analyze video":{"main":[[{"node":"get_message (Video)","type":"main","index":0}]]},"get_message (Video)":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"get_message (Audio)":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"get_message (Image)":{"main":[[{"node":"get_message (File message)","type":"main","index":0}]]},"Get Mime Type":{"main":[[{"node":"Media Type","type":"main","index":0}]]},"Media Type":{"main":[[{"node":"Analyze Image","type":"main","index":0}],[{"node":"Analyze audio","type":"main","index":0}],[{"node":"Analyze video","type":"main","index":0}],[{"node":"Extract from JSON","type":"main","index":0}],[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"get_error_message","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"get_message (Image)","type":"main","index":0}]]},"Get Message":{"main":[[{"node":"Get chat_history1","type":"main","index":0}]]},"Webhook Chatwoot":{"main":[[{"node":"Extraer Datos","type":"main","index":0}]]},"Extraer Datos":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Desbloquear Bot","type":"main","index":0}],[{"node":"Bloquear  Bot","type":"main","index":0}],[{"node":"Ignorar Evento2","type":"main","index":0}]]},"Verifica quien escribe":{"main":[[{"node":"No Operation, do  nothing","type":"main","index":0}],[{"node":"Verifica el bloqueo","type":"main","index":0}]]},"Verifica el bloqueo":{"main":[[{"node":"verifica el estado de la sesion","type":"main","index":0}]]},"verifica el estado de la sesion":{"main":[[{"node":"No Operation, do  nothing","type":"main","index":0}],[{"node":"Message Type","type":"main","index":0}]]},"Cerebro - SubFlow":{"main":[[{"node":"Agent Response","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Extraer Datos del Error","type":"main","index":0}]]},"Extraer Datos del Error":{"main":[[{"node":"¿Tiene número?","type":"main","index":0}]]},"¿Tiene número?":{"main":[[{"node":"Enviar Mensaje de Error","type":"main","index":0}],[{"node":"Log Sin Número","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"506f647d-f5d9-4928-a7a6-a6baed75dfef","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2026-04-03T18:47:00.193Z","createdAt":"2026-04-03T18:47:00.193Z","role":"workflow:owner","workflowId":"i9nKzYJPiLpGXrZh","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":null,"tags":[]}