workflows/vectorizador.json
{"updatedAt":"2026-04-19T21:45:19.065Z","createdAt":"2026-04-13T20:12:58.870Z","id":"zvVqdOaX7LgcfToU","name":"vectorizador","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=question:{{ $json.Question }}","options":{"systemMessage":"=You are a helpful Manual assistant designed to answer employee questions based on Knowledge base.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.\n\nUse the tool called \"Knowledge base\" to retrieve any information from the manuals documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\"\n\nyou must a extract the correct page number.\n\noutput should be in HTML format with simple formatting."}},"id":"86d2c9f9-315b-47c7-a30e-1b48b331e446","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1312,1696],"typeVersion":2.2},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"id":"f2a633af-f626-442a-b074-fd81a5ae5355","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1120,2000],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"operation":"completion","completionTitle":"Result","completionMessage":"={{ $json.output }}","options":{"customCss":".container {\n  max-width: 800px; /* wider for readability */\n  margin: 20px auto;\n  padding: 0 16px;\n  font-family: var(--font-family);\n}\n\n.card {\n  background: var(--color-card-bg);\n  border: 1px solid var(--color-card-border);\n  border-radius: var(--card-border-radius);\n  padding: var(--card-padding);\n  margin-bottom: var(--card-margin-bottom);\n  box-shadow: var(--box-shadow-card);\n  text-align: left;\n  line-height: 1.6;\n}\n\n.card .header h1 {\n  font-size: var(--font-size-header);\n  font-weight: var(--font-weight-bold);\n  margin-bottom: 12px;\n  color: var(--color-header);\n  border-bottom: 2px solid var(--color-focus-border);\n  padding-bottom: 6px;\n}\n\n.card .header h2 {\n  font-size: var(--font-size-html-h2);\n  margin: 1em 0 0.5em;\n  color: var(--color-header);\n  font-weight: var(--font-weight-bold);\n}\n\n.card .header p {\n  margin: 0.5em 0 1em;\n  font-size: var(--font-size-paragraph);\n  color: var(--color-html-text);\n}\n\n.card .header ul {\n  margin: 0.5em 0 1em 20px;\n  padding-left: 16px;\n}\n\n.card .header ul li {\n  margin-bottom: 6px;\n  line-height: 1.5;\n  color: var(--color-html-text);\n}\n\n.card .header b {\n  color: var(--color-header);\n}\n\n.card .header a {\n  color: var(--color-html-link);\n  text-decoration: none;\n  transition: color 0.2s ease;\n}\n.card .header a:hover {\n  color: #ff3a2a;\n  text-decoration: underline;\n}\n\n/* Responsive improvements */\n@media (max-width: 600px) {\n  .container {\n    max-width: 100%;\n    padding: 0 12px;\n  }\n  .card {\n    padding: 16px;\n  }\n  .card .header h1 {\n    font-size: 18px;\n  }\n  .card .header h2 {\n    font-size: 16px;\n  }\n}\n"}},"id":"5322950e-63d1-43cd-868b-5fee9c5eb324","name":"Form","type":"n8n-nodes-base.form","position":[1808,1696],"webhookId":"213ef64f-84bc-46b5-b139-b7143427fb39","typeVersion":1},{"parameters":{"formTitle":"Ask Knowledge base","formFields":{"values":[{"fieldLabel":"Question","requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false,"customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"id":"bf604a8c-ebbf-4941-9617-45e97f72a1a5","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[800,1712],"webhookId":"c38dfae8-3e42-4c9f-9592-167895f92802","typeVersion":2.2,"disabled":true},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"22fee510-de3c-4e27-8f2e-29a2ca83beb3","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1344,2192],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"content":"## Ask Knowledge base","height":800,"width":1488},"id":"6c49249f-d5db-451c-bdf2-8b2f813c674c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[656,1552],"typeVersion":1},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"87961f36-9f41-421f-85b5-88fbc9a3e782","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[2560,1232],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"r1ftPW91kSwhGJuN","name":"OpenAI account 3"}}},{"parameters":{"dataType":"binary","options":{"splitPages":false,"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Loop Over Items1').item.json.id }}"},{"name":"file_name","value":"={{ $('Loop Over Items1').item.json.name }}"}]}}},"id":"e41edefc-864d-43d4-bb35-0a6ff522bfd1","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[2672,1200],"typeVersion":1},{"parameters":{"content":"## Generar base de conocimiento\nDocumentos nuevos: inserta vectores en PostgreSQL.","height":256,"width":596},"id":"ae6cbabc-b7b8-49e4-adff-439a808c7cda","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2144,576],"typeVersion":1},{"parameters":{"content":"## Actualizar base de conocimiento\nDocumentos modificados: limpia el namespace y re-vectoriza.","height":256,"width":596},"id":"4c4c683d-6172-4cb6-929f-3cd16d29af05","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2144,896],"typeVersion":1},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1BWjx9pC9obDdG5V_kAlWxqUaDTm0a_Wq","mode":"list","cachedResultName":"hardware","cachedResultUrl":"https://drive.google.com/drive/folders/1BWjx9pC9obDdG5V_kAlWxqUaDTm0a_Wq"}},"options":{"fields":["mimeType","id","name"]}},"id":"874ee0a8-6a8c-4d8a-b13b-6432ccb4c18c","name":"Search files and folders1","type":"n8n-nodes-base.googleDrive","position":[736,656],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"nbBJlLbBb1EDKlyy","name":"Google Drive account 3"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"e805c0c0-d3be-479d-aa75-fc9abd970512","name":"Download file3","type":"n8n-nodes-base.googleDrive","position":[1440,688],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"j65YDm16xNErfvW2","name":"Google Drive account"}}},{"parameters":{"binaryData":true,"type":"SHA256","dataPropertyName":"hash"},"id":"dd9473b0-53a9-4ece-9edd-502de4154036","name":"createHash1","type":"n8n-nodes-base.crypto","position":[1616,672],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4d1294-192a-4f71-9983-53f0036c7d1c","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"New Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"314d1d08-928b-42e3-839d-7948004d4229","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.hash }}","rightValue":"={{ $('createHash1').item.json.hash }}"}],"combinator":"and"},"renameOutput":true,"outputKey":"Already processed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68f55445-fe7e-4fa6-94af-081f2cae339e","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.hash }}","rightValue":"={{ $('createHash1').item.json.hash }}"}],"combinator":"and"},"renameOutput":true,"outputKey":"Updated Document"}]},"options":{}},"id":"3afd2a78-3156-4801-8476-684ad7c1c5a6","name":"Switch1","type":"n8n-nodes-base.switch","position":[1936,880],"typeVersion":3.2},{"parameters":{"options":{}},"id":"27538a56-4b48-4e8c-af82-8a3349ef6f87","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","position":[976,640],"typeVersion":3},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU","mode":"list","cachedResultName":"Control de versiones","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"7b83f7b7-f689-4c53-b0b7-4a84824cb1af","name":"Add to Record Manger1","type":"n8n-nodes-base.googleSheets","position":[2208,640],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"vw0lFUBcYzyiVtQ8","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU","mode":"list","cachedResultName":"Control de versiones","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mimeType","displayName":"mimeType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hash","displayName":"hash","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6fd62f73-27ee-4210-b861-d7c229610bcd","name":"Update the RecordManger1","type":"n8n-nodes-base.googleSheets","position":[2224,960],"typeVersion":4.7,"credentials":{"googleSheetsOAuth2Api":{"id":"vw0lFUBcYzyiVtQ8","name":"Google Sheets account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Loop Over Items1').item.json.id }}","mode":"id"},"options":{}},"id":"5e4a8859-52c7-4051-a33d-a10bc5bece61","name":"Download file4","type":"n8n-nodes-base.googleDrive","position":[2416,656],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"j65YDm16xNErfvW2","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Loop Over Items1').item.json.id }}","mode":"id"},"options":{}},"id":"dd497c59-4e09-48eb-b77a-eb154d1fd768","name":"Download file5","type":"n8n-nodes-base.googleDrive","position":[2432,976],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"nbBJlLbBb1EDKlyy","name":"Google Drive account 3"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1BWjx9pC9obDdG5V_kAlWxqUaDTm0a_Wq","mode":"list","cachedResultName":"hardware","cachedResultUrl":"https://drive.google.com/drive/folders/1BWjx9pC9obDdG5V_kAlWxqUaDTm0a_Wq"},"event":"fileCreated","options":{}},"id":"0984fc70-2a72-4939-ac8e-00b400f32139","name":"create1","type":"n8n-nodes-base.googleDriveTrigger","position":[416,496],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"j65YDm16xNErfvW2","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"14FxASa87IjVnbTZRBLsZdbcaONKB4sbX","mode":"list","cachedResultName":"Base de conocimientos"},"event":"fileUpdated","options":{}},"id":"4dcbfdc6-7487-467c-8a74-e4c4be441d28","name":"update1","type":"n8n-nodes-base.googleDriveTrigger","position":[432,784],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"nbBJlLbBb1EDKlyy","name":"Google Drive account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49a912d3-7bc7-434a-93d0-52e66c9e1024","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.folder"}],"combinator":"and"},"options":{}},"id":"00d97830-2197-43aa-b5de-3915c5eb2045","name":"nonDownloadableFile1","type":"n8n-nodes-base.if","position":[1184,704],"typeVersion":2.2},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"hardware","mode":"list","cachedResultName":"hardware"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[2608,656],"id":"07412406-54e0-43fc-baf8-e1174b00b144","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase Diego account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[2624,976],"id":"b1fef443-6e69-4f45-9eab-ce4dee776154","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase Diego account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"call this to get the information from knowledgeable ","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1392,1968],"id":"03b12976-2ebd-4b66-bf88-576e025fd5c7","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"w7ka7ZRHRkceGatb","name":"Supabase Diego account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU","mode":"list","cachedResultName":"Control de versiones","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{"id":"={{ $json.id }}","name":"={{ $json.name }}","mimeType":"={{ $json.mimeType }}","hash":"={{ $json.hash }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mimeType","displayName":"mimeType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hash","displayName":"hash","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e96d326d-5bb5-4f8b-b807-75ac959b83de","name":"searchRecordManger1","type":"n8n-nodes-base.googleSheets","position":[1792,784],"typeVersion":4.7,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"vw0lFUBcYzyiVtQ8","name":"Google Sheets account 2"}}},{"parameters":{"separator":"##","chunkSize":600,"chunkOverlap":55},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[2672,1360],"id":"698d251b-9e0e-4776-b420-655ac033429f","name":"Character Text Splitter"},{"parameters":{"chunkSize":500,"chunkOverlap":50,"options":{}},"id":"f5c3097d-da59-4304-8e63-6982a3be6411","name":"Recursive Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[2640,2272],"typeVersion":1}],"connections":{"AI Agent":{"main":[[{"node":"Form","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"On form submission":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0},{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0},{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Search files and folders1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Download file3":{"main":[[{"node":"createHash1","type":"main","index":0}]]},"createHash1":{"main":[[{"node":"searchRecordManger1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Add to Record Manger1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Update the RecordManger1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Add to Record Manger1","type":"main","index":0}],[{"node":"nonDownloadableFile1","type":"main","index":0}]]},"Add to Record Manger1":{"main":[[{"node":"Download file4","type":"main","index":0}]]},"Update the RecordManger1":{"main":[[{"node":"Download file5","type":"main","index":0}]]},"Download file4":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Download file5":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"create1":{"main":[[{"node":"Search files and folders1","type":"main","index":0}]]},"update1":{"main":[[{"node":"Search files and folders1","type":"main","index":0}]]},"nonDownloadableFile1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Download file3","type":"main","index":0}]]},"Supabase Vector Store":{"main":[[]]},"Supabase Vector Store2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"searchRecordManger1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateId":"8312","templateCredsSetupCompleted":true},"pinData":{},"versionId":"dbe7ac0d-ff4e-45ed-a8a2-5ea670089d68","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-13T20:12:58.872Z","createdAt":"2026-04-13T20:12:58.872Z","role":"workflow:owner","workflowId":"zvVqdOaX7LgcfToU","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}