workflows/vectorizador.json
{"updatedAt":"2026-05-01T22:42:53.401Z","createdAt":"2026-04-13T20:12:58.870Z","id":"zvVqdOaX7LgcfToU","name":"vectorizador","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"c03b06a4-f751-4e4a-acf7-f3ae164467c7","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[3392,2096],"typeVersion":1.2},{"parameters":{"dataType":"binary","options":{"splitPages":false,"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Loop Over Items1').item.json.id }}"},{"name":"file_name","value":"={{ $('Loop Over Items1').item.json.name }}"}]}}},"id":"3e5d987c-2cd5-4c6e-8c20-f633fd2c1f28","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[3504,2064],"typeVersion":1},{"parameters":{"content":"## Generar base de conocimiento\nDocumentos nuevos: inserta vectores en PostgreSQL.","height":256,"width":596,"color":4},"id":"633e2870-2c6f-41da-a540-0ae2e5c70e1d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2304,1728],"typeVersion":1},{"parameters":{"content":"## Actualizar base de conocimiento\nDocumentos modificados: limpia el namespace y re-vectoriza.","height":256,"width":596,"color":4},"id":"6b815422-82fe-4bd1-b564-bab797bef459","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2304,2320],"typeVersion":1},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1BWjx9pC9obDdG5V_kAlWxqUaDTm0a_Wq","mode":"list","cachedResultName":"hardware","cachedResultUrl":"https://drive.google.com/drive/folders/1BWjx9pC9obDdG5V_kAlWxqUaDTm0a_Wq"}},"options":{"fields":["mimeType","id","name"]}},"id":"8988ae77-e358-4c21-8e9b-b6f883095976","name":"Search files and folders1","type":"n8n-nodes-base.googleDrive","position":[256,2096],"typeVersion":3},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"95e45a0c-1e40-4942-a2a5-efd38db23181","name":"Download file3","type":"n8n-nodes-base.googleDrive","position":[1040,2128],"typeVersion":3},{"parameters":{"binaryData":true,"type":"SHA256","dataPropertyName":"hash"},"id":"f60a0e5e-0582-43ab-97ce-43a97de7a8ba","name":"createHash1","type":"n8n-nodes-base.crypto","position":[1216,2112],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4d1294-192a-4f71-9983-53f0036c7d1c","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"New Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"314d1d08-928b-42e3-839d-7948004d4229","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.hash }}","rightValue":"={{ $('createHash1').item.json.hash }}"}],"combinator":"and"},"renameOutput":true,"outputKey":"Already processed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68f55445-fe7e-4fa6-94af-081f2cae339e","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.hash }}","rightValue":"={{ $('createHash1').item.json.hash }}"}],"combinator":"and"},"renameOutput":true,"outputKey":"Updated Document"}]},"options":{}},"id":"62422409-b5b5-42a2-beab-f6fb88decfa4","name":"Switch1","type":"n8n-nodes-base.switch","position":[1536,2320],"typeVersion":3.2},{"parameters":{"options":{}},"id":"46358e51-7a00-488c-9439-66c3e49e8175","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","position":[576,2080],"typeVersion":3},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU","mode":"list","cachedResultName":"Control de versiones","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6d1cb5a5-6131-4b91-8122-8612cd98d6b3","name":"Add to Record Manger1","type":"n8n-nodes-base.googleSheets","position":[2368,1792],"typeVersion":4.7},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU","mode":"list","cachedResultName":"Control de versiones","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mimeType","displayName":"mimeType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hash","displayName":"hash","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"98712e56-4f2d-435e-bd0e-28760e8fd678","name":"Update the RecordManger1","type":"n8n-nodes-base.googleSheets","position":[2384,2384],"typeVersion":4.7},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Loop Over Items1').item.json.id }}","mode":"id"},"options":{}},"id":"d03db3a8-16cb-4399-88c5-197b2ea2ca85","name":"Download file4","type":"n8n-nodes-base.googleDrive","position":[2576,1808],"typeVersion":3},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Loop Over Items1').item.json.id }}","mode":"id"},"options":{}},"id":"7c815681-7988-482f-bf32-215958cd8c7c","name":"Download file5","type":"n8n-nodes-base.googleDrive","position":[2592,2400],"typeVersion":3},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1BWjx9pC9obDdG5V_kAlWxqUaDTm0a_Wq","mode":"list","cachedResultName":"hardware","cachedResultUrl":"https://drive.google.com/drive/folders/1BWjx9pC9obDdG5V_kAlWxqUaDTm0a_Wq"},"event":"fileCreated","options":{}},"id":"33d44e9f-5cac-408a-b3bf-26393d0f07dd","name":"create1","type":"n8n-nodes-base.googleDriveTrigger","position":[-64,1936],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"14FxASa87IjVnbTZRBLsZdbcaONKB4sbX","mode":"list","cachedResultName":"Base de conocimientos"},"event":"fileUpdated","options":{}},"id":"386f7447-f829-4d44-92ce-3369ebea4484","name":"update1","type":"n8n-nodes-base.googleDriveTrigger","position":[-48,2224],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49a912d3-7bc7-434a-93d0-52e66c9e1024","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.folder"}],"combinator":"and"},"options":{}},"id":"bf03d598-389b-45d2-8eba-6f67c3a80ba0","name":"nonDownloadableFile1","type":"n8n-nodes-base.if","position":[784,2144],"typeVersion":2.2},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"hardware","mode":"list","cachedResultName":"hardware"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[3424,1808],"id":"0efcafc7-e9b9-467d-813b-fe13fad4bde4","name":"Supabase Vector Store"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[3488,2400],"id":"55a372d4-59fc-4347-aebd-7a545c4c14ea","name":"Supabase Vector Store1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU","mode":"list","cachedResultName":"Control de versiones","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ye7lFMQmFAfjUHluNXCYWcoZA_mYC1CyqJ8KiXLuwBU/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{"id":"={{ $json.id }}","name":"={{ $json.name }}","mimeType":"={{ $json.mimeType }}","hash":"={{ $json.hash }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mimeType","displayName":"mimeType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hash","displayName":"hash","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"3824805e-81e4-4f41-90d0-3c026b4aaf1e","name":"searchRecordManger1","type":"n8n-nodes-base.googleSheets","position":[1392,2224],"typeVersion":4.7,"alwaysOutputData":true},{"parameters":{"separator":"##","chunkSize":600,"chunkOverlap":55},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[3504,2224],"id":"73f377c0-583f-4fbf-a573-43505a7cf688","name":"Character Text Splitter"},{"parameters":{"content":"# Sincronizador de Archivos Google Drive con Control de Versiones\n\n### Se activa cuando se crea o actualiza un archivo en carpetas específicas de Google Drive, recorre todos los archivos, genera un hash SHA256 de cada uno y lo compara contra un Google Sheets de control de versiones para determinar si es nuevo, ya procesado o modificado, continuando el flujo solo con los documentos que requieren acción.","height":832,"width":1920,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-96,1744],"typeVersion":1,"id":"c1ba9481-926f-4410-aa99-4c2a64745659","name":"Sticky Note"},{"parameters":{"content":"# Vectorización e Indexación de Documentos en Supabase\n\n### Toma los archivos procesados del flujo anterior, los divide en chunks de 600 caracteres con overlap usando separador `##`, genera embeddings con el modelo `text-embedding-3-large` de OpenAI y los inserta simultáneamente en dos tablas vectoriales de Supabase (`hardware` y `documents`) con metadata de nombre e ID del archivo.","height":928,"width":960,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3200,1648],"typeVersion":1,"id":"46e1f8a4-aaed-46fb-9edc-a0bb9919e74d","name":"Sticky Note1"}],"connections":{"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0},{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0},{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Search files and folders1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Download file3":{"main":[[{"node":"createHash1","type":"main","index":0}]]},"createHash1":{"main":[[{"node":"searchRecordManger1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Add to Record Manger1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Update the RecordManger1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Add to Record Manger1","type":"main","index":0}],[{"node":"nonDownloadableFile1","type":"main","index":0}]]},"Add to Record Manger1":{"main":[[{"node":"Download file4","type":"main","index":0}]]},"Update the RecordManger1":{"main":[[{"node":"Download file5","type":"main","index":0}]]},"Download file4":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Download file5":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"create1":{"main":[[{"node":"Search files and folders1","type":"main","index":0}]]},"update1":{"main":[[{"node":"Search files and folders1","type":"main","index":0}]]},"nonDownloadableFile1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Download file3","type":"main","index":0}]]},"searchRecordManger1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateId":"8312","templateCredsSetupCompleted":true},"pinData":{},"versionId":"533fd3c1-44aa-45c2-bd86-2f17efa67e0b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-13T20:12:58.872Z","createdAt":"2026-04-13T20:12:58.872Z","role":"workflow:owner","workflowId":"zvVqdOaX7LgcfToU","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}