workflows/WhatsApp Webhook Handler.json
{"updatedAt":"2026-04-26T00:37:07.203Z","createdAt":"2026-04-15T18:00:17.194Z","id":"Xdh1IebanLG8a3Cd","name":"WhatsApp Webhook Handler","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14/webhook","responseMode":"responseNode","options":{}},"id":"567ec1d6-a4e4-4202-8277-f83d1cd59c57","name":"Webhook GET (verificación)","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-768,1200],"webhookId":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14"},{"parameters":{"httpMethod":"POST","path":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14/webhook","responseMode":"responseNode","options":{}},"id":"c7b2874b-ec2f-4000-9d99-dbf25da00d06","name":"Webhook POST (mensajes)","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-768,1424],"webhookId":"6735e08f-bf73-4d22-a7dd-dc6fceacdc14"},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"ok\" }","options":{"responseCode":200}},"id":"229876ad-c725-4b57-bc68-7b4f09e45c34","name":"Confirmar recepción","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-544,1424]},{"parameters":{},"id":"9bc781b6-41e0-4277-b7b3-c6cd5a91b853","name":"Tu lógica acá","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-288,1424]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"id":"7851ae1b-8451-4742-a14f-f0462911912c","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-544,1200]},{"parameters":{"assignments":{"assignments":[{"id":"bf06bbd5-2ca4-4aa9-bc9a-825a570791ae","name":"number","type":"string","value":"={{ $('Webhook POST (mensajes)').item.json.body.entry[0].changes[0].value.messages[0].from }}"},{"id":"d350a635-82ed-4373-9725-706c1dcf9cf5","name":"wait_buffer","type":"string","value":"5"},{"id":"ef7dd1c1-0925-416b-b73e-79ee3ee11e81","name":"wait_conversation","type":"string","value":"300"},{"id":"07b5fd03-4ef0-4e59-b4ef-a354dc2b6893","name":"max_chat_history","type":"string","value":"6"},{"id":"a1b2c3d4-0000-0000-0000-000000000001","name":"message_id","type":"string","value":"={{ $('Webhook POST (mensajes)').item.json.body.entry[0].changes[0].value.messages[0].id }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000002","name":"message_type","type":"string","value":"={{ $('Webhook POST (mensajes)').item.json.body.entry[0].changes[0].value.messages[0].type }}"},{"id":"a1b2c3d4-0000-0000-0000-000000000003","name":"phone_number_id","type":"string","value":"={{ $('Webhook POST (mensajes)').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}"}]},"options":{}},"id":"d26b594d-c922-42c6-8b30-9fb687f59593","name":"Global Variables","type":"n8n-nodes-base.set","position":[0,1424],"typeVersion":3.4},{"parameters":{"url":"=https://graph.facebook.com/v19.0/{{ $('Global Variables').item.json.media_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"7a7884d8-0eb3-4398-aa14-1d42deef7ecd","name":"Descargar Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,1648]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v19.0/{{ $('Global Variables').item.json.phone_number_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"0134fba9-53d7-4146-9906-c39fdfb63569","name":"Send Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2064,1856]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"19c07b89-e324-4a51-a966-cadca8b657ee","leftValue":"={{ $('Webhook POST (mensajes)').item.json.body.entry[0].changes[0].value.messages[0].from }}","rightValue":"={{ $('Webhook POST (mensajes)').item.json.body.entry[0].changes[0].value.metadata.display_phone_number }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"b7d170bf-2c13-42c7-8254-6e67ba42ec35","name":"Verifica quien escribe","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[576,1408]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a33f66d8-1bd1-400b-b1ce-c2513f57bdb3","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Webhook POST (mensajes)').item.json.body.entry[0].changes[0].value.messages[0].text?.body }}","rightValue":""}]},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5b401571-7d2c-4c5e-bb2e-06e2d683402a","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Webhook POST (mensajes)').item.json.body.entry[0].changes[0].value.messages[0].type }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"AlbumMessage"}]},"options":{"fallbackOutput":"extra"}},"id":"fd7864b8-5d81-464c-9ac4-782f355f44c6","name":"Message Type","type":"n8n-nodes-base.switch","position":[1424,1488],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"801ec600-22ad-4a94-a2b4-ae72eb271df0","name":"message","type":"string","value":"={{ $('Webhook POST (mensajes)').item.json.body.entry[0].changes[0].value.messages[0].text.body }}"}]},"options":{}},"id":"74b5ad85-c091-4dd0-b3eb-253e8fbf0591","name":"get_message (text)","type":"n8n-nodes-base.set","position":[1648,1296],"typeVersion":3.4}],"connections":{"Webhook GET (verificación)":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook POST (mensajes)":{"main":[[{"node":"Confirmar recepción","type":"main","index":0}]]},"Confirmar recepción":{"main":[[{"node":"Tu lógica acá","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true,"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5319e3c9-2ccb-497f-8550-b82dde8351de","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2026-04-15T18:00:17.198Z","createdAt":"2026-04-15T18:00:17.198Z","role":"workflow:owner","workflowId":"Xdh1IebanLG8a3Cd","projectId":"qC8KeZH5NuSkDUjr"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-19T21:42:14.258Z","createdAt":"2026-04-19T21:42:14.258Z","id":"ZSGkxfjN2cuya071","name":"backup"}]}